<template>
  <div class="relative isolate overflow-hidden bg-white py-24 sm:py-32">
    <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
    </svg>
    
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">AI-Powered Action Points Extractor</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Enter your text and let our AI tool extract action points and next steps. Copy the results for easy task management.
        </p>
      </div>
      
      <div class="mx-auto mt-16 w-full max-w-3xl sm:mt-20">
        <div class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-4">
          <div class="bg-white p-4 rounded-lg shadow-sm">
            <form @submit.prevent="extractActionPoints" class="space-y-6">
              <div>
                <div class="mt-1">
                  <textarea
                    id="inputText"
                    v-model="inputText"
                    rows="4"
                    class="flex-grow px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-0 focus:border-brand-blue transition-colors duration-200 w-full sm:text-sm"
                    placeholder="Enter your text here. The more details, the better the action point extraction."
                    required
                  ></textarea>
                </div>
              </div>
              
              <div>
                <button
                  type="submit"
                  class="w-full bg-brand-blue px-4 py-2 text-sm font-semibold rounded-md border border-transparent bg-brand-Blue text-white hover:bg-brand-Blue/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-Blue transition duration-150 ease-in-out flex items-center justify-center"
                  :disabled="isLoading"
                >
                  <Icon name="heroicons:sparkles-solid" class="animate-pulse mr-2 text-xl" /> Extract Action Points
                </button>
                <p class="mt-2 text-center text-xs text-gray-500">Your data is not stored or used to train AI models. AI can make mistakes.</p>
              </div>
            </form>

            <div v-if="isLoading" class="mt-8">
              <div class="flex items-center justify-center">
                <svg class="animate-spin h-10 w-10 text-brand-blue" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
              </div>
              <p class="text-center text-gray-500 mt-4">{{ loadingMessage }}</p>
            </div>

            <div v-if="actionPoints.length > 0" class="mt-8">
              <h2 class="text-2xl font-bold text-gray-900 mb-4">Action Points</h2>
              <div class="prose prose-brand-blue prose-lg max-w-none">
                <ul>
                  <li v-for="(point, index) in parsedActionPoints" :key="index" v-html="point"></li>
                </ul>
              </div>
              <button
                @click="copyToClipboard"
                class="mt-4 w-full px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-Blue transition duration-150 ease-in-out flex items-center justify-center"
              >
                Copy to Clipboard
              </button>
            </div>

            <div v-if="error" class="mt-8 bg-red-50 border-l-4 border-red-400 p-4">
              <div class="flex">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                  </svg>
                </div>
                <div class="ml-3">
                  <p class="text-sm text-red-700">
                    {{ error }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <CtaDark />
</template>

<script setup>
import { ref, computed } from 'vue'
import { useClipboard } from '@vueuse/core'
import { marked } from 'marked'

const inputText = ref('')
const actionPoints = ref([])
const isLoading = ref(false)
const loadingMessage = ref('')
const error = ref('')

const { copy } = useClipboard()

const parsedActionPoints = computed(() => {
  return actionPoints.value.map(point => marked.parse(point))
})

const loadingMessages = [
  'Analyzing text...',
  'Identifying action points...',
  'Extracting next steps...',
  'Processing information...',
  'Almost there...'
]

function getRandomLoadingMessage() {
  return loadingMessages[Math.floor(Math.random() * loadingMessages.length)]
}

async function extractActionPoints() {
  isLoading.value = true
  error.value = ''
  actionPoints.value = []

  const loadingInterval = setInterval(() => {
    loadingMessage.value = getRandomLoadingMessage()
  }, 3000)

  try {
    const response = await fetch('/api/extract-action-points', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ inputText: inputText.value }),
    })

    if (!response.ok) {
      throw new Error('Failed to extract action points. Please try again.')
    }

    const data = await response.json()
    actionPoints.value = data.actionPoints
  } catch (err) {
    error.value = err.message
  } finally {
    isLoading.value = false
    clearInterval(loadingInterval)
  }
}

function copyToClipboard() {
  const actionPointsText = actionPoints.value.join('\n')
  copy(actionPointsText)
}

useSeoMeta({
  title: 'AI Action Points Extractor',
  description: 'Extract action points and next steps from your text with our AI-powered tool.',
})
</script>