<template>
  <div class="relative isolate overflow-hidden bg-white dark:bg-gray-900 py-24 sm:py-32">
    <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
    </svg>
    
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl">AI Email Reply Drafter</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">
          Paste your email thread, add key messages, and customize your reply options. Our AI will draft a response for you.
        </p>
      </div>
      
      <div class="mx-auto mt-16 w-full max-w-3xl sm:mt-20">
        <div class="-m-2 rounded-xl bg-gray-900/5 dark:bg-gray-100/5 p-2 ring-1 ring-inset ring-gray-900/10 dark:ring-gray-100/10 lg:-m-4 lg:rounded-2xl lg:p-4">
          <div class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-sm">
            <form @submit.prevent="draftReply" class="space-y-6">
              <div>
                <div class="mt-1">
                  <textarea
                    id="emailThread"
                    v-model="emailThread"
                    rows="6"
                    class="flex-grow px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-lg focus:outline-none focus:ring-0 focus:border-brand-blue transition-colors duration-200 w-full sm:text-sm dark:bg-gray-700 dark:text-white"
                    placeholder="Paste the email thread or single email here..."
                    required
                  ></textarea>
                </div>
              </div>

              <div>
                <div class="mt-1">
                  <textarea
                    id="keyMessages"
                    v-model="keyMessages"
                    rows="3"
                    class="flex-grow px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-lg focus:outline-none focus:ring-0 focus:border-brand-blue transition-colors duration-200 w-full sm:text-sm dark:bg-gray-700 dark:text-white"
                    placeholder="Add any key messages or points you want to include in the reply..."
                  ></textarea>
                </div>
              </div>

              <div class="grid grid-cols-2 gap-4">
                <Listbox as="div" v-model="selectedUrgency">
                  <ListboxLabel class="block text-sm font-medium text-gray-700 dark:text-gray-300">Urgency Level</ListboxLabel>
                  <div class="relative mt-1">
                    <ListboxButton class="relative w-full cursor-default rounded-md bg-white dark:bg-gray-700 py-2 pl-3 pr-10 text-left border border-gray-300 dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-brand-blue transition-colors duration-200 sm:text-sm">
                      <span class="block truncate dark:text-white">{{ selectedUrgency.name }}</span>
                      <span class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
                        <ChevronUpDownIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
                      </span>
                    </ListboxButton>

                    <transition leave-active-class="transition ease-in duration-100" leave-from-class="opacity-100" leave-to-class="opacity-0">
                      <ListboxOptions class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white dark:bg-gray-700 py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
                        <ListboxOption as="template" v-for="urgency in urgencyLevels" :key="urgency.id" :value="urgency" v-slot="{ active, selected }">
                          <li :class="[active ? 'bg-brand-blue text-white' : 'text-gray-900 dark:text-white', 'relative cursor-default select-none py-2 pl-3 pr-9']">
                            <span :class="[selected ? 'font-semibold' : 'font-normal', 'block truncate']">{{ urgency.name }}</span>

                            <span v-if="selected" :class="[active ? 'text-white' : 'text-brand-blue', 'absolute inset-y-0 right-0 flex items-center pr-4']">
                              <CheckIcon class="h-5 w-5" aria-hidden="true" />
                            </span>
                          </li>
                        </ListboxOption>
                      </ListboxOptions>
                    </transition>
                  </div>
                </Listbox>

                <Listbox as="div" v-model="selectedTone">
                  <ListboxLabel class="block text-sm font-medium text-gray-700 dark:text-gray-300">Tone</ListboxLabel>
                  <div class="relative mt-1">
                    <ListboxButton class="relative w-full cursor-default rounded-md bg-white dark:bg-gray-700 py-2 pl-3 pr-10 text-left border border-gray-300 dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-brand-blue transition-colors duration-200 sm:text-sm">
                      <span class="block truncate dark:text-white">{{ selectedTone.name }}</span>
                      <span class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
                        <ChevronUpDownIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
                      </span>
                    </ListboxButton>

                    <transition leave-active-class="transition ease-in duration-100" leave-from-class="opacity-100" leave-to-class="opacity-0">
                      <ListboxOptions class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white dark:bg-gray-700 py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
                        <ListboxOption as="template" v-for="tone in toneOptions" :key="tone.id" :value="tone" v-slot="{ active, selected }">
                          <li :class="[active ? 'bg-brand-blue text-white' : 'text-gray-900 dark:text-white', 'relative cursor-default select-none py-2 pl-3 pr-9']">
                            <span :class="[selected ? 'font-semibold' : 'font-normal', 'block truncate']">{{ tone.name }}</span>

                            <span v-if="selected" :class="[active ? 'text-white' : 'text-brand-blue', 'absolute inset-y-0 right-0 flex items-center pr-4']">
                              <CheckIcon class="h-5 w-5" aria-hidden="true" />
                            </span>
                          </li>
                        </ListboxOption>
                      </ListboxOptions>
                    </transition>
                  </div>
                </Listbox>
              </div>

              <div class="flex items-center space-x-4">
                <div class="flex items-center">
                  <input
                    id="isBoss"
                    v-model="isBoss"
                    type="checkbox"
                    class="h-4 w-4 text-brand-blue focus:ring-brand-blue border-gray-300 rounded dark:border-gray-600 dark:bg-gray-700"
                  >
                  <label for="isBoss" class="ml-2 block text-sm text-gray-900 dark:text-gray-300">Is this your boss?</label>
                </div>
                <div class="flex items-center">
                  <input
                    id="extraClarity"
                    v-model="extraClarity"
                    type="checkbox"
                    class="h-4 w-4 text-brand-blue focus:ring-brand-blue border-gray-300 rounded dark:border-gray-600 dark:bg-gray-700"
                  >
                  <label for="extraClarity" class="ml-2 block text-sm text-gray-900 dark:text-gray-300">Extra Clarity</label>
                </div>
              </div>

              <div>
                <button
                  type="submit"
                  class="w-full bg-brand-blue px-4 py-2 text-sm font-semibold rounded-md border border-transparent text-white hover:bg-brand-blue/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue transition duration-150 ease-in-out flex items-center justify-center dark:bg-brand-blue/80 dark:hover:bg-brand-blue/70"
                  :disabled="isLoading"
                >
                  <Icon v-if="isLoading" name="heroicons:arrow-path" class="animate-spin mr-2 text-xl" />
                  <Icon v-else name="heroicons:envelope" class="mr-2 text-xl" />
                  {{ isLoading ? 'Drafting Reply...' : 'Draft Reply' }}
                </button>
                <p class="mt-2 text-center text-xs text-gray-500 dark:text-gray-400">Your data is not stored or used to train AI models. AI can make mistakes.</p>
              </div>
            </form>

            <div v-if="isLoading" class="mt-8">
              <div class="flex items-center justify-center">
                <svg class="animate-spin h-10 w-10 text-brand-blue" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
              </div>
              <p class="text-center text-gray-500 dark:text-gray-400 mt-4">{{ loadingMessage }}</p>
            </div>

            <div v-if="draftedReply" class="mt-8">
              <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">Drafted Reply</h2>
              <div class="prose prose-brand-blue dark:prose-invert prose-lg max-w-none">
                <pre class="whitespace-pre-wrap font-sans dark:bg-gray-700 dark:text-white p-4 rounded-lg">{{ draftedReply }}</pre>
              </div>
              <button
                @click="copyToClipboard"
                class="mt-4 w-full px-4 py-2 border border-gray-300 dark:border-gray-600 shadow-sm text-sm font-medium rounded-md text-gray-700 dark:text-gray-200 bg-white dark:bg-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue transition duration-150 ease-in-out flex items-center justify-center"
              >
                <Icon name="heroicons:clipboard-document" class="mr-2 text-xl" />
                Copy to Clipboard
              </button>
            </div>

            <div v-if="error" class="mt-8 bg-red-50 dark:bg-red-900 border-l-4 border-red-400 dark:border-red-600 p-4">
              <div class="flex">
                <div class="flex-shrink-0">
                  <Icon name="heroicons:x-circle" class="h-5 w-5 text-red-400 dark:text-red-300" />
                </div>
                <div class="ml-3">
                  <p class="text-sm text-red-700 dark:text-red-200">{{ error }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <CtaDark />
</template>

<script setup>
import { ref } from 'vue'
import { useClipboard } from '@vueuse/core'
import { Listbox, ListboxButton, ListboxLabel, ListboxOption, ListboxOptions } from '@headlessui/vue'
import { CheckIcon, ChevronUpDownIcon } from '@heroicons/vue/20/solid'

const emailThread = ref('')
const keyMessages = ref('')
const isBoss = ref(false)
const extraClarity = ref(false)
const isLoading = ref(false)
const draftedReply = ref('')
const error = ref('')
const loadingMessage = ref('')

const urgencyLevels = [
  { id: 1, name: '1 - Low' },
  { id: 2, name: '2 - Moderate' },
  { id: 3, name: '3 - Normal' },
  { id: 4, name: '4 - High' },
  { id: 5, name: '5 - Urgent' },
]
const selectedUrgency = ref(urgencyLevels[2])

const toneOptions = [
  { id: 1, name: 'Friendly' },
  { id: 2, name: 'Professional' },
  { id: 3, name: 'Formal' },
  { id: 4, name: 'Casual' },
  { id: 5, name: 'Assertive' },
  { id: 6, name: 'Empathetic' },
  { id: 7, name: 'Concise' },
  { id: 8, name: 'Enthusiastic' },
  { id: 9, name: 'Neutral' },
  { id: 10, name: 'Firm' },
]
const selectedTone = ref(toneOptions[1])

const { copy } = useClipboard()

const loadingMessages = [
  'Analyzing email thread...',
  'Crafting response...',
  'Applying tone and style...',
  'Finalizing draft...',
  'Almost there...'
]

function getRandomLoadingMessage() {
  return loadingMessages[Math.floor(Math.random() * loadingMessages.length)]
}

async function draftReply() {
  isLoading.value = true
  error.value = ''
  draftedReply.value = ''

  const loadingInterval = setInterval(() => {
    loadingMessage.value = getRandomLoadingMessage()
  }, 3000)

  try {
    const response = await fetch('/api/draft-email-reply', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        emailThread: emailThread.value,
        keyMessages: keyMessages.value,
        urgencyLevel: selectedUrgency.value.id,
        tone: selectedTone.value.name,
        isBoss: isBoss.value,
        extraClarity: extraClarity.value,
      }),
    })

    if (!response.ok) {
      throw new Error('Failed to draft email reply. Please try again.')
    }

    const data = await response.json()
    draftedReply.value = data.reply
  } catch (err) {
    error.value = err.message
  } finally {
    isLoading.value = false
    clearInterval(loadingInterval)
  }
}

function copyToClipboard() {
  copy(draftedReply.value)
}

useSeoMeta({
  title: 'AI Email Reply Drafter',
  description: 'Draft professional email replies with our AI-powered tool.',
})
</script>