<template>
  <div class="relative isolate overflow-hidden bg-white dark:bg-gray-900 py-24 sm:py-32">
    <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
    </svg>
    
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl">AI Generated Project Risk Analysis Tool</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">
          Enter your project description and let our AI-powered tool identify potential risks for your project. Then copy the results for further analysis.
        </p>
      </div>
      
      <div class="mx-auto mt-16 w-full max-w-3xl sm:mt-20">
        <div class="-m-2 rounded-xl bg-gray-900/5 dark:bg-gray-100/5 p-2 ring-1 ring-inset ring-gray-900/10 dark:ring-gray-100/10 lg:-m-4 lg:rounded-2xl lg:p-4">
          <div class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-sm">
            <form @submit.prevent="generateRisks" class="space-y-6">
              <div>
                <div class="mt-1">
                  <textarea
                    id="projectDescription"
                    v-model="projectDescription"
                    rows="4"
                    class="flex-grow px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-lg focus:outline-none focus:ring-0 focus:border-brand-blue transition-colors duration-200 w-full sm:text-sm dark:bg-gray-700 dark:text-white"
                    placeholder="Explain your project. The more details, the better the risk analysis."
                    required
                  ></textarea>
                </div>
              </div>
              
              <div>
                <button
                  type="submit"
                  class="w-full bg-brand-blue px-4 py-2 text-sm font-semibold rounded-md border border-transparent text-white hover:bg-brand-blue/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue transition duration-150 ease-in-out flex items-center justify-center dark:bg-brand-blue/80 dark:hover:bg-brand-blue/70"
                  :disabled="isLoading"
                >
                  <Icon name="heroicons:sparkles-solid" class="animate-pulse mr-2 text-xl" /> Generate Risk Analysis 
                </button>
                <p class="mt-2 text-center text-xs text-gray-500 dark:text-gray-400">Your data is not stored or used to train AI models. AI can make mistakes.</p>
              </div>
            </form>

            <div v-if="isLoading" class="mt-8">
              <div class="flex items-center justify-center">
                <svg class="animate-spin h-10 w-10 text-brand-blue" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
              </div>
              <p class="text-center text-gray-500 dark:text-gray-400 mt-4">{{ loadingMessage }}</p>
            </div>

            <div v-if="projectRisks.length > 0" class="mt-8">
              <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">Project Risks</h2>
              <div class="prose prose-brand-blue dark:prose-invert prose-lg max-w-none">
                <div v-for="(risk, index) in parsedRisks" :key="index" v-html="risk" class="mb-6"></div>
              </div>
              <button
                @click="copyToClipboard"
                class="mt-4 w-full px-4 py-2 border border-gray-300 dark:border-gray-600 shadow-sm text-sm font-medium rounded-md text-gray-700 dark:text-gray-200 bg-white dark:bg-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue transition duration-150 ease-in-out flex items-center justify-center"
              >
                Copy to Clipboard
              </button>
            </div>

            <div v-if="error" class="mt-8 bg-red-50 dark:bg-red-900 border-l-4 border-red-400 dark:border-red-600 p-4">
              <div class="flex">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-red-400 dark:text-red-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                  </svg>
                </div>
                <div class="ml-3">
                  <p class="text-sm text-red-700 dark:text-red-200">
                    {{ error }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- New section explaining how the tool works -->
      <div class="mx-auto mt-16 max-w-3xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl text-center">How Our AI Project Risk Analysis Tool Works</h2>
        <div class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300 space-y-6">
          <p>Ever wondered what could go wrong with your project? Our AI Project Risk Analysis Tool is like having a team of expert risk managers right at your fingertips. It's designed to spot potential pitfalls across a wide range of project types and industries before they become real headaches.</p>
          <p>Here's how it works: you tell us about your project, and our AI, powered by the advanced GPT-4-mini model, gets to work. It's not just looking for obvious risks - it digs deep, considering ten key risk categories including technical, financial, operational, strategic, and even environmental risks. It's like having a conversation with a seasoned project manager who's seen it all.</p>
          <p>Our tool doesn't just spit out a list of risks. For each potential issue, it provides a clear, concise name, a detailed explanation, an assessment of its potential impact, and 1-2 practical mitigation strategies. No jargon, no fluff - just straightforward insights you can actually use. It's like getting a roadmap to smoother project execution.</p>
          <p>But here's where it gets really interesting. Our AI adapts its analysis to your specific project, ensuring you get at least five significant and diverse risks tailored to your unique situation. Whether you're building software, planning an event, or launching a new product, it's not one-size-fits-all - it's risk analysis that fits your project like a glove.</p>
          <p>We've designed the tool to be thorough and insightful. It might identify a compliance risk you hadn't considered, or a stakeholder risk that could impact your timeline. The goal? To make risk analysis less of a chore and more of an "aha!" moment for your project planning.</p>
          <p>And don't worry about information overload. Our AI balances depth with clarity, giving you a comprehensive view without drowning you in unnecessary details. Each risk is neatly formatted with clear sections for easy reading and quick action.</p>
          <p>Ready to uncover the potential risks in your project? Give our AI Project Risk Analysis Tool a spin. It's not about predicting doom and gloom - it's about empowering you to navigate challenges and steer your project towards success. Let's turn those potential risks into opportunities for smoother sailing!</p>
        </div>
      </div>
    </div>
  </div>
  <CtaDark />
</template>

<script setup>
import { ref, computed } from 'vue'
import { useClipboard } from '@vueuse/core'
import { marked } from 'marked'

const projectDescription = ref('')
const projectRisks = ref([])
const isLoading = ref(false)
const loadingMessage = ref('')
const error = ref('')

const { copy } = useClipboard()

const parsedRisks = computed(() => {
  return projectRisks.value.map(risk => {
    return marked.parse(risk, { 
      breaks: true, 
      headerIds: false, 
      mangle: false,
      gfm: true // Enables GitHub Flavored Markdown
    })
  })
})

const loadingMessages = [
  'Analyzing project...',
  'Identifying potential risks...',
  'Consulting AI experts...',
  'Crunching the numbers...',
  'Almost there...'
]

function getRandomLoadingMessage() {
  return loadingMessages[Math.floor(Math.random() * loadingMessages.length)]
}

async function generateRisks() {
  isLoading.value = true
  error.value = ''
  projectRisks.value = []

  const loadingInterval = setInterval(() => {
    loadingMessage.value = getRandomLoadingMessage()
  }, 3000)

  try {
    const response = await fetch('/api/generate-risks', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ projectDescription: projectDescription.value }),
    })

    if (!response.ok) {
      throw new Error('Failed to generate risks. Please try again.')
    }

    const data = await response.json()
    projectRisks.value = data.risks
  } catch (err) {
    error.value = err.message
  } finally {
    isLoading.value = false
    clearInterval(loadingInterval)
  }
}

function copyToClipboard() {
  const risksText = projectRisks.value.join('\n\n')
  copy(risksText)
}

useSeoMeta({
  title: 'AI Project Risk Analysis',
  description: 'Analyze your project risks with our AI-powered project risk analysis tool.',
})
</script>

<style scoped>
.prose h3 {
  color: #2563eb; /* Adjust this to match your brand blue color */
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.prose strong {
  color: #4b5563; /* A darker gray for the section headers */
}

.prose p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
</style>