<template>
  <div class="relative isolate overflow-hidden bg-white dark:bg-gray-900 py-24 sm:py-32">
    <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
    </svg>
    
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl">AI Text Humanizer Tool</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">
          Paste your AI-generated text and let our tool humanize it for you. Then copy the results for further use.
        </p>
      </div>
      
      <div class="mx-auto mt-16 w-full max-w-3xl sm:mt-20">
        <div class="-m-2 rounded-xl bg-gray-900/5 dark:bg-gray-100/5 p-2 ring-1 ring-inset ring-gray-900/10 dark:ring-gray-100/10 lg:-m-4 lg:rounded-2xl lg:p-4">
          <div class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-sm">
            <form @submit.prevent="humanizeText" class="space-y-6">
              <div>
                <div class="mt-1">
                  <textarea
                    id="aiText"
                    v-model="aiText"
                    rows="4"
                    class="flex-grow px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-lg focus:outline-none focus:ring-0 focus:border-brand-blue transition-colors duration-200 w-full sm:text-sm dark:bg-gray-700 dark:text-white"
                    placeholder="Paste your AI-generated text here..."
                    required
                  ></textarea>
                </div>
              </div>
              
              <div>
                <button
                  type="submit"
                  class="w-full bg-brand-blue px-4 py-2 text-sm font-semibold rounded-md border border-transparent text-white hover:bg-brand-blue/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue transition duration-150 ease-in-out flex items-center justify-center dark:bg-brand-blue/80 dark:hover:bg-brand-blue/70"
                  :disabled="isLoading"
                >
                  <Icon name="heroicons:sparkles-solid" class="animate-pulse mr-2 text-xl" /> Humanize Text 
                </button>
                <p class="mt-2 text-center text-xs text-gray-500 dark:text-gray-400">Your data is not stored or used to train AI models. AI can make mistakes.</p>
              </div>
            </form>

            <div v-if="isLoading" class="mt-8">
              <div class="flex items-center justify-center">
                <svg class="animate-spin h-10 w-10 text-brand-blue" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
              </div>
              <p class="text-center text-gray-500 dark:text-gray-400 mt-4">{{ loadingMessage }}</p>
            </div>

            <div v-if="humanizedText" class="mt-8">
              <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">Humanized Text</h2>
              <div class="prose prose-brand-blue dark:prose-invert prose-lg max-w-none">
                <p v-html="formatMessage(humanizedText)"></p>
              </div>
              <button
                @click="copyToClipboard"
                class="mt-4 w-full px-4 py-2 border border-gray-300 dark:border-gray-600 shadow-sm text-sm font-medium rounded-md text-gray-700 dark:text-gray-200 bg-white dark:bg-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue transition duration-150 ease-in-out flex items-center justify-center"
              >
                Copy to Clipboard
              </button>
            </div>

            <div v-if="error" class="mt-8 bg-red-50 dark:bg-red-900 border-l-4 border-red-400 dark:border-red-600 p-4">
              <div class="flex">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-red-400 dark:text-red-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                  </svg>
                </div>
                <div class="ml-3">
                  <p class="text-sm text-red-700 dark:text-red-200">
                    {{ error }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- New section explaining how the tool works -->
        <div class="mx-auto mt-16 max-w-3xl">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl text-center">How Our AI Text Humanizer Works</h2>
          <div class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300 space-y-6">
            <p>Our AI Text Humanizer takes AI-generated text and transforms it into something that sounds like it came straight from a human writer. How does it work? Well, it's like having a skilled editor who knows all the tricks to make writing pop.</p>
            <p>When you paste your text into our tool, it springs into action. First, it looks at your adverbs. Are they all necessary? Probably not. It trims them down, keeping only the ones that really matter. Then, it gets creative with analogies. Instead of complex metaphors, it uses simple comparisons that anyone can understand.</p>
            <p>But that's just the beginning. Our AI text humanizer is a pro at making words play nicely together. It knows which words sound natural side by side, creating phrases that roll off the tongue. And rhythm? It's got that covered too. Short sentences. Long sentences. It mixes them up to keep things interesting.</p>
            <p>Clarity is key, right? Our tool cuts through the fluff, leaving you with crisp, clear writing. It's like having a conversation with a friend - casual, engaging, and straight to the point. No passive voice here! We're all about action, making your writing dynamic and lively.</p>
            <p>Jargon? Not on our watch. Our AI text humanizer speaks your language, using words that everyone can understand. It even throws in a question now and then or shares an interesting tidbit to keep readers hooked. And transitions? Smooth as butter. Each sentence flows naturally into the next, creating a seamless reading experience.</p>
            <p>Here's the best part: our tool knows its audience. It adjusts the complexity of the text to match your readers, hitting that sweet spot between too simple and too complex. And just when you think it's settled into a rhythm, it surprises you with a burst of variety in sentence structure.</p>
            <p>So, ready to give your AI-generated content a human touch? Our AI Text Humanizer is here to help. It's not about replacing your voice - it's about enhancing it, making your writing more engaging, more natural, and more you. Give it a try and see the difference for yourself.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <CtaDark />
</template>

<script setup>
import { ref } from 'vue'
import { useClipboard } from '@vueuse/core'
import DOMPurify from 'dompurify'
import { marked } from 'marked'

const aiText = ref('')
const humanizedText = ref('')
const isLoading = ref(false)
const loadingMessage = ref('')
const error = ref('')

const { copy } = useClipboard()

const loadingMessages = [
  'Processing text...',
  'Making it more human...',
  'Applying natural language techniques...',
  'Almost done...',
  'Finalizing...'
]

function getRandomLoadingMessage() {
  return loadingMessages[Math.floor(Math.random() * loadingMessages.length)]
}

async function humanizeText() {
  isLoading.value = true
  error.value = ''
  humanizedText.value = ''

  const loadingInterval = setInterval(() => {
    loadingMessage.value = getRandomLoadingMessage()
  }, 3000)

  try {
    const response = await fetch('/api/humanize-text', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ aiText: aiText.value }),
    })

    if (!response.ok) {
      throw new Error('Failed to humanize text. Please try again.')
    }

    const data = await response.json()
    humanizedText.value = data.humanizedText
  } catch (err) {
    error.value = err.message
  } finally {
    isLoading.value = false
    clearInterval(loadingInterval)
  }
}

function copyToClipboard() {
  copy(humanizedText.value)
}

function formatMessage(content) {
  // Remove source citations
  content = content.replace(/【\d+:\d+†source】/g, '');
  
  // Configure marked options
  marked.setOptions({
    breaks: true,
    gfm: true
  });

  // Convert markdown to HTML
  let html = marked(content);
  
  // Sanitize HTML to prevent XSS attacks
  html = DOMPurify.sanitize(html, {
    ALLOWED_TAGS: ['p', 'br', 'strong', 'em', 'u', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'ul', 'ol', 'li', 'a'],
    ALLOWED_ATTR: ['href', 'target', 'rel', 'class']
  });
  
  // Add Tailwind classes and new tab attributes to links
  html = html.replace(/<a /g, '<a class="text-brand-blue underline hover:opacity-80 transition-opacity duration-200" target="_blank" rel="noopener noreferrer" ');
  
  return html;
}

useSeoMeta({
  title: 'AI Text Humanizer',
  description: 'Humanize your AI-generated text with our AI Text Humanizer tool.',
})
</script>
