<template>
  <div class="relative isolate overflow-hidden bg-white dark:bg-gray-900 py-24 sm:py-32">
    <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
    </svg>
    
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl">Writing Style Analysis Tool</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">
          Paste your writing sample and let our tool analyze the style and generate a prompt for LLMs to write in a similar style.
        </p>
      </div>
      
      <div class="mx-auto mt-16 w-full max-w-3xl sm:mt-20">
        <div class="-m-2 rounded-xl bg-gray-900/5 dark:bg-gray-100/5 p-2 ring-1 ring-inset ring-gray-900/10 dark:ring-gray-100/10 lg:-m-4 lg:rounded-2xl lg:p-4">
          <div class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-sm">
            <form @submit.prevent="analyzeStyle" class="space-y-6">
              <div>
                <div class="mt-1">
                  <textarea
                    id="writingSample"
                    v-model="writingSample"
                    rows="4"
                    class="flex-grow px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-lg focus:outline-none focus:ring-0 focus:border-brand-blue transition-colors duration-200 w-full sm:text-sm dark:bg-gray-700 dark:text-white"
                    placeholder="Paste your writing sample here..."
                    required
                  ></textarea>
                </div>
              </div>
              
              <div>
                <button
                  type="submit"
                  class="w-full bg-brand-blue px-4 py-2 text-sm font-semibold rounded-md border border-transparent text-white hover:bg-brand-blue/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue transition duration-150 ease-in-out flex items-center justify-center dark:bg-brand-blue/80 dark:hover:bg-brand-blue/70"
                  :disabled="isLoading"
                >
                  <Icon name="heroicons:sparkles-solid" class="animate-pulse mr-2 text-xl" /> Analyze Style 
                </button>
                <p class="mt-2 text-center text-xs text-gray-500 dark:text-gray-400">Your data is not stored or used to train AI models. AI can make mistakes.</p>
              </div>
            </form>

            <div v-if="isLoading" class="mt-8">
              <div class="flex items-center justify-center">
                <svg class="animate-spin h-10 w-10 text-brand-blue" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
              </div>
              <p class="text-center text-gray-500 dark:text-gray-400 mt-4">{{ loadingMessage }}</p>
            </div>

            <div v-if="styleAnalysis" class="mt-8">
              <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">Style Analysis</h2>
              <div class="prose prose-brand-blue dark:prose-invert prose-lg max-w-none">
                <p v-html="formatMessage(styleAnalysis)"></p>
              </div>
              <button
                @click="copyToClipboard"
                class="mt-4 w-full px-4 py-2 border border-gray-300 dark:border-gray-600 shadow-sm text-sm font-medium rounded-md text-gray-700 dark:text-gray-200 bg-white dark:bg-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue transition duration-150 ease-in-out flex items-center justify-center"
              >
                Copy to Clipboard
              </button>
            </div>

            <div v-if="error" class="mt-8 bg-red-50 dark:bg-red-900 border-l-4 border-red-400 dark:border-red-600 p-4">
              <div class="flex">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-red-400 dark:text-red-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                  </svg>
                </div>
                <div class="ml-3">
                  <p class="text-sm text-red-700 dark:text-red-200">
                    {{ error }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- New section explaining how the tool works -->
      <div class="mx-auto mt-16 max-w-3xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl text-center">How Our Writing Style Analysis Tool Works</h2>
        <div class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300 space-y-6">
          <p>Ever wondered how to capture the essence of your favorite author's style? Our Writing Style Analysis Tool is like having a literary detective at your fingertips. It's designed to dissect and understand what makes a piece of writing uniquely "you" - or anyone else, for that matter.</p>

          <p>Here's the magic behind the curtain: you paste in a writing sample, and our AI, powered by the advanced GPT-4-mini model, gets to work. It's not just skimming the surface - it's diving deep into the very DNA of your writing style.</p>

          <p>Our tool doesn't just give you a vague description. It breaks down your style into specific elements. It's looking at the unique traits that make your writing distinctive, like a literary fingerprint. It examines your sentence structure - are you a fan of short, punchy sentences or long, flowing ones? It picks up on your tone and voice. Are you formal? Casual? Somewhere in between?</p>

          <p>But wait, there's more! The AI also pays attention to your word choice and vocabulary. It's like having a word sommelier, noting the subtle flavors and combinations that make your writing uniquely yours. And it does all this without getting caught up in the specific subject matter of your text.</p>

          <p>Now, here's where it gets really cool. Once it's done this deep dive into your writing style, our AI doesn't just give you a report - it creates a prompt. This isn't just any prompt. It's a specially crafted set of instructions that could guide another AI to write in your style. It's like creating a recipe for your writing voice.</p>
        </div>
      </div>
    </div>
  </div>
  <CtaDark />
</template>

<script setup>
import { ref } from 'vue'
import { useClipboard } from '@vueuse/core'
import DOMPurify from 'dompurify'
import { marked } from 'marked'

const writingSample = ref('')
const styleAnalysis = ref('')
const isLoading = ref(false)
const loadingMessage = ref('')
const error = ref('')

const { copy } = useClipboard()

const loadingMessages = [
  'Analyzing writing style...',
  'Examining sentence structure...',
  'Identifying unique elements...',
  'Almost done...',
  'Finalizing analysis...'
]

function getRandomLoadingMessage() {
  return loadingMessages[Math.floor(Math.random() * loadingMessages.length)]
}

async function analyzeStyle() {
  isLoading.value = true
  error.value = ''
  styleAnalysis.value = ''

  const loadingInterval = setInterval(() => {
    loadingMessage.value = getRandomLoadingMessage()
  }, 3000)

  try {
    const response = await fetch('/api/analyze-style', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ writingSample: writingSample.value }),
    })

    if (!response.ok) {
      throw new Error('Failed to analyze writing style. Please try again.')
    }

    const data = await response.json()
    styleAnalysis.value = data.styleAnalysis
  } catch (err) {
    error.value = err.message
  } finally {
    isLoading.value = false
    clearInterval(loadingInterval)
  }
}

function copyToClipboard() {
  copy(styleAnalysis.value)
}

function formatMessage(content) {
  // Remove source citations
  content = content.replace(/【\d+:\d+†source】/g, '');
  
  // Configure marked options
  marked.setOptions({
    breaks: true,
    gfm: true
  });

  // Convert markdown to HTML
  let html = marked(content);
  
  // Sanitize HTML to prevent XSS attacks
  html = DOMPurify.sanitize(html, {
    ALLOWED_TAGS: ['p', 'br', 'strong', 'em', 'u', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'ul', 'ol', 'li', 'a'],
    ALLOWED_ATTR: ['href', 'target', 'rel', 'class']
  });
  
  // Add Tailwind classes and new tab attributes to links
  html = html.replace(/<a /g, '<a class="text-brand-blue underline hover:opacity-80 transition-opacity duration-200" target="_blank" rel="noopener noreferrer" ');
  
  return html;
}

useSeoMeta({
  title: 'Writing Style Analysis Tool',
  description: 'Analyze your writing style and generate a prompt for LLMs to write in a similar style with our Writing Style Analysis tool.',
})
</script>