<template>
  <div class="pt-[15vh] max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 dark:bg-gray-900">
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-12">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl mb-4 sm:mb-0">Build vs Buy Calculator</h2>
      <p class="text-lg leading-8 text-gray-600 dark:text-gray-300 max-w-xl">Compare the costs of building in-house vs buying a SaaS solution.</p>
    </div>
    <div class="flex flex-col lg:flex-row gap-8 mb-8">
      <!-- Build Option (Left Box) -->
      <div class="flex-1 rounded-xl p-8 ring-1 ring-gray-900/10 dark:ring-gray-100/10 sm:p-10 dark:bg-gray-800">
        <h3 class="text-xl font-semibold leading-8 tracking-tight text-gray-800 dark:text-white mb-6">Build Option</h3>
        <div class="space-y-4">
          <div>
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Number of work days required to build</label>
            <input v-model.number="workDays" type="number" class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-brand-blue focus:border-brand-blue dark:bg-gray-700 dark:border-gray-600 dark:text-white">
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Average daily salary per employee ($)</label>
            <input v-model.number="avgSalary" type="number" class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-brand-blue focus:border-brand-blue dark:bg-gray-700 dark:border-gray-600 dark:text-white">
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Number of employees</label>
            <input v-model.number="numEmployees" type="number" class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-brand-blue focus:border-brand-blue dark:bg-gray-700 dark:border-gray-600 dark:text-white">
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Days per month for maintenance</label>
            <input v-model.number="maintenanceDays" type="number" class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-brand-blue focus:border-brand-blue dark:bg-gray-700 dark:border-gray-600 dark:text-white">
          </div>
        </div>
      </div>

      <!-- Buy Option (Right Box) -->
      <div class="flex-1 rounded-xl p-8 ring-1 ring-gray-900/10 dark:ring-gray-100/10 sm:p-10 dark:bg-gray-800">
        <h3 class="text-xl font-semibold leading-8 tracking-tight text-gray-800 dark:text-white mb-6">Buy Option</h3>
        <div class="flex mb-4">
          <button 
            @click="buyOption = 'monthly'" 
            :class="['px-4 py-2 rounded-l text-sm font-medium', buyOption === 'monthly' ? 'bg-brand-blue text-white' : 'bg-gray-200 dark:bg-gray-700 text-gray-700 dark:text-gray-300']"
          >
            Monthly
          </button>
          <button 
            @click="buyOption = 'annual'" 
            :class="['px-4 py-2 rounded-r text-sm font-medium', buyOption === 'annual' ? 'bg-brand-blue text-white' : 'bg-gray-200 dark:bg-gray-700 text-gray-700 dark:text-gray-300']"
          >
            Annual
          </button>
        </div>
        <div v-if="buyOption === 'monthly'">
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Monthly license fee per user ($)</label>
            <input v-model.number="monthlyFee" type="number" class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-brand-blue focus:border-brand-blue dark:bg-gray-700 dark:border-gray-600 dark:text-white">
          </div>
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Number of users</label>
            <input v-model.number="numberOfUsers" type="number" class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-brand-blue focus:border-brand-blue dark:bg-gray-700 dark:border-gray-600 dark:text-white">
          </div>
        </div>
        <div v-else>
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Annual price ($)</label>
            <input v-model.number="annualPrice" type="number" class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-brand-blue focus:border-brand-blue dark:bg-gray-700 dark:border-gray-600 dark:text-white">
          </div>
        </div>
      </div>
    </div>

    <!-- Results (Bottom Box) -->
    <div class="rounded-xl p-8 ring-1 ring-gray-900/10 dark:ring-gray-100/10 sm:p-10 dark:bg-gray-800">
      <h3 class="text-xl font-semibold leading-8 tracking-tight text-gray-800 dark:text-white mb-6">Results</h3>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div>
          <p class="text-sm text-gray-500 dark:text-gray-400">Buy Cost (Annual)</p>
          <p class="text-2xl font-semibold text-gray-900 dark:text-white">${{ formatCurrency(buyAnnualCost) }}</p>
        </div>
        <div>
          <p class="text-sm text-gray-500 dark:text-gray-400">Build Cost (First Year)</p>
          <p class="text-2xl font-semibold text-gray-900 dark:text-white">${{ formatCurrency(buildFirstYearCost) }}</p>
        </div>
        <div>
          <p class="text-sm text-gray-500 dark:text-gray-400">Build Cost (Subsequent Years)</p>
          <p class="text-2xl font-semibold text-gray-900 dark:text-white">${{ formatCurrency(buildSubsequentYearsCost) }}</p>
        </div>
      </div>
      <div class="mt-6">
        <p class="text-lg font-semibold" :class="buildVsBuyClass">
          {{ buildVsBuyRecommendation }}
        </p>
      </div>
    </div>

    <!-- Five-Year TCO Graph -->
    <div class="mt-12 rounded-xl p-8 ring-1 ring-gray-900/10 dark:ring-gray-100/10 sm:p-10 dark:bg-gray-800">
      <h3 class="text-xl font-semibold leading-8 tracking-tight text-gray-800 dark:text-white mb-6">Five-Year Total Cost of Ownership</h3>
      <div class="w-full h-[400px]">
        <Line :data="chartData" :options="chartOptions" />
      </div>
    </div>

    <!-- Explanation Section -->
    <div class="mt-12 rounded-xl p-8 ring-1 ring-gray-900/10 dark:ring-gray-100/10 sm:p-10 dark:bg-gray-800">
      <h3 class="text-xl font-semibold leading-8 tracking-tight text-gray-800 dark:text-white mb-6">Understanding the Build vs. Buy Decision</h3>
      
      <div class="space-y-4 text-gray-600 dark:text-gray-300">
        <p><strong>How the Calculator Works:</strong> This calculator compares the costs of building a solution in-house versus buying a SaaS product over a five-year period.</p>
        
        <p><strong>Build Costs:</strong> The initial build cost is calculated as: (Work Days) × (Average Daily Salary) × (Number of Employees). Ongoing maintenance costs are: (Maintenance Days per Month) × (Average Daily Salary) × 12 months.</p>
        
        <p><strong>Buy Costs:</strong> For the SaaS option, we calculate either: (Monthly Fee per User) × (Number of Users) × 12 months, or the provided Annual Price.</p>
        
        <p><strong>Five-Year Projection:</strong> We extend these calculations over five years, accounting for the higher first-year costs in the build option due to initial development.</p>
        
        <p><strong>Key Considerations Beyond Cost:</strong></p>
        <ul class="list-disc pl-5 space-y-2">
          <li><strong>Time to Market:</strong> Buying a SaaS solution often allows for faster implementation.</li>
          <li><strong>Customization:</strong> Building in-house offers more control over features and integrations.</li>
          <li><strong>Scalability:</strong> SaaS solutions may offer easier scaling, but potentially at higher costs.</li>
          <li><strong>Expertise:</strong> Building requires specific in-house skills or hiring new talent.</li>
          <li><strong>Maintenance:</strong> SaaS providers handle updates and security, reducing internal IT burden.</li>
        </ul>
        
        <p>The decision to build or buy extends far beyond immediate financial implications. When you choose to buy a solution, you're not just purchasing software; you're buying time and focus for your team. This freed-up capacity can be a powerful catalyst for other strategic initiatives. Consider the projects currently on hold due to resource constraints - could these drive significant business value if given attention? Perhaps there's an innovative idea that could transform your market position, or a critical process improvement that could enhance overall efficiency. Moreover, by opting for a ready-made solution, your team maintains its focus on core competencies, potentially accelerating progress in areas where your organization truly differentiates itself. It's crucial to quantify this opportunity cost: estimate the potential return on investment for the alternatives your team could pursue with the time saved by not building in-house.</p>

        <p>The build vs. buy decision should be viewed through the lens of your organization's long-term strategic vision. Begin by clearly articulating how the solution in question aligns with your core business objectives and competitive advantage. If the solution directly supports or enhances your key differentiators, building in-house might offer strategic benefits that outweigh short-term cost savings. For instance, a custom-built solution could provide unique features that set you apart in the market, offer greater flexibility to adapt to future needs, or allow for deeper integration with other proprietary systems. On the other hand, if the solution addresses a necessary but non-core function, buying might allow you to leverage best practices while keeping your focus on strategic priorities. Consider also the pace of technological change in your industry - will a custom-built solution be able to keep up, or might a SaaS provider be better positioned to incorporate emerging technologies? Ultimately, your decision should support not just where your business is today, but where you aim to be in five or ten years.</p>

        <p>Both building and buying come with their own risk profiles, and a thorough assessment is crucial for informed decision-making. Building in-house carries the risk of project overruns - in time, budget, or both. Even with careful planning, unforeseen technical challenges can emerge, scope can creep, and key personnel may leave, all potentially jeopardizing the project's success. Post-launch, you face ongoing risks related to maintenance, security, and the need to keep the solution updated in a rapidly evolving technological landscape. These risks can be mitigated through robust project management and by ensuring you have the right talent on board, but they remain significant considerations. Conversely, buying a solution shifts many of these risks to the vendor, but introduces new ones. You may become dependent on a third party for a business-critical function, exposing yourself to risks if the vendor faces financial difficulties, gets acquired, or decides to discontinue the product. There's also the risk of vendor lock-in, where the costs or complications of switching providers become prohibitively high. Security and compliance risks need careful evaluation - while reputable SaaS providers often have robust security measures, you're trusting them with potentially sensitive data. Mitigating these risks involves thorough due diligence on potential vendors, careful contract negotiation, and maintaining contingency plans. Remember, risk should be weighed not just in terms of likelihood, but also potential impact on your business operations and strategic goals.</p>
        <p>Remember, while this calculator provides a cost comparison, the final decision should consider these broader factors aligned with your business strategy and capabilities.</p>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import { Line } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, LineElement, LinearScale, PointElement, CategoryScale, Filler } from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, LineElement, LinearScale, PointElement, CategoryScale, Filler)

const buyOption = ref('monthly')
const monthlyFee = ref(0)
const numberOfUsers = ref(0)
const annualPrice = ref(0)
const workDays = ref(0)
const avgSalary = ref(0)
const numEmployees = ref(0)
const maintenanceDays = ref(0)

const buyAnnualCost = computed(() => {
  if (buyOption.value === 'monthly') {
    return monthlyFee.value * numberOfUsers.value * 12
  } else {
    return annualPrice.value
  }
})

const buildFirstYearCost = computed(() => {
  const initialBuildCost = workDays.value * avgSalary.value * numEmployees.value
  const annualMaintenanceCost = maintenanceDays.value * 12 * avgSalary.value
  return initialBuildCost + annualMaintenanceCost
})

const buildSubsequentYearsCost = computed(() => {
  return maintenanceDays.value * 12 * avgSalary.value
})

const buildVsBuyRecommendation = computed(() => {
  if (buyAnnualCost.value < buildFirstYearCost.value) {
    return "Recommendation: Buy the SaaS solution"
  } else if (buyAnnualCost.value > buildSubsequentYearsCost.value) {
    return "Recommendation: Build in-house"
  } else {
    return "Consider long-term costs and benefits"
  }
})

const buildVsBuyClass = computed(() => {
  if (buyAnnualCost.value < buildFirstYearCost.value) {
    return "text-green-600"
  } else if (buyAnnualCost.value > buildSubsequentYearsCost.value) {
    return "text-blue-600"
  } else {
    return "text-yellow-600"
  }
})

const formatCurrency = (value) => {
  // Round to the nearest integer
  const roundedValue = Math.round(value)
  // Format with commas for thousands separators
  return roundedValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
}

const fiveYearTCOData = computed(() => {
  let buyTotal = 0
  let buildTotal = buildFirstYearCost.value

  return Array.from({ length: 5 }, (_, i) => {
    const year = i + 1
    buyTotal += buyAnnualCost.value
    if (year > 1) {
      buildTotal += buildSubsequentYearsCost.value
    }

    return {
      year: `Year ${year}`,
      buy: Math.round(buyTotal),
      build: Math.round(buildTotal)
    }
  })
})

const chartData = computed(() => ({
  labels: fiveYearTCOData.value.map(item => item.year),
  datasets: [
    {
      label: 'Build',
      data: fiveYearTCOData.value.map(item => item.build),
      borderColor: 'rgb(239, 68, 68)', // Tailwind red-500
      backgroundColor: 'rgba(239, 68, 68, 0.2)',
      fill: true,
      tension: 0.4
    },
    {
      label: 'Buy',
      data: fiveYearTCOData.value.map(item => item.buy),
      borderColor: 'rgb(59, 130, 246)', // Tailwind blue-500
      backgroundColor: 'rgba(59, 130, 246, 0.2)',
      fill: true,
      tension: 0.4
    }
  ]
}))

const chartOptions = {
  responsive: true,
  maintainAspectRatio: false,
  scales: {
    y: {
      beginAtZero: true,
      ticks: {
        callback: function(value) {
          return '$' + value.toLocaleString();
        }
      }
    }
  },
  plugins: {
    tooltip: {
      callbacks: {
        label: function(context) {
          let label = context.dataset.label || '';
          if (label) {
            label += ': ';
          }
          if (context.parsed.y !== null) {
            label += '$' + context.parsed.y.toLocaleString();
          }
          return label;
        }
      }
    },
    filler: {
      propagate: false
    }
  },
  interaction: {
    intersect: false
  }
}
</script>