<template>
  <div class="relative isolate overflow-hidden bg-white py-24 sm:py-32">
    <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
    </svg>
    
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Rich Text to Markdown Converter</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Paste your rich text content (including from Word documents) and let our tool convert it into beautifully formatted Markdown.
        </p>
      </div>
      
      <div class="mx-auto mt-16 w-full max-w-3xl sm:mt-20">
        <div class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-4">
          <div class="bg-white p-4 rounded-lg shadow-sm">
            <div 
              ref="editor"
              contenteditable="true"
              class="mt-1 min-h-[200px] max-h-[400px] overflow-y-auto p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-0 focus:border-brand-blue transition-colors duration-200 w-full sm:text-sm"
              @paste="handlePaste"
              @input="updateContent"
            ></div>
            
            <button
              @click="convertToMarkdown"
              class="mt-4 w-full bg-brand-blue px-4 py-2 text-sm font-semibold rounded-md border border-transparent bg-brand-Blue text-white hover:bg-brand-Blue/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-Blue transition duration-150 ease-in-out flex items-center justify-center"
            >
              <Icon name="heroicons:document-text" class="mr-2 text-xl" /> Convert to Markdown
            </button>

            <div v-if="markdownText" class="mt-8">
              <h2 class="text-2xl font-bold text-gray-900 mb-4">Converted Markdown</h2>
              <div class="prose prose-brand-blue prose-lg max-w-none bg-gray-50 p-4 rounded-lg">
                <pre><code>{{ markdownText }}</code></pre>
              </div>
              <div class="mt-4 flex space-x-4">
                <button
                  @click="copyToClipboard"
                  class="flex-1 px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-Blue transition duration-150 ease-in-out flex items-center justify-center"
                >
                  <Icon name="heroicons:clipboard-document" class="mr-2 text-xl" /> Copy Markdown
                </button>
                <button
                  @click="downloadMarkdown"
                  class="flex-1 px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-Blue transition duration-150 ease-in-out flex items-center justify-center"
                >
                  <Icon name="heroicons:arrow-down-tray" class="mr-2 text-xl" /> Download Markdown
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import { useClipboard } from '@vueuse/core'
import TurndownService from 'turndown'

const editor = ref(null)
const richText = ref('')
const markdownText = ref('')

const { copy } = useClipboard()
const turndownService = new TurndownService({
  headingStyle: 'atx',
  codeBlockStyle: 'fenced'
})

// Customize Turndown for better Word document handling
turndownService.addRule('listItems', {
  filter: ['ul', 'ol'],
  replacement: function (content, node) {
    const listType = node.nodeName.toLowerCase() === 'ul' ? '*' : '1.'
    return content.replace(/^/gm, `${listType} `)
  }
})

onMounted(() => {
  if (editor.value) {
    editor.value.innerHTML = '<p>Paste your rich text content here. You can paste directly from Word or other rich text sources.</p>'
  }
})

function handlePaste(e) {
  e.preventDefault()
  const text = e.clipboardData.getData('text/html') || e.clipboardData.getData('text/plain')
  const selection = window.getSelection()
  if (selection.rangeCount) {
    selection.deleteFromDocument()
    const range = selection.getRangeAt(0)
    const fragment = range.createContextualFragment(text)
    range.insertNode(fragment)
  }
  updateContent()
}

function updateContent() {
  richText.value = editor.value.innerHTML
}

function convertToMarkdown() {
  markdownText.value = turndownService.turndown(richText.value)
}

function copyToClipboard() {
  copy(markdownText.value)
}

function downloadMarkdown() {
  const blob = new Blob([markdownText.value], { type: 'text/markdown' })
  const link = document.createElement('a')
  link.href = URL.createObjectURL(blob)
  link.download = 'converted_markdown.md'
  link.click()
  URL.revokeObjectURL(link.href)
}

useSeoMeta({
  title: 'Rich Text to Markdown Converter',
  description: 'Convert your rich text content into beautifully formatted Markdown with our easy-to-use online tool.',
})
</script>