<template>
  <div class="bg-white dark:bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <!-- Heading section with background and larger tags -->
      <div class="relative isolate overflow-hidden bg-white dark:bg-gray-900 px-6 py-24 sm:pt-32 pb-16 lg:px-8">
        <!-- "Unlimited" tag -->
        <div class="absolute top-12 left-12 bg-brand-blue text-white px-6 py-2 rounded-full transform -rotate-12 z-10 hidden sm:block text-2xl font-bold">
          Unlimited
        </div>
        <!-- "gpt-4o-mini" tag -->
        <div class="absolute bottom-12 right-12 bg-brand-blue text-white px-6 py-2 rounded-full transform rotate-12 z-10 hidden sm:block text-2xl font-bold">
          GPT-4o mini
        </div>
        <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(150%_150%_at_top_left,white,transparent)]" aria-hidden="true">
          <defs>
            <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
              <path d="M.5 200V.5H200" fill="none" />
            </pattern>
          </defs>
          <rect width="100%" height="100%" stroke-width="0" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
        </svg>
        <div class="mx-auto max-w-2xl text-center">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl">AI Tools</h1>
        </div>
      </div>

      <p class="text-xl leading-8 text-gray-600 dark:text-gray-300 max-w-3xl mx-auto text-center mb-24">Discover our powerful free AI tools designed to enhance your productivity, streamline your workflow, and unleash your creativity.</p>
      
      <!-- Featured Tool (AI Project Risk Analyzer) -->
      <div class="mt-16">
        <a 
          :href="featuredTool.link"
          class="block relative isolate overflow-hidden rounded-2xl bg-brand-blue dark:bg-brand-blue/80 shadow-xl transition-all duration-500 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-brand-blue/50"
        >
          <div class="flex flex-col md:flex-row">
            <div class="md:w-1/2 h-64 md:h-auto">
              <img :src="featuredTool.image" :alt="featuredTool.name" class="w-full h-full object-cover" />
            </div>
            <div class="md:w-1/2 p-8 flex flex-col justify-center">
              <h2 class="text-3xl font-bold text-white mb-4">{{ featuredTool.name }}</h2>
              <p class="text-lg text-white">{{ featuredTool.description }}</p>
            </div>
          </div>
          <div class="absolute inset-0 -z-10 bg-gradient-to-t from-brand-blue via-brand-blue/40 dark:from-brand-blue/80 dark:via-brand-blue/30" />
          <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-white/10" />
        </a>
      </div>

      <!-- Other Tools -->
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3 mt-16">
        <a 
          v-for="tool in otherTools" 
          :key="tool.name" 
          :href="tool.link"
          class="group relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 dark:bg-gray-800 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80 transition-all duration-500 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-gray-900/50 dark:hover:shadow-black/50"
        >
          <img :src="tool.image" :alt="tool.name" class="absolute inset-0 -z-10 h-full w-full object-cover" />
          <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40 dark:from-gray-800 dark:via-gray-800/40" />
          <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10 dark:ring-gray-100/10" />
          <h3 class="mt-3 text-2xl font-semibold leading-6 text-white mb-2">{{ tool.name }}</h3>
          <p class="text-sm leading-6 text-gray-300">{{ tool.description }}</p>
        </a>
      </div>
    </div>
    <CtaDark />
  </div>
</template>

<script setup>
useSeoMeta({
  title: 'Free AI Tools',
  description: 'Innovative free and unlimited AI tools from Blue — the project management system your team will love.',
})
const allTools = [
  {
    name: "AI Project Risk Analyzer",
    description: "Identify and assess potential risks in your projects using advanced AI algorithms.",
    image: "/resources/bolt-background.png",
    link: "/resources/tools/ai-project-risk-analysis"
  },
  {
    name: "AI Text Humanizer",
    description: "Transform AI-generated content into natural, human-like text.",
    image: "/resources/chat-background.png",
    link: "/resources/tools/ai-text-humanizer"
  },
  {
    name: "Writing Style GPT Creator",
    description: "Create a custom prompt that writes in your unique style for consistent content creation.",
    image: "/resources/pencil-background.png",
    link: "/resources/tools/ai-writing-analysis"
  },
  {
    name: "AI Email Drafter",
    description: "Streamline your email communication with AI-powered drafting and suggestions.",
    image: "/resources/email-background.png",
    link: "/resources/tools/ai-email-reply"
  }
];

const featuredTool = allTools[0]; // AI Project Risk Analyzer
const otherTools = allTools.slice(1); // All other tools
</script>

<style scoped>
/* Add any additional styles here if needed */
</style>