<template>
 <HeroRightLight 
  title="Make your agency run like clockwork."
    subtitle="Stay on top of all of your projects with a platform that's easy to use, flexible, and powerful."
    imageSrc="/product/board-it-tickets-dark.png"
    imageAlt="Automations dashboard screenshot"
  />
  <div class="mx-auto max-w-7xl">
    <div class="grid grid-cols-1 gap-y-12 gap-x-8 lg:grid-cols-2 lg:items-start">
      <div class="lg:pr-8">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl mb-8">We literally wrote the book on how to run an agency.</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          We're not just another VC-backed startup — we know what it takes to grow a successful agency. With over ten years of agency experience, Blue was designed specifically with agencies in mind.
        </p>
        <div class="mt-10 flex items-center gap-x-6">
          <a 
            href="/resources/agency-success-playbook" 
            target="_blank" 
            class="rounded-md bg-brand-blue px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 transition duration-300 ease-in-out hover:-translate-y-0.5 flex items-center"
          >
            <Icon name="heroicons:book-open-solid" class="w-5 h-5 mr-2" />
            Read eBook
          </a>                
        </div>
      </div>
      <div class="lg:pl-8 flex justify-center lg:justify-end">
        <div class="w-[90%] lg:w-full max-w-md">
          <div class="aspect-w-3 aspect-h-4 overflow-hidden rounded-lg shadow-2xl bg-gray-100 ring-1 ring-gray-900/10">
            <img src="/resources/agency-success-cover.png" alt="Agency Success Guide Book Cover" class="object-cover object-center w-full h-full" />
          </div>
        </div>
      </div>
    </div>
 </div>
    <LazyStatsCards
       card1Number="120+ Countries"
       card1Title="Global Reach"
       card1Description="Blue is used in every continent across the world."
       card2Number="15,000+ Organizations"
       card2Title="Mission Critical"
       card2Description="Thousands of organizations trust Blue for mission-critical work."
       card3Number="350,000+ Projects"
       card3Title="Flexible Processes"
       card3Description="Run sales, marketing, recruitment, operations — anything!"
     />
     <FeatureRight
    title="Get organized by turning everything into a process with Blue."
    description="Use Blue to make all process steps easy to understand so you can create repeatable, successful workflows. "
    :features="[
      {
        name: 'Easy to understand',
        description: 'Use your own terminology and process steps.',
        icon: 'heroicons:chart-bar-solid',
      },
      {
        name: 'Move faster',
        description: 'Get work done more quickly',
        icon: 'heroicons:bolt-solid',
      },
      {
        name: 'Customized Alerts',
        description: 'Decide exactly when and how to get notified.',
        icon: 'heroicons:bell-alert-solid',
      },
    ]"
    :image="{
      src: '/product/board-it-ticket-drag-drop.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <LogoGrid
      title="Powering the world's best project managers."
      subtitle="From startups → enterprise"
      :logos="[
        { url: '/clients/heineken.svg', alt: 'Heineken Logo' },
        { url: '/clients/deloitte.svg', alt: 'Deloitte Logo' },
        { url: '/clients/savethechildren.svg', alt: 'Save The Children Logo' },
        { url: '/clients/fedex.svg', alt: 'Fedex Logo' },
        { url: '/clients/ilo.png', alt: 'International Labour Organization Logo' }
      ]"
    /> 
  <FeatureCenter
    title="Nothing escapes your attention with Blue."
    description="Blue is your one source of truth—making work easier, faster, and better."
    :imageSrc="'/product/home-page-modern.png'"
    :imageAlt="'App screenshot'"
    :imageWidth="2432"
    :imageHeight="1442"
    :features="[
      {
        name: 'Track Projects',
        description: 'Easily capture project-related data with customizable forms.',
        icon: 'heroicons:funnel-solid',
      },
      {
        name: 'Route Work Item',
        description: 'Automatically assign work to the right team members based on input data.',
        icon: 'heroicons:arrow-up-right-20-solid',
      },
      {
        name: 'Analyze Projects',
        description: 'Analyze project trends and performance with custom reports.',
        icon: 'heroicons:chart-pie-solid',
      },
      {
        name: 'Organize Data',
        description: 'Utilize custom fields to keep project data organized and neat.',
        icon: 'heroicons:list-bullet-16-solid',
      },
      {
        name: 'Notify Project Team',
        description: 'Create custom email notifications for each step leveraging any of the data available.',
        icon: 'heroicons:envelope-solid',
      },
      {
        name: 'Control Access',
        description: 'Set detailed access levels to control who sees what.',
        icon: 'heroicons:lock-closed-solid',
      },
    ]"
  />  
  <Awards
        title="Award-Winning — for a reason."
        description="Blue is refreshingly simple, yet powerful under the hood. You can use it to manage all your client projects and internal processes."
      />
  <FeatureLeft
  title="Create intake forms to simplify new work requests from clients."
    description="Leverage custom fields to ensure you capture all the data you need with custom intake forms."
    :features="[
      {
        name: 'Powerful Options.',
        description: 'Drag-and-drop any form fields - text, dropdowns, file uploads, and more.',
        icon: 'heroicons:bolt-solid',
      },
      {
        name: 'Branded Experience with QR Codes.',
        description: 'Customize colors, logos, and styling to make forms your own and share them as QR codes.',      
        icon: 'heroicons:qr-code-solid',
      },
      {
        name: 'No Coding Required.',
        description: 'Our intuitive interface makes form building accessible to anyone.',
        icon: 'heroicons:code-bracket-square-solid',
      },
    ]"
    :image="{
      src: '/product/forms-hero.png', 
      alt: 'Forms Builder screenshot',
      width: '2432',
      height: '1442',
    }"
  /> 
  



  <FeatureRight
    title="Stays close to your customers by updating them automatically."
    description="Leverage email automations to create tailored emails based on any updates to your work."
    :features="[
            {
              name: 'Thank you emails.',
              description: 'Instantly send confirmation thank you emails when a customer submits a work request.',
              icon: 'heroicons:heart-solid',
            },
            {
              name: 'Internal notification emails.',
              description: 'Alert the right people at the right time depending on ticket status, workflow area, and more.',
              icon: 'heroicons:bell-alert-solid',
            },
            {
              name: 'Completion emails',
              description: 'Email your customers a confirmation once a work item has been completed.',
              icon: 'heroicons:check-circle-solid',
            },
          ]"
          
          
    :image="{
      src: '/product/email-automation-it-ticket.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <CtaDark />
  <FeatureRight
    title="Smart routing with automations."
    description="Stay in control and reduce routine administration work with advanced automations."
    :features="[
      {
        name: 'Work routing.',
        description: 'Route Work to the right person based on category, status, and more.',
        icon: 'heroicons:bell-slash-solid',
      },
      {
        name: 'AI categorization.',
        description: 'Let our advanced AI algorithms automatically categorize work items based on their content.',
        icon: 'heroicons:lifebuoy-solid',
      },
      {
        name: 'Automatic SOPs',
        description: 'Ensure it gets done the right way by automatically adding checklists to process steps based on predefined standards.',
        icon: 'heroicons:bell-snooze-solid',
      },
    ]"
    :image="{
      src: '/product/automations.png',
      alt: 'Automation engine screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <FeatureLeft
    title="Generate key insights with real-time dashboards and reports."
    description="Don't just handle service tickets, gain insights to get to the root cause and reduce total volumes."
    :features="[
        {
          name: 'Instant Overview.',
          description: 'View key metrics quickly. Data is summarized to sharpen focus and track progress.',
          icon: 'heroicons:viewfinder-circle-20-solid',
        },
        {
          name: 'Real-Time Updates.',
          description: 'Monitor changes as they occur. Always be informed with the latest data.',
          icon: 'heroicons:rocket-launch-solid',
        },
        {
          name: 'Visually Engaging.',
          description: 'Bold and clear design. Stat cards highlight critical numbers for quick assessment.',
          icon: 'heroicons:chart-bar-solid',
        },
      ]"
    :image="{
      src: '/product/bar-chart.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <CtaLight />
      
        
  <FaqAccordion :faqs="pageFaqs" />
</template>

<script setup>

const pageFaqs = [
  {
    question: "How does Blue help manage multiple client projects simultaneously?",
    answer: "Blue allows you to create separate projects for each client, with customizable workflows, fields, and permissions. This enables agencies to manage multiple clients efficiently while keeping data separate and secure."
  },
  {
    question: "Can we customize Blue to match our agency's specific workflow?",
    answer: "Absolutely! Blue offers highly flexible customization options. You can create custom fields, set up automated workflows, and design project templates that align perfectly with your agency's unique processes and methodologies."
  },
  {
    question: "How does Blue facilitate client collaboration and approval processes?",
    answer: "Blue provides client-specific user roles with customizable permissions. Clients can be given access to view progress, comment on work, and approve deliverables directly within the platform, streamlining communication and approvals."
  },
  {
    question: "Can Blue help with resource allocation across multiple projects?",
    answer: "Yes, Blue's Timeline and Gantt chart views provide a visual representation of all projects and tasks. This allows agencies to easily see team member workloads, identify potential bottlenecks, and optimally allocate resources across various client projects."
  },
  {
    question: "How does Blue support time tracking and billing for client work?",
    answer: "Blue can be set up with custom fields to track billable hours. These can be integrated with automation features to streamline the invoicing process. While Blue doesn't have built-in invoicing, it can be integrated with popular billing systems."
  },
  {
    question: "Can we create custom reports for different clients using Blue?",
    answer: "Absolutely! Blue's dashboard functionality allows you to create customized, real-time reports. You can set up different dashboards for each client, showcasing the specific metrics and KPIs that matter most to them."
  },
  {
    question: "How does Blue ensure the security and confidentiality of our clients' data?",
    answer: "Blue employs robust security measures, including data encryption and strict access controls. The platform's granular permission settings allow you to control exactly what each user can see and edit, ensuring client data remains confidential and secure."
  },
  {
    question: "Can Blue integrate with other tools commonly used by agencies?",
    answer: "Yes, Blue offers integrations with numerous third-party tools through Zapier and Pabbly Connect. It also provides a comprehensive API for custom integrations, allowing seamless connection with your existing tech stack."
  },
  {
    question: "How can Blue help streamline our client onboarding process?",
    answer: "Blue allows you to create reusable project templates and automated workflows. You can set up a standardized client onboarding template with pre-defined tasks, forms, and approval processes, ensuring consistency and efficiency in bringing new clients on board."
  },
  {
    question: "Does Blue support remote work for distributed agency teams?",
    answer: "Absolutely! As a cloud-based solution, Blue is accessible from anywhere with an internet connection. It offers mobile apps and a responsive web interface, supporting seamless collaboration for remote and distributed agency teams."
  }
]



useSeoMeta({
  title: 'Agency Project Management Software',
  description: 'Blue is the best project management software for your agency. ',
})
</script>