<template>
  <div class="relative isolate pt-14">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#00a0d2] to-[#00a0d2] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" />
      </div>
      <div class="py-24 sm:py-32 lg:pb-40">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-4xl text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl dark:text-white">Blue helps you create better content — more efficiently.</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-white">Forget about manual calendar updates, excel sheets, and endless emails. Blue helps you manage all your content, discussions, and and designs in one place.</p>
          </div>
          <div class="mt-16 flow-root sm:mt-24">
            <div class="-m-2 rounded-xl bg-gray-900/5 dark:bg-gray-800/5 p-2 ring-1 ring-inset ring-gray-900/10 dark:ring-white lg:-m-4 lg:rounded-2xl lg:p-4">
  <NuxtImg format="webp" src="/resources/pet-content-calendar.png" alt="App screenshot" width="2432" height="1442" class="rounded-md shadow-2xl ring-1 ring-gray-900/10 dark:ring-gray-800" />
</div>
          </div>
        </div>
      </div>
      <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#00a0d2] to-[#00a0d2] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" />
      </div>
    </div>
    <div class="bg-white py-12 sm:py-16">

    <!-- Integration details-->
  <div class="mx-auto max-w-md px-6 lg:max-w-lg lg:px-8">
    <p class="text-center text-2xl leading-8 text-gray-500">See your content deadlines directly in your favorite work calendar app such as Outlook, Google Calendar, or iCal.</p>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-3 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:gap-x-10 lg:mx-0 lg:max-w-none">
      <img loading="lazy" class="max-h-20 w-full object-contain" src="/integrations/outlook.svg" alt="Logo 1" width="200" height="60" />
      <img loading="lazy" class="max-h-20 w-full object-contain" src="/integrations/googlecalendar.svg" alt="Logo 2" width="200" height="60" />
      <img loading="lazy" class="max-h-20 w-full object-contain" src="/integrations/ical.svg" alt="Logo 3" width="200" height="60" />
    </div>
  </div>
</div>

<LazyFeatureCenter
      title="Create your own content process"
      description="Forget best practices — work your way."
      :imageSrc="'/resources/pet-kanban-board.png'"
      :imageAlt="'App screenshot'"
      :imageWidth="2432"
      :imageHeight="1442"
      :features="[
         {
            name: 'Not just calendars',
            description: 'Kanban, Database, Gantt Charts, Lists, and Maps.',
            icon: 'heroicons:view-columns-solid',
         },
         {
            name: 'Tailored to you',
            description: 'Pick from dozens of field types to match your data structure.',
            icon: 'heroicons:list-bullet-solid',
         },
         {
            name: 'Get rid of admin work',
            description: 'Streamline workflows with powerful if-this-then-that automations.',
            icon: 'heroicons:wrench-solid',
         },
         {
            name: 'Work from anywhere',
            description: 'Mac, Windows, iOS (iPhone & iPad), Android, and PWA.',
            icon: 'heroicons:computer-desktop-solid',
         },
         {
            name: 'Private & secure',
            description: 'Define granular access permissions for different team roles.',
            icon: 'heroicons:users-solid',
         },
         {
            name: 'Make informed decisions',
            description: 'Create real-time customizable dashboards, combining data across projects.',
            icon: 'heroicons:chart-pie-solid',
         },
      ]"
   />  
  <LogoGrid
      title="Powering content teams across the world."
      subtitle="From startups → enterprise"
      :logos="[
        { url: '/clients/heineken.svg', alt: 'Heineken Logo' },
        { url: '/clients/decathlon.svg', alt: 'Decathlon Logo' },
        { url: '/clients/savethechildren.svg', alt: 'Save The Children Logo' },
        { url: '/clients/fedex.svg', alt: 'Fedex Logo' },
        { url: '/clients/ilo.png', alt: 'International Labour Organization Logo' }
      ]"
    />
    <LazyCtaDark
  title="Manage your content calendar with ease."
  description="Blue helps you manage all your content across multiple channels in one place."
  buttonText="Try it Now"
  buttonLink="https://app.blue.cc"
  imageSrc="/resources/pet-content-calendar-cta.png"
  imageAlt="Content calendar screenshot"
/>
    <LazyFeatureRight
      subtitle=""
      title="Get full visibility"
      description="See everything in one place, and filter based on campaign, channel, and more."
      :features="[
         {
            name: 'Unified Content Planning',
            description: 'Manage all your content schedules in one place, ensuring every piece is on track and aligned with your strategy.',
            icon: 'heroicons:rocket-launch-solid',
         },
         {
            name: 'Real-time Dashboards',
            description: 'Create tailored dashboards to easily track content launches by channel, target audience, and other key metrics.',
            icon: 'heroicons:chart-pie-solid',
         },
         {
            name: 'AI-powered categorization',
            description: 'Use advanced AI to help you categorize your content with ease.',
            icon: 'heroicons:bolt-solid',
         },
      ]"
      :image="{
         src: '/resources/pet-content-calendar.png',
         alt: 'Product screenshot',
         width: '2432',
         height: '1442',
      }"
   />
   <LazyFeatureLeft
         subtitle=""
         title="Automate your content process"
         description="Stop spending crazy money on venture-funded platforms. Blue gives you the same feature set for 20% of the cost."
         :features="[
            {
               name: 'Route work',
               description: 'Give the right work to the right people — automatically.',
               icon: 'heroicons:arrow-right-circle-solid',
            },
            {
               name: 'Automatically notify stakeholders',
               description: 'Notify stakeholders automatically when reviews are due.',
               icon: 'heroicons:bell-alert-solid',
            },
            {
               name: 'Generate SOP Checklists',
               description: 'Automatically creates checklists based on campaign, work type, and more.',
               icon: 'heroicons:check-circle-solid',
            },
         ]"
         :image="{
            src: '/product/automations.png',
            alt: 'Product screenshot',
            width: '2432',
            height: '1442',
         }"
   />

<LazyFeatureRight
      subtitle=""
      title="Efficient Asset and Creative Management"
      description="Organize, share, and secure your media assets with ease."
      :features="[
         {
            name: 'Color-coded Folder Structures',
            description: 'Utilize color-coded folders to keep your assets organized and easily identifiable.',
            icon: 'heroicons:folder-solid',
         },
         {
            name: 'Public Link Sharing',
            description: 'Share your media assets effortlessly with public links, ensuring quick and easy access.',
            icon: 'heroicons:link-solid',
         },
         {
            name: 'Unlimited Storage',
            description: 'Enjoy unlimited storage for all your media assets, ensuring you never run out of space.',
            icon: 'heroicons:shield-check-solid',
         },
      ]"
      :image="{
         src: '/product/files-hero.png',
         alt: 'Asset management screenshot',
         width: '2432',
         height: '1442',
      }"
   />
        
   <LazyCtaDark
  title="Manage your content calendar with ease."
  description="Blue helps you manage all your content across multiple channels in one place."
  buttonText="Try it Now"
  buttonLink="https://app.blue.cc"
  imageSrc="/resources/pet-content-calendar-cta.png"
  imageAlt="Content calendar screenshot"
/>
  <FaqAccordion :faqs="pageFaqs" />
</template>

<script lang="ts" setup>
const pageFaqs = [
  {
    question: "What is a content calendar?",
    answer: "A content calendar is a tool used to plan, schedule, and organize content across different channels and campaigns."
  },
  {
    question: "How does Blue's content calendar improve productivity?",
    answer: "Blue's content calendar centralizes all content schedules, reducing the need for manual updates and streamlining collaboration."
  },
  {
    question: "Can I integrate Blue's content calendar with other apps?",
    answer: "Yes, Blue integrates with popular apps like Outlook, Google Calendar, and iCal. It also supports 5,000+ app integrations via Pabbly and Zapier, and offers 100% API coverage and Webhooks."
  },
  {
    question: "How does the content calendar help with team collaboration?",
    answer: "It provides real-time updates and shared access, allowing teams to coordinate effectively and stay aligned on content schedules."
  },
  {
    question: "What types of views are available in Blue's content calendar?",
    answer: "You can view your content calendar in various formats, including Kanban, Gantt charts, lists, and more."
  },
  {
    question: "Is Blue's content calendar customizable?",
    answer: "Yes, you can tailor the calendar to your needs with custom fields, filters, and dashboards."
  },
  {
    question: "How secure is the data in Blue's content calendar?",
    answer: "Blue ensures data security with granular access permissions and robust encryption measures."
  },
  {
    question: "Can Blue's content calendar handle multiple projects?",
    answer: "Absolutely, it is designed to manage multiple projects and campaigns simultaneously with ease."
  },
  {
    question: "What platforms support Blue's content calendar?",
    answer: "Blue's content calendar is accessible on Mac, Windows, iOS, Android, and as a Progressive Web App (PWA)."
  },
  {
    question: "How does Blue's content calendar help in making informed decisions?",
    answer: "It offers real-time, customizable dashboards that combine data across projects, aiding in strategic decision-making."
  }
];


useSeoMeta({
  title: 'Content Calendars',
  description: 'Content calendars are a powerful and efficient way to manage and track project timelines. Streamline your project management, set reminders, and stay organized effortlessly.',
})
</script>
