<template>
  <div>
    <HeroSolutions />
    <LogoGrid
        title="Powering the world's best project managers."
        subtitle="From startups → enterprise"
        :logos="[
          { url: '/clients/heineken.svg', alt: 'Heineken Logo' },
          { url: '/clients/deloitte.svg', alt: 'Deloitte Logo' },
          { url: '/clients/savethechildren.svg', alt: 'Save The Children Logo' },
          { url: '/clients/fedex.svg', alt: 'Fedex Logo' },
          { url: '/clients/ilo.png', alt: 'International Labour Organization Logo' }
        ]"
      />
    <FeatureRight
          subtitle="Process Enablement"
          title="Get organised. Track everything."
          description="Go from all over the place, to one place. Add your processes to Blue and gain instant visibility into who's doing what."
          :image="{
            src: '/product/product-development.png',
            alt: 'Product screenshot',
          }"
        />
    <FeatureLeft
    subtitle="Sales"
    title="Award-winning sales platform"
    description="Blue was ranked in the top ten CRMs by the International Business Times — and for good reasons too. Easily keep track of deals and stay organized."
    :image="{
      src: '/product/simple-screenshot-home.png',
      alt: 'Product screenshot',
    }"
    />
    <FeatureRight
          subtitle="Project Management"
          title="On time. On budget."
          description="Organizations that use Blue report 84% improvements in project success. Not surprising, given that they can finally see everything that needs to be done, all in one place."
          :image="{
            src: '/product/project-management.png',
            alt: 'Product screenshot',
          }"
        />
    <CtaDark />
    <FeatureLeft
    subtitle="Recruitment"
    title="Get the right ones in."
    description="Use Blue to automatically track every stage of your hiring process, and to build a database of candidates for the future."
    :image="{
      src: '/product/recruitment.png',
      alt: 'Product screenshot',
    }"
    />
    <FeatureRight
          subtitle="Marketing"
          title="Go from idea to reality in record time."
          description="Track your marketing initiatives across channels, campaigns, and more. Sync your marketing calendar to your personal calendar to stay on top of everything."
          :image="{
            src: '/product/simple-screenshot-home.png',
            alt: 'Product screenshot',
          }"
        />
    <CtaLight />
    
  </div>
</template>

<script lang="ts" setup>
useSeoMeta({
  title: 'Solutions',
  description: 'Blue is versatile enough to power any process. Our first principles approach to digital transformation gives you all the tools you need to work — your way. ',
})
</script>