<template>
  <div>
  <HeroCenterLight
        title="Blue is the best project management software for Non-Profits."
        subtitle="Non-profits face distinct challenges, from tight budgets and reliance on volunteers to needing accountability and efficiency. They need a simple, cost-effective project management solution that lets them focus on their mission without complexity."
        :image="{ src: '/product/grant-management.png', alt: 'Grant Management Platform' }"
      />
    <LogoGrid
        title="Helping those who help the world"
        subtitle="From NGO → IGO"
        :logos="[
          { url: '/clients/wfp.svg', alt: 'World Food Programme Logo' },
          { url: '/clients/careimpact.png', alt: 'Care Impact Logo' },
          { url: '/clients/savethechildren.svg', alt: 'Save The Children Logo' },
          { url: '/clients/action.png', alt: 'Action Logo' },
          { url: '/clients/ilo.png', alt: 'International Labour Organization Logo' }
        ]"
      />
    <TitleParagraph
        title="3 Reasons why thousands of Non-Profits choose Blue as their best project management software. "
        description="Over the years, we've spoken to thousands of Non-Profits and heard real-life stories of how Blue makes work easier, faster, and better."
        />
    <div class="isolate overflow-hidden bg-brand-blue">
      <div class="mx-auto max-w-7xl px-6 pb-96 pt-24 text-center sm:pt-32 lg:px-8">
        <div class="mx-auto max-w-4xl">
          <h2 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-5xl">Reason 1</h2>
        </div>
        <div class="relative mt-6">
        <p class="mx-auto max-w-2xl text-lg leading-8 text-white">50% discount on list prices.</p>
          <svg viewBox="0 0 1208 1024" class="absolute -top-10 left-1/2 -z-10 h-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:-top-12 md:-top-20 lg:-top-12 xl:top-0">
            <ellipse cx="604" cy="512" fill="url(#6d1bd035-0dd1-437e-93fa-59d316231eb0)" rx="604" ry="512" />
            <defs>
              <radialGradient id="6d1bd035-0dd1-437e-93fa-59d316231eb0">
                <stop stop-color="#ffffff" />
                <stop offset="1" stop-color="#00a0d2" />
              </radialGradient>
            </defs>
          </svg>
        </div>
      </div>
      <div class="flow-root bg-white pb-24 sm:pb-32">
        <div class="-mt-80">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto grid max-w-md grid-cols-1 gap-8 lg:max-w-4xl lg:grid-cols-2">
              <div class="flex flex-col justify-between rounded-xl bg-white p-8 shadow-xl ring-1 ring-gray-900/10 sm:p-10">
                <div>
                  <h3 id="tier-hobby" class="text-xl font-semibold leading-7 text-brand-blue">Monthly</h3>
                  <div class="mt-4 flex items-baseline gap-x-2">
                    <span class="text-5xl font-bold tracking-tight text-gray-900">$3.5</span>
                    <span class="text-base font-semibold leading-7 text-gray-600">/user</span>
                  </div>
                  <ul role="list" class="mt-10 space-y-4 text leading-6 text-gray-600">
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      Unlimited Users
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      FREE for clients & vendors
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      All Features
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      Unlimited Automations
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      Unlimited Storage
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      FREE Custom Domain
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      Mobile Apps
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      Desktop App
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      Basic Support (Email)
                    </li>
                    <li class="flex gap-x-3 text-gray-400">
                      <XMarkIcon class="h-6 w-5 flex-none" aria-hidden="true" />
                      Assisted Onboarding
                    </li>
                    <li class="flex gap-x-3 text-gray-400">
                      <XMarkIcon class="h-6 w-5 flex-none" aria-hidden="true" />
                      Premium Support (Chat & Phone)
                    </li>
                  </ul>
                </div>
                <a href="https://app.blue.cc" aria-describedby="tier-hobby" class="mt-8 block rounded-md bg-brand-blue px-3.5 py-2 text-center text font-semibold leading-6 text-white shadow-sm hover:bg-brand-blue focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-blue transition duration-300 ease-in-out hover:-translate-y-1">Start 7-day Free Trial Now <span aria-hidden="true">&rarr;</span></a>
                <p class="mt-2 text-sm text-center text-gray-500">No credit card required</p>
              </div>
              <div class="flex flex-col justify-between rounded-xl bg-white p-8 shadow-xl ring-1 ring-gray-900/10 sm:p-10">
                <div>
                  <h3 id="tier-team" class="text-xl font-semibold leading-7 text-brand-blue">Yearly</h3>
                  <div class="mt-4 flex items-baseline gap-x-2">
                    <span class="text-5xl font-bold tracking-tight text-gray-900">$35</span>
                    <span class="text-base font-semibold leading-7 text-gray-600">/user</span>
                  </div>
                  <ul role="list" class="mt-10 space-y-4 text leading-6 text-gray-600">
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      Unlimited Users
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      FREE for clients & vendors
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      All Features
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      Unlimited Automations
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      Unlimited Storage
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      FREE Custom Domain
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      Mobile Apps
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      Desktop App
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      Basic Support (Email)
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      Assisted Onboarding
                    </li>
                    <li class="flex gap-x-3">
                      <CheckIcon class="h-6 w-5 flex-none text-brand-blue" aria-hidden="true" />
                      Premium Support (Chat & Phone)
                    </li>
                  </ul>
                </div>
                <a href="https://app.blue.cc" aria-describedby="tier-team" class="mt-8 block rounded-md bg-brand-blue px-3.5 py-2 text-center text font-semibold leading-6 text-white shadow-sm hover:bg-brand-blue focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-blue transition duration-300 ease-in-out hover:-translate-y-1">Start 7-day Free Trial Now <span aria-hidden="true">&rarr;</span></a>
                <p class="mt-2 text-sm text-center text-gray-500">No credit card required</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <FeatureRight
          subtitle="Reason 2"
          title="Blue is simple to use"
          description="Blue is designed to be an easy to use project management system for Non-Profits."
          :features="[
            {
              name: 'Faster onboarding.',
              description: 'Get your team up and running in hours, not weeks or months.',
              icon: 'heroicons:rocket-launch-solid',
            },
            {
              name: 'Less training.',
              description: 'Spend less time training and more time doing the work that counts.',
              icon: 'heroicons:academic-cap-solid',
            },
            {
              name: 'Higher adoption.',
              description: 'The right platform is half the battle. The other half is getting teams to use it.',
              icon: 'heroicons:chart-bar-solid',
            },
          ]"
          
          :image="{
            src: '/product/grant-application-database.png',
            alt: 'Product screenshot',
            width: '2432',
            height: '1442',
          }"
        />
    <FeatureLeft
    subtitle="Reason 3"
    title="Blue is flexible"
    description="Your project management platform should adapt to your Non-Profit work processes, not the other way around. Forget best practices — you're free to work the way that works for you."
    :features="[
                {
                  name: 'Stay compliant.',
                  description: 'Stay compliant with your project management process requirements.',
                  icon: 'heroicons:shield-check-solid',
                },
                {
                  name: 'Start in a snap.',
                  description: 'Get started in minutes, without any complex reengineering of how you work.',
                  icon: 'heroicons:clock-solid',
                },
                {
                  name: 'Land and expand.',
                  description: 'Start with one small use case and watch your teams grow from there.',
                  icon: 'heroicons:arrow-up-solid',
                },
              ]"
              
    :image="{
      src: '/product/simple-screenshot-home.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
    />
    <FeatureList
      title="Your life's mission powered by our life's mission."
      subtitle="Non-Profit Use Cases."
      description="Maximize your Non-Profit's potential with Blue's comprehensive project management tools—ideal for grants, events, volunteers, and donations. Simplify operations, engage more effectively, and drive mission success."
      :features="[
        {
          name: 'Grant Application Process',
          description: 'Streamline your grant application with Blue, ensuring every deadline is met and all documents are meticulously managed, paving the way for more successful funding opportunities.',
          icon: 'heroicons:device-phone-mobile-solid'
        },
        {
          name: 'Project and Program Management',
          description: 'Empower your Non-Profit to deliver projects and programs on time and within budget with Blue, ensuring your mission\'s success through efficient task and resource management.',
          icon: 'heroicons:moon-solid'
        },
        {
          name: 'Volunteer Management',
          description: 'Optimize volunteer involvement with Blue\'s robust scheduling and communication tools, maximizing the contribution of every individual to your Non-Profit\'s mission.',
          icon: 'heroicons:document-text-solid'
        },
        {
          name: 'Event Planning and Management',
          description: 'Leverage Blue to effortlessly plan and execute impactful Non-Profit events, from volunteer coordination to vendor management, enhancing community engagement and fundraising efforts.',
          icon: 'heroicons:archive-box-solid'
        }
      ]"
    />
    
  <FaqAccordion :faqs="pageFaqs" />
  </div>
</template>

<script lang="ts" setup>

const pageFaqs = [
  {
    question: "How can non-profits benefit from project management software?",
    answer: "Non-profits can benefit from project management software in several significant ways. Firstly, it introduces increased efficiency by automating tasks and consolidating data, reducing the time spent on manual processes. This is especially critical considering a third of leaders often spend extensive time compiling data manually. Project management tools solve this by offering real-time access to KPIs and automating follow-ups and deadlines. Secondly, improved productivity is a major benefit, as all tasks and resources are tracked within a single system. Everyone knows their responsibilities and where to find what they need, which streamlines operations and helps staff achieve more in less time. Another key advantage is the potential for reduced costs. As efficiency and productivity increase, it often leads to reduced overhead, allowing non-profits to allocate more funds and resources to their mission and beneficiaries. Moreover, better organizational outcomes can be achieved through more effective resource utilization. This means that donations and contributions are used more effectively, and staff can engage more in mission-centric work, ultimately helping more people and enhancing the organization's impact. Lastly, non-profits can benefit from the centralization of information, which aids in maintaining consistency across yearly recurring events and projects. This ensures that successful processes and formats are retained, improving planning for future initiatives. In essence, project management software empowers non-profit organizations to operate more like well-oiled machines, directing more focus and resources toward their core mission and less on the administrative overhead."
  },
  {
    question: "Does Blue's project management software offer a free trial for non-profits?",
    answer: "Yes there is! Non-profits can use Blue free for 7 days without any limitations. After the 7 days are up, you'll need to add a valid credit/debit card and start paying to continue using Blue."
  },
  {
    question: "What payment methods do you support?",
    answer: "We take payments exclusively via debit/credit card. All billing is handled by Stripe, our payment processing partner. We never directly handle your sensitive payment data."
  },
  {
    question: "What is your refund policy?",
    answer: "We offer a 30-day refund policy for the first payment. Simply email us at help@blue.cc and we'll issue you a refund."
  },
  {
    question: "Who owns the data uploaded to Blue?",
    answer: "The account owner retains full ownership of all data associated with their account. At Blue, we respect your privacy and do not claim any ownership over the data you add."
  },
  {
    question: "Where is Blue based?",
    answer: "We're registered in Delaware, USA as 'Bloo, Inc.' and we have team members distributed around the world."
  },
  {
    question: "How does Blue help non-profits with grant management?",
    answer: "Blue enhances the grant management process for non-profits in several key ways, offering a cohesive platform that simplifies the complexity of grant-related projects. Grants are inherently deadline-driven, with strict submission dates and performance reporting intervals. Blue allows non-profits to meticulously track these deadlines through its project management features. Non-profit teams can set up a project timeline for each grant application or grant-funded project, outlining key dates for the completion of application components, submission deadlines, and report due dates. To ensure these deadlines are visible and top of mind, Blue integrates with widely-used calendar applications such as Google Calendar and Outlook. By synchronizing with these platforms, Blue ensures that grant-related deadlines are in sync with the non-profit's broader schedule of activities, providing reminders and updates directly through the tools the team already uses. This integration helps to centralize scheduling and prevents important dates from being overlooked. Blue also offers customizable dashboards that give a visual overview of grant management progress. These dashboards can display important metrics and KPIs related to grant activities, including funds utilized, tasks completed, and milestones reached. By using these dashboards, non-profits can quickly gauge the status of grant-related efforts, which is invaluable for internal management and reporting to grantors. Another critical feature is Blue's ability to set up automations and reminders. Non-profits can automate routine grant management tasks such as follow-ups on pending items or sending out updates to team members. Reminders ensure that no critical task is forgotten, aiding compliance with grant terms and conditions that often require timely action and documentation."
  }
]


useSeoMeta({
  title: 'Best Project Management Software for Non-Profits',
  description: 'Discover the best project management solution for non-profits. Affordable, simple, and powerful, our software adapts to your needs as a non-profit.',
})
</script>