<template>
  <HeroRightLight 
  title="Simple, powerful, and flexible."
    subtitle="Blue is the project management platform you've been looking for. Finally get a handle on all your projects and stop wondering what's the latest project status. "
    imageSrc="/product/board-it-tickets-dark.png"
    imageAlt="Automations dashboard screenshot"
  />
  <LogoGrid
      title="Powering the world's best project managers."
      subtitle="From startups → enterprise"
      :logos="[
        { url: '/clients/heineken.svg', alt: 'Heineken Logo' },
        { url: '/clients/deloitte.svg', alt: 'Deloitte Logo' },
        { url: '/clients/savethechildren.svg', alt: 'Save The Children Logo' },
        { url: '/clients/fedex.svg', alt: 'Fedex Logo' },
        { url: '/clients/ilo.png', alt: 'International Labour Organization Logo' }
      ]"
    />
    <FeatureCenter
      title="The modern way to manage projects."
      description="Blue is your one source of truth—making work easier, faster, and better."
      :imageSrc="'/product/home-page-modern.png'"
      :imageAlt="'App screenshot'"
      :imageWidth="2432"
      :imageHeight="1442"
      :features="[
         {
            name: 'View work your way',
            description: 'Kanban, Database, Calendar, Gantt Charts, Lists, and Maps.',
            icon: 'heroicons:view-columns-solid',
         },
         {
            name: 'Tailored to you',
            description: 'Pick from dozens of field types to match your data structure.',
            icon: 'heroicons:list-bullet-solid',
         },
         {
            name: 'Get rid of admin work',
            description: 'Streamline workflows with powerful if-this-then-that automations.',
            icon: 'heroicons:wrench-solid',
         },
         {
            name: 'Work from anywhere',
            description: 'Mac, Windows, iOS (iPhone & iPad), Android, and PWA.',
            icon: 'heroicons:computer-desktop-solid',
         },
         {
            name: 'Private & secure',
            description: 'Define granular access permissions for different team roles.',
            icon: 'heroicons:users-solid',
         },
         {
            name: 'Make informed decisions',
            description: 'Create real-time customizable dashboards, combining data across projects.',
            icon: 'heroicons:chart-pie-solid',
         },
      ]"
   />  
   <CtaDark />
  <TitleParagraph
      title="350,000+ projects in Blue."
      description="Blue is your one source of truth—making work easier, faster, and better."
      />
  <TestimonialOverlap
    name="Gabriele Faja"
    title="CEO of Soundskool"
    testimonial="With Blue, we've streamlined our project management process—projects move faster, communication is easier, and we can keep a closer eye on progress. The ability to automate tasks has also allowed us to focus on high-level strategy rather than getting bogged down in tedious administrative tasks. Overall, Blue has been a game-changer for our team."
    picture="/customer-photos/gabi.png"
  />
  <FeatureRight
      title="Keep everything organized and private with Workspaces."
      description="Every workspace contains all the tools you need to move work forwards and get things done."
      :features="[
        {
          name: 'Unlimited.',
          description: 'You can create as many workspaces as you need, without any limits.',
          icon: 'heroicons:rocket-launch-solid',
        },
        {
          name: 'Private.',
          description: 'Granular permissions ensure each person sees what they should.',
          icon: 'heroicons:eye-slash-solid',
        },
        {
          name: 'Organized.',
          description: 'One place for all your work. No more searching for lost items.',
          icon: 'heroicons:cube-solid',
        },
      ]"
      :image="{
        src: '/product/simple-screenshot-home.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
    />
    <FeatureLeft
      title="Effortlessly manage and utilize your data with Records."
      description="Use records to track anything. From a literal list of things to get done, all way to tracking inventory, invoices, and documents."
      :features="[
        {
          name: 'Flexible.',
          description: 'Use records to track any type of data structure.',
          icon: 'heroicons:chevron-up-down-solid',
        },
        {
          name: 'Auditable.',
          description: 'All records have a full audit trail of changes — who, what, where, and when.',
          icon: 'heroicons:viewfinder-circle-solid',
        },
        {
          name: 'Scalable.',
          description: 'Add up to 100,000 records per list.',
          icon: 'heroicons:chart-bar-solid',
        },
      ]"
      :image="{
        src: '/product/home-page-modern.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
    />
  <FeatureCenter
    title="Capture exactly the data that you need."
    description="Use custom fields to manage structured data at scale.  "
    :imageSrc="'product/custom-fields-hero.png'"
    :imageAlt="'App screenshot'"
    :imageWidth="2432"
    :imageHeight="1442"
    :features="[
      {
        name: 'Single Line Text.',
        description: 'A free text field to add any data you need.',
        icon: 'heroicons:document-text-solid',
      },
      {
        name: 'URL.',
        description: 'Add any URL you need and open it in a new tab in one click.',
        icon: 'heroicons:link-solid',
      },
      {
        name: 'Currency.',
        description: 'Choose from dozens of currencies to track your money.',
        icon: 'heroicons:currency-dollar-solid',
      },
      {
        name: 'File.',
        description: 'Add multiple files to have a more structured data set.',
        icon: 'heroicons:paper-clip-solid',
      },
      {
        name: 'Country.',
        description: 'Get a list of countries that you can select.',
        icon: 'heroicons:globe-alt-solid',
      },
      {
        name: 'Date.',
        description: 'Pick any start and end date. Add time and show it on a calendar.',
        icon: 'heroicons:calendar-solid',
      },
      {
        name: 'Single & Multi Select.',
        description: 'Create a list and select any items for each record.',
        icon: 'heroicons:queue-list-solid',
      },
      {
        name: 'Unique ID.',
        description: 'Create a unique ID that you can use to reference records.',
        icon: 'heroicons:finger-print-solid',
      },
      {
        name: 'Long Text.',
        description: 'A large space to add multi-line text descriptions.',
        icon: 'heroicons:document-text-solid',
      },
      {
        name: 'Phone Number.',
        description: 'Automatically formatted phone numbers and one-click calls.',
        icon: 'heroicons:phone-solid',
      },
      {
        name: 'Email.',
        description: 'Add structured emails into our dedicated email field.',
        icon: 'heroicons:envelope-solid',
      },
      {
        name: 'Checkbox.',
        description: 'Add a checkbox that you can use for approvals.',
        icon: 'heroicons:check-circle-solid',
      },
      {
        name: 'Numbers.',
        description: 'Add numbers with min and max values.',
        icon: 'heroicons:calculator-solid',
      },
      {
        name: 'Percentage.',
        description: 'Add a percentage indicator to any record in Blue.',
        icon: 'heroicons:chart-pie-solid',
      },
      {
        name: 'Reference.',
        description: 'Reference records from other projects.',
        icon: 'heroicons:arrow-path-16-solid',
      },
      {
        name: 'Lookup.',
        description: 'Lookup data from other records in reference fields.',
        icon: 'heroicons:magnifying-glass-circle-solid',
      },
      {
        name: 'Duration.',
        description: 'Calculate the duration of time between events.',
        icon: 'heroicons:clock-solid',
      },
      {
        name: 'Geolocation.',
        description: 'Add location data that will then show up on the map view.',
        icon: 'heroicons:map-pin-solid',
      },
    ]"
  />
  <Awards
  title="Award-Winning Project Management Software."
  description="Blue has been recognized for excellence and is trusted by leading organizations worldwide."
/>

<FeatureLeft
  title="Create custom forms for your projects."
  description="Capture all the data you need with customizable project forms."
  :features="[
    {
      name: 'Powerful Options',
      description: 'Drag-and-drop form fields - text, dropdowns, file uploads, and more.',
      icon: 'heroicons:bolt-solid',
    },
    {
      name: 'Branded Experience',
      description: 'Customize colors, logos, and styling, and share forms as QR codes.',
      icon: 'heroicons:qr-code-solid',
    },
    {
      name: 'No Coding Required',
      description: 'Our intuitive interface makes form building accessible to anyone.',
      icon: 'heroicons:code-bracket-square-solid',
    },
  ]"
  :image="{
    src: '/product/forms-hero.png', 
    alt: 'Forms Builder screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureRight
  title="Send custom email notifications."
  description="Leverage email automations to keep everyone informed about project updates."
  :features="[
    {
      name: 'Thank You Emails',
      description: 'Automatically send confirmation emails when forms are submitted.',
      icon: 'heroicons:heart-solid',
    },
    {
      name: 'Internal Notifications',
      description: 'Alert the right people at the right time based on project status and updates.',
      icon: 'heroicons:bell-alert-solid',
    },
    {
      name: 'Completion Emails',
      description: 'Notify team members once a task or milestone is completed.',
      icon: 'heroicons:check-circle-solid',
    },
  ]"
  :image="{
    src: '/product/email-automation-it-ticket.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
  <CtaDark />
  <FeatureRight
    title="Streamline project management with automations."
    description="Automate repetitive tasks and ensure projects are always on track with advanced automations."
    :features="[
      {
        name: 'Task assignment.',
        description: 'Automatically assign tasks to team members based on project stage, category, and more.',
        icon: 'heroicons:bell-slash-solid',
      },
      {
        name: 'Project stage tracking.',
        description: 'Let our advanced AI algorithms automatically advance projects through stages based on task completions.',
        icon: 'heroicons:lifebuoy-solid',
      },
      {
        name: 'Checklist automation.',
        description: 'Ensure projects follow established standards by automatically adding checklists based on predefined project stages.',
        icon: 'heroicons:bell-snooze-solid',
      },
    ]"
    :image="{
      src: '/product/automations.png',
      alt: 'Automation engine screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <FeatureLeft
    title="Gain insights to drive project success."
    description="Track key metrics to stay on track and measure project performance with real-time dashboards and reports."
    :features="[
        {
          name: 'Instant Insights.',
          description: 'View key metrics quickly to stay focused.',
          icon: 'heroicons:viewfinder-circle-20-solid',
        },
        {
          name: 'Real-Time Updates.',
          description: 'Monitor changes instantly to always be up to date. ',
          icon: 'heroicons:rocket-launch-solid',
        },
        {
          name: 'Clear Design.',
          description: 'Bold and clear design ensures a smooth user experience.',
          icon: 'heroicons:chart-bar-solid',
        },
      ]"
    :image="{
      src: '/product/project-management-full-interface.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <CtaLight />
      
        
  <FaqAccordion :faqs="pageFaqs" />
</template>

<script lang="ts" setup>

const pageFaqs = [
  {
    question: "How many projects can Blue handle?",
    answer: "Blue is designed to scale to the toughest of workloads. Each project can handle extensive data and multiple users, ensuring smooth management regardless of project size."
  },
  {
    question: "Can I track the duration of project tasks?",
    answer: "Yes — we have dedicated custom fields designed to calculate the time taken between actions. This helps in tracking project timelines and meeting deadlines."
  },
  {
    question: "Is it possible to customize the project forms?",
    answer: "Absolutely! Blue allows you to customize project forms with various field types to ensure you capture all necessary data specific to your project needs."
  },
  {
    question: "Can Blue integrate with other project management tools we use?",
    answer: "Yes, Blue supports integrations with various third-party tools to ensure seamless workflow across different platforms, making project management more efficient."
  },
  {
    question: "How does Blue ensure data security in projects?",
    answer: "Blue employs advanced security measures, including data encryption, regular security audits, and strict access controls to ensure your project data is protected."
  },
  {
    question: "Can I generate custom project reports in Blue?",
    answer: "Yes, Blue provides robust reporting tools that allow you to create custom reports tailored to your specific project management needs."
  },
  {
    question: "Does Blue offer mobile support for project management?",
    answer: "Yes, Blue is fully responsive and offers mobile support, so you can manage projects on the go from any device, ensuring flexibility and accessibility."
  },
  {
    question: "What kind of customer support does Blue provide for project management?",
    answer: "Blue offers customer support through various channels, including email, live chat, and phone, to assist you with any project management issues or questions."
  },
  {
    question: "How easy is it to set up Blue for project management?",
    answer: "Setting up Blue is straightforward with our intuitive interface and comprehensive onboarding resources. Most organizations can get up and running quickly and start managing projects efficiently."
  }
]

useSeoMeta({
  title: 'Online Project Managemnet Software.',
  description: 'Blue is a better way to manage projects. Simple, powerful, and flexible — it\'s the platform your team will love to use each day of the week.',
})
</script>