<template>
  <HeroRightLight 
    title="The best project management software for Real Estate."
    subtitle="Streamline property management, improve team collaboration, and accelerate project completion with our all-in-one real estate project management tool."
    imageSrc="/product/real-estate-process.png"
    imageAlt="Automations dashboard screenshot"
  />
  <div class="bg-white dark:bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <div>
          <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl">What is Real Estate Project Management?</h2>
          <p class="mt-6 text-base leading-7 text-gray-600 dark:text-gray-300">It's the art of completing projects on time and within budget. It involves negotiation, planning, selling, and management. Blue's software helps you manage it all in one place.</p>
        </div>
        
        <dl class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-gray-600 dark:text-gray-300 sm:grid-cols-2 lg:gap-y-16">
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900 dark:text-gray-100">
              <Icon name="heroicons:document-text-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue" aria-hidden="true" />
              Project Planning
            </dt>
            <dd class="mt-2">
              Create plans that outline scope, timelines, budget, and resources.
            </dd>
          </div>
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900 dark:text-gray-100">
              <Icon name="heroicons:academic-cap-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue" aria-hidden="true" />
              Resource Management
            </dt>
            <dd class="mt-2">
              Efficiently allocate and manage resources, including personnel and materials.
            </dd>
          </div>
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900 dark:text-gray-100">
              <Icon name="heroicons:chat-bubble-left-right-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue" aria-hidden="true" />
              Stakeholder Communication
            </dt>
            <dd class="mt-2">
              Keep clear and consistent communication with clients, contractors, and team members.
            </dd>
          </div>
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900 dark:text-gray-100">
              <Icon name="heroicons:lock-closed-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue" aria-hidden="true" />
              Risk Management
            </dt>
            <dd class="mt-2">
              Identify and mitigate potential risks early to minimize impact.
            </dd>
          </div>
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900 dark:text-gray-100">
              <Icon name="heroicons:clipboard-document-list-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue" aria-hidden="true" />
              Task Coordination
            </dt>
            <dd class="mt-2">
              Ensure all tasks are synchronized and deadlines are met.
            </dd>
          </div>
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900 dark:text-gray-100">
              <Icon name="heroicons:check-badge-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue" aria-hidden="true" />
              Quality Control
            </dt>
            <dd class="mt-2">
              Implement measures to maintain high-quality standards throughout the project.
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

<LazyFeatureCenter
    title="Blue is the better, calmer way to run your real estate agency to achieve more."
    description="Make Blue your one source of truth for customers, properties, sales, and agents — you'll finally have everything in one place and see the big picture."
    :imageSrc="'/product/home-page-modern.png'"
    :imageAlt="'App screenshot'"
    :imageWidth="2432"
    :imageHeight="1442"
    :features="[
  {
    name: 'Map View',
    description: 'Visualize your projects on an interactive map for clear location insights.',
    icon: 'heroicons:map-solid',
  },
  {
    name: 'Tailored to Real Estate',
    description: 'Choose from various field types to fit your property and client data.',
    icon: 'heroicons:list-bullet-solid',
  },
  {
    name: 'Eliminate Admin Work',
    description: 'Automate workflows for real estate tasks with powerful if-this-then-that automations.',
    icon: 'heroicons:wrench-solid',
  },
  {
    name: 'Work from Anywhere',
    description: 'Enable your agents to work on the go with Mac, Windows, iOS, Android, and PWA apps.',
    icon: 'heroicons:computer-desktop-solid',
  },
  {
    name: 'Private & Secure',
    description: 'Set access permissions for team roles to protect client and property data.',
    icon: 'heroicons:users-solid',
  },
  {
    name: 'Make Informed Decisions',
    description: 'Use real-time dashboards to combine data across all your real estate projects.',
    icon: 'heroicons:chart-pie-solid',
  },
]" 

/>

  <CtaDark
      title="Manage Your Real Estate Projects with Ease"
      description="Our software helps you streamline property management, improve team collaboration, and accelerate project completion."
      buttonText="Try it Now"
      buttonLink="https://app.blue.cc"
      imageSrc="/product/dark-cta-screenshot.png"
      imageAlt="Real estate management screenshot"
    />
  <FeatureRight
  title="One place for everything real estate."
  description="Interlink your data within Blue to have everything at your fingertips. Get your team up and running in hours, not weeks or months."
  :features="[
    {
      name: 'Clients',
      description: 'Manage client information, track interactions, and ensure timely follow-ups all in one place.',
      icon: 'heroicons:users-solid',
    },
    {
      name: 'Properties',
      description: 'Organize property listings, monitor status, and keep detailed records to streamline sales and management.',
      icon: 'heroicons:building-office-solid',
    },
    {
      name: 'Agents',
      description: 'Track agent performance, manage assignments, and facilitate communication to boost productivity.',
      icon: 'heroicons:user-group-solid',
    },
  ]"
  :image="{
    src: '/product/simple-screenshot-home.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureLeft
  title="Effortlessly manage leads and inventory."
  description="Use Blue's powerful tools to track leads, manage property listings, and link specific inventory to interested buyers. Stay organized and never miss an opportunity to close a deal."
  :features="[
    {
      name: 'At-a-Glance',
      description: 'See key information in a couple of seconds.',
      icon: 'heroicons:rocket-launch-solid',
    },
    {
      name: 'Intelligent Linking',
      description: 'Link leads, properties, and agents together to understand relationships.',
      icon: 'heroicons:academic-cap-solid',
    },
    {
      name: 'Alerts & Reminders',
      description: 'Trigger automatic alerts and reminders to stay at the top of your game.',
      icon: 'heroicons:chart-bar-solid',
    },
  ]"
  :image="{
    src: '/product/simple-screenshot-home.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureRight
  title="Capture leads directly from your website."
  description="Use Blue's customizable forms to capture lead data directly from your website. New inquiries are automatically routed to the right agent and tracked in Blue."
  :features="[
    {
      name: 'Embeddable',
      description: 'Embed your form directly into your website to capture leads.',
      icon: 'heroicons:document-text-solid',
    },
    {
      name: 'Brandable',
      description: 'Update your colors and add your logo.',
      icon: 'heroicons:sparkles-solid',
    },
    {
      name: 'Automations',
      description: 'Automatically assign leads to the right agents with rulesets.',
      icon: 'heroicons:cog-solid',
    },
  ]"
  :image="{
    src: '/product/simple-screenshot-home.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<LazyStatsCards
      card1Number="120+ Countries"
      card1Title="Global Reach"
      card1Description="Blue is used in every continent across the world."
      card2Number="15,000+ Organizations"
      card2Title="Mission Critical"
      card2Description="Thousands of organizations trust Blue for mission-critical work."
      card3Number="350,000+ Projects"
      card3Title="Flexible Processes"
      card3Description="Run sales, marketing, recruitment, operations — anything!"
    />
<FeatureLeft
  title="Visualize your properties on interactive maps."
  description="Use Blue's mapping tools to locate your real estate listings with advanced filtering and search capabilities."
  :features="[
    {
      name: 'Property Geolocation',
      description: 'Pinpoint the exact location of properties on interactive maps.',
      icon: 'heroicons:map-solid',
    },
    {
      name: 'Advanced Filtering',
      description: 'Filter properties by location, price, size, and more.',
      icon: 'heroicons:funnel-solid',
    },
    {
      name: 'Cross-Project Map',
      description: 'Manage all projects on a single map for a comprehensive view.',
      icon: 'heroicons:globe-alt-solid',
    },
  ]"
  :image="{
    src: '/product/map-light.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>

<LazyAwards
  title="The trusted platform for real estate professionals."
  description="Blue has been internationally recognized for its excellence in real estate project management."
/>
<FeatureRight
  title="API Integration Keeps Your Website Listings Fresh."
  description="Automatically push new listings and property updates to your website using Blue's API. Keep your online presence in sync with your CRM, no manual work required."
  :features="[
    {
      name: 'Perfect Data Sync',
      description: 'Your website and CRM are always in sync.',
      icon: 'heroicons:arrow-path-20-solid',
    },
    {
      name: 'Stop Manual Work',
      description: 'Forget doing manual data entry ever again.',
      icon: 'heroicons:x-circle-solid',
    },
    {
      name: 'Scalable',
      description: 'Blue powers over 6,000+ businesses, so you\'re in good hands.',
      icon: 'heroicons:chart-bar-solid',
    },
  ]"
  :image="{
    src: 'product/api-playground.png',
    alt: 'API integration screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureLeft
  title="Dashboards unlock the door to business intelligence."
  description="Your real estate business is a complex web of leads, properties, agents, and transactions. Blue's intuitive dashboards put all of that critical data at your fingertips, empowering you to make faster, more informed decisions."
  :features="[
    {
      name: 'Pipeline Visibility',
      description: 'Monitor lead generation and conversions in real-time, identify bottlenecks, and optimize your funnel.',
      icon: 'heroicons:viewfinder-circle-solid',
    },
    {
      name: 'Listing Management',
      description: 'Comprehensively view your entire property inventory.',
      icon: 'heroicons:home-solid',
    },
    {
      name: 'Agent Productivity',
      description: 'Track individual & team productivity metrics, make data-driven decisions on resourcing and training.',
      icon: 'heroicons:users-solid',
    },
  ]"
  :image="{
    src: '/product/pie-chart.png',
    alt: 'Dashboard screenshot',
    width: '2432',
    height: '1442',
  }"
/>




      <CtaDark
      title="Manage Your Real Estate Projects with Ease"
      description="Our software helps you streamline property management, improve team collaboration, and accelerate project completion."
      buttonText="Try it Now"
      buttonLink="https://app.blue.cc"
      imageSrc="/product/dark-cta-screenshot.png"
      imageAlt="Real estate management screenshot"
    />
    <CtaLight />
      
        
  <FaqAccordion :faqs="pageFaqs" />
</template>

<script lang="ts" setup>

const pageFaqs = [
  {
    question: "What is real estate project management?",
    answer: "In real estate, projects can be anything from detailed renovation plans to intricate deals requiring skilled negotiations. Teams often juggle multiple projects at once, needing a mix of different skills to manage everything effectively. Real estate project management covers planning, scheduling, resource allocation, collaboration, and stakeholder relations. With these complexities, having world-class software to back you up is crucial for keeping everything streamlined and ensuring success."
  },
  {
    question: "Why is Blue a good fit for real estate project management?",
    answer: "Blue is designed to handle the complexities of real estate projects, offering features like task management, scheduling, resource allocation, and real-time collaboration tools. Its flexibility and scalability make it ideal for managing projects of all sizes, from small renovations to large-scale developments."
  },
  {
    question: "How does Blue facilitate team collaboration in real estate projects?",
    answer: "Blue provides a centralized platform where team members can share documents, communicate in real-time, and update task statuses. Features like @mentions and collaborative document editing ensure that everyone stays informed and aligned, reducing misunderstandings and improving efficiency."
  },
  {
    question: "What specific features of Blue are beneficial for real estate projects?",
    answer: "Blue offers features such as Kanban boards, Gantt charts, calendars, and database views to manage various aspects of a project. It also supports automations to streamline workflows, integrates with over 5,000 apps, and provides robust reporting and analytics to track project progress."
  },
  {
    question: "Can Blue handle multiple real estate projects simultaneously?",
    answer: "Yes, Blue is built to manage multiple projects at once. Its project tracking and resource management capabilities allow you to oversee all ongoing projects, ensuring that deadlines are met and resources are allocated efficiently."
  },
  {
    question: "How does Blue improve resource management in real estate projects?",
    answer: "Blue's resource management features help you allocate and track resources across multiple projects. You can visualize resource availability, manage workloads, and ensure that your team is optimally utilized, preventing bottlenecks and delays."
  },
  {
    question: "What makes Blue's automation features useful for real estate management?",
    answer: "Blue's automation features help eliminate repetitive tasks and streamline workflows. By setting triggers and actions, you can automate routine processes, allowing your team to focus on more strategic tasks and improving overall project efficiency."
  },
  {
    question: "How secure is Blue for managing sensitive real estate project data?",
    answer: "Blue offers robust security features, including granular access permissions and secure file storage with daily backups. This ensures that your project data is safe, private, and accessible only to authorized users."
  },
  {
    question: "How can Blue help with stakeholder communication in real estate projects?",
    answer: "Blue centralizes all project communication, making it easy to keep stakeholders informed. Real-time updates, customizable dashboards, and comprehensive reporting ensure that stakeholders have access to the latest project information, improving transparency and trust."
  },
  {
    question: "What kind of support does Blue offer for real estate project managers?",
    answer: "Blue offers extensive support through its documentation, webinars, and customer support services. Whether you're just getting started or need help with advanced features, Blue provides the resources you need to use the platform effectively."
  }
];



useSeoMeta({
  title: 'Best Project Management Software for Real Estate',
  description: 'Blue is the best project management software for Real Estate agencies and developers. Simple, powerful, flexible, and affordable.',
})
</script>