<template>
  <HeroRightLight 
  title="Close more deals, faster."
    subtitle="There's a reason why The International Business Times ranked Blue in the top 10 CRMs in the World for SMEs. Whatever you're selling — sell more and faster by using Blue to keep track of your deals."
    imageSrc="/product/simple-screenshot-home.png"
    imageAlt="Automations dashboard screenshot"
  />
  <LogoGrid
      title="Powering the world's best project managers."
      subtitle="From startups → enterprise"
      :logos="[
        { url: '/clients/heineken.svg', alt: 'Heineken Logo' },
        { url: '/clients/deloitte.svg', alt: 'Deloitte Logo' },
        { url: '/clients/savethechildren.svg', alt: 'Save The Children Logo' },
        { url: '/clients/fedex.svg', alt: 'Fedex Logo' },
        { url: '/clients/ilo.png', alt: 'International Labour Organization Logo' }
      ]"
    />
  <TitleParagraph
      title="$1B+ in opportunities are tracked in Blue."
      description="Businesses all over the world use Blue to track their sales opportunities. They report better pipeline visibility, more collaboration, faster deal times, and higher close rates."
      />
  <TestimonialOverlap
    name="Eran Bucai"
    title="Founder of DotComTruths.com"
    testimonial="Blue is my go-to project management tool to run my virtual assistant team, my video production workflow, and even act as my sales pipeline."
    picture="/customer-photos/eranbucai.jpeg"
  />
  <FeatureRight
    title="Automations keep the admin work away."
    description="Nobody likes to do work for work's sake. Blue's powerful automations means that your team can stay focussed on selling instead of low-value administration work.  "
    :features="[
      {
        name: 'More time to sell.',
        description: 'Spend more time with leads and less time on admin.',
        icon: 'heroicons:chart-bar-solid',
      },
      {
        name: 'Faster deal time.',
        description: 'Move deals through your pipeline faster.',
        icon: 'heroicons:bolt-20-solid',
      },
      {
        name: 'Customized Alerts.',
        description: 'Get notified any time something important happens.',
        icon: 'heroicons:bell-alert-solid',
      },
    ]"
    :image="{
      src: '/product/automations.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <FeatureLeft
  title="Dashboards give you full visibility into your pipeline."
    description="What gets measured gets improved. Blue gives you real-time dashboards for all your critical sales metrics."
    :features="[
            {
              name: 'Real-time Insights.',
              description: 'Blue\'s dashboards deliver real-time insights into your sales pipeline.',
              icon: 'heroicons:chart-pie-solid',
            },
            {
              name: 'Cost Savings.',
              description: 'No need for additional business intelligence software.',
              icon: 'heroicons:calculator-solid',
            },
            {
              name: 'Super Customizable.',
              description: 'Tailor Blue\'s custom fields and views to match your unique sales data needs.',
              icon: 'heroicons:paint-brush-solid',
            },
          ]"
          
      
      
    :image="{
      src: '/product/pie-chart.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <FeatureRight
    title="Custom Fields that adapt to your unique data structure."
    description="Blue's custom fields allow you to capture the precise data points needed to manage your sales process effectively. Blue adapts to your data structure, not the other way around."
    :features="[
            {
              name: 'Editable.',
              description: 'Create your dream sales database by visually creating the fields that you need.',
              icon: 'heroicons:pencil-solid',
            },
            {
              name: 'Flexible',
              description: 'Combine custom fields for advanced use cases such as cross-references and automatic calculations.',
              icon: 'heroicons:chart-bar-solid',
            },
            {
              name: 'Private',
              description: 'Set permissions on a per-field basis. Only show your team what you want them to see.',
              icon: 'heroicons:lock-closed-solid',
            },
          ]"
          
          
    :image="{
      src: '/product/custom-fields.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <CtaDark />
  <FeatureRight
    title="Know what's going on with Notifications."
    description="Blue keeps you informed of important matters without overloading your inbox and phone. You have the flexibility to adjust your settings and stay in control."
    :features="[
      {
        name: 'Deep Work Mode.',
        description: 'Switch off all notifications when you need to focus on your work.',
        icon: 'heroicons:bell-slash-solid',
      },
      {
        name: 'Granular Control.',
        description: 'Tell us precisely how we should notify you for each type of notification.',
        icon: 'heroicons:bell-alert-solid',
      },
      {
        name: 'Custom notifications.',
        description: 'Create custom email notifications for you and your team.',
        icon: 'heroicons:bell-snooze-solid',
      },
    ]"
    :image="{
      src: '/product/notifications.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <FeatureLeft
    title="Gone are the days of juggling spreadsheets with Formulas."
    description="Blue's formula builder empowers you to automate complex sales calculations, eliminate manual data entry, and gain deeper pipeline insights."
    :features="[
          {
            name: 'Calculate anything.',
            description: 'Profit, commissions, margins — super flexible.',
            icon: 'heroicons:calculator-solid',
          },
          {
            name: 'Dashboard it.',
            description: 'Formula custom fields works seamlessly with dashboards for reporting.',
            icon: 'heroicons:chart-pie-solid',
          },
          {
            name: 'Private.',
            description: 'Hide certain formulas based on user groups for privacy and security.',
            icon: 'heroicons:lock-closed-solid',
          },
        ]"
        
    :image="{
      src: '/product/formula.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <CtaLight />
      
        
  <FaqAccordion :faqs="pageFaqs" />
</template>

<script lang="ts" setup>

const pageFaqs = [
  {
    question: "What makes Blue different from other sales CRM solutions?",
    answer: "Blue stands out with its powerful automations, customizable dashboards, and flexible custom fields. It's designed to adapt to your unique sales process, not the other way around. Plus, with its affordable pricing and unlimited features, it's perfect for businesses of all sizes."
  },
  {
    question: "Can I integrate Blue with my existing tools and software?",
    answer: "Yes, Blue offers integrations with a wide range of popular business tools and software. This allows you to seamlessly connect your sales CRM with your email, calendar, marketing automation, and other essential applications."
  },
  {
    question: "How does Blue help me track my sales pipeline?",
    answer: "Blue provides real-time dashboards and customizable views that give you full visibility into your sales pipeline. You can easily track deals at every stage, monitor key metrics, and generate reports to gain actionable insights into your sales process."
  },
  {
    question: "Is Blue suitable for small businesses and startups?",
    answer: "Absolutely! Blue is designed to be scalable, making it perfect for small businesses and startups. You get access to all features without limits, and the affordable pricing makes it accessible even for teams with limited budgets."
  },
  {
    question: "How does Blue's automation feature work?",
    answer: "Blue's automation feature allows you to set up custom workflows that automatically handle routine tasks. This can include sending follow-up emails, updating deal stages, assigning tasks to team members, and more. By automating these processes, your team can focus more on selling and less on administrative work."
  },
  {
    question: "Can I customize Blue to fit my specific sales process?",
    answer: "Yes, Blue is highly customizable. You can create custom fields to capture the exact data points you need, set up custom views and dashboards, and tailor the workflow to match your unique sales process. This flexibility ensures that Blue adapts to your needs, not vice versa."
  },
  {
    question: "How secure is my data in Blue?",
    answer: "Blue takes data security seriously. We use industry-standard encryption protocols to protect your data, and our permission settings allow you to control who has access to sensitive information. You can set permissions on a per-field basis, ensuring that team members only see the data they need to."
  },
  {
    question: "Does Blue offer mobile access?",
    answer: "Yes, Blue offers a mobile-responsive interface, allowing you to access your sales CRM on the go. You can view and update your pipeline, check notifications, and stay connected with your team from any device with an internet connection."
  },
  {
    question: "How does pricing work for Blue?",
    answer: "Blue offers simple, transparent pricing at $7/month for admins and core team members. Clients and vendors/contractors can join for free, making it cost-effective for businesses of all sizes. You get access to all features without any hidden costs or upsells."
  },
  {
    question: "Can Blue help with sales forecasting?",
    answer: "Absolutely! Blue's dashboards and reporting tools allow you to analyze your sales data and create accurate forecasts. You can track key metrics, identify trends, and use custom fields and formulas to calculate probabilities and projected revenues."
  }
]


useSeoMeta({
  title: 'Simple Easy-to-use Sales CRM',
  description: 'Streamline your sales process with Blue\'s intuitive and user-friendly CRM. Manage contacts, track deals, and boost productivity without the complexity.',
})
</script>