<template>
  <HeroRightLight 
  title="The best project management software for Solopreneurs."
    subtitle="Streamline your business with a single solution that meets all your needs, freeing up time for growth-focused activities and reducing operational complexity."
    imageSrc="/product/automations.png"
    imageAlt="Automations dashboard screenshot"
  />
  <TitleParagraph
      title="Full access to all features."
      description="When you're working alone, efficiency is essential for success. Blue ensures Solopreneurs have the edge, offering full access to all features without limitations of tiered plans."
      />
  <TestimonialOverlap
    name="Eran Bucai"
    title="Founder of DotComTruths.com"
    testimonial="Blue is my go-to project management tool to run my virtual assistant team, my video production workflow, and even act as my sales pipeline."
    picture="/customer-photos/eranbucai.jpeg"
  />
  <FeatureRight
        title="Pay only for yourself, all your clients and assistants are free."
        description="Invite unlimited amounts of clients, virtual assistants, and vendors for free. This keeps money in your pocket as you scale up."
        :image="{
          src: '/product/product-development.png',
          alt: 'Product screenshot',
          width: '2432',
          height: '1442',
        }"
      />
  <CtaDark />
  <FeatureLeft
        title="Automations ensure you focus on what matters."
        description="Time is money, especially as a Solopreneur.  Blue helps you save time, so you can focus on making money — even while you sleep."
        :image="{
          src: '/product/automations-overdue.png',
          alt: 'Product screenshot',
          width: '2432',
          height: '1442',
        }"
      />
  <FeatureRight
        title="Reminders help you remember what to do — and when to do it."
        description="We get it, there's always too much to do. Blue helps you remember when you need to get things done."
        :image="{
          src: '/product/product-development.png',
          alt: 'Product screenshot',
          width: '2432',
          height: '1442',
        }"
      />
  <FeatureLeft
        title="Forms allow you to capture structured data from customers"
        description="Forget email, get sales and booking inquiries piped directly into Blue, with all the data already structured precisely how you need it. Even send automatic thank you email and redirect customers to custom thank you pages."
        :image="{
          src: '/product/forms-hero.png',
          alt: 'Product screenshot',
          width: '2432',
          height: '1442',
        }"
      />
    <CtaLight />
      
        
  <FaqAccordion :faqs="pageFaqs" />
</template>

<script lang="ts" setup>

const pageFaqs = [
  {
    question: "Why is Blue the best project management system for solopreneurs?",
    answer: "It's simple — you get all the features without limits, and at just $7/month for admins and team members, it's the most affordable platform on the market too."
  },
  {
    question: "Do I have to pay for virtual assistants and clients to have access?",
    answer: "No — all clients and vendors/contractors can join Blue for Free. You only pay for admins and core team members."
  },
]


useSeoMeta({
  title: 'Best Project Management Software for Solopreneurs',
  description: 'Blue is the best project management software for solopreneurs. Simple, powerful, yet affordable.  Invite clients and virtual assistants for FREE.',
})
</script>