<template>
  <NavBar @toggle-search="isSearchOpen = !isSearchOpen" />
  <NuxtPage />
  <BackToTop />
  <ChatWidget />
  <LazyFooterLight />
  <ClientOnly>
    <LazySearchPop v-model="isSearchOpen" :files="files" :navigation="navigation" :links="links" :hideColorMode="true" />
  </ClientOnly>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const { data: navigation } = await useAsyncData('navigation', () => fetchContentNavigation())
const { data: files } = useLazyFetch<ParsedContent[]>('/api/search.json', { default: () => [], server: false })

const links = [
  { label: 'Platform', icon: 'i-heroicons-squares-2x2-solid', to: '/platform' },
  { label: 'Solutions', icon: 'i-heroicons-rocket-launch-solid', to: '/solutions' },
  { label: 'Pricing', icon: 'i-heroicons-currency-dollar-solid', to: '/pricing' },
  { label: 'Support', icon: 'i-heroicons-lifebuoy-solid', to: '/support' },
{ label: 'FAQs', icon: 'i-heroicons-question-mark-circle-solid', to: '/resources/faqs'},
  { label: 'Resources', icon: 'i-heroicons-book-open-solid', to: '/resources' }
]

const isSearchOpen = ref(false);  // Reactive state for search modal

provide('navigation', navigation)
provide('files', files)
</script>
