<template>
  <!-- Comparison Header -->
  <div class="bg-white dark:bg-gray-900 pt-32 pb-16">
    <!-- Logo and VS container with increased bottom padding -->
    <div class="container mx-auto px-4 flex items-center justify-center pb-12">
      <div class="relative w-24 h-24 floating-icon-left">
        <img src="/blue-icon.svg" alt="Blue App Icon" class="w-full h-full object-contain rounded-app-icon">
      </div>
      <div class="mx-8 text-8xl font-bold text-gray-900 dark:text-white">vs</div>
      <div class="relative w-24 h-24 floating-icon-right">
        <img :src="alternative.rightLogoSrc" :alt="alternative.rightLogoAlt || 'Right company logo'" class="w-full h-full object-contain rounded-app-icon">
      </div>
    </div>
    <!-- Title with increased top margin -->
    <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold text-center mt-16 text-gray-900 dark:text-white">{{ alternative.title }}</h1>
    <p v-if="alternative.description" class="text-xl text-center mt-4 text-gray-600 dark:text-gray-300">{{ alternative.description }}</p>
  </div>

  <!-- Dynamic Table -->
  <div class="mt-16 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <ComparePlatform
      :preSelectedPlans="['Blue - Standard', ...alternativePlans]"
      :showHeader="false"
      :showSoftwareSelection="false"
      :closeAllSectionsExceptFirst="true"
    />
  </div>

  <!-- Main Content Section -->
  <div class="flex flex-col md:flex-row justify-center mt-16">
    <!-- Left Sidebar for TOC -->
    <div class="w-full md:w-1/4 lg:w-1/5 md:sticky overflow-y-auto hidden md:block" style="top: 8rem; max-height: calc(100vh - 8rem);">
      <div v-if="showTableOfContents" class="p-4 border-l-4 border-solid border-[#00a0d2] dark:border-[#00c0ff]">
        <h3 class="font-bold mb-4 dark:text-white">Table of Contents</h3>
        <ul>
          <li v-for="heading in tableOfContents" :key="heading.id">
            <a 
              :href="`#${heading.id}`" 
              @click.prevent="scrollToHeading(heading.id)"
              :class="{
                'text-[#00a0d2] dark:text-[#00c0ff] font-bold leading-loose': activeHeading === heading.id,
                'hover:text-[#00a0d2] dark:hover:text-[#00c0ff] transition-colors duration-200 text-gray-500 dark:text-gray-400 leading-loose': activeHeading !== heading.id
              }"
            >
              {{ heading.text }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Main Content -->
    <div class="w-full md:w-2/4 lg:w-3/5 max-w-3xl px-4">
      <div class="bg-white dark:bg-gray-900 py-8 mx-auto max-w-3xl text-base leading-7 text-gray-700 dark:text-gray-300">
        <div class="prose dark:prose-invert mx-auto">
          <ContentDoc :path="alternative._path" />
        </div>
      </div>
    </div>

    <!-- Right Sidebar for CTA -->
    <div class="w-1/4 lg:w-1/5 hidden lg:block">
      <div class="sticky p-6 bg-[#00a0d2] dark:bg-[#0080a0] text-white rounded-lg shadow-lg hover:shadow-xl" style="top: 8rem;">
        <h3 class="text-xl font-bold mb-4">{{ ctaHeader }}</h3>
        <p class="mb-4">{{ ctaText }}</p>
        <button @click="openSignUp" class="px-4 py-2 text-sm font-semibold rounded-md border border-transparent bg-white text-[#00a0d2] hover:bg-gray-100 dark:hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#00a0d2] transition duration-150 ease-in-out flex items-center">
          {{ ctaButtonText }}
          <span class="ml-2 inline-flex items-center justify-center w-5 h-5 bg-[#00a0d2] rounded text-xs font-bold text-white border border-white">↵</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Modal component -->
  <div ref="modal" class="fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center hidden">
    <img ref="modalImg" class="max-w-[90%] max-h-[90%] object-contain" src="" alt="Modal image" />
  </div>
</template>

<script setup>
import { ref, onMounted, computed, nextTick } from 'vue'
import { useRoute, useAsyncData } from '#app'
import { queryContent } from '#imports'

const route = useRoute()
const slug = computed(() => route.params.slug)

// Fetch data based on the slug from the alternatives directory
const { data: alternative } = await useAsyncData(`alternative-${slug.value}`, () =>
  queryContent('alternatives')
    .where({ slug: slug.value })
    .findOne()
)

// Fetch all tags from the alternatives content
const { data: tags } = await useAsyncData('tags', () =>
  queryContent('alternatives')
    .only(['tags'])
    .find()
)

// Compute the unique tags
const uniqueTags = computed(() => {
  if (!tags.value) return []
  const allTags = tags.value.flatMap(item => item.tags || [])
  return [...new Set(allTags)]
})

// Check if the current slug matches any unique tags
const matchingTag = computed(() => {
  if (!uniqueTags.value) return null
  return uniqueTags.value.find(tag => tag === slug.value)
})

// Compute the alternative plans
const alternativePlans = computed(() => {
  if (!alternative.value || !alternative.value.plans) return []
  return alternative.value.plans
})

// Table of Contents logic
const tableOfContents = ref([])
const activeHeading = ref('')
const showTableOfContents = ref(false)

// Debounce function
function debounce(func, wait) {
  let timeout
  return function executedFunction(...args) {
    const later = () => {
      clearTimeout(timeout)
      func(...args)
    }
    clearTimeout(timeout)
    timeout = setTimeout(later, wait)
  }
}

// Function to update active heading
const updateActiveHeading = () => {
  const scrollPosition = window.scrollY
  let currentActiveHeading = null

  tableOfContents.value.forEach(heading => {
    const element = document.getElementById(heading.id)
    if (element) {
      const elementTop = element.offsetTop - 100
      if (scrollPosition >= elementTop) {
        currentActiveHeading = heading.id
      }
    }
  })

  if (currentActiveHeading) {
    activeHeading.value = currentActiveHeading
  }
}

// Debounced scroll handler
const debouncedScrollHandler = debounce(updateActiveHeading, 50)

// Function to scroll to heading
const scrollToHeading = (headingId) => {
  const element = document.getElementById(headingId)
  if (element) {
    const yOffset = -window.innerHeight * 0.15
    const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset
    window.scrollTo({top: y, behavior: 'smooth'})
    activeHeading.value = headingId
  }
}

// Computed properties for dynamic CTA content
const ctaHeader = computed(() => alternative.value?.CtaHeader || 'Boost your productivity')
const ctaText = computed(() => alternative.value?.CtaText || 'Join 15,000+ teams that use Blue to know what to do, how to do it, and why it matters.')
const ctaButtonText = computed(() => alternative.value?.CtaButton || 'Start Free')

// Function to handle sign up
const openSignUp = () => {
  window.open('https://app.blue.cc', '_blank')
}

// Modal refs and functions
const modal = ref(null)
const modalImg = ref(null)

const openModal = (src) => {
  if (modalImg.value) modalImg.value.src = src
  if (modal.value) modal.value.classList.remove('hidden')
  document.body.style.overflow = 'hidden'
}

const closeModal = () => {
  if (modal.value) modal.value.classList.add('hidden')
  document.body.style.overflow = ''
}

onMounted(() => {
  // Generate table of contents
  const generateTOC = () => {
    const content = document.querySelector('.prose')
    if (!content) return

    const headings = content.querySelectorAll('h2')
    tableOfContents.value = Array.from(headings).map(heading => ({
      id: heading.id,
      text: heading.textContent
    }))

    showTableOfContents.value = tableOfContents.value.length > 0

    if (showTableOfContents.value) {
      const observer = new IntersectionObserver((entries) => {
        const visibleHeadings = entries.filter(entry => entry.isIntersecting)
        if (visibleHeadings.length > 0) {
          const topHeading = visibleHeadings.reduce((top, current) => 
            current.boundingClientRect.top < top.boundingClientRect.top ? current : top
          )
          activeHeading.value = topHeading.target.id
        }
      }, {
        rootMargin: '-10% 0px -90% 0px',
        threshold: [0, 1]
      })

      headings.forEach(heading => observer.observe(heading))
      window.addEventListener('scroll', debouncedScrollHandler, { passive: true })
    }
  }

  setTimeout(generateTOC, 100)

  // Open links in prose in a new tab
  const proseLinks = document.querySelectorAll('.prose a')
  proseLinks.forEach(link => {
    link.setAttribute('target', '_blank')
    link.setAttribute('rel', 'noopener noreferrer')
  })

  nextTick(() => {
    const prose = document.querySelector('.prose')
    if (prose) {
      // Wrap images in image-wrapper div
      const images = prose.querySelectorAll('img')
      images.forEach(img => {
        if (!img.parentNode.classList.contains('image-wrapper')) {
          const wrapper = document.createElement('div')
          wrapper.className = 'image-wrapper'
          img.parentNode.insertBefore(wrapper, img)
          wrapper.appendChild(img)
        }
      })

      // Add click event to images
      prose.addEventListener('click', (e) => {
        if (e.target.tagName === 'IMG') {
          openModal(e.target.src)
        }
      })
    }

    // Close modal when clicking outside the image
    if (modal.value) {
      modal.value.addEventListener('click', (e) => {
        if (e.target !== modalImg.value) {
          closeModal()
        }
      })
    }

    // Close modal on escape key press
    document.addEventListener('keydown', (e) => {
      if (e.key === 'Escape') {
        closeModal()
      }
    })
  })
})
</script>

<style>
/* Enables 3D transformations for child elements */
.transform {
  transform-style: preserve-3d;
}

/* Makes an element sticky for medium and larger screens */
.md\:sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
}

/* Ensures prose content doesn't exceed its container width */
.prose {
  max-width: 100%;
}

/* Adds padding to the top of the page when scrolling to anchors */
html {
  scroll-padding-top: 8rem;
}

/* Smooth transition for table of contents link highlighting */
.toc-link {
  transition: color 0.3s ease, font-weight 0.3s ease;
}

/* Styles for image wrappers within prose content */
.prose .image-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
}

/* Styles for images within image wrappers */
.prose .image-wrapper img {
  cursor: zoom-in; /* Changes cursor to indicate zoomable */
  transition: transform 0.3s ease-in-out;
  max-width: 100%;
  height: auto;
}

/* Slight lift effect on image hover */
.prose .image-wrapper:hover img {
  transform: translateY(-5px);
}

/* Transition for modal images */
.modal-img {
  transition: transform 0.3s ease-in-out;
}

/* Slight zoom effect on modal image hover */
.modal-img:hover {
  transform: scale(1.05);
}

/* Base styles for both icons to set initial rotation */
.floating-icon-left, .floating-icon-right {
  transform-style: preserve-3d;
}

/* Initial rotation for left icon */
.floating-icon-left {
  transform: rotateZ(-15deg);
}

/* Initial rotation for right icon */
.floating-icon-right {
  transform: rotateZ(15deg);
}

/* Animation for the left floating icon */
@keyframes floating-left {
  0%, 100% {
    transform: translateY(0) rotateZ(-15deg);
  }
  50% {
    transform: translateY(-10px) rotateZ(-15deg);
  }
}

/* Animation for the right floating icon */
@keyframes floating-right {
  0%, 100% {
    transform: translateY(0) rotateZ(15deg);
  }
  50% {
    transform: translateY(-10px) rotateZ(15deg);
  }
}

/* Applies the left floating animation */
.floating-icon-left {
  animation: floating-left 3s ease-in-out infinite;
}

/* Applies the right floating animation with a slight delay */
.floating-icon-right {
  animation: floating-right 3s ease-in-out infinite;
  animation-delay: 0.5s; /* Creates an offset between left and right animations */
}

.rounded-app-icon {
  border-radius: 15%; /* This gives a slight rounding effect, similar to iOS app icons */
  overflow: hidden; /* Ensures the image doesn't spill outside the rounded corners */
}
</style>