<template>
  <HeroRightLight 
  title="Imagine having a complete record of every action."
  subtitle="With Audit Trails, this is reality. Track every action, ensure accountability, and maintain compliance across all your projects."
    imageSrc="/product/activity-hero.png"
    imageAlt="Project Activity screenshot"
  />
  <FeatureList
    title="Audit trails ensure that every task, edit, and decision is attributable, enhancing trust and transparency across your projects."
    subtitle="Guaranteed Accountability. "
    :features="[
      {
      name: 'Enhanced Security',
      description: 'Track every action across your platform with our robust audit trails, ensuring data integrity and security.',
      icon: 'heroicons:device-phone-mobile-solid',
      },
      {
      name: 'Regulatory Compliance',
      description: 'Stay compliant with ease. Our detailed records support compliance with industry regulations by documenting every change and action.',
      icon: 'heroicons:moon-solid',
      },
      {
      name: 'Operational Transparency',
      description: 'Gain complete visibility into project changes and team activities. Audit trails provide transparency that helps identify process efficiencies and areas for improvement.',
      icon: 'heroicons:document-text-solid',
      },
      {
      name: 'Accountability Enforcement',
      description: 'Ensure accountability at every level. Audit trails help pinpoint responsibility for actions, supporting effective management and oversight.',
      icon: 'heroicons:archive-box-solid',
      },
    ]"
  />  
<FeatureLeft
    title="Comprehensive audit trails for cross-project activities."
    description="Experience the power of complete transparency with our robust tracking system, designed for ease and efficiency."
    :features="[
        {
        name: 'Time Machine.',
        description: 'Step back into any project phase. Review all activities exactly as they occurred.',
        icon: 'heroicons:clock-solid',
        },
        {
        name: 'Immutable Logs.',
        description: 'Entries are permanent and unchangeable, ensuring data integrity.',
        icon: 'heroicons:lock-closed-solid',
        },
        {
        name: 'Advanced Filtering.',
        description: 'Quickly find specific activities using filters for people and tags.',
        icon: 'heroicons:funnel-solid',
        },
      ]"
    :image="{
    src: '/product/activity-org.png',
    alt: 'Comprehensive activity screenshot',
    width: '2432',
    height: '1442',
    }"
/>
<FeatureRight
  title="Granular change logs for changes in records."
  description="Experience the ultimate in detail and precision with our meticulous tracking system, ensuring no change goes unnoticed."
  :features="[
    {
    name: 'Full Context',
    description: 'Ensure every change is tracked with unmatched precision.',
    icon: 'heroicons:eye-solid',
    },
    {
    name: 'Detailed Tracking.',
    description: 'Log every change, including custom fields and deletions.',
    icon: 'heroicons:viewfinder-circle-solid',
    },
    {
    name: 'Immutable Logs.',
    description: 'Entries are permanent and unchangeable.',
    icon: 'heroicons:lock-closed-solid',
    },
    ]"
  :image="{
  src: '/product/custom-fields-audit.png',
  alt: 'Granular change logs screenshot',
  width: '2432',
  height: '1442',
  }"
/>
<CtaDark />
</template >

<script setup>
useSeoMeta({
  title: 'Activity and Audit Trails',
  description: 'With Activity & Audit Trails, Blue creates transparency on what\’s happened. Monitor activities across workspaces and hold people responsible.',
})
</script>