<template>
<HeroRightLight 
  title="Project Management Artificial Intelligence."
  subtitle="Leverage Artificial Intelligence to streamline project management and improve efficiency. Automatically categorize your work items and summarize discussions into action points."
    imageSrc="/product/dark-cta-screenshot.png"
    imageAlt="Partners dashboard screenshot"
  />
  <LogoGrid
         title="Powering the world's best project managers."
         subtitle="From startups → enterprise"
         :logos="[
            { url: '/clients/heineken.svg', alt: 'Heineken Logo' },
            { url: '/clients/deloitte.svg', alt: 'Deloitte Logo' },
            { url: '/clients/savethechildren.svg', alt: 'Save The Children Logo' },
            { url: '/clients/fedex.svg', alt: 'Fedex Logo' },
            { url: '/clients/ilo.png', alt: 'International Labour Organization Logo' }
         ]"
      />
<FeatureCenter
  title="AI is included out of the box."
  description="Blue comes with AI built-in — no extra charges."
  :imageSrc="'/product/api-query.png'"
  :imageAlt="'App screenshot'"
  :imageWidth="2432"
  :imageHeight="1442"
  :features="[
    {
      name: 'Summarize Conversations',
      description: 'Instant Summarization of long conversations with clear action points.',
      icon: 'heroicons:chat-bubble-bottom-center-text-solid',
    },
    {
      name: 'Categorizations & Tagging',
      description: 'Automatic categorization of records and tasks based on logical tags',
      icon: 'heroicons:tag-solid',
    },
    {
    name: 'Semantic Search',
      description: 'Advanced search that understands meaning and context, not just for keywords.',
      icon: 'heroicons:viewfinder-circle-16-solid',
    },
  ]"
/>  
<FeatureLeft
title="Always know the next key actions with AI-powered conversation summaries."
  description="Our AI can summarize conversations and provide actionable insights, saving you valuable reading time."
  :image="{
    src: '/product/ai-summaries.png',
    alt: 'AI Summary Product Screenshot',
    width: '2432',
    height: '1442',
  }"
/>

<FeatureRight
title="Keep work organized with automatic categorization of work items"
  description="Blue can automatically choose which tags to apply to records based on the context."
  :image="{
    src: '/product/ai-tagging.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<LazyFeatureList
      title="AI-Powered, Privacy-Focused."
      subtitle="Secure AI Integration"
      description="Blue leverages AI capabilities while prioritizing your data privacy."
      :features="[
        {
          name: 'Secure Data Processing',
          description: 'Agreements with AI providers ensure your data is not retained or used for model training.',
          icon: 'heroicons:shield-check-solid',
        },
        {
          name: 'On-Premise Search Indexing',
          description: 'Search AI indexing is performed on our own cloud servers using open-source models.',
          icon: 'heroicons:server-solid',
        },
        {
          name: 'Anonymized Processing',
          description: 'Sensitive information like assignee names is never sent to AI providers.',
          icon: 'heroicons:user-minus-solid',
        },
        {
          name: 'Data Residency Compliance',
          description: 'Our AI processing adheres to data residency requirements for international clients.',
          icon: 'heroicons:globe-americas-solid',
        },
        {
          name: 'User Control',
          description: 'Users can delete AI-generated summaries if needed.',
          icon: 'heroicons:trash-solid',
        },
        {
          name: 'Future Opt-Out Options',
          description: 'We\'re considering organization-wide settings to toggle AI features on/off.',
          icon: 'heroicons:adjustments-horizontal-solid',
        },
        {
          name: 'Secure Cloud Processing',
          description: 'All AI processing is done in secure cloud environments.',
          icon: 'heroicons:cloud-solid',
        },
        {
          name: 'Continuous Improvement',
          description: 'We are always working to enhance our AI privacy features based on user feedback.',
          icon: 'heroicons:arrow-path-solid',
        },
      ]"
    />
<LazyCtaDark
  title="Discover AI powered project management."
  description="Try Blue to automate project management and improve efficiency. Automatically categorize your work items and summarize discussions into action points."
  buttonText="Sign Up FREE"
  buttonLink="https://app.blue.cc"
  imageSrc="/product/dark-cta-screenshot.png"
/>

  <LazyFaqAccordion :faqs="pageFaqs" />
  
  
  
  
  
  
  
  
</template >

<script setup>

const pageFaqs = [
  {
    "question": "What AI features does Blue offer for project management?",
    "answer": "Blue offers several AI-powered features for project management. These include conversation summarization with action point extraction, automatic categorization and tagging of records, and semantic search capabilities. These features are designed to streamline project management processes and improve efficiency."
  },
  {
    "question": "How does Blue's AI summarize conversations?",
    "answer": "Blue uses Large Language Models (LLMs) to analyze all the messages within a record. The AI then generates a summary and extracts key action points. This feature is particularly beneficial for records with numerous messages, as it makes it easier to understand the conclusion and determine the next steps quickly."
  },
  {
    "question": "Can you explain how Blue's AI performs automatic categorization and tagging?",
    "answer": "Blue's AI categorization system analyzes the data of a record, including existing tags, and then selects one or more appropriate tags to categorize the record. It's important to note that the AI doesn't create new tags but categorizes based on your existing tag structure. This can be done individually or in bulk, and bulk AI categorization can be undone if needed."
  },
  {
    "question": "What is semantic search in Blue, and how does it differ from regular search?",
    "answer": "Semantic search in Blue goes beyond traditional keyword matching. It understands the context and meaning of your search query. For example, if you search for 'urgent client issues,' semantic search might return results related to 'critical customer problems' or 'high-priority account concerns,' even if these exact phrases weren't used in the documents. This makes finding relevant information much more intuitive and effective."
  },
  {
    "question": "Are there any limitations to Blue's AI capabilities?",
    "answer": "Blue currently uses GPT-3.5 models to provide AI features free of charge. While these models are powerful, they may not be as advanced as the latest AI technologies. In the future, Blue may switch to more advanced AI models or allow users to bring their own API keys for enhanced capabilities."
  },
  {
    "question": "How does Blue ensure the privacy and security of data processed by its AI?",
    "answer": "Blue has agreements with OpenAI that ensure there is no data retention and that customer data is not used for model training. This commitment to data privacy and security means that your information is processed for your benefit only and is not stored or used to improve the AI models."
  },
  {
    "question": "Can users customize or train the AI to better suit their specific needs?",
    "answer": "Currently, Blue does not offer capabilities for users to customize or train the AI. The AI features are designed to work effectively across a wide range of project management scenarios without requiring user-specific training."
  },
  {
    "question": "Is there an additional cost for using AI features in Blue?",
    "answer": "No, all AI features in Blue are completely free and included in the cost of the subscription. This is a significant differentiator from many other similar products where AI capabilities often come with additional charges."
  }
];
useSeoMeta({
  title: 'AI Powered Project Management',
  description: 'Elevate project and process management with Blue\'s Powerful API. Streamline operations, enhance team collaboration, and integrate seamlessly.',
})
</script>