<template>
<HeroCenterLight
      title="Unleash your data with the Blue API."
      subtitle="Blue's API offers unparalleled flexibility and control over your data. With 100% coverage, you can programmatically access and manage every aspect of Blue. Our powerful GraphQL API empowers developers to build custom integrations, automate workflows, and connect Blue with your existing tools and platforms."
      :image="{ src: '/product/api-playground.png', alt: 'Blue Calendar Screenshot' }"
    />
<FeatureCenter
  title="Modernize Your Enterprise with Blue API."
  description="Navigate the complexities of modern business with a central source of truth. The Blue API liberates you from vendor lock-in, granting the freedom to innovate and integrate on your terms."
  :imageSrc="'/product/api-query.png'"
  :imageAlt="'App screenshot'"
  :imageWidth="2432"
  :imageHeight="1442"
  :features="[
    {
      name: 'Read Data.',
      description: 'Access unified insights, ensuring you\'re always informed.',
      icon: 'heroicons:book-open-solid',
    },
    {
      name: 'Write Data.',
      description: 'Seamlessly import and synchronize data from external systems into Blue.',
      icon: 'heroicons:pencil-solid',
    },
    {
    name: 'Stream Data.',
      description: 'Listen for changes and receive real-time updates, keeping your systems in sync.',
      icon: 'heroicons:cloud-solid',
    },
  ]"
/>  
<FeatureRight
title="API Sandbox."
  description="Every Blue account comes with an API Sandbox where you or your developers can run queries, explore the GraphQL API, and download documentation."
  :image="{
    src: '/product/api-tag-list.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<CtaDark
  title="Explore the documentation."
  description="View sample queries, videos, and practical examples of how to leverage the Blue API to create integrations and custom reports."
  buttonText="Discover the Blue API"
  buttonLink="https://documentation.blue.cc/integrations/api"
  imageSrc="/product/api-docs.png"
/>

  <FaqAccordion :faqs="pageFaqs" />
  
  
  
  
  
  
  
  
</template >

<script setup>

const pageFaqs = [
  {
    "question": "What is the Blue API?",
    "answer": "The Blue API is a fully-featured GraphQL interface that allows programmatic access to all the functionalities available in Blue's apps."
  },
  {
    "question": "What can I do with the Blue API?",
    "answer": "With Blue's API, you can automate workflows, integrate with other tools, manage projects and records, create custom fields, and generate reports. It offers complete programmatic access to all the capabilities within Blue, allowing for extensive customization and integration."
  },
  {
    "question": "Does the Blue API cover all the features in Blue?",
    "answer": "Yes, the Blue API has a 100% feature coverage. This means that everything that you can do via our interface can be triggered programmatically"
  },
  {
    "question": "How do I get started with the Blue API?",
    "answer": "Start by generating an API token in your profile settings under the API tab in your personal Blue profile, then use this token to authenticate your API requests."
  },
  {
    "question": "Does Blue offer professional services for API integrations?",
    "answer": "Yes, Blue provides professional services for custom API integrations. If you need specialized assistance beyond the available documentation and support resources, our team can help tailor integrations to your needs. Contact us at help@blue.cc for more information."
  },
  {
    "question": "Can I access Custom Fields through an API?",
    "answer": "Absolutely. Custom Fields are instantly accessible via our API as soon as they're created. Our dynamic API documentation updates according to your custom data structure, facilitating seamless data exchange with external systems."
  },
  {
    "question": "Are there examples of API usage available?",
    "answer": "Absolutely! We provide examples of how to use the API with Python in our documentation at https://documentation.blue.cc/integrations/api"
  }
];
useSeoMeta({
  title: 'API',
  description: 'Elevate project and process management with Blue\'s Powerful API. Streamline operations, enhance team collaboration, and integrate seamlessly.',
})
</script>