<template>
<HeroCenterLight
      title="Effortlessly manage your cross-project calendar."
      subtitle="Visualize tasks and events across multiple projects, seamlessly synced with your favorite work calendar – Outlook, Google Calendar, or iCal."
      :image="{ src: '/product/calendar.png', alt: 'Blue Calendar Screenshot' }"
    />
    
<div class="bg-white py-12 sm:py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <p class="text-center text-2xl leading-8 text-gray-500">See your project deadlines directly in your favorite work calendar app such as Outlook, Google Calendar, or iCal.</p>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-3 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:gap-x-10 lg:mx-0 lg:max-w-none">
      <img loading="lazy" class="max-h-20 w-full object-contain" src="/integrations/outlook.svg" alt="Logo 1" width="200" height="60" />
      <img loading="lazy" class="max-h-20 w-full object-contain" src="/integrations/googlecalendar.svg" alt="Logo 2" width="200" height="60" />
      <img loading="lazy" class="max-h-20 w-full object-contain" src="/integrations/ical.svg" alt="Logo 3" width="200" height="60" />
    </div>
  </div>
</div>

<FeatureRight
  title="Be the know-it-all with calendar view."
  description="Blue's intuitive calendar view makes it simple to manage your project timelines visually. Drag and drop records to rearrange due dates, assign tasks, and optimize your schedule."
  :features="[
    {
      name: 'Arrange.',
      description: 'Update your project as you see if in a visual manner.',
      icon: 'heroicons:cursor-arrow-ripple',
    },
    {
      name: 'Visualize.',
      description: 'Identify bottlenecks and optimizations at a glance.',      
      icon: 'heroicons:calendar-days-solid',
    },
    {
      name: 'Filter.',
      description: 'Filter by anything and focus on what\'s important.',
      icon: 'heroicons:funnel-solid',
    },
  ]"
  :image="{
    src: '/product/calendar-drag-drop.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<CtaDark />
  <FaqAccordion :faqs="pageFaqs" />
  
  
  
  
  
  
  
  
</template >

<script setup>

const pageFaqs = [
  {
    question: "What is the Calendar view and how can it help me?",
    answer: "The Calendar view provides a visual overview of your records in a calendar format, making it easy to track due dates, schedules, and temporal relationships across your records."
  },
  {
    question: "What features are available in the Calendar view?",
    answer: "Key features of the Calendar view include: Weekday Toggle, Persistent Filters, Sync External Calendars, Add New Dated Records, Drag & Drop Scheduling, Today & Current Date, Full Calendar Navigation, and Click to Open records for editing."
  },
  {
    question: "How do I sync my Blue calendar with external calendars?",
    answer: "You can sync your Blue calendar with external calendars using supported integrations. Click to copy the calendar sync URL and add it to your personal calendar."
  },
  {
    question: "How do I add new dated records to the Calendar?",
    answer: "Click on any timeslot or date on the calendar to quickly create a new dated record. Input the details, and the record will be scheduled at that time."
  },
  {
    question: "Can I reschedule records in the Calendar view?",
    answer: "Yes, you can easily reschedule records by dragging them to different dates/timeslots. You can also lengthen or shorten the duration of records by dragging the bottom edge."
  },
  {
    question: "How do I navigate to the current date in the Calendar view?",
    answer: "Click the Today button to instantly jump to the current date and view records scheduled for today."
  },
  {
    question: "How do I navigate through months and years in the Calendar view?",
    answer: "Use the built-in calendar widget to change months and years or pick specific dates. Click the previous/next arrows to navigate year-by-year."
  },
  {
    question: "How do I open and edit records in the Calendar view?",
    answer: "Click on any record in the calendar to open and edit its details."
  }
];

useSeoMeta({
  title: 'Calendar',
  description: 'Discover the ultimate cross-project integrated calendar platform at Blue. Streamline your schedule, set reminders, and stay organized effortlessly.'
});

</script>

