<template>
  <HeroRightLight 
  title="Boost collaboration with topic-specific chats in Blue."
  subtitle="Keep conversations focused and searchable with dedicated threads for every subject, directly integrated into your workflows."
    imageSrc="/product/chat-overview.png"
    imageAlt="Chat screenshot"
  />
 
    <LazyFeatureCenter
      title="Chat that is built for clarity."
      description="Drop the all day meeting, keep topics on chat and focus on what matters."
      :imageSrc="'/product/chat-detail.png'"
      :imageAlt="'App screenshot'"
      :imageWidth="2432"
      :imageHeight="1442"
      :features="[
         {
            name: 'Topic Based',
            description: 'Create multiple chats for different topics within projects.',
            icon: 'heroicons:chat-bubble-left-right-solid',
         },
         {
            name: 'Powerful Search',
            description: 'Easily find and retrieve past conversations and shared information.',
            icon: 'heroicons:viewfinder-circle-solid',
         },
         {
            name: 'Rich Media Support',
            description: 'Share images, files, and embed YouTube videos directly in chats.',
            icon: 'heroicons:film',
         },
         {
            name: 'Mention Notifications',
            description: '@mention team members to notify them of important messages.',
            icon: 'heroicons:bell-alert-solid',
         },
         {
            name: 'Editing',
            description: 'Edit your messages to correct mistakes or update information',
            icon: 'heroicons:pencil-solid',
         },
         {
            name: 'Real-Time',
            description: 'Experience instant message delivery and live updates for seamless collaboration.',
            icon: 'heroicons:bolt-solid',
         },
      ]"
   />  

  <TestimonialOverlap
    name="Joseph Katsnelson"
    title="Founder of Starrd"
    testimonial="With Blue we are able to manage our clients' projects with ease, the tool is flexible enough to build sophisticated workflows and at the same time simple enough for our team and clients to jump right in with minimal guidance. After trying dozens of PM tools, Blue is the one I keep coming back to."
    picture="/customer-photos/joseph-katsnelson.jpg"
    titleLink="https://starrdagency.com/"
  />

<CtaDark />
<FaqAccordion :faqs="pageFaqs" />
  
  
  
  
  
  
  
</template >

<script setup>
useSeoMeta({
  title: 'On Topic Chat Rooms',
  description: 'Boost collaboration with topic-specific chats in Blue — focused and searchable with dedicated threads for every subject, directly integrated into your workflows.'
});

const pageFaqs = [
  {
    question: "What is the chat feature in Blue, and what is it used for?",
    answer: "The chat feature in Blue is designed for broader project discussions that aren't specific to a single task or record. It's perfect for on-topic conversations about the overall project, allowing team members to communicate and collaborate effectively."
  },
  {
    question: "Who can see the chats in a project?",
    answer: "All chats are visible to the entire team that has access to the project. This promotes transparency and keeps everyone in the loop."
  },
  {
    question: "Is there a limit to the number of people who can participate in a chat?",
    answer: "No, there are no limits to the number of participants in a chat. Your entire team can join in on the conversation!"
  },
  {
    question: "Can we share files in the chat?",
    answer: "Yes, users can share files in the chat. Blue offers unlimited storage, so you can share as many files as you need without worrying about space constraints."
  },
  {
    question: "Is the chat feature available on mobile devices?",
    answer: "Absolutely! The chat feature is available on both iOS and Android native mobile apps, allowing you to stay connected on the go."
  },
  {
    question: "Are chats searchable within Blue?",
    answer: "Yes, chat discussions show up in search results. This makes it easy to find important information discussed in your chats."
  },
  {
    question: "Can I customize my chat notifications?",
    answer: "Definitely! Users can set chat notifications and turn them on or off by project. You can receive notifications via email, desktop, or mobile, giving you flexibility in how you stay updated."
  },
  {
    question: "Does the chat feature integrate with other tools?",
    answer: "Yes, Blue offers over 5,000 integrations via Pabbly and Zapier, plus Webhooks. This allows you to connect your chat with various other tools and platforms you might be using."
  },
  {
    question: "Are there any special features in the chat?",
    answer: "The chat supports emojis, GIFs, and @mentions. You can mention individual users or even user groups (like all admins or all clients), making communication more efficient and fun!"
  },
  {
    question: "How long are chat messages stored?",
    answer: "Chat messages are stored indefinitely in the project. They will remain available unless the specific chat or the entire project is deleted. This ensures you always have access to your conversation history."
  }
]
</script>
