<template>
  <HeroRightLight 
  title="Create your own data structure."
    subtitle="Custom fields are a way to create a custom data structure within Blue that perfectly matches the way your work."
    imageSrc="/product/custom-fields-hero.png"
    imageAlt="Custom Fields Management"
  />
  <StatsBlue :stats="[
        { id: 1, name: 'Custom Fields are automatically formatted based on their type.', value: 'Smart' },
        { id: 2, name: 'Over a dozen type of fields to customize your data structure.', value: 'Variable' },
        { id: 3, name: 'Every change is meticulously logged for your review.', value: 'Auditable' },
      ]" />
  <TitleParagraph
      title="Try our interactive demo below. "
      description="Don't just read, try Blue yourself right on this page"
      />
  <div class="mx-auto" style="position: relative; padding-bottom: calc(55.00000000000001% + 41px); height: 0; width: 75%;"><iframe src="https://demo.arcade.software/C8hCmccWGfwEdwfAbaKx?embed&show_copy_link=true" title="Custom Fields" frameborder="0" loading="lazy" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="clipboard-write" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;color-scheme: light;"></iframe></div>
  <FeatureCenter
    title="A custom field for every data type."
    description="Blue has dozens of fields available to ensure you can match your specific data type."
    :imageSrc="'/product/home-page-modern.png'"
    :imageAlt="'App screenshot'"
    :imageWidth="2432"
    :imageHeight="1442"
    :features="[
      {
        name: 'Single Line Text.',
        description: 'A free text field to add any data you need.',
        icon: 'heroicons:document-text-solid',
      },
      {
        name: 'URL.',
        description: 'Add any URL you need and open it in a new tab in one click.',
        icon: 'heroicons:link-solid',
      },
      {
        name: 'Currency.',
        description: 'Choose from dozens of currencies to track your money.',
        icon: 'heroicons:currency-dollar-solid',
      },
      {
        name: 'File.',
        description: 'Add multiple files to have a more structured data set.',
        icon: 'heroicons:paper-clip-solid',
      },
      {
        name: 'Country.',
        description: 'Get a list of countries that you can select.',
        icon: 'heroicons:globe-alt-solid',
      },
      {
        name: 'Date.',
        description: 'Pick any start and end date. Add time and show it on a calendar.',
        icon: 'heroicons:calendar-solid',
      },
      {
        name: 'Single & Multi Select.',
        description: 'Create a list and select any items for each record.',
        icon: 'heroicons:queue-list-solid',
      },
      {
        name: 'Unique ID.',
        description: 'Create a unique ID that you can use to reference records.',
        icon: 'heroicons:finger-print-solid',
      },
      {
        name: 'Long Text.',
        description: 'A large space to add multi-line text descriptions.',
        icon: 'heroicons:document-text-solid',
      },
      {
        name: 'Phone Number.',
        description: 'Automatically formatted phone numbers and one-click calls.',
        icon: 'heroicons:phone-solid',
      },
      {
        name: 'Email.',
        description: 'Add structured emails into our dedicated email field.',
        icon: 'heroicons:envelope-solid',
      },
      {
        name: 'Checkbox.',
        description: 'Add a checkbox that you can use for approvals.',
        icon: 'heroicons:check-circle-solid',
      },
      {
        name: 'Numbers.',
        description: 'Add numbers with min and max values.',
        icon: 'heroicons:calculator-solid',
      },
      {
        name: 'Percentage.',
        description: 'Add a percentage indicator to any record in Blue.',
        icon: 'heroicons:chart-pie-solid',
      },
      {
        name: 'Reference.',
        description: 'Reference records from other projects.',
        icon: 'heroicons:arrow-path-16-solid',
      },
      {
        name: 'Lookup.',
        description: 'Lookup data from other records in reference fields.',
        icon: 'heroicons:magnifying-glass-circle-solid',
      },
      {
        name: 'Duration.',
        description: 'Calculate the duration of time between events.',
        icon: 'heroicons:clock-solid',
      },
      {
        name: 'Geolocation.',
        description: 'Add location data that will then show up on the map view.',
        icon: 'heroicons:map-pin-solid',
      },
    ]"
  />
  <FeatureRight
    title="Every change to a Custom Field is meticulously logged and auditable."
    description="Blue logs every change to all Custom Fields, ensuring you know who changed what, when."
    :features="[
      {
        name: 'Time Stamped.',
        description: 'Every change is time stamped so you know when things happened.',
        icon: 'heroicons:clock-solid',
      },
      {
        name: 'Identifiable.',
        description: 'Blue informs you who made a specific change to promote accountability.',
        icon: 'heroicons:identification-solid',
      },
      {
        name: 'Time Machine.',
        description: 'See every previous value for every field so you never lose data.',
        icon: 'heroicons:clock-solid',
      },
    ]"
    :image="{
      src: '/product/custom-fields-audit.png',
      alt: 'Audit trail of custom field changes screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <FeatureLeft
    title="All Custom Fields are instantly available via our API the moment they are created."
    description="Our API documentation dynamically updates itself based on your custom data structure so you can serve your data to other systems with ease."
    :features="[
      {
        name: 'Read.',
        description: 'Read data in Blue and send it to external applications.',
        icon: 'heroicons:book-open-solid',
      },
      {
        name: 'Write.',
        description: 'Allows external applications to create new records and modify existing ones.',
        icon: 'heroicons:pencil-solid',
      },
      {
        name: 'Stream.',
        description: 'Blue can send new data and events to external applications automatically.',
        icon: 'heroicons:cloud-solid',
      },
    ]"
    :image="{
      src: '/product/custom-fields-api.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <LogoGrid
    title="Connect to your favorite apps with 5,000+ Integrations."
    subtitle="Powered by Pabbly Connect & Zapier"
    :logos="[
      { url: '/integrations/cta/drive.svg', alt: 'Google Drive' },
      { url: '/integrations/cta/excel.svg', alt: 'Microsoft Excel' },
      { url: '/integrations/cta/salesforce.svg', alt: 'Salesforce' },
      { url: '/integrations/cta/teams.svg', alt: 'Microsoft Teams' },
      { url: '/integrations/cta/whatsapp.svg', alt: 'WhatsApp' },
      { url: '/integrations/cta/gmail.svg', alt: 'Gmail' },
      { url: '/integrations/cta/facebook-messenger.svg', alt: 'Facebook Messenger' },
      { url: '/integrations/cta/telegram.svg', alt: 'Telegram' },
      { url: '/integrations/cta/hubspot.svg', alt: 'HubSpot' },
      { url: '/integrations/cta/wordpress.svg', alt: 'WordPress' },
    ]"
  />
  
  <FeatureRight
    title="Create your dream database."
    description="Every time you create a Custom Field, this becomes a new column in Blue's visual database that you can sort, filter, and manipulate. Think of Excel, but on steroids."
    :features="[
      {
        name: 'Organised.',
        description: 'Organize your data into meaningful groups right away.',
        icon: 'heroicons:circle-stack-solid',
      },
      {
        name: 'Filter like a pro.',
        description: 'Filter and logically analyze data like a pro — without any hassle.',
        icon: 'heroicons:square-3-stack-3d-solid',
      },
      {
        name: 'Edit-as-you-see.',
        description: 'Edit records directly from the database and log all changes meticulously.',
        icon: 'heroicons:pencil-solid',
      },
    ]"
    :image="{
      src: '/product/simple-screenshot-home.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <FaqAccordion :faqs="pageFaqs" />
  
  
  
  
  
  
  
  
  
  
</template >

<script setup>

const pageFaqs = [
    {
    question: "What are Custom Fields?",
    answer: "Custom Fields allow you to tailor a data structure within Blue that perfectly aligns with your specific needs. They offer flexibility, automatic formatting, and a variety of field types to enhance your data organization."
  },
  {
    question: "How are Custom Fields formatted?",
    answer: "Blue smartly formats Custom Fields based on their type—whether it’s a date, URL, phone number, or any other type—ensuring data consistency and usability."
  },
  {
    question: "How can I use Custom Fields in my projects?",
    answer: "Custom Fields can be integrated into any part of Blue, allowing for a highly customizable data structure. Use them to add specific data types to your records, such as contact info, financial details, or geographic locations."
  },
  {
    question: "Are changes to Custom Fields tracked?",
    answer: "Yes, every alteration within Custom Fields is meticulously logged. Blue provides a comprehensive audit trail including timestamps and user information for every change, ensuring accountability and data integrity."
  },
  {
    question: "Can I access Custom Fields through an API?",
    answer: "Absolutely. Custom Fields are instantly accessible via our API as soon as they're created. Our dynamic API documentation updates according to your custom data structure, facilitating seamless data exchange with external systems."
  },
  {
    question: "What makes Custom Fields unique in Blue?",
    answer: "Custom Fields transform your data into a powerful, structured database. You can organize, filter, and manipulate data akin to using a highly advanced version of Excel, but with the added benefit of direct editing and detailed logging of changes."
  },
  {
    question: "Can Custom Fields be used across different projects?",
    answer: "Custom Fields are specific to the project in which they are created. However, the structure and type of Custom Fields can be mirrored in other projects by a Project Administrator, ensuring consistency across your organization's data management practices."
  },
  {
    question: "What happens to the data if a Custom Field is deleted?",
    answer: "Deleting a Custom Field is a project-wide action and permanently removes the field and all its data from every record within that project. This action is irreversible, and all associated data cannot be recovered. It’s important to be certain before deleting a Custom Field."
  },
  {
    question: "What are row-level permissions for Custom Fields, and how do they work?",
    answer: "Row-level permissions enable control over who can view or edit individual Custom Fields. This feature allows for the creation of custom user roles, providing granular access control to protect sensitive information and ensure that only authorized users can make changes to specific data points."
  },
  {
    question: "Can I automate actions based on Custom Field values?",
    answer: "Yes, Blue's automation feature works with Custom Fields. You can watch Custom Fields for specific states or values and trigger automations based on changes."
  }
];
useSeoMeta({
  title: 'Custom Fields',
  description: 'Easily create custom fields on the Blue platform to tailor your data management needs. Streamline processes and enhance organization efficiency.',
})
</script>


