<template>
  <HeroRightLight 
  title="Get realtime dashboards for all your metrics. "
  subtitle="Collaborate effortlessly, edit records instantly, and manage millions of rows with our intuitive spreadsheet-style interface."
    imageSrc="/product/dashboard-hero.png"
    imageAlt="Partners dashboard screenshot"
  />


<FeatureRight
  title="Stat Cards turn your data into one clear metric."
  description="Distill your complex data into one simple, digestible metric that is easy to understand at a glance."
  :features="[
      {
        name: 'Instant Overview.',
        description: 'View key metrics quickly. Data is summarized to sharpen focus and track progress.',
        icon: 'heroicons:viewfinder-circle-20-solid',
      },
      {
        name: 'Real-Time Updates.',
        description: 'Monitor changes as they occur. Always be informed with the latest data.',
        icon: 'heroicons:rocket-launch-solid',
      },
      {
        name: 'Visually Engaging.',
        description: 'Bold and clear design. Stat cards highlight critical numbers for quick assessment.',
        icon: 'heroicons:chart-bar-solid',
      },
    ]"
    
  :image="{
    src: '/product/stat-card.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureLeft
  title="Pie Charts help you spot where to focus."
  description="Visualize data proportions instantly to prioritize efforts and resources efficiently."
  :features="[
      {
        name: 'Visual Breakdown.',
        description: 'View percentages and amounts together. Each slice shows size and value.',
        icon: 'heroicons:chart-pie-solid',
      },
      {
        name: 'Flexible Totals.',
        description: 'Customize how you total—average, count, max, min, or sum.',
        icon: 'heroicons:calculator-solid',
      },
      {
        name: 'Color Insights.',
        description: 'Color segments for quick trend spotting. Clear, distinct, informative.',
        icon: 'heroicons:paint-brush-solid',
      },
    ]"
    
    
  :image="{
    src: '/product/pie-chart.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureRight
  title="Bar Charts allow you to spot trends over time."
  description="Track trends over time with precision. Blue's bar charts are updated automatically, giving you the insight to make data-driven decisions."
  :features="[
      {
        name: 'Visual Breakdown.',
        description: 'View percentages and amounts together. Each slice shows size and value.',
        icon: 'heroicons:chart-pie-solid',
      },
      {
        name: 'Flexible Totals.',
        description: 'Customize how you total—average, count, max, min, or sum.',
        icon: 'heroicons:calculator-solid',
      },
      {
        name: 'Color Insights.',
        description: 'Color segments for quick trend spotting. Clear, distinct, informative.',
        icon: 'heroicons:paint-brush-solid',
      },
    ]"
    
  
  :image="{
    src: '/product/bar-chart.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<CtaDark
  title="Have clear insights with your data."
  description="Centralize your data for accurate, up-to-date information and streamlined workflows."
  buttonText="Try it Free"
  buttonLink="https://app.blue.cc"
  imageSrc="/product/dark-cta-dashboard.png"
/>
  <FaqAccordion :faqs="pageFaqs" />
  
  
  
  
  
  
  
  
</template >

<script setup>

const pageFaqs = [
  {
    question: "What types of charts are available in Blue's dashboards?",
    answer: "Blue offers three chart options for dashboards: stat cards for displaying key metrics at a glance, pie charts for visualizing data composition, and bar graphs for comparing quantities."
  },
  {
    question: "Can I combine data from multiple projects in a single dashboard?",
    answer: "Yes, Blue's dashboards allow you to combine real-time data from multiple projects simultaneously, enabling you to build live dashboards that provide meaningful information for decision-making."
  },
  {
    question: "How can I share dashboards with my team members?",
    answer: "Dashboards in Blue can be shared with team members within the platform. You can grant edit or view permissions, and anyone with access to a dashboard can share it with other users, respecting the tiered permissions system."
  },
  {
    question: "Can I share dashboards with people outside my organization?",
    answer: "Currently, Blue's dashboards are designed for internal collaboration and cannot be shared externally with non-Blue users via public links. However, this feature is planned for a future release."
  },
  {
    question: "What filtering options are available for dashboards?",
    answer: "Blue dashboards provide sophisticated filtering capabilities, enabling precise data segmentation by project, list, tag, and timeframe. Lists and tags sharing the same name are smartly consolidated across projects, simplifying the process of filtering data that spans multiple initiatives."
  },
  {
    question: "Can I customize the layout of my dashboard?",
    answer: "Yes, Blue's intuitive drag and drop functionality allows you to easily customize your dashboard layout. You can quickly reposition charts within a dashboard to suit your viewing preferences or to highlight the most critical information."
  },
  {
    question: "How can I provide feedback or suggestions for the dashboard feature?",
    answer: "If you have further ideas or suggestions for dashboards, you can join our community forum or reach out to us directly at help@blue.cc. We value your input and are always looking for ways to improve our platform."
  }
];

useSeoMeta({
  title: 'Dashboard',
  description: 'Centralize your data for accurate, up-to-date information and streamlined workflows. Have clear insights with your data.',
})
</script>