<template>
  <HeroRightLight 
  title="Ditch Excel. Embrace Database View. "
  subtitle="Collaborate effortlessly, edit records instantly, and manage millions of rows with our intuitive spreadsheet-style interface."
    imageSrc="/product/project-management-full-interface.png"
    imageAlt="Blue Database Screenshot"
  />
  <FeatureCenter
    title="Transform your data management with Blue's Database View."
    description="Say goodbye to spreadsheet chaos and hello to streamlined data management. Get your data working for you, not against you."
    :imageSrc="'/product/simple-screenshot-home.png'"
    :imageAlt="'App screenshot'"
    :imageWidth="2432"
    :imageHeight="1442"
  />  


<CtaDark />

<FeatureRight
  title="The database you always wanted."
  description="Fast, performant and beautiful. This is the database that you will actually enjoy working with."
  :image="{
    src: '/product/database-dark.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureLeft
  title="Keep essential data at your fingertips."
  description="Never lose sight of crucial information — no matter how many columns you have. Pin key columns, hide unnecessary ones, and focus on what matters."
    :image="{
    src: '/product/database-option-popup.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureRight
  title="Filter, sort, and group like a pro."
  description="Leverage advanced stacked filters, sort multiple columns, and create groups and subgroups to organize your database and find what you need in seconds."
  :image="{
    src: '/product/database-group.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureLeft
  title="Seamless data import and export."
  description="Import and export hundreds of thousands of records via CSV in a snap. Or go even further and use our next-generation API."
    :image="{
    src: '/product/import.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureRight
  title="Forget conflicts and work together in real-time."
  description="Blue's advanced sync engine ensures that you always see the latest data. Any changes your team member make, you'll see in real-time, no refresh needed."
    :image="{
    src: '/product/simple-screenshot-home.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureLeft
  title="Create connections to achieve a single source of truth."
  description="Link records and fields between databases to create a truly interconnected, company-wide data management system. Update data everywhere at once."
    :image="{
    src: '/product/simple-screenshot-home.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureCenter
  title="Row-level permissions and granular access control with custom user roles."
  description="Set granular permission at the column level to ensure that your information is disclosed only to those who need to know."
  :imageSrc="'/product/custom-fields-permissions.png'"
  :imageAlt="'App screenshot'"
  :imageWidth="2432"
  :imageHeight="1442"
/> 
<CtaDark />

  <FaqAccordion :faqs="pageFaqs" />
  
  
  
  
  
  
  
  
</template >

<script setup>

const pageFaqs = [
  {
    question: "What is the Database View in Blue?",
    answer: "The Database View presents your records in a spreadsheet-style interactive table. This view is ideal for managing large datasets, enabling powerful filtering, sorting, and editing capabilities."
  },
  {
    question: "How do I group records in the Database View?",
    answer: "Drag column headers to group records by specific properties. You can also multi-group using multiple columns to arrange your data effectively."
  },
  {
    question: "What are interactive columns in the Database View?",
    answer: "Each column represents a custom field, with the ability to instantly edit data within cells. You can rearrange column placement via drag-and-drop for better organization."
  },
  {
    question: "How does infinite scroll work in the Database View?",
    answer: "The database table enables infinite vertical scrolling, allowing you to manage vast datasets spanning tens or hundreds of thousands of records seamlessly."
  },
  {
    question: "How can I access detailed information for a record?",
    answer: "Right-click any record to open a details pane showing the full record information. This allows you to drill down without having to open the full record."
  },
  {
    question: "What bulk actions are available in the Database View?",
    answer: "If it's a number/formula field, you can instantly see the total sum. Bulk actions facilitate quick data analysis and management across multiple records."
  },
  {
    question: "How can I manage columns in the Database View?",
    answer: "You can click on a column header to sort all your records by that column and access various options like pinning columns, autosizing, grouping by assignees, and showing/hiding columns."
  },
  {
    question: "Can I customize the Database View for my needs?",
    answer: "Any changes you make to the view of the database only apply to your user. Other users will see the default database view unless they make their own changes to the view."
  }
];
useSeoMeta({
  title: 'Database',
  description: 'Discover the power of Blue Platform\'s database solutions for seamless data management and optimization. Streamline your processes with ease.'
});

</script>

