<template>
  <HeroRightLight 
  title="Unlimited storage and secure backups."
  subtitle="Use Blue to store your project files and find anything in seconds — never again ask where's that file? again."
    imageSrc="/product/files-hero.png"
    imageAlt="Partners dashboard screenshot"
  />
  <TitleParagraph
    title="Switch to the modern way to manage project files. "
    description="Don't scatter your files across group chats, email, and online file storage — you need one place that is the source of truth for everything related to your project."
    />
    

<CtaDark
  title="Truly Unlimited File Storage? You Bet."
  description="Unlimited project file storage is made possible through intelligent data tiering, which moves older files to cost-effective storage, so you never run out of space."
  buttonText="Try it Free"
  buttonLink="https://app.blue.cc"
/>
  <FeatureRight
    title="Private by default."
    description="Project files are private by default. Only invited members can view them. Your data stays confidential and secure."
    :features="[
              {
                name: 'Control.',
                description: 'Grant or revoke file access anytime. You\'re in charge.',
                icon: 'heroicons:eye-solid',
              },
              {
                name: 'Collaborate.',
                description: 'Generate secure public links. Share files externally with ease.',
                icon: 'heroicons:share-solid',
              },
              {
                name: 'Protect.',
                description: 'Default privacy safeguards data. Share selectively when needed.',
                icon: 'heroicons:lock-closed-solid',
              },
            ]"
            
    :image="{
      src: '/product/files-share.png',
      alt: 'Files Sharing Screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <FeatureLeft
  title="File organization, mastered."
  description="Stay on top of your files with Blue's intuitive folder management. Create folders, subfolders, and color-code to your heart's content."
    :features="[
          {
            name: 'Customize.',
            description: 'Build a folder structure that fits your needs perfectly.',
            icon: 'heroicons:folder-plus-solid',
          },
          {
            name: 'Categorize.',
            description: 'Use colors to group folders by project, client, or category.',
            icon: 'heroicons:paint-brush-solid',
          },
          {
            name: 'Conquer Clutter.',
            description: 'Effortlessly organize and locate files within nested folders.',
            icon: 'heroicons:folder-open-solid',
          },
        ]"
        
    :image="{
      src: '/product/files-hero.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  
  
  
  <FeatureRight
        title="All your data at your fingertips in milliseconds."
        description="Finding files has never been easier. Instantly search across all projects and locate exactly where any document originated."
        :features="[
              {
                name: 'Lightning Fast.',
                description: 'Powerful search returns results in milliseconds.',
                icon: 'heroicons:bolt-solid',
              },
              {
              name: 'Complete Context.',
                description: 'See the full path of a file - which project, record or comment it\'s linked to.',
                icon: 'heroicons:arrows-pointing-in-solid',
              },
              {
                name: 'No More Guessing.',
                description: 'Stop wasting time. Blue surfaces what you need, when you need it.',
                icon: 'heroicons:bars-3',
              },
            ]"
            
        :image="{
          src: '/product/file-search.png',
          alt: 'File search screenshot',
          width: '2432',
          height: '1442',
        }"
  />

  <CtaDark />
  
</template >

<script setup>
useSeoMeta({
  title: 'File Management',
  description: 'Blue provides unlimited file storage, up to 5GB per file, enabling you to store and access all your files in one place with secure backups.'
});
</script>
