<template>
<HeroRightLight 
title="Streamline data collection with customizable forms. "
subtitle="Effortlessly gather information from clients, employees, or the public with Blue's intuitive form builder. Design branded forms tailored to your needs in minutes."
  imageSrc="/product/forms-hero.png"
  imageAlt="Partners dashboard screenshot"
/>
  
<TitleParagraph
  title="See it to believe it."
  description="Try out interactive demo of Blue forms."
  />
  
<div class="mx-auto" style="position: relative; padding-bottom: calc(55.00000000000001% + 41px); height: 0; width: 75%;"><iframe src="https://demo.arcade.software/ky5quDvIjGjQR34ZBLm5?embed&show_copy_link=true" title="Custom Fields" frameborder="0" loading="lazy" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="clipboard-write" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;color-scheme: light;"></iframe></div>

<FeatureRight
  title="Say Goodbye to Generic Forms."
  description="Our form builder puts you in full control. Craft on-brand forms tailored to your unique needs in minutes."
  :features="[
    {
      name: 'Powerful Options.',
      description: 'Drag-and-drop any form fields - text, dropdowns, file uploads, and more.',
      icon: 'heroicons:bolt-solid',
    },
    {
      name: 'Branded Experience.',
      description: 'Customize colors, logos, and styling to make forms your own.',      
      icon: 'heroicons:paint-brush-solid',
    },
    {
      name: 'No Coding Required.',
      description: 'Our intuitive interface makes form building accessible to anyone.',
      icon: 'heroicons:code-bracket-square-solid',
    },
  ]"
  :image="{
    src: '/product/forms-web.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>

<FeatureLeft
  title="Make sharing forms a breeze."
  description="Never deal with clunky file attachments again. Blue offers multiple seamless ways to share and distribute forms."
  :features="[
    {
      name: 'Links.',
      description: 'Generate shareable links to deploy forms anywhere.',
      icon: 'heroicons:link-solid',
    },
    {
      name: 'QR Codes.',
      description: 'Download QR codes to print and post up.',      
      icon: 'heroicons:qr-code-solid',
    },
    {
      name: 'Website Embedding.',
      description: 'Embed forms directly onto your website using a simple code snippet.',
      icon: 'heroicons:globe-alt-solid',
    },
  ]"
  :image="{
    src: '/product/forms-hero.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureRight
  title="Ditch data entry, forever."
  description="Say goodbye to manual data transfers. Form entries go straight into your Blue projects automatically."
  :features="[
    {
      name: 'Direction Integration.',
      description: 'Submissions pipe seamlessly into any project list or view.',
      icon: 'heroicons:share-solid',
    },
    {
      name: 'Smart Mapping.',
      description: 'Map form fields to project data fields for organized information flow.',      
      icon: 'heroicons:academic-cap-solid',
    },
    {
      name: 'Real-Time Updates.',
      description: 'New entries instantly appear in your project for maximum efficiency.',
      icon: 'heroicons:bolt-solid',
    },
  ]"
  :image="{
    src: '/product/forms-hero.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>

<TitleParagraph
    title="Forms for every workflow."
    description="From sales to recruitment, marketing to operations - Blue's flexible forms empower your entire organization."
    />
<StatsCards
card1Number="Streamline Processes."
  card1Description="Create tailored form flows for client onboarding, vendor management, employee requests, and more."
  card2Number="Power Sales Cycles."
  card2Description="Capture lead details, digitize paper orders, and drive successful sales motions through forms."
  card3Number="Simplify Hiring."
  card3Description="Build job application forms, gather candidate information, and accelerate your recruitment process."
/>

<CtaDark />
  <FaqAccordion :faqs="pageFaqs" />
  
  
  
  
  
  
  
  
</template >

<script setup>

const pageFaqs = [
  {
    question: "What are forms in Blue?",
    answer: "Forms in Blue are tools for users outside of Blue to submit information such as helpdesk tickets or new client inquiries. They are integrated with other features to ensure the right person can quickly take action."
  },
  {
    question: "Who can create and modify forms?",
    answer: "Forms can only be created and modified by Project Administrators or Team Members."
  },
  {
    question: "How are forms linked to projects?",
    answer: "Forms are specific to individual projects. Each form can collect different information and route it to different lists and assignees within the project."
  },
  {
    question: "Can forms be shared with external users?",
    answer: "Yes, each form has a unique link that can be shared with anyone, allowing users outside of Blue to see and submit forms."
  },
  {
    question: "Are forms public?",
    answer: "Yes, all forms are public and have no restrictions (e.g., password protection). Anyone with the link can submit information to your project."
  },
  {
    question: "How do you build forms in Blue?",
    answer: "You can use the drag-and-drop editor to add standard and custom fields to your form. Fields can have titles and descriptions and can be marked as required."
  },
  {
    question: "What custom fields are available?",
    answer: "Custom fields available in forms include: Single Line Text, URL / Link, Currency, Country, Date, Single Select, Multiple Select, Location / Map, Phone Number, Email, Star Rating, Checkbox, Number, Percent, Formula, Unique ID, Reference, Lookup, and Duration."
  },
  {
    question: "Can forms have logos and descriptions?",
    answer: "Yes, you can set an image at the top of the form and add descriptions using a rich-text editor. The descriptions can include text, images, videos, and files."
  },
  {
    question: "Can you customize the form's appearance?",
    answer: "Yes, you can change the primary color, set a custom redirect URL, and add a footer with additional information. You can also choose to hide the Blue logo from the bottom of the form."
  },
  {
    question: "How are submitted forms managed?",
    answer: "When a form is submitted, it generates a record that can be placed in a specific list, assigned to a team member, and tagged according to your project's workflow."
  },
  {
    question: "Can forms trigger automations?",
    answer: "Yes, forms are fully compatible with automations. You can trigger an automation when a new record is created from a form submission."
  },
  {
    question: "How can forms be shared?",
    answer: "You can share forms via a link or QR code. The QR code can be used on equipment or printed materials to allow users to submit forms easily."
  },
  {
    question: "Can forms be embedded on a website?",
    answer: "Yes, Blue provides an embed code that can be copied and pasted into your website. The code uses an iframe to integrate the form seamlessly."
  },
  {
    question: "Can you copy forms to other projects?",
    answer: "Yes, when you copy a form, the structure and settings are replicated. Custom fields are matched and integrated if they exist in the new project."
  },
  {
    question: "Can you send confirmation emails?",
    answer: "Yes, you can create an email automation to send confirmation or thank you emails when a form is submitted. Ensure the form includes an email custom field for this purpose."
  }
];

useSeoMeta({
  title: 'Smart Workflow Forms',
  description: 'Smart intake forms allow you to get data in the most efficient way. Create custom forms and submit data to your project in one click.',
});


</script>