<template>
  <div class="bg-white dark:bg-gray-900">
    <div class="relative isolate pt-14">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative dark:bg-gradient-to-tl dark:from-[#00a0d2] dark:to-[#00a0d2] left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#00a0d2] to-[#00a0d2] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" />
      </div>
      <div class="py-24 sm:py-32 lg:pb-40">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-4xl text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl dark:text-white">15,000+ organizations use Blue to work better, together.</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">Blue is versatile enough to power any process. Our first principles approach to digital transformation gives you all the tools you need to work — your way.</p>
          </div>
          <div class="mt-16 flow-root sm:mt-24">
            <div class="-m-2 rounded-xl bg-gray-900/5 dark:bg-gray-800/5 p-2 ring-1 ring-inset ring-gray-900/10 dark:ring-white lg:-m-4 lg:rounded-2xl lg:p-4">
  <NuxtImg format="webp" src="/product/simple-screenshot-home.png" alt="App screenshot" width="2432" height="1442" class="rounded-md shadow-2xl ring-1 ring-gray-900/10 dark:ring-gray-800" />
</div>

          </div>
        </div>
      </div>
      <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div class="relative dark:bg-gradient-to-tr dark:from-[#00a0d2] dark:to-[#00a0d2] left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#00a0d2] to-[#00a0d2] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" />
      </div>
    </div>
    <LogoGrid
      title="Powering the world's best project managers."
      subtitle="From startups → enterprise"
      :logos="[
        { url: '/clients/heineken.svg', alt: 'Heineken Logo' },
        { url: '/clients/deloitte.svg', alt: 'Deloitte Logo' },
        { url: '/clients/savethechildren.svg', alt: 'Save The Children Logo' },
        { url: '/clients/fedex.svg', alt: 'Fedex Logo' },
        { url: '/clients/ilo.png', alt: 'International Labour Organization Logo' }
      ]"
    />
    <LazyFeatureRight
      title="Keep everything organized and private with Workspaces."
      description="Every workspace contains all the tools you need to move work forwards and get things done."
      :features="[
        {
          name: 'Unlimited.',
          description: 'You can create as many workspaces as you need, without any limits.',
          icon: 'heroicons:rocket-launch-solid',
        },
        {
          name: 'Private.',
          description: 'Granular permissions ensure each person sees what they should.',
          icon: 'heroicons:eye-slash-solid',
        },
        {
          name: 'Organized.',
          description: 'One place for all your work. No more searching for lost items.',
          icon: 'heroicons:cube-solid',
        },
      ]"
      :image="{
        src: '/product/simple-screenshot-home.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
    />
    <LazyFeatureLeft
      title="Effortlessly manage and utilize your data with Records."
      description="Use records to track anything. From a literal list of things to get done, all way to tracking inventory, invoices, and documents."
      :features="[
        {
          name: 'Flexible.',
          description: 'Use records to track any type of data structure.',
          icon: 'heroicons:chevron-up-down-solid',
        },
        {
          name: 'Auditable.',
          description: 'All records have a full audit trail of changes — who, what, where, and when.',
          icon: 'heroicons:viewfinder-circle-solid',
        },
        {
          name: 'Scalable.',
          description: 'Add up to 100,000 records per list.',
          icon: 'heroicons:chart-bar-solid',
        },
      ]"
      :image="{
        src: '/product/home-page-modern.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
    />
    <LazyFeatureRight
      title="Infinite flexibility with Custom Fields."
      description="Extend your records — add geolocation, tagging, unique IDs, names, email, dates, selects to map your data structure."
      :features="[
        {
          name: 'Smart.',
          description: 'Custom fields are automatically formatted based on their type.',
          icon: 'heroicons:academic-cap-solid',
        },
        {
          name: 'Variable.',
          description: 'Over a dozen types of fields to customize your data structure.',
          icon: 'heroicons:variable-solid',
        },
        {
          name: 'Auditable.',
          description: 'Every change is meticulously logged for your review.',
          icon: 'heroicons:viewfinder-circle-solid',
        },
      ]"
      :image="{
        src: '/product/custom-fields.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
    />
    <LazyCtaDark />
    <LazyLogoGrid
      title="Connect to your favorite apps with 5,000+ Integrations."
      subtitle="Powered by Pabbly Connect & Zapier"
      :logos="[
        { url: '/integrations/cta/drive.svg', alt: 'Google Drive' },
        { url: '/integrations/cta/excel.svg', alt: 'Microsoft Excel' },
        { url: '/integrations/cta/salesforce.svg', alt: 'Salesforce' },
        { url: '/integrations/cta/teams.svg', alt: 'Microsoft Teams' },
        { url: '/integrations/cta/whatsapp.svg', alt: 'WhatsApp' },
        { url: '/integrations/cta/gmail.svg', alt: 'Gmail' },
        { url: '/integrations/cta/facebook-messenger.svg', alt: 'Facebook Messenger' },
        { url: '/integrations/cta/telegram.svg', alt: 'Telegram' },
        { url: '/integrations/cta/hubspot.svg', alt: 'HubSpot' },
        { url: '/integrations/cta/wordpress.svg', alt: 'WordPress' },
      ]"
    />
    <LazyFeatureRight
      title="Move faster and eliminate admin work with Automations."
      description="Automate tedious tasks and create custom workflows tailored to your needs — so you can focus on the work that truly matters."
      :features="[
        {
          name: 'Choose your trigger.',
          description: 'Choose the exact action that will activate the automation.',
          icon: 'heroicons:arrow-up-circle-solid',
        },
        {
          name: 'Set your actions.',
          description: 'Choose a set of action and arrange the steps in sequence.',
          icon: 'heroicons:arrow-down-circle-solid',
        },
        {
          name: 'Automate.',
          description: 'Sit back, relax, and watch how things happen — automagically.',
          icon: 'heroicons:check-badge-solid',
        },
      ]"
      :image="{
        src: '/product/automations.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
    />
    <LazyFeatureLeft
      title="Create standardized processes with Boards."
      description="Organize your workplace quickly and easily with process boards — ensuring steps are clear and simple to follow."
      :features="[
        {
          name: 'Scalable.',
          description: 'Up to 100,000 records per list to track data and process at scale.',
          icon: 'heroicons:chart-bar-solid',
        },
        {
          name: 'Visual.',
          description: 'Drag and drop records to organize work across all your devices.',
          icon: 'heroicons:eye-solid',
        },
        {
          name: 'Precise.',
          description: 'Advanced filters, keywords, and tags search keep records organized.',
          icon: 'heroicons:magnifying-glass-circle-solid',
        },
      ]"
      :image="{
        src: '/product/dark-cta-screenshot.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
    />
    <CtaDark />
    <LazyFeatureRight
      title="Manage data at scale with Visual Database."
      description="Eliminate the tedious details and explore your database. Visualize and dissect your data quickly to find what you need."
      :features="[
        {
          name: 'Organized.',
          description: 'Organize your data into meaningful groups right away.',
          icon: 'heroicons:cube-solid',
        },
        {
          name: 'Filterable.',
          description: 'Filter and logically analyze data like a pro — without any hassle.',
          icon: 'heroicons:adjustments-horizontal-solid',
        },
        {
          name: 'Editable.',
          description: 'Edit records directly from the database and log all changes meticulously.',
          icon: 'heroicons:pencil-solid',
        },
      ]"
      :image="{
        src: '/product/simple-screenshot-home.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
    />
    <LazyFeatureLeft
      title="Ensure you're always up to date with Calendars."
      description="Plan your projects and processes with Blue calendars to get a clear overview of what's happening in your organization — then identify bottlenecks before they arise."
      :features="[
        {
          name: 'Cross-Workspace.',
          description: 'View a unified organization calendar to gain a 30,000 foot perspective.',
          icon: 'heroicons:rectangle-stack-solid',
        },
        {
          name: 'Drag & Drop.',
          description: 'Drag and drop to quickly change dates and keep your project schedule up-to-date.',
          icon: 'heroicons:rectangle-group-solid',
        },
        {
          name: 'Sync your Calendar.',
          description: 'Sync all Blue events instantly with your work calendar. We support Outlook, Google Calendar, and iCal.',
          icon: 'heroicons:calendar-days-solid',
        },
      ]"
      :image="{
        src: 'product/calendar.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
    />
    <LazyFeatureRight
      title="Monitor everything with Activity & Audit Trails."
      description="Blue creates transparency on what's happened. Monitor activities across workspaces and hold people responsible."
      :features="[
        {
          name: 'Time Machine.',
          description: 'Instantly go back and see what happened on a given date range.',
          icon: 'heroicons:clock-solid',
        },
        {
          name: 'Organizational Activity.',
          description: 'See a comprehensive overview of activity across all workplaces.',
          icon: 'heroicons:building-office-solid',
        },
        {
          name: 'Individual Activity.',
          description: 'Everyone has an individual activity, so you can see who did what.',
          icon: 'heroicons:user-solid',
        },
      ]"
      :image="{
        src: '/product/activity.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
    />
    <CtaDark />
    <LazyFeatureLeft
      title="Have everything at your fingertips with Files."
      description="Blue provides unlimited file storage, enabling you to store and access all your files in one place."
      :features="[
        {
          name: 'Safe.',
          description: 'Rock-solid file storage powered by major cloud hosting providers, with daily backups.',
          icon: 'heroicons:shield-check-solid',
        },
        {
          name: 'Organized',
          description: 'Set up folders, color coding, and search across your entire account.',
          icon: 'heroicons:folder-solid',
        },
        {
          name: 'Shareable.',
          description: 'Instantly create a shareable public file link to send to clients or partners.',
          icon: 'heroicons:share-solid',
        },
      ]"
      :image="{
        src: 'product/files.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
    />
    <LazyFeatureRight
      title="Create clarity across teams with Wiki & Docs."
      description="Collaborate in realtime to build key documentation right within your workspaces. This helps spread organisational knowledge and document processes."
      :features="[
        {
          name: 'Realtime',
          description: 'Collaborate with your colleagues in real-time and watch their edits appear instantly.',
          icon: 'heroicons:document-check-solid',
        },
        {
          name: 'Simple.',
          description: 'Get the essentials for editing without the unnecessary extra complexity.',
          icon: 'heroicons:document-text-solid',
        },
        {
          name: 'Tables of Contents.',
          description: 'Realtime documents have an automatic table of contents to make navigation easy.',
          icon: 'heroicons:clipboard-document-list-solid',
        },
      ]"
      :image="{
        src: '/product/wiki.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
    />
    <LazyFeatureLeft
      title="Visualize your geolocation data with Maps."
      description="Visualize your data on a world map. Track customers, delivery addresses, and other real-world items with ease."
      :features="[
        {
          name: 'Private.',
          description: 'We don\'t send any data to Google Maps. Your data stays private and secure.',
          icon: 'heroicons:shield-check-solid',
        },
        {
          name: 'Powerful.',
          description: 'Use all the filters and search as you would in any other record view.',
          icon: 'heroicons:rocket-launch-solid',
        },
        {
          name: 'Cross-Workspace.',
          description: 'Create a organizational map of every record that has a location.',
          icon: 'heroicons:rectangle-stack-solid',
        },
      ]"
      :image="{
        src: '/product/map.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
    />
    <LazyCtaDark />
    <LazyFeatureRight
      title="Know what's going on with Notifications."
      description="Blue keeps you informed of important matters without overloading your inbox and phone. You have the flexibility to adjust your settings and stay in control."
      :features="[
        {
          name: 'Deep Work Mode.',
          description: 'Switch off all notifications when you need to focus on your work.',
          icon: 'heroicons:bell-slash-solid',
        },
        {
          name: 'Granular Control.',
          description: 'Tell us precisely how we should notify you for each type of notification.',
          icon: 'heroicons:bell-alert-solid',
        },
        {
          name: 'Follow Projects.',
          description: 'Choose which projects you want notifications for.',
          icon: 'heroicons:bell-snooze-solid',
        },
      ]"
      :image="{
        src: '/product/notifications.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
    />
    <LazyFeatureLeft
      title="Extend Blue or build your own applications with our API."
      description="Blue provides an Application Programming Interface (API) so you can easily build, extend, and integrate features and actions into your own applications."
      :features="[
        {
          name: 'Read.',
          description: 'Read data in Blue and send it to external applications.',
          icon: 'heroicons:variable-solid',
        },
        {
          name: 'Write.',
          description: 'Allows external applications to create new records and modify existing ones.',
          icon: 'heroicons:document-check-solid',
        },
        {
          name: 'Stream.',
          description: 'Blue can send new data and events to external applications automatically.',
          icon: 'heroicons:arrow-up-circle-solid',
        },
      ]"
      :image="{
        src: '/product/simple-screenshot-home.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
    />
    <LazyFeatureList
      title="The end-to-end platform."
      subtitle="There's more."
      description="Blue is a better way to manage projects."
      :features="[
        {
          name: 'Mobile Apps.',
          description: 'You can view and edit data on the go with our iOS and Android apps.',
          icon: 'heroicons:device-phone-mobile-solid',
        },
        {
          name: 'Dark Mode.',
          description: 'Working at night? Use dark mode and reduce eye strain.',
          icon: 'heroicons:moon-solid',
        },
        {
          name: 'Workspace Templates.',
          description: 'Build templates to reuse for common processes.',
          icon: 'heroicons:document-text-solid',
        },
        {
          name: 'Archives.',
          description: 'Freeze workspaces once they are completed, and go back any time.',
          icon: 'heroicons:archive-box-solid',
        },
        {
          name: 'Search.',
          description: 'Everything in Blue is instantly searchable.',
          icon: 'heroicons:magnifying-glass-circle-solid',
        },
        {
          name: 'Updates.',
          description: 'Request updates from team members on a regular schedule.',
          icon: 'heroicons:arrow-path-solid',
        },
        {
          name: 'Reminders.',
          description: 'Remind yourself on a custom schedule for any record.',
          icon: 'heroicons:bell-alert-solid',
        },
        {
          name: 'Workplace Folders.',
          description: 'Organize your workplaces in a way that makes sense to you.',
          icon: 'heroicons:folder-solid',
        },
        {
          name: 'Organisational Branding.',
          description: 'Completely remove Blue branding and use your own branding.',
          icon: 'heroicons:building-office-solid',
        },
      ]"
    />
    <LazyCtaLight />
  </div>
</template>

<script setup lang="ts">
useSeoMeta({
  title: 'Platform',
  description: 'Blue is a better way to manage projects. Our powerful platform can power your projects and processes, making work move forwards faster and more efficiently.',
})
</script>
