<template>
  <HeroRightLight 
    title="Integrate with thousands of tools"
    subtitle="With Pabbly or Zapier, you can connect Blue to thousands of external systems."
    buttonText="Learn More"
    buttonLink="/docs/integrations/pabbly-connect"
    imageSrc="/product/simple-screenshot-home.png"
    imageAlt="Blue screenshot"
  />
  <div class="bg-white dark:bg-gray-900 py-12 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mb-8">
        <input
          v-model="searchQuery"
          type="text"
          placeholder="Search integrations..."
          class="w-full px-4 py-2 border border-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:text-white rounded-md focus:outline-none focus:ring-2 focus:ring-brand-blue"
        />
      </div>
      <div class="mx-auto mt-10 grid max-w-lg grid-cols-2 sm:grid-cols-6 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:gap-x-10 lg:mx-0 lg:max-w-none">
        <div v-for="(logo, index) in filteredLogos" :key="index" class="flex flex-col items-center bg-gray-100 dark:bg-gray-800 rounded-lg p-4">
          <img :src="logo.src" :alt="logo.name" class="w-8 h-8 object-contain" />
          <p class="mt-2 text-center text-gray-900 dark:text-gray-200">{{ logo.name }}</p>
        </div>
      </div>
    </div>
  </div>
</template>


<script setup>
import { ref, computed } from 'vue';
const logos = [
  { name: 'Abhisi', src: '/integrations/abhisi.png' },
  { name: 'Abyssale', src: '/integrations/abyssale.png' },
  { name: 'Active Chat', src: '/integrations/active_chat.png' },
  { name: 'Active Trail', src: '/integrations/active_trail.png' },
  { name: 'Aftership', src: '/integrations/aftership.png' },
  { name: 'AidaForms', src: '/integrations/aidaforms.png' },
  { name: 'Albacross', src: '/integrations/albacross.png' },
  { name: 'Apify', src: '/integrations/apify.png' },
  { name: 'Apollo', src: '/integrations/apollo.png' },
  { name: 'ArrayFunction', src: '/integrations/arrayfunction.png' },
  { name: 'AtarimSlacksmall', src: '/integrations/atarimslacksmall.png' },
  { name: 'Authorize.net', src: '/integrations/authorize.net.png' },
  { name: 'Automizy', src: '/integrations/automizy.png' },
  { name: 'Axonaut', src: '/integrations/axonaut.png' },
  { name: 'BLINK', src: '/integrations/blink.png' },
  { name: 'BambooHR', src: '/integrations/bamboohr.png' },
  { name: 'Baremetrics', src: '/integrations/baremetrics.png' },
  { name: 'Bidsketch', src: '/integrations/bidsketch.png' },
  { name: 'BigMailer', src: '/integrations/bigmailer.png' },
  { name: 'BigMarker', src: '/integrations/bigmarker.png' },
  { name: 'Billsby', src: '/integrations/billsby.png' },
  { name: 'BirdSeed', src: '/integrations/birdseed.png' },
  { name: 'BitForm', src: '/integrations/bitform.png' },
  { name: 'BlockSurvey', src: '/integrations/blocksurvey.png' },
  { name: 'Blue', src: '/integrations/blue.png' },
  { name: 'Bookafy', src: '/integrations/bookafy.png' },
  { name: 'Boost.link', src: '/integrations/boost.link.png' },
  { name: 'Botgate', src: '/integrations/botgate.png' },
  { name: 'BotstarNew', src: '/integrations/botstarnew.png' },
  { name: 'BrustSMS', src: '/integrations/brustsms.png' },
  { name: 'Bulkgate', src: '/integrations/bulkgate.png' },
  { name: 'Bulksms', src: '/integrations/bulksms.png' },
  { name: 'Bundle', src: '/integrations/bundle.png' },
  { name: 'CJdropshipping', src: '/integrations/cjdropshipping.png' },
  { name: 'CampaignMonitor', src: '/integrations/campaignmonitor.png' },
  { name: 'Canny', src: '/integrations/canny.png' },
  { name: 'Chargebee', src: '/integrations/chargebee.png' },
  { name: 'Chatra', src: '/integrations/chatra.png' },
  { name: 'Chatwork', src: '/integrations/chatwork.png' },
  { name: 'Clearbit', src: '/integrations/clearbit.png' },
  { name: 'Clearout', src: '/integrations/clearout.png' },
  { name: 'ClicData', src: '/integrations/clicdata.png' },
  { name: 'Clickfunnels', src: '/integrations/clickfunnels.png' },
  { name: 'Clinked', src: '/integrations/clinked.png' },
  { name: 'Clockify', src: '/integrations/clockify.png' },
  { name: 'CloudConvert', src: '/integrations/cloudconvert.png' },
  { name: 'CognitoForms', src: '/integrations/cognitoforms.png' },
  { name: 'Connect', src: '/integrations/connect.png' },
  { name: 'ConstantContact', src: '/integrations/constantcontact.png' },
  { name: 'Continual.ly', src: '/integrations/continual.ly.png' },
  { name: 'Converdy', src: '/integrations/converdy.png' },
  { name: 'ConvertBox', src: '/integrations/convertbox.png' },
  { name: 'Convertri', src: '/integrations/convertri.png' },
  { name: 'Copper', src: '/integrations/copper.png' },
  { name: 'Croveresized', src: '/integrations/croveresized.png' },
  { name: 'Curated', src: '/integrations/curated.png' },
  { name: 'Customer.io', src: '/integrations/customer.io.png' },
  { name: 'Customerly', src: '/integrations/customerly.png' },
  { name: 'Cyfe', src: '/integrations/cyfe.png' },
  { name: 'Dashly', src: '/integrations/dashly.png' },
  { name: 'DataTransfer', src: '/integrations/datatransfer.png' },
  { name: 'Dataforword', src: '/integrations/dataforword.png' },
  { name: 'DateTime', src: '/integrations/datetime.png' },
  { name: 'Dialog', src: '/integrations/dialog.png' },
  { name: 'Docscloud', src: '/integrations/docscloud.png' },
  { name: 'Docspring', src: '/integrations/docspring.png' },
  { name: 'DoneDone', src: '/integrations/donedone.png' },
  { name: 'Dubb', src: '/integrations/dubb.png' },
  { name: 'DynamicWebPage', src: '/integrations/dynamicwebpage.png' },
  { name: 'EasyCSV', src: '/integrations/easycsv.png' },
  { name: 'Egoi', src: '/integrations/egoi.png' },
  { name: 'EliteFunnels', src: '/integrations/elitefunnels.png' },
  { name: 'Eventbrite', src: '/integrations/eventbrite.png' },
  { name: 'EverWebinar', src: '/integrations/everwebinar.png' },
  { name: 'Excel', src: '/integrations/excel.png' },
  { name: 'Eyeson', src: '/integrations/eyeson.png' },
  { name: 'Fastspring', src: '/integrations/fastspring.png' },
  { name: 'Feedy', src: '/integrations/feedy.png' },
  { name: 'Filestage.io', src: '/integrations/filestage.io.png' },
  { name: 'Flexie.io', src: '/integrations/flexie.io.png' },
  { name: 'FluentCRM', src: '/integrations/fluentcrm.png' },
  { name: 'FluentForms', src: '/integrations/fluentforms.png' },
  { name: 'FlutinPabbly', src: '/integrations/flutinpabbly.png' },
  { name: 'Fomo', src: '/integrations/fomo.png' },
  { name: 'FormBuilder', src: '/integrations/formbuilder.png' },
  { name: 'FormidableForms', src: '/integrations/formidableforms.png' },
  { name: 'Formstack', src: '/integrations/formstack.png' },
  { name: 'FreshLearn', src: '/integrations/freshlearn.png' },
  { name: 'Freshsales', src: '/integrations/freshsales.png' },
  { name: 'Freshteam', src: '/integrations/freshteam.png' },
  { name: 'Front', src: '/integrations/front.png' },
  { name: 'GBprimepay', src: '/integrations/gbprimepay.png' },
  { name: 'Gist', src: '/integrations/gist.png' },
  { name: 'Github', src: '/integrations/github.png' },
  { name: 'Gmail', src: '/integrations/gmail.png' },
  { name: 'GoToMeeting', src: '/integrations/gotomeeting.png' },
  { name: 'Godaddy', src: '/integrations/godaddy.png' },
  { name: 'Google Docs', src: '/integrations/google_docs.png' },
  { name: 'Google Forms', src: '/integrations/google_forms.png' },
  { name: 'Google cloud vision', src: '/integrations/google_cloud_vision.png' },
  { name: 'Google leadformext', src: '/integrations/google_leadformext.png' },
  { name: 'Google meet', src: '/integrations/google_meet.png' },
  { name: 'Graphy', src: '/integrations/graphy.png' },
  { name: 'GravityForms', src: '/integrations/gravityforms.png' },
  { name: 'Ground Hogg', src: '/integrations/ground_hogg.png' },
  { name: 'Group', src: '/integrations/group.png' },
  { name: 'GrowSurf', src: '/integrations/growsurf.png' },
  { name: 'Hangouts Chat', src: '/integrations/hangouts_chat.png' },
  { name: 'HelloLeads', src: '/integrations/helloleads.png' },
  { name: 'HelpCrunch', src: '/integrations/helpcrunch.png' },
  { name: 'HelpScout', src: '/integrations/helpscout.png' },
  { name: 'Helpwise', src: '/integrations/helpwise.png' },
  { name: 'Hexomatic', src: '/integrations/hexomatic.png' },
  { name: 'Hexometer', src: '/integrations/hexometer.png' },
  { name: 'Hexowatch', src: '/integrations/hexowatch.png' },
  { name: 'HippoVideo', src: '/integrations/hippovideo.png' },
  { name: 'Hiveage', src: '/integrations/hiveage.png' },
  { name: 'Hopin', src: '/integrations/hopin.png' },
  { name: 'Hotmart', src: '/integrations/hotmart.png' },
  { name: 'Howuku', src: '/integrations/howuku.png' },
  { name: 'Hunter', src: '/integrations/hunter.png' },
  { name: 'InsightlyCRM', src: '/integrations/insightlycrm.png' },
  { name: 'Instamojo', src: '/integrations/instamojo.png' },
  { name: 'Jira Software Triggers', src: '/integrations/jira_software_triggers.png' },
  { name: 'JivoChat', src: '/integrations/jivochat.png' },
  { name: 'JotUrl', src: '/integrations/joturl.png' },
  { name: 'Kajabi', src: '/integrations/kajabi.png' },
  { name: 'Kirim.Email', src: '/integrations/kirim.email.png' },
  { name: 'Klaviyo', src: '/integrations/klaviyo.png' },
  { name: 'LINKJOY', src: '/integrations/linkjoy.png' },
  { name: 'Landingi', src: '/integrations/landingi.png' },
  { name: 'Laposta', src: '/integrations/laposta.png' },
  { name: 'Lawcus', src: '/integrations/lawcus.png' },
  { name: 'LeadLabsfavicon', src: '/integrations/leadlabsfavicon.png' },
  { name: 'Leadconnector', src: '/integrations/leadconnector.png' },
  { name: 'LeadsHook', src: '/integrations/leadshook.png' },
  { name: 'Learnystlogo', src: '/integrations/learnystlogo.png' },
  { name: 'LinkedHelper', src: '/integrations/linkedhelper.png' },
  { name: 'LiveChat', src: '/integrations/livechat.png' },
  { name: 'Logo', src: '/integrations/logo.png' },
  { name: 'MaaxMarket', src: '/integrations/maaxmarket.png' },
  { name: 'MailerSend', src: '/integrations/mailersend.png' },
  { name: 'Mailshake', src: '/integrations/mailshake.png' },
  { name: 'Manychat', src: '/integrations/manychat.png' },
  { name: 'Mastera', src: '/integrations/mastera.png' },
  { name: 'MatterMost', src: '/integrations/mattermost.png' },
  { name: 'Mautic', src: '/integrations/mautic.png' },
  { name: 'MeisterTask', src: '/integrations/meistertask.png' },
  { name: 'MemberPress', src: '/integrations/memberpress.png' },
  { name: 'MemberVault', src: '/integrations/membervault.png' },
  { name: 'Memberstack', src: '/integrations/memberstack.png' },
  { name: 'MiHOLogo', src: '/integrations/mihologo.png' },
  { name: 'MicrosoftTeams', src: '/integrations/microsoftteams.png' },
  { name: 'Millio', src: '/integrations/millio.png' },
  { name: 'Mindbody', src: '/integrations/mindbody.png' },
  { name: 'Mixpanel', src: '/integrations/mixpanel.png' },
  { name: 'Moceanlogo', src: '/integrations/moceanlogo.png' },
  { name: 'Modwebslogo', src: '/integrations/modwebslogo.png' },
  { name: 'Neto', src: '/integrations/neto.png' },
  { name: 'NeverBounce', src: '/integrations/neverbounce.png' },
  { name: 'Nimble', src: '/integrations/nimble.png' },
  { name: 'Ninja', src: '/integrations/ninja.png' },
  { name: 'Novocall', src: '/integrations/novocall.png' },
  { name: 'NumberFormatter', src: '/integrations/numberformatter.png' },
  { name: 'Nusii', src: '/integrations/nusii.png' },
  { name: 'Office', src: '/integrations/office.png' },
  { name: 'OfficeRnD', src: '/integrations/officernd.png' },
  { name: 'Ontraport', src: '/integrations/ontraport.png' },
  { name: 'OpenAI', src: '/integrations/openai.png' },
  { name: 'OptimizeMentor', src: '/integrations/optimizementor.png' },
  { name: 'OptimizePress', src: '/integrations/optimizepress.png' },
  { name: 'OptinChat', src: '/integrations/optinchat.png' },
  { name: 'Outgrow', src: '/integrations/outgrow.png' },
  { name: 'PC', src: '/integrations/pc.png' },
  { name: 'PRiconResizex', src: '/integrations/priconresizex.png' },
  { name: 'Paddle', src: '/integrations/paddle.png' },
  { name: 'Parboot', src: '/integrations/parboot.png' },
  { name: 'ParvenuLogo', src: '/integrations/parvenulogo.png' },
  { name: 'PayKickstart', src: '/integrations/paykickstart.png' },
  { name: 'PayPlug', src: '/integrations/payplug.png' },
  { name: 'Personizely', src: '/integrations/personizely.png' },
  { name: 'PhoneSites', src: '/integrations/phonesites.png' },
  { name: 'PiotnetForms', src: '/integrations/piotnetforms.png' },
  { name: 'PipelineDeals', src: '/integrations/pipelinedeals.png' },
  { name: 'PixlMe', src: '/integrations/pixlme.png' },
  { name: 'Platformly', src: '/integrations/platformly.png' },
  { name: 'Plivo', src: '/integrations/plivo.png' },
  { name: 'Plus', src: '/integrations/plus.png' },
  { name: 'Plutio', src: '/integrations/plutio.png' },
  { name: 'Podio', src: '/integrations/podio.png' },
  { name: 'Pointerpro', src: '/integrations/pointerpro.png' },
  { name: 'Postmark', src: '/integrations/postmark.png' },
  { name: 'Printful', src: '/integrations/printful.png' },
  { name: 'ProductDyno', src: '/integrations/productdyno.png' },
  { name: 'ProofHub', src: '/integrations/proofhub.png' },
  { name: 'Proprofs', src: '/integrations/proprofs.png' },
  { name: 'PushBullet', src: '/integrations/pushbullet.png' },
  { name: 'Qlogo', src: '/integrations/qlogo.png' },
  { name: 'QuestionScout', src: '/integrations/questionscout.png' },
  { name: 'Quickbase', src: '/integrations/quickbase.png' },
  { name: 'Quriobot', src: '/integrations/quriobot.png' },
  { name: 'RS', src: '/integrations/rs.png' },
  { name: 'RapidRage', src: '/integrations/rapidrage.png' },
  { name: 'Rebrandly', src: '/integrations/rebrandly.png' },
  { name: 'RemasterMedia', src: '/integrations/remastermedia.png' },
  { name: 'RetargetKit', src: '/integrations/retargetkit.png' },
  { name: 'Retently', src: '/integrations/retently.png' },
  { name: 'ReviewShake', src: '/integrations/reviewshake.png' },
  { name: 'Rewardful', src: '/integrations/rewardful.png' },
  { name: 'Risewith', src: '/integrations/risewith.png' },
  { name: 'SMSiTICONLOGO', src: '/integrations/smsiticonlogo.png' },
  { name: 'SalesBlink', src: '/integrations/salesblink.png' },
  { name: 'Salesflare', src: '/integrations/salesflare.png' },
  { name: 'ScheduledOnce', src: '/integrations/scheduledonce.png' },
  { name: 'SendFox', src: '/integrations/sendfox.png' },
  { name: 'SendGrid', src: '/integrations/sendgrid.png' },
  { name: 'SendPulse', src: '/integrations/sendpulse.png' },
  { name: 'Sendicate', src: '/integrations/sendicate.png' },
  { name: 'Sendiio', src: '/integrations/sendiio.png' },
  { name: 'SendinBlue', src: '/integrations/sendinblue.png' },
  { name: 'Sendy', src: '/integrations/sendy.png' },
  { name: 'Senseily', src: '/integrations/senseily.png' },
  { name: 'ShortySMS', src: '/integrations/shortysms.png' },
  { name: 'Sitejet', src: '/integrations/sitejet.png' },
  { name: 'SmartQuizbuilder', src: '/integrations/smartquizbuilder.png' },
  { name: 'SmartTask', src: '/integrations/smarttask.png' },
  { name: 'Smartsheet', src: '/integrations/smartsheet.png' },
  { name: 'SocialBot', src: '/integrations/socialbot.png' },
  { name: 'Socialbee', src: '/integrations/socialbee.png' },
  { name: 'Sociamonials', src: '/integrations/sociamonials.png' },
  { name: 'SplunkEnterprise', src: '/integrations/splunkenterprise.png' },
  { name: 'Spp.co', src: '/integrations/spp.co.png' },
  { name: 'SpreadSimple', src: '/integrations/spreadsimple.png' },
  { name: 'StreakCRM', src: '/integrations/streakcrm.png' },
  { name: 'SwipePages', src: '/integrations/swipepages.png' },
  { name: 'TAlly', src: '/integrations/tally.png' },
  { name: 'Taiga', src: '/integrations/taiga.png' },
  { name: 'Tallyfy', src: '/integrations/tallyfy.png' },
  { name: 'Tapfiliate', src: '/integrations/tapfiliate.png' },
  { name: 'Tars', src: '/integrations/tars.png' },
  { name: 'Tawk.to', src: '/integrations/tawk.to.png' },
  { name: 'Teamdeck', src: '/integrations/teamdeck.png' },
  { name: 'TestMonitor', src: '/integrations/testmonitor.png' },
  { name: 'TextFormatter', src: '/integrations/textformatter.png' },
  { name: 'Toodledo', src: '/integrations/toodledo.png' },
  { name: 'Toyyibpay', src: '/integrations/toyyibpay.png' },
  { name: 'Tripetto', src: '/integrations/tripetto.png' },
  { name: 'TrueMail', src: '/integrations/truemail.png' },
  { name: 'Tumblr', src: '/integrations/tumblr.png' },
  { name: 'Unbounce', src: '/integrations/unbounce.png' },
  { name: 'Uncanny Automator', src: '/integrations/uncanny_automator.png' },
  { name: 'Untitled', src: '/integrations/untitled.png' },
  { name: 'UntitleddesignT.', src: '/integrations/untitleddesignt..png' },
  { name: 'Userback', src: '/integrations/userback.png' },
  { name: 'Vbout', src: '/integrations/vbout.png' },
  { name: 'Vector', src: '/integrations/vector.png' },
  { name: 'ViewStub', src: '/integrations/viewstub.png' },
  { name: 'Vonage', src: '/integrations/vonage.png' },
  { name: 'Vosfactures', src: '/integrations/vosfactures.png' },
  { name: 'VtigerCRM', src: '/integrations/vtigercrm.png' },
  { name: 'Vultr', src: '/integrations/vultr.png' },
  { name: 'WATI', src: '/integrations/wati.png' },
  { name: 'WAWebPlus', src: '/integrations/wawebplus.png' },
  { name: 'WPForms', src: '/integrations/wpforms.png' },
  { name: 'WPguidant', src: '/integrations/wpguidant.png' },
  { name: 'WSForm', src: '/integrations/wsform.png' },
  { name: 'WarriorPlus', src: '/integrations/warriorplus.png' },
  { name: 'Wave', src: '/integrations/wave.png' },
  { name: 'WeConnect', src: '/integrations/weconnect.png' },
  { name: 'WebAsk', src: '/integrations/webask.png' },
  { name: 'Weblium', src: '/integrations/weblium.png' },
  { name: 'WhatConverts', src: '/integrations/whatconverts.png' },
  { name: 'WhatsAppAPIa', src: '/integrations/whatsappapia.png' },
  { name: 'WhislistMember', src: '/integrations/whislistmember.png' },
  { name: 'WiserNotify', src: '/integrations/wisernotify.png' },
  { name: 'WishPond', src: '/integrations/wishpond.png' },
  { name: 'Wix', src: '/integrations/wix.png' },
  { name: 'WixForms', src: '/integrations/wixforms.png' },
  { name: 'WooCommerce', src: '/integrations/woocommerce.png' },
  { name: 'Woodpecker.co', src: '/integrations/woodpecker.co.png' },
  { name: 'Woorise', src: '/integrations/woorise.png' },
  { name: 'WorldTimeAPI', src: '/integrations/worldtimeapi.png' },
  { name: 'WpWebhooks', src: '/integrations/wpwebhooks.png' },
  { name: 'Wufoo', src: '/integrations/wufoo.png' },
  { name: 'Xero', src: '/integrations/xero.png' },
  { name: 'YT', src: '/integrations/yt.png' },
  { name: 'Yay Forms Logo Full Square Black', src: '/integrations/yay_forms_logo_full_square_black.png' },
  { name: 'Youcanbook.me', src: '/integrations/youcanbook.me.png' },
  { name: 'Youtube', src: '/integrations/youtube.png' },
  { name: 'Zaperp', src: '/integrations/zaperp.png' },
  { name: 'Zenler', src: '/integrations/zenler.png' },
  { name: 'Zoho Books', src: '/integrations/zoho_books.png' },
  { name: 'Zoho Invoice', src: '/integrations/zoho_invoice.png' },
  { name: 'Zoho Workdrive', src: '/integrations/zoho_workdrive.png' },
  { name: 'Zohomail', src: '/integrations/zohomail.png' },
  { name: 'Zoom', src: '/integrations/zoom.png' },
  { name: 'acadle', src: '/integrations/acadle.png' },
  { name: 'activecampaign', src: '/integrations/activecampaign.png' },
  { name: 'acuityscheduling', src: '/integrations/acuityscheduling.png' },
  { name: 'adpage', src: '/integrations/adpage.png' },
  { name: 'adyen', src: '/integrations/adyen.png' },
  { name: 'agileCRM', src: '/integrations/agilecrm.png' },
  { name: 'agiledapp', src: '/integrations/agiledapp.png' },
  { name: 'airmeet', src: '/integrations/airmeet.png' },
  { name: 'airtable', src: '/integrations/airtable.png' },
  { name: 'aisensy', src: '/integrations/aisensy.png' },
  { name: 'alphavantage', src: '/integrations/alphavantage.png' },
  { name: 'amzingmarvin', src: '/integrations/amzingmarvin.png' },
  { name: 'analytics', src: '/integrations/analytics.png' },
  { name: 'annature', src: '/integrations/annature.png' },
  { name: 'appcontx', src: '/integrations/appcontx.png' },
  { name: 'appleiconx', src: '/integrations/appleiconx.png' },
  { name: 'asana', src: '/integrations/asana.png' },
  { name: 'autoklose', src: '/integrations/autoklose.png' },
  { name: 'automatorwp', src: '/integrations/automatorwp.png' },
  { name: 'autopilot', src: '/integrations/autopilot.png' },
  { name: 'aweber', src: '/integrations/aweber.png' },
  { name: 'awork', src: '/integrations/awork.png' },
  { name: 'axosoft', src: '/integrations/axosoft.png' },
  { name: 'basecamp', src: '/integrations/basecamp.png' },
  { name: 'beagalsecurity', src: '/integrations/beagalsecurity.png' },
  { name: 'beamer', src: '/integrations/beamer.png' },
  { name: 'betterproposals', src: '/integrations/betterproposals.png' },
  { name: 'betteruptime', src: '/integrations/betteruptime.png' },
  { name: 'bigcommerce', src: '/integrations/bigcommerce.png' },
  { name: 'bigin', src: '/integrations/bigin.png' },
  { name: 'billplz', src: '/integrations/billplz.png' },
  { name: 'bitbucket', src: '/integrations/bitbucket.png' },
  { name: 'bitly', src: '/integrations/bitly.png' },
  { name: 'blb', src: '/integrations/blb.png' },
  { name: 'blogger', src: '/integrations/blogger.png' },
  { name: 'bombbomb', src: '/integrations/bombbomb.png' },
  { name: 'bookeo', src: '/integrations/bookeo.png' },
  { name: 'botbaba', src: '/integrations/botbaba.png' },
  { name: 'bouncer', src: '/integrations/bouncer.png' },
  { name: 'brand overflow logo', src: '/integrations/brand_overflow_logo.png' },
  { name: 'brilliant directories', src: '/integrations/brilliant_directories.png' },
  { name: 'brizy', src: '/integrations/brizy.png' },
  { name: 'browse', src: '/integrations/browse.png' },
  { name: 'buuble', src: '/integrations/buuble.png' },
  { name: 'buubletesting', src: '/integrations/buubletesting.png' },
  { name: 'calendarhero', src: '/integrations/calendarhero.png' },
  { name: 'calendly', src: '/integrations/calendly.png' },
  { name: 'callback tracker', src: '/integrations/callback_tracker.png' },
  { name: 'callpage', src: '/integrations/callpage.png' },
  { name: 'callrail', src: '/integrations/callrail.png' },
  { name: 'capsule', src: '/integrations/capsule.png' },
  { name: 'cashfree', src: '/integrations/cashfree.png' },
  { name: 'certopuslogo', src: '/integrations/certopuslogo.png' },
  { name: 'chatapi', src: '/integrations/chatapi.png' },
  { name: 'clicksend', src: '/integrations/clicksend.png' },
  { name: 'clientjoy', src: '/integrations/clientjoy.png' },
  { name: 'close', src: '/integrations/close.png' },
  { name: 'closem', src: '/integrations/closem.png' },
  { name: 'cloud waitress', src: '/integrations/cloud_waitress.png' },
  { name: 'cloudfill', src: '/integrations/cloudfill.png' },
  { name: 'cloudflare', src: '/integrations/cloudflare.png' },
  { name: 'cloudinary', src: '/integrations/cloudinary.png' },
  { name: 'coassemble', src: '/integrations/coassemble.png' },
  { name: 'coda', src: '/integrations/coda.png' },
  { name: 'codereadr', src: '/integrations/codereadr.png' },
  { name: 'companyhub', src: '/integrations/companyhub.png' },
  { name: 'condoo', src: '/integrations/condoo.png' },
  { name: 'confluence', src: '/integrations/confluence.png' },
  { name: 'contactully', src: '/integrations/contactully.png' },
  { name: 'contentsnare', src: '/integrations/contentsnare.png' },
  { name: 'convergehub', src: '/integrations/convergehub.png' },
  { name: 'conversiobot', src: '/integrations/conversiobot.png' },
  { name: 'convertkit', src: '/integrations/convertkit.png' },
  { name: 'coupontools', src: '/integrations/coupontools.png' },
  { name: 'cp', src: '/integrations/cp.png' },
  { name: 'cpanda', src: '/integrations/cpanda.png' },
  { name: 'credit', src: '/integrations/credit.png' },
  { name: 'daily', src: '/integrations/daily.png' },
  { name: 'databox', src: '/integrations/databox.png' },
  { name: 'datadog', src: '/integrations/datadog.png' },
  { name: 'dbadgex', src: '/integrations/dbadgex.png' },
  { name: 'dearin ventory', src: '/integrations/dearin_ventory.png' },
  { name: 'delaybypabbly', src: '/integrations/delaybypabbly.png' },
  { name: 'delighted', src: '/integrations/delighted.png' },
  { name: 'demio', src: '/integrations/demio.png' },
  { name: 'deskera', src: '/integrations/deskera.png' },
  { name: 'detrack', src: '/integrations/detrack.png' },
  { name: 'diggi', src: '/integrations/diggi.png' },
  { name: 'digi', src: '/integrations/digi.png' },
  { name: 'digisigner', src: '/integrations/digisigner.png' },
  { name: 'discord', src: '/integrations/discord.png' },
  { name: 'discourse', src: '/integrations/discourse.png' },
  { name: 'docparser', src: '/integrations/docparser.png' },
  { name: 'doctemple', src: '/integrations/doctemple.png' },
  { name: 'docusign', src: '/integrations/docusign.png' },
  { name: 'donately', src: '/integrations/donately.png' },
  { name: 'download', src: '/integrations/download.png' },
  { name: 'drift', src: '/integrations/drift.png' },
  { name: 'drip', src: '/integrations/drip.png' },
  { name: 'drive', src: '/integrations/drive.png' },
  { name: 'dropbox', src: '/integrations/dropbox.png' },
  { name: 'dropcontact', src: '/integrations/dropcontact.png' },
  { name: 'dsms', src: '/integrations/dsms.png' },
  { name: 'dukaan', src: '/integrations/dukaan.png' },
  { name: 'dynalist', src: '/integrations/dynalist.png' },
  { name: 'dynapictures', src: '/integrations/dynapictures.png' },
  { name: 'ecwid', src: '/integrations/ecwid.png' },
  { name: 'edfdcbfcfbeaeea', src: '/integrations/edfdcbfcfbeaeea.png' },
  { name: 'eduzz', src: '/integrations/eduzz.png' },
  { name: 'elasticemail', src: '/integrations/elasticemail.png' },
  { name: 'elementor', src: '/integrations/elementor.png' },
  { name: 'elopages', src: '/integrations/elopages.png' },
  { name: 'elorus', src: '/integrations/elorus.png' },
  { name: 'emaillistvalidation', src: '/integrations/emaillistvalidation.png' },
  { name: 'emaillistverify', src: '/integrations/emaillistverify.png' },
  { name: 'emailparser', src: '/integrations/emailparser.png' },
  { name: 'encharge', src: '/integrations/encharge.png' },
  { name: 'endorsal', src: '/integrations/endorsal.png' },
  { name: 'engagebay', src: '/integrations/engagebay.png' },
  { name: 'enventee', src: '/integrations/enventee.png' },
  { name: 'erxes', src: '/integrations/erxes.png' },
  { name: 'esignature', src: '/integrations/esignature.png' },
  { name: 'esigngenie', src: '/integrations/esigngenie.png' },
  { name: 'eventzilla', src: '/integrations/eventzilla.png' },
  { name: 'eversign', src: '/integrations/eversign.png' },
  { name: 'ezeepblue', src: '/integrations/ezeepblue.png' },
  { name: 'facebook', src: '/integrations/facebook.png' },
  { name: 'facebookads', src: '/integrations/facebookads.png' },
  { name: 'factorsms', src: '/integrations/factorsms.png' },
  { name: 'fastsms', src: '/integrations/fastsms.png' },
  { name: 'favicon', src: '/integrations/favicon.png' },
  { name: 'faviconx', src: '/integrations/faviconx.png' },
  { name: 'feedier', src: '/integrations/feedier.png' },
  { name: 'filters', src: '/integrations/filters.png' },
  { name: 'finerworks', src: '/integrations/finerworks.png' },
  { name: 'fitbit', src: '/integrations/fitbit.png' },
  { name: 'float', src: '/integrations/float.png' },
  { name: 'flowlu', src: '/integrations/flowlu.png' },
  { name: 'fluentsupport', src: '/integrations/fluentsupport.png' },
  { name: 'flutterware', src: '/integrations/flutterware.png' },
  { name: 'flydm', src: '/integrations/flydm.png' },
  { name: 'formaloo', src: '/integrations/formaloo.png' },
  { name: 'formsite', src: '/integrations/formsite.png' },
  { name: 'formstack documents', src: '/integrations/formstack_documents.png' },
  { name: 'frame.io', src: '/integrations/frame.io.png' },
  { name: 'freeagent', src: '/integrations/freeagent.png' },
  { name: 'freedcamp', src: '/integrations/freedcamp.png' },
  { name: 'freshbooks', src: '/integrations/freshbooks.png' },
  { name: 'freshdesk', src: '/integrations/freshdesk.png' },
  { name: 'freshproposals', src: '/integrations/freshproposals.png' },
  { name: 'freshservice', src: '/integrations/freshservice.png' },
  { name: 'frill.co', src: '/integrations/frill.co.png' },
  { name: 'frogged', src: '/integrations/frogged.png' },
  { name: 'fs', src: '/integrations/fs.png' },
  { name: 'ft', src: '/integrations/ft.png' },
  { name: 'full--sgc-500', src: '/integrations/full--sgc-500.png' },
  { name: 'fullContact', src: '/integrations/fullcontact.png' },
  { name: 'funnelair', src: '/integrations/funnelair.png' },
  { name: 'funnelbolt', src: '/integrations/funnelbolt.png' },
  { name: 'fusioologoblue', src: '/integrations/fusioologoblue.png' },
  { name: 'gallaboxlogox', src: '/integrations/gallaboxlogox.png' },
  { name: 'gc', src: '/integrations/gc.png' },
  { name: 'geckoboard', src: '/integrations/geckoboard.png' },
  { name: 'getresponse', src: '/integrations/getresponse.png' },
  { name: 'getrevue', src: '/integrations/getrevue.png' },
  { name: 'getscreen', src: '/integrations/getscreen.png' },
  { name: 'gigrove', src: '/integrations/gigrove.png' },
  { name: 'giphy', src: '/integrations/giphy.png' },
  { name: 'gitscrum', src: '/integrations/gitscrum.png' },
  { name: 'go', src: '/integrations/go.png' },
  { name: 'goguard', src: '/integrations/goguard.png' },
  { name: 'google business', src: '/integrations/google_business.png' },
  { name: 'google calendar', src: '/integrations/google_calendar.png' },
  { name: 'google contact', src: '/integrations/google_contact.png' },
  { name: 'google sheets', src: '/integrations/google_sheets.png' },
  { name: 'google slides', src: '/integrations/google_slides.png' },
  { name: 'google tasks', src: '/integrations/google_tasks.png' },
  { name: 'goto webinar', src: '/integrations/goto_webinar.png' },
  { name: 'gozen.webp', src: '/integrations/gozen.webp.png' },
  { name: 'grist', src: '/integrations/grist.png' },
  { name: 'grocrm', src: '/integrations/grocrm.png' },
  { name: 'groove', src: '/integrations/groove.png' },
  { name: 'groove funnels', src: '/integrations/groove_funnels.png' },
  { name: 'groupappicon', src: '/integrations/groupappicon.png' },
  { name: 'gumroad', src: '/integrations/gumroad.png' },
  { name: 'gupshup', src: '/integrations/gupshup.png' },
  { name: 'h', src: '/integrations/h.png' },
  { name: 'handwrytten', src: '/integrations/handwrytten.png' },
  { name: 'happierleads', src: '/integrations/happierleads.png' },
  { name: 'happyscribe', src: '/integrations/happyscribe.png' },
  { name: 'harmonizely', src: '/integrations/harmonizely.png' },
  { name: 'hbcrm', src: '/integrations/hbcrm.png' },
  { name: 'heartbeaticonlight', src: '/integrations/heartbeaticonlight.png' },
  { name: 'heightsplatform', src: '/integrations/heightsplatform.png' },
  { name: 'hellonext', src: '/integrations/hellonext.png' },
  { name: 'heysummit', src: '/integrations/heysummit.png' },
  { name: 'heyzine', src: '/integrations/heyzine.png' },
  { name: 'holded', src: '/integrations/holded.png' },
  { name: 'hoversignal', src: '/integrations/hoversignal.png' },
  { name: 'hrpartner', src: '/integrations/hrpartner.png' },
  { name: 'hubstaff', src: '/integrations/hubstaff.png' },
  { name: 'hypage', src: '/integrations/hypage.png' },
  { name: 'hyperise', src: '/integrations/hyperise.png' },
  { name: 'hyros', src: '/integrations/hyros.png' },
  { name: 'iContact', src: '/integrations/icontact.png' },
  { name: 'ibulksms', src: '/integrations/ibulksms.png' },
  { name: 'icon', src: '/integrations/icon.png' },
  { name: 'iconx', src: '/integrations/iconx.png' },
  { name: 'image', src: '/integrations/image.png' },
  { name: 'imageTZ', src: '/integrations/imagetz.png' },
  { name: 'infinity', src: '/integrations/infinity.png' },
  { name: 'influencersoft', src: '/integrations/influencersoft.png' },
  { name: 'infusionsoftnew', src: '/integrations/infusionsoftnew.png' },
  { name: 'instagram', src: '/integrations/instagram.png' },
  { name: 'instantpage', src: '/integrations/instantpage.png' },
  { name: 'intercom', src: '/integrations/intercom.png' },
  { name: 'invoiceninja', src: '/integrations/invoiceninja.png' },
  { name: 'involveme', src: '/integrations/involveme.png' },
  { name: 'ipaymu', src: '/integrations/ipaymu.png' },
  { name: 'iterator', src: '/integrations/iterator.png' },
  { name: 'jetwebinar', src: '/integrations/jetwebinar.png' },
  { name: 'jira', src: '/integrations/jira.png' },
  { name: 'jira service management', src: '/integrations/jira_service_management.png' },
  { name: 'joonbot', src: '/integrations/joonbot.png' },
  { name: 'jotform', src: '/integrations/jotform.png' },
  { name: 'judge.me', src: '/integrations/judge.me.png' },
  { name: 'justcall', src: '/integrations/justcall.png' },
  { name: 'kartra', src: '/integrations/kartra.png' },
  { name: 'kewal', src: '/integrations/kewal.png' },
  { name: 'klenty', src: '/integrations/klenty.png' },
  { name: 'klicktipp', src: '/integrations/klicktipp.png' },
  { name: 'klujo', src: '/integrations/klujo.png' },
  { name: 'kwikcart', src: '/integrations/kwikcart.png' },
  { name: 'labsmobile', src: '/integrations/labsmobile.png' },
  { name: 'landbot', src: '/integrations/landbot.png' },
  { name: 'leadcart.io', src: '/integrations/leadcart.io.png' },
  { name: 'leadsbeer', src: '/integrations/leadsbeer.png' },
  { name: 'leadsquare', src: '/integrations/leadsquare.png' },
  { name: 'learndash', src: '/integrations/learndash.png' },
  { name: 'learnworlds', src: '/integrations/learnworlds.png' },
  { name: 'learnybox', src: '/integrations/learnybox.png' },
  { name: 'lemlist', src: '/integrations/lemlist.png' },
  { name: 'line', src: '/integrations/line.png' },
  { name: 'linkdra', src: '/integrations/linkdra.png' },
  { name: 'linkedin lead genforms', src: '/integrations/linkedin_lead_genforms.png' },
  { name: 'linkish', src: '/integrations/linkish.png' },
  { name: 'liondesk', src: '/integrations/liondesk.png' },
  { name: 'liveagent', src: '/integrations/liveagent.png' },
  { name: 'livestorm', src: '/integrations/livestorm.png' },
  { name: 'lnkbio', src: '/integrations/lnkbio.png' },
  { name: 'lob', src: '/integrations/lob.png' },
  { name: 'logopicto', src: '/integrations/logopicto.png' },
  { name: 'logosquare', src: '/integrations/logosquare.png' },
  { name: 'lulu', src: '/integrations/lulu.png' },
  { name: 'mailautic', src: '/integrations/mailautic.png' },
  { name: 'mailchimp', src: '/integrations/mailchimp.png' },
  { name: 'mailerlite', src: '/integrations/mailerlite.png' },
  { name: 'mailgun', src: '/integrations/mailgun.png' },
  { name: 'mailifier', src: '/integrations/mailifier.png' },
  { name: 'mailingboss', src: '/integrations/mailingboss.png' },
  { name: 'mailjet', src: '/integrations/mailjet.png' },
  { name: 'mailmodo', src: '/integrations/mailmodo.png' },
  { name: 'mailrefine', src: '/integrations/mailrefine.png' },
  { name: 'mailvio', src: '/integrations/mailvio.png' },
  { name: 'mandrill', src: '/integrations/mandrill.png' },
  { name: 'medium', src: '/integrations/medium.png' },
  { name: 'meetvio', src: '/integrations/meetvio.png' },
  { name: 'memberfull', src: '/integrations/memberfull.png' },
  { name: 'messagebird', src: '/integrations/messagebird.png' },
  { name: 'microsoft todo', src: '/integrations/microsoft_todo.png' },
  { name: 'midtrans', src: '/integrations/midtrans.png' },
  { name: 'miestro', src: '/integrations/miestro.png' },
  { name: 'mmio', src: '/integrations/mmio.png' },
  { name: 'mocoapp', src: '/integrations/mocoapp.png' },
  { name: 'modalforms', src: '/integrations/modalforms.png' },
  { name: 'monday', src: '/integrations/monday.png' },
  { name: 'moneybird', src: '/integrations/moneybird.png' },
  { name: 'moosend', src: '/integrations/moosend.png' },
  { name: 'mp', src: '/integrations/mp.png' },
  { name: 'mrspeedy', src: '/integrations/mrspeedy.png' },
  { name: 'ms exchange', src: '/integrations/ms_exchange.png' },
  { name: 'msg', src: '/integrations/msg.png' },
  { name: 'msod', src: '/integrations/msod.png' },
  { name: 'muxemail', src: '/integrations/muxemail.png' },
  { name: 'mysql', src: '/integrations/mysql.png' },
  { name: 'n', src: '/integrations/n.png' },
  { name: 'namecheap', src: '/integrations/namecheap.png' },
  { name: 'netifly', src: '/integrations/netifly.png' },
  { name: 'network international', src: '/integrations/network_international.png' },
  { name: 'nexweave', src: '/integrations/nexweave.png' },
  { name: 'ninox', src: '/integrations/ninox.png' },
  { name: 'noCRM.io', src: '/integrations/nocrm.io.png' },
  { name: 'notion', src: '/integrations/notion.png' },
  { name: 'noysi', src: '/integrations/noysi.png' },
  { name: 'nudgify', src: '/integrations/nudgify.png' },
  { name: 'octopus', src: '/integrations/octopus.png' },
  { name: 'omise', src: '/integrations/omise.png' },
  { name: 'omnisend', src: '/integrations/omnisend.png' },
  { name: 'onehash', src: '/integrations/onehash.png' },
  { name: 'onenote', src: '/integrations/onenote.png' },
  { name: 'onlinelivesupport', src: '/integrations/onlinelivesupport.png' },
  { name: 'optinly', src: '/integrations/optinly.png' },
  { name: 'ora', src: '/integrations/ora.png' },
  { name: 'ouraring', src: '/integrations/ouraring.png' },
  { name: 'outplay', src: '/integrations/outplay.png' },
  { name: 'pCloud', src: '/integrations/pcloud.png' },
  { name: 'pabbly', src: '/integrations/pabbly.png' },
  { name: 'pacedemail', src: '/integrations/pacedemail.png' },
  { name: 'pagemaker', src: '/integrations/pagemaker.png' },
  { name: 'paldesk', src: '/integrations/paldesk.png' },
  { name: 'pandadoc', src: '/integrations/pandadoc.png' },
  { name: 'paperFormLogo', src: '/integrations/paperformlogo.png' },
  { name: 'parseur', src: '/integrations/parseur.png' },
  { name: 'passcreator', src: '/integrations/passcreator.png' },
  { name: 'paymo', src: '/integrations/paymo.png' },
  { name: 'paymongo', src: '/integrations/paymongo.png' },
  { name: 'paystack', src: '/integrations/paystack.png' },
  { name: 'paytabs', src: '/integrations/paytabs.png' },
  { name: 'pdfmonkey', src: '/integrations/pdfmonkey.png' },
  { name: 'pepipost', src: '/integrations/pepipost.png' },
  { name: 'perfex', src: '/integrations/perfex.png' },
  { name: 'perkzilla', src: '/integrations/perkzilla.png' },
  { name: 'persistiq', src: '/integrations/persistiq.png' },
  { name: 'perspective', src: '/integrations/perspective.png' },
  { name: 'pinterest', src: '/integrations/pinterest.png' },
  { name: 'pipedrive', src: '/integrations/pipedrive.png' },
  { name: 'pipefy', src: '/integrations/pipefy.png' },
  { name: 'pivotaltracker', src: '/integrations/pivotaltracker.png' },
  { name: 'playbtn', src: '/integrations/playbtn.png' },
  { name: 'plecto', src: '/integrations/plecto.png' },
  { name: 'plugnpaid', src: '/integrations/plugnpaid.png' },
  { name: 'post', src: '/integrations/post.png' },
  { name: 'postbode', src: '/integrations/postbode.png' },
  { name: 'pp', src: '/integrations/pp.png' },
  { name: 'processstreet', src: '/integrations/processstreet.png' },
  { name: 'profitwell', src: '/integrations/profitwell.png' },
  { name: 'proofly', src: '/integrations/proofly.png' },
  { name: 'provesource', src: '/integrations/provesource.png' },
  { name: 'pushbytechulus', src: '/integrations/pushbytechulus.png' },
  { name: 'pushover', src: '/integrations/pushover.png' },
  { name: 'qbicon', src: '/integrations/qbicon.png' },
  { name: 'quaderno', src: '/integrations/quaderno.png' },
  { name: 'qualzz', src: '/integrations/qualzz.png' },
  { name: 'quentn', src: '/integrations/quentn.png' },
  { name: 'quickbooks', src: '/integrations/quickbooks.png' },
  { name: 'quickpage', src: '/integrations/quickpage.png' },
  { name: 'quora', src: '/integrations/quora.png' },
  { name: 'qwary', src: '/integrations/qwary.png' },
  { name: 'qwilr', src: '/integrations/qwilr.png' },
  { name: 'radaario', src: '/integrations/radaario.png' },
  { name: 'rasa.io', src: '/integrations/rasa.io.png' },
  { name: 'razorpay', src: '/integrations/razorpay.png' },
  { name: 'recruitee', src: '/integrations/recruitee.png' },
  { name: 'reddit', src: '/integrations/reddit.png' },
  { name: 'regfox', src: '/integrations/regfox.png' },
  { name: 'repairshopr', src: '/integrations/repairshopr.png' },
  { name: 'replyio', src: '/integrations/replyio.png' },
  { name: 'respond.io', src: '/integrations/respond.io.png' },
  { name: 'rocketchat', src: '/integrations/rocketchat.png' },
  { name: 'rockso', src: '/integrations/rockso.png' },
  { name: 'rossum', src: '/integrations/rossum.png' },
  { name: 'router', src: '/integrations/router.png' },
  { name: 'saasticicon', src: '/integrations/saasticicon.png' },
  { name: 'saasu', src: '/integrations/saasu.png' },
  { name: 'sales.rocks', src: '/integrations/sales.rocks.png' },
  { name: 'salesforce', src: '/integrations/salesforce.png' },
  { name: 'salesmate', src: '/integrations/salesmate.png' },
  { name: 'samcartlogo', src: '/integrations/samcartlogo.png' },
  { name: 'samdock', src: '/integrations/samdock.png' },
  { name: 'savvycal', src: '/integrations/savvycal.png' },
  { name: 'schedule', src: '/integrations/schedule.png' },
  { name: 'segment', src: '/integrations/segment.png' },
  { name: 'sellfy', src: '/integrations/sellfy.png' },
  { name: 'selz', src: '/integrations/selz.png' },
  { name: 'semaphore', src: '/integrations/semaphore.png' },
  { name: 'sendlane', src: '/integrations/sendlane.png' },
  { name: 'sendlio', src: '/integrations/sendlio.png' },
  { name: 'sendx', src: '/integrations/sendx.png' },
  { name: 'sertifier', src: '/integrations/sertifier.png' },
  { name: 'sevdesk', src: '/integrations/sevdesk.png' },
  { name: 'shipday', src: '/integrations/shipday.png' },
  { name: 'shippo', src: '/integrations/shippo.png' },
  { name: 'shipstation', src: '/integrations/shipstation.png' },
  { name: 'shopify', src: '/integrations/shopify.png' },
  { name: 'short.io', src: '/integrations/short.io.png' },
  { name: 'shorten', src: '/integrations/shorten.png' },
  { name: 'shortpixel', src: '/integrations/shortpixel.png' },
  { name: 'signRequest', src: '/integrations/signrequest.png' },
  { name: 'signalwire', src: '/integrations/signalwire.png' },
  { name: 'signaturely', src: '/integrations/signaturely.png' },
  { name: 'sikhsha', src: '/integrations/sikhsha.png' },
  { name: 'simpletexting', src: '/integrations/simpletexting.png' },
  { name: 'simvoly', src: '/integrations/simvoly.png' },
  { name: 'slack', src: '/integrations/slack.png' },
  { name: 'slybroadcast', src: '/integrations/slybroadcast.png' },
  { name: 'smaily', src: '/integrations/smaily.png' },
  { name: 'sms online live support', src: '/integrations/sms_online_live_support.png' },
  { name: 'smsalert', src: '/integrations/smsalert.png' },
  { name: 'smshorizon', src: '/integrations/smshorizon.png' },
  { name: 'smsmisr', src: '/integrations/smsmisr.png' },
  { name: 'smtp', src: '/integrations/smtp.png' },
  { name: 'snackeet', src: '/integrations/snackeet.png' },
  { name: 'snov.io', src: '/integrations/snov.io.png' },
  { name: 'so', src: '/integrations/so.png' },
  { name: 'socialbu', src: '/integrations/socialbu.png' },
  { name: 'socketlab', src: '/integrations/socketlab.png' },
  { name: 'softr', src: '/integrations/softr.png' },
  { name: 'space', src: '/integrations/space.png' },
  { name: 'spotify', src: '/integrations/spotify.png' },
  { name: 'square', src: '/integrations/square.png' },
  { name: 'squarespace', src: '/integrations/squarespace.png' },
  { name: 'st', src: '/integrations/st.png' },
  { name: 'stackby', src: '/integrations/stackby.png' },
  { name: 'store plum logos mall dark', src: '/integrations/store_plum_logos_mall_dark.png' },
  { name: 'story Chief', src: '/integrations/story_chief.png' },
  { name: 'strava', src: '/integrations/strava.png' },
  { name: 'stripe', src: '/integrations/stripe.png' },
  { name: 'stripo', src: '/integrations/stripo.png' },
  { name: 'studio cart', src: '/integrations/studio_cart.png' },
  { name: 'supernotes', src: '/integrations/supernotes.png' },
  { name: 'survey monkey', src: '/integrations/survey_monkey.png' },
  { name: 'survey sparrow', src: '/integrations/survey_sparrow.png' },
  { name: 'swell', src: '/integrations/swell.png' },
  { name: 'synamate', src: '/integrations/synamate.png' },
  { name: 'syncromsp', src: '/integrations/syncromsp.png' },
  { name: 'systeme.io', src: '/integrations/systeme.io.png' },
  { name: 'tahoebasicopsx', src: '/integrations/tahoebasicopsx.png' },
  { name: 'taplink', src: '/integrations/taplink.png' },
  { name: 'teachable', src: '/integrations/teachable.png' },
  { name: 'teamwork', src: '/integrations/teamwork.png' },
  { name: 'teamworkcrm', src: '/integrations/teamworkcrm.png' },
  { name: 'telegram', src: '/integrations/telegram.png' },
  { name: 'telenx', src: '/integrations/telenx.png' },
  { name: 'textguru', src: '/integrations/textguru.png' },
  { name: 'textlocal', src: '/integrations/textlocal.png' },
  { name: 'textmagic', src: '/integrations/textmagic.png' },
  { name: 'thanks.io', src: '/integrations/thanks.io.png' },
  { name: 'thechecker', src: '/integrations/thechecker.png' },
  { name: 'thrivecart', src: '/integrations/thrivecart.png' },
  { name: 'thrivedesk', src: '/integrations/thrivedesk.png' },
  { name: 'tidycal', src: '/integrations/tidycal.png' },
  { name: 'timecamp', src: '/integrations/timecamp.png' },
  { name: 'timing', src: '/integrations/timing.png' },
  { name: 'tmetric', src: '/integrations/tmetric.png' },
  { name: 'todoist', src: '/integrations/todoist.png' },
  { name: 'toggle', src: '/integrations/toggle.png' },
  { name: 'tomba', src: '/integrations/tomba.png' },
  { name: 'tookan', src: '/integrations/tookan.png' },
  { name: 'trafft', src: '/integrations/trafft.png' },
  { name: 'trello', src: '/integrations/trello.png' },
  { name: 'tucalendi', src: '/integrations/tucalendi.png' },
  { name: 'twilio', src: '/integrations/twilio.png' },
  { name: 'twist', src: '/integrations/twist.png' },
  { name: 'twitter', src: '/integrations/twitter.png' },
  { name: 'txtria', src: '/integrations/txtria.png' },
  { name: 'typeform', src: '/integrations/typeform.png' },
  { name: 'ucliq', src: '/integrations/ucliq.png' },
  { name: 'unnamed', src: '/integrations/unnamed.png' },
  { name: 'upcoach', src: '/integrations/upcoach.png' },
  { name: 'uptimerobot', src: '/integrations/uptimerobot.png' },
  { name: 'upviral', src: '/integrations/upviral.png' },
  { name: 'useinfluence', src: '/integrations/useinfluence.png' },
  { name: 'vadootv', src: '/integrations/vadootv.png' },
  { name: 'vectera', src: '/integrations/vectera.png' },
  { name: 'verifybee', src: '/integrations/verifybee.png' },
  { name: 'veta', src: '/integrations/veta.png' },
  { name: 'videoask', src: '/integrations/videoask.png' },
  { name: 'vidtherex', src: '/integrations/vidtherex.png' },
  { name: 'vidyou', src: '/integrations/vidyou.png' },
  { name: 'viralloops', src: '/integrations/viralloops.png' },
  { name: 'vivifyscrum', src: '/integrations/vivifyscrum.png' },
  { name: 'voicemonkey', src: '/integrations/voicemonkey.png' },
  { name: 'wachete', src: '/integrations/wachete.png' },
  { name: 'wagonwheellogo', src: '/integrations/wagonwheellogo.png' },
  { name: 'waiverforever', src: '/integrations/waiverforever.png' },
  { name: 'walletly', src: '/integrations/walletly.png' },
  { name: 'watoolbox', src: '/integrations/watoolbox.png' },
  { name: 'webflow', src: '/integrations/webflow.png' },
  { name: 'webhook', src: '/integrations/webhook.png' },
  { name: 'webinarjam', src: '/integrations/webinarjam.png' },
  { name: 'webinarkitlogo', src: '/integrations/webinarkitlogo.png' },
  { name: 'whatrise', src: '/integrations/whatrise.png' },
  { name: 'whatsapp', src: '/integrations/whatsapp.png' },
  { name: 'whatsgrow', src: '/integrations/whatsgrow.png' },
  { name: 'whmcs', src: '/integrations/whmcs.png' },
  { name: 'wildapricot', src: '/integrations/wildapricot.png' },
  { name: 'wordink', src: '/integrations/wordink.png' },
  { name: 'wordpress', src: '/integrations/wordpress.png' },
  { name: 'work stack', src: '/integrations/work_stack.png' },
  { name: 'workiom', src: '/integrations/workiom.png' },
  { name: 'worksheet', src: '/integrations/worksheet.png' },
  { name: 'worksnaps', src: '/integrations/worksnaps.png' },
  { name: 'woxo', src: '/integrations/woxo.png' },
  { name: 'wpamelia', src: '/integrations/wpamelia.png' },
  { name: 'wrike', src: '/integrations/wrike.png' },
  { name: 'x', src: '/integrations/x.png' },
  { name: 'xenforo', src: '/integrations/xenforo.png' },
  { name: 'xennio', src: '/integrations/xennio.png' },
  { name: 'xeno', src: '/integrations/xeno.png' },
  { name: 'xperiencify', src: '/integrations/xperiencify.png' },
  { name: 'xroom', src: '/integrations/xroom.png' },
  { name: 'yanado', src: '/integrations/yanado.png' },
  { name: 'zendesk', src: '/integrations/zendesk.png' },
  { name: 'zendesksell', src: '/integrations/zendesksell.png' },
  { name: 'zeplin', src: '/integrations/zeplin.png' },
  { name: 'zerobounce', src: '/integrations/zerobounce.png' },
  { name: 'zoho campaign', src: '/integrations/zoho_campaign.png' },
  { name: 'zoho cliq', src: '/integrations/zoho_cliq.png' },
  { name: 'zoho desk', src: '/integrations/zoho_desk.png' },
  { name: 'zoho inventory', src: '/integrations/zoho_inventory.png' },
  { name: 'zonka feedback', src: '/integrations/zonka_feedback.png' },
];

const searchQuery = ref('');

const filteredLogos = computed(() => {
  if (searchQuery.value === '') {
    return logos;
  } else {
    const query = searchQuery.value.toLowerCase();
    return logos.filter(logo => logo.name.toLowerCase().includes(query));
  }
});
useSeoMeta({
  title: 'Integrations',
  description: 'Discover 5,000+ seamless integrations on the Blue platform. Streamline your workflow with our diverse range of integration options for enhanced productivity.'
});
</script>


