<template>
  <div class="relative isolate h-screen bg-brand-blue dark:bg-gray-900 overflow-hidden">
    <!-- Background pattern -->
    <div class="absolute inset-0 opacity-10 dark:opacity-5">
      <div class="kanban-board">
        <!-- Kanban Columns -->
        <div v-for="i in 4" :key="i" class="kanban-column">
          <div class="column-header"></div>
          <div class="column-content">
            <div 
              v-for="j in 8" 
              :key="j"
              class="kanban-card"
              :class="[
                `card-${i}-${j}`,
                getAnimationClass(i, j)
              ]"
            >
              <div class="card-pills">
                <div class="pill"></div>
                <div class="pill"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Hero content -->
    <div class="relative mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:flex lg:items-center lg:gap-x-10 lg:px-8 lg:py-40 h-full">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
        <h1 class="mt-10 max-w-lg text-4xl font-bold tracking-tight text-white sm:text-6xl">
          Organize Work with Kanban Boards
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-100">
          Visualize your workflow, limit work in progress, and maximize efficiency with our intuitive Kanban boards.
        </p>
        <div class="mt-10 flex items-center gap-x-6">
          <a href="https://app.blue.cc" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-brand-blue shadow-sm hover:bg-gray-100">
            Get started
          </a>
        </div>
      </div>
    </div>
  </div>
  <TitleParagraph
    title="Try an interactive Kanban Board Demo"
    description="Seeing is believing, try out interactive demo to see the magic of managing projects with Kanban Boards."
    />
    

<div class="mx-auto" style="position: relative; padding-bottom: calc(55.00000000000001% + 41px); height: 0; width: 75%;"><iframe src="https://demo.arcade.software/0TjfEKEzmNb6iTRqNsh1?embed&show_copy_link=true" title="Custom Fields" frameborder="0" loading="lazy" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="clipboard-write" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;color-scheme: light;"></iframe></div>

<CtaDark
  title="Visualize your workflow with kanban boards."
  description="Visualize tasks, streamline workflows, and boost productivity with Blue's intuitive Kanban boards."
  buttonText="Try it Free"
  buttonLink="https://app.blue.cc"
/>
  <FeatureRight
    title="Elevate Project Visualization with Blue’s Board View."
    description="Transform project management with our intuitive Kanban Board View. Easily track and manage workflows visually."
    :features="[
      {
        name: 'Drag-and-Drop.',
        description: 'Quickly adjust tasks and priorities with simple drag-and-drop actions.',
        icon: 'heroicons:cursor-arrow-rays-solid',
      },
      {
        name: 'Real-Time Tracking.',
        description: 'Monitor task status instantly to keep projects on track.',
        icon: 'heroicons:check-circle-solid',
      },
      {
        name: 'Flexible.',
        description: 'Create and reorder lists as needed to match your workflow.',
        icon: 'heroicons:face-smile-solid',
      },
    ]"
    :image="{
      src: '/product/board-drag-drop.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <FeatureLeft
    title="Maximize Efficiency with Bulk Editing."
    description="Speed up project management with Blue's Board View bulk actions. Edit multiple tasks quickly to streamline progress."
    :features="[
      {
        name: 'Bulk Updates.',
        description: 'Change statuses, deadlines, or assignments in one go.',
        icon: 'heroicons:cursor-arrow-rays-solid',
      },
      {
        name: 'Error Reduction.',
        description: 'Reduce mistakes with consistent, unified bulk edits.',
        icon: 'heroicons:check-circle-solid',
      },
      {
        name: 'Time-Saving.',
        description: 'Cut down on repetitive tasks, freeing up time for strategy.',
        icon: 'heroicons:face-smile-solid',
      },
    ]"
    :image="{
      src: '/product/board-bulk-select.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  
  
  
  <FeatureRight
        title="Supercharge your workflow with an automated kanban board."
        description="Automations are simple to setup, but powerful."
        :features="[
          {
            name: 'Choose your trigger.',
            description: 'Choose the exact action that will activate the automation.',
            icon: 'heroicons:cursor-arrow-rays-solid',
          },
          {
            name: 'Set your action.',
            description: 'Choose a course of action and arrange the steps in sequence.',
            icon: 'heroicons:check-circle-solid',
          },
          {
            name: 'Automate!',
            description: 'Sit back, relax, and watch how things happen — automagically.',
            icon: 'heroicons:face-smile-solid',
          },
        ]"
        :image="{
          src: '/product/automations.png',
          alt: 'Product screenshot',
          width: '2432',
          height: '1442',
        }"
  />
  <CtaDark
    title="Visualize your workflow with kanban boards."
    description="Visualize tasks, streamline workflows, and boost productivity with Blue's intuitive Kanban boards."
    buttonText="Try it Free"
    buttonLink="https://app.blue.cc"
  />
  
  <FaqAccordion :faqs="pageFaqs" />
</template>

<script setup>
const pageFaqs = [
  {
    question: "What is a Kanban board?",
    answer: "A Kanban board is a visual tool used in Blue to map out tasks and workflows. It helps teams visualize work, limit work-in-progress, and maximize efficiency. Tasks are represented as cards on the board, moving through various stages of the workflow."
  },
  {
    question: "How does a Kanban board improve project management?",
    answer: "Kanban boards improve project management by providing a visual overview of the work process. This helps teams identify bottlenecks, prioritize tasks, and ensure smooth workflow. It also promotes transparency and collaboration among team members."
  },
  {
    question: "Can I customize the columns on a Kanban board?",
    answer: "Yes, Kanban boards are highly customizable. You can add, remove, and rename columns to match your specific workflow stages. This flexibility allows you to create a board that fits your team's unique process and needs."
  },
  {
    question: "How do I use Kanban boards for different projects?",
    answer: "You can create separate Kanban boards for different projects or use a single board with different tags or categories for each project. This helps you organize and manage multiple projects efficiently, keeping tasks and priorities clear."
  },
  {
    question: "Why is it called 'Kanban' and what is its history?",
    answer: "The term 'Kanban' comes from the Japanese word for 'signboard' or 'billboard.' It was first developed by Toyota in the 1940s as a scheduling system for lean manufacturing and just-in-time production. The method was designed to improve manufacturing efficiency and reduce waste. Today, Kanban is widely used in various industries for project management and workflow optimization."
  },
  {
    question: "Can Kanban boards be integrated with other tools?",
    answer: "Yes, Kanban boards in Blue can be integrated with over 5,000 other platforms via our integration partners Pabbly and Zapier."
  }
];
useSeoMeta({
  title: 'Kanban Boards',
  description: 'Organize tasks efficiently with our intuitive Kanban board platform. Streamline your workflow and boost productivity. Try it now!',
})
const getAnimationClass = (column, card) => {
  // Column 4 (rightmost) cards move off screen first
  if (column === 4) {
    if (card === 2) return 'exit-right-1';
    if (card === 5) return 'exit-right-2';
  }
  
  // Column 3 cards move to column 4
  if (column === 3) {
    if (card === 3) return 'move-right-1';
    if (card === 6) return 'move-right-2';
  }
  
  // Column 2 cards move to column 3
  if (column === 2) {
    if (card === 2) return 'move-right-delayed-1';
    if (card === 5) return 'move-right-delayed-2';
  }
  
  // Column 1 cards move to column 2
  if (column === 1) {
    if (card === 3) return 'move-right-delayed-3';
    if (card === 6) return 'move-right-delayed-4';
  }
  
  return '';
};
</script>

<style scoped>
.kanban-board {
  display: flex;
  height: 100%;
  padding: 2rem;
  gap: 1.5rem;
}

.kanban-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 1rem;
}

.column-header {
  height: 24px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  margin-bottom: 1rem;
}

.column-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.kanban-card {
  height: 100px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 1rem;
  transform-origin: center center;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.card-pills {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.pill {
  height: 6px;
  width: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

/* First wave: Cards exiting right */
@keyframes exitRight1 {
  0%, 100% { transform: translate(0, 0); }
  15%, 85% { transform: translate(120%, 0); }
}

@keyframes exitRight2 {
  0%, 100% { transform: translate(0, 0); }
  20%, 80% { transform: translate(120%, 0); }
}

/* Second wave: Cards moving to last column */
@keyframes moveRight1 {
  0%, 10%, 100% { transform: translate(0, 0); }
  25%, 85% { transform: translate(calc(100% + 1.5rem + 2rem), calc(-100px - 0.75rem)); }
}

@keyframes moveRight2 {
  0%, 15%, 100% { transform: translate(0, 0); }
  30%, 80% { transform: translate(calc(100% + 1.5rem + 2rem), calc(-100px - 0.75rem)); }
}

/* Third wave: Cards moving to second-to-last column */
@keyframes moveRightDelayed1 {
  0%, 20%, 100% { transform: translate(0, 0); }
  35%, 85% { transform: translate(calc(100% + 1.5rem + 2rem), calc(100px + 0.75rem)); }
}

@keyframes moveRightDelayed2 {
  0%, 25%, 100% { transform: translate(0, 0); }
  40%, 80% { transform: translate(calc(100% + 1.5rem + 2rem), calc(100px + 0.75rem)); }
}

/* Fourth wave: Cards moving to third-to-last column */
@keyframes moveRightDelayed3 {
  0%, 30%, 100% { transform: translate(0, 0); }
  45%, 85% { transform: translate(calc(100% + 1.5rem + 2rem), calc(200px + 1.5rem)); }
}

@keyframes moveRightDelayed4 {
  0%, 35%, 100% { transform: translate(0, 0); }
  50%, 80% { transform: translate(calc(100% + 1.5rem + 2rem), calc(-400px - 3rem)); }
}

.exit-right-1 {
  animation: exitRight1 20s infinite;
  z-index: 1;
}

.exit-right-2 {
  animation: exitRight2 20s infinite;
  animation-delay: 0.5s;
  z-index: 1;
}

.move-right-1 {
  animation: moveRight1 20s infinite;
  z-index: 2;
}

.move-right-2 {
  animation: moveRight2 20s infinite;
  animation-delay: 0.5s;
  z-index: 2;
}

.move-right-delayed-1 {
  animation: moveRightDelayed1 20s infinite;
  z-index: 3;
}

.move-right-delayed-2 {
  animation: moveRightDelayed2 20s infinite;
  animation-delay: 0.5s;
  z-index: 3;
}

.move-right-delayed-3 {
  animation: moveRightDelayed3 20s infinite;
  z-index: 4;
}

.move-right-delayed-4 {
  animation: moveRightDelayed4 20s infinite;
  animation-delay: 0.5s;
  z-index: 4;
}

/* Add subtle shadow during movement */
[class*="exit-right-"],
[class*="move-right-"] {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Optimize animations */
.kanban-card {
  will-change: transform;
  backface-visibility: hidden;
}

/* Add a subtle arc to the movement */
[class*="move-right-"] {
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
</style>