<template>
  <HeroRightLight 
  title="Get it done with list view."
  subtitle="Organize, prioritize, and manage your projects with precision using our powerful List View."
    imageSrc="/product/list-hero.png"
    imageAlt="List view project management software"
  />
  
  <FeatureRight
    title="Simplicty at its best. "
    description="Sometimes you just need to see a list of things that need to get done. With List View, you get exactly that—a straightforward, uncluttered list that puts your tasks front and center. "
    :features="[
              {
                name: 'Mark it done.',
                description: 'Check off tasks from the list. Track progress instantly and keep everyone updated.',
                icon: 'heroicons:check-circle-solid',
              },
              {
                name: 'Powerful filters.',
                description: 'Focus on critical tasks. Apply filters to streamline your to-do list effectively.',
                icon: 'heroicons:funnel-solid',
              },
              {
                name: 'Custom sorting.',
                description: 'Sort tasks your way. Arrange by deadline, priority, or any other criteria for better control.',
                icon: 'heroicons:adjustments-horizontal-solid',
              },
            ]"
            
    :image="{
      src: '/product/list-light.png',
      alt: 'List management screenshot',
      width: '2432',
      height: '1442',
    }"
  />

  <CtaDark />
  
</template >

<script setup>
useSeoMeta({
  title: 'Lists',
  description: 'Get it done with Blue lists. Easily see what needs to get done, who needs to do it, and when it needs to get by so you can stay on top of everything.',
})
</script>
