<template>
  <HeroRightLight 
  title="Move faster with project management automations."
    subtitle="Automate tedious tasks and create custom workflows tailored to your needs — so you can focus on the work that truly matters."
    imageSrc="/product/automations.png"
    imageAlt="Automations dashboard screenshot"
  />
  <FeatureRight
        title="How project management automations work."
        description="Automations are simple to setup, but powerful."
        :features="[
          {
            name: 'Choose your trigger.',
            description: 'Choose the exact action that will activate the automation.',
            icon: 'heroicons:cursor-arrow-rays-solid',
          },
          {
            name: 'Set your action.',
            description: 'Choose a course of action and arrange the steps in sequence.',
            icon: 'heroicons:check-circle-solid',
          },
          {
            name: 'Automate!',
            description: 'Sit back, relax, and watch how things happen — automagically.',
            icon: 'heroicons:face-smile-solid',
          },
        ]"
        :image="{
          src: '/product/automations-when-then.png',
          alt: 'Product screenshot',
          width: '2432',
          height: '1442',
        }"
  />

    <TitleParagraph
      title="Millions of actions, automated. "
      description="Across industries, Blue helps business owners, project managers, and dedicated teams focus on what truly matters by putting repetitive tasks on autopilot."
      />
      
  <div class="mx-auto" style="position: relative; padding-bottom: calc(55.00000000000001% + 41px); height: 0; width: 75%;"><iframe src="https://demo.arcade.software/oDtJdrmOjMMPdda020E9?embed&show_copy_link=true" title="Custom Fields" frameborder="0" loading="lazy" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="clipboard-write" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;color-scheme: light;"></iframe></div>
  
  <FeatureRight
    title="Manager Reviews."
    description="Automatically alert managers when items require review based on status, process steps, or tags. Eliminate the need for team members to send reminders, ensuring managers always have a clear and current list of items awaiting their attention with project management automations."
    :image="{
      src: '/product/automations-manager-review.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <FeatureLeft
    title="Ensure things are on time. Every time."
    description="Project management automations notify assignees and escalate tasks when they become overdue. This ensures that every project stays on track."
    :image="{
      src: '/product/automations-overdue.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />  
  <ResourceList
    title="Project Management Automations Resources" 
    description="Learn how to streamline your processes, increase efficiency, and unlock new possibilities for your business."
    :postSlugs="[
      'benefits-project-management-automation',
      'project-management-automation-faq',
      'most-useful-project--management-automations'
    ]"
  />
  <FeatureRight
    title="Automated task organization."
    description="Automatically tag and move tasks based on their status—like adding a 'bug' tag to new entries in the bug list, or moving completed tasks to the 'Done' list. Keep your projects neat and organized effortlessly with the power of artificial intelligence."
    :image="{
      src: '/product/simple-screenshot-home.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <CtaDark
    title="Automate Your Workflow."
    description="Streamline tasks and boost efficiency with Blue's powerful project management automations."
    buttonText="Get Started Free"
    buttonLink="https://app.blue.cc"
  />
  
  <FaqAccordion :faqs="pageFaqs" />
  
  
  
  
  
  
  
  
  
  
</template >

<script setup>

const pageFaqs = [
  {
    question: "What are automations in Blue?",
    answer: "Project management automations in Blue allow you to set up custom workflows where specific actions are automatically executed when predefined conditions (triggers) are met. They are designed to simplify routine tasks and enhance workflow efficiency without requiring manual input once set up."
  },
  {
    question: "What types of triggers and actions can I use in automations?",
    answer: "Triggers can be various events such as the completion of a record, a change in assignee, or an update in a custom field. Actions might include sending notifications, updating fields, creating tasks, or changing a record's status."
  },
  {
    question: "Can automations work across multiple projects?",
    answer: "Yes, Blue includes project management automations that can move or copy records from one project to another, ideal for workflows that span multiple projects or departments."
  },
  {
    question: "Who can set up and manage automations?",
    answer: "Only Project Administrators have the authority to create and manage automations. This ensures that automations are strategically aligned with project goals. However, all team members can view active automations to understand the automated processes enhancing the project workflow."
  },
  {
    question: "Is there a limit to the number of automations I can create?",
    answer: "Unlike many other project management systems, Blue does not restrict the number of automations you can create or how often they can be triggered, giving you the freedom to automate as much of your workflow as needed."
  },
  {
    question: "Can all team members see the automations set up in our projects?",
    answer: "Yes, while only Project Administrators can manage automations, transparency is maintained as all roles within the project have visibility into which automations are active, fostering a shared understanding of the project's automated enhancements."
  }
];
useSeoMeta({
  title: 'Project Management Automations',
  description: 'Discover the power of project management automation with Blue\'s platform. Streamline your processes, increase efficiency, and unlock new possibilities for your business.'
});
</script>

