<template>
  <HeroRightLight 
  title="One source of truth for any process."
  subtitle="Records are the fundamental building blocks in Blue.  Track and manage anything with unparalleled flexibility. Whether you need to oversee tasks, handle support tickets, manage customer relationships, store employee data, or monitor sales deals, you can do it in Blue."
    imageSrc="/product/records-hero.png"
    imageAlt="Records screenshot"
  />
  <TitleParagraph
    title="Try an interactive Records Demo"
    description="Seeing is believing, try out interactive demo to see how records can become your fundamental building blocks."
    />

<div class="mx-auto" style="position: relative; padding-bottom: calc(55.00000000000001% + 41px); height: 0; width: 75%;"><iframe src="https://demo.arcade.software/dzRvI0uFvDAQuR43zuWj?embed&show_copy_link=true" title="Custom Fields" frameborder="0" loading="lazy" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="clipboard-write" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;color-scheme: light;"></iframe></div>

<CtaDark
  title="Organize Your Data with Records."
  description="Centralize your data for accurate, up-to-date information and streamlined workflows."
  buttonText="Try it Free"
  buttonLink="https://app.blue.cc"
/>
<FeatureCenter
  title="Use Custom Fields to make Records tailored for your organization."
  description="Blue has dozens of fields available to ensure you can match your specific data type."
  :imageSrc="'/product/home-page-modern.png'"
  :imageAlt="'App screenshot'"
  :imageWidth="2432"
  :imageHeight="1442"
  :features="[
    {
      name: 'Single Line Text.',
      description: 'A free text field to add any data you need.',
      icon: 'heroicons:document-text-solid',
    },
    {
      name: 'URL.',
      description: 'Add any URL you need and open it in a new tab in one click.',
      icon: 'heroicons:link-solid',
    },
    {
      name: 'Currency.',
      description: 'Choose from dozens of currencies to track your money.',
      icon: 'heroicons:currency-dollar-solid',
    },
    {
      name: 'File.',
      description: 'Add multiple files to have a more structured data set.',
      icon: 'heroicons:paper-clip-solid',
    },
    {
      name: 'Country.',
      description: 'Get a list of countries that you can select.',
      icon: 'heroicons:globe-alt-solid',
    },
    {
      name: 'Date.',
      description: 'Pick any start and end date. Add time and show it on a calendar.',
      icon: 'heroicons:calendar-solid',
    },
    {
      name: 'Single & Multi Select.',
      description: 'Create a list and select any items for each record.',
      icon: 'heroicons:queue-list-solid',
    },
    {
      name: 'Unique ID.',
      description: 'Create a unique ID that you can use to reference records.',
      icon: 'heroicons:finger-print-solid',
    },
    {
      name: 'Long Text.',
      description: 'A large space to add multi-line text descriptions.',
      icon: 'heroicons:document-text-solid',
    },
    {
      name: 'Phone Number.',
      description: 'Automatically formatted phone numbers and one-click calls.',
      icon: 'heroicons:phone-solid',
    },
    {
      name: 'Email.',
      description: 'Add structured emails into our dedicated email field.',
      icon: 'heroicons:envelope-solid',
    },
    {
      name: 'Checkbox.',
      description: 'Add a checkbox that you can use for approvals.',
      icon: 'heroicons:check-circle-solid',
    },
    {
      name: 'Numbers.',
      description: 'Add numbers with min and max values.',
      icon: 'heroicons:calculator-solid',
    },
    {
      name: 'Percentage.',
      description: 'Add a percentage indicator to any record in Blue.',
      icon: 'heroicons:chart-pie-solid',
    },
    {
      name: 'Reference.',
      description: 'Reference records from other projects.',
      icon: 'heroicons:arrow-path-16-solid',
    },
    {
      name: 'Lookup.',
      description: 'Lookup data from other records in reference fields.',
      icon: 'heroicons:magnifying-glass-circle-solid',
    },
    {
      name: 'Duration.',
      description: 'Calculate the duration of time between events.',
      icon: 'heroicons:clock-solid',
    },
    {
      name: 'Geolocation.',
      description: 'Add location data that will then show up on the map view.',
      icon: 'heroicons:map-pin-solid',
    },
  ]"
/>

<TitleParagraph
  title="Go beyond the spreadsheet."
  description="We get it — everyone is different. That's why Blue offers multiple options for viewing your data, from traditional databases to calendars, gantt charts, maps, lists, and kanban boards."
/>  
<FeatureLeft
  title="Create standardized processes with Boards."
  description="Organize your workplace quickly and easily with process boards — ensuring steps are clear and simple to follow."
  :features="[
    {
      name: 'Scalable.',
      description: 'Up to 100,000 records per list to track data and process at scale.',
      icon: 'heroicons:chart-bar-solid',
    },
    {
      name: 'Visual.',
      description: 'Drag and drop records to organize work across all your devices.',
      icon: 'heroicons:eye-solid',
    },
    {
      name: 'Precise.',
      description: 'Advanced filters, keywords, and tags search keep records organized.',
      icon: 'heroicons:magnifying-glass-circle-solid',
    },
  ]"
  :image="{
    src: '/product/dark-cta-screenshot.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureRight
  title="Manage data at scale with Visual Database."
  description="Eliminate the tedious details and explore your database. Visualize and dissect your data quickly to find what you need."
  :features="[
    {
      name: 'Organized.',
      description: 'Organize your data into meaningful groups right away.',
      icon: 'heroicons:cube-solid',
    },
    {
      name: 'Filterable.',
      description: 'Filter and logically analyze data like a pro — without any hassle.',
      icon: 'heroicons:adjustments-horizontal-solid',
    },
    {
      name: 'Editable.',
      description: 'Edit records directly from the database and log all changes meticulously.',
      icon: 'heroicons:pencil-solid',
    },
  ]"
  :image="{
    src: '/product/simple-screenshot-home.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureLeft
  title="Ensure you're always up to date with Calendars."
  description="Plan your projects and processes with Blue calendars to get a clear overview of what's happening in your organization — then identify bottlenecks before they arise."
  :features="[
    {
      name: 'Cross-Workspace.',
      description: 'View a unified organization calendar to gain a 30,000 foot perspective.',
      icon: 'heroicons:rectangle-stack-solid',
    },
    {
      name: 'Drag & Drop.',
      description: 'Drag and drop to quickly change dates and keep your project schedule up-to-date.',
      icon: 'heroicons:rectangle-group-solid',
    },
    {
      name: 'Sync your Calendar.',
      description: 'Sync all Blue events instantly with your work calendar. We support Outlook, Google Calendar, and iCal.',
      icon: 'heroicons:calendar-days-solid',
    },
  ]"
  :image="{
    src: 'product/calendar.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>
<FeatureRight
  title="Monitor everything with Activity & Audit Trails."
  description="Blue creates transparency on what's happened. Monitor activities across workspaces and hold people responsible."
  :features="[
    {
      name: 'Time Machine.',
      description: 'Instantly go back and see what happened on a given date range.',
      icon: 'heroicons:clock-solid',
    },
    {
      name: 'Organizational Activity.',
      description: 'See a comprehensive overview of activity across all workplaces.',
      icon: 'heroicons:building-office-solid',
    },
    {
      name: 'Individual Activity.',
      description: 'Everyone has an individual activity, so you can see who did what.',
      icon: 'heroicons:user-solid',
    },
  ]"
  :image="{
    src: '/product/custom-fields-audit.png',
    alt: 'Product screenshot',
    width: '2432',
    height: '1442',
  }"
/>


  <FaqAccordion :faqs="pageFaqs" />
  
  
  
  
  
  
  
  
</template >

<script setup>

const pageFaqs = [
  {
    question: "What is a record in Blue?",
    answer: "Records in Blue are the fundamental building blocks that allow you to track and manage any type of information. They are highly versatile and can be renamed to suit your specific needs, making them ideal for tracking tasks, projects, sales, support tickets, and more."
  },
  {
    question: "How do records improve data organization?",
    answer: "Records serve as a single, centralized repository for all relevant information. By capturing data within records, Blue ensures data consistency, reduces duplication, and streamlines communication among team members, making it your go-to source for accurate and up-to-date information."
  },
  {
    question: "What are some key features of records in Blue?",
    answer: "Records in Blue offer several key features: Lists for categorizing information, Custom Fields for capturing specialized data, Tags for highlighting priorities, Comments for team collaboration, Attachments for easy access to files, Automations for triggering actions based on record changes, and Colors for identifying urgency or content planning."
  },
  {
    question: "How can I use records for task and project management?",
    answer: "Use records to track the progress of tasks and projects with assignees, due dates, attachments, and more. Group them into lists like 'Backlog', 'In Progress', and 'Live' to visualize your workflow and ensure tasks are completed efficiently."
  },
  {
    question: "Can records be used for managing a sales pipeline?",
    answer: "Yes, you can manage your sales pipeline by creating records for each lead and opportunity. Track deal value, lead score, and next steps using custom fields. Organize records into lists like 'Open Deals' and 'Closed Won' to analyze your sales funnel."
  },
  {
    question: "How do records function in a support ticket system?",
    answer: "Records can act as support tickets to track customer issues. Agents can be assigned tickets, ask clarifying questions in comments, and update the status using custom fields. Group tickets by type using tags like 'Bug', 'Question', etc., to streamline your support process."
  },
  {
    question: "Can records be used in recruitment?",
    answer: "Absolutely. Use records for every candidate application with key information stored in custom fields. Move candidates through lists like 'Applied', 'Phone Screen', and 'Final Round' to track their progression. Utilize email automation to send updates to candidates as they move through different stages."
  },
  {
    question: "Can records in Blue be integrated with other tools?",
    answer: "Yes, records in Blue can be integrated with over 5,000 other platforms via our integration partners Pabbly and Zapier. This allows for seamless data synchronization and enhances your workflow by connecting different tools and platforms used by your team."
  }
];
useSeoMeta({
  title: 'Records',
  description: 'Records are where you store and manage data in Blue. Use them to track work items, customers, sales — anything that you can imagine! '
});
</script>

