<template>
  <div class="bg-white dark:bg-gray-900">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="border-b border-gray-200 dark:border-gray-700 pb-6 pt-24">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white">Roadmap</h1>
        <p class="mt-2 text-lg text-gray-600 dark:text-gray-300">
          Explore our upcoming features and enhancements to Blue. Share your feedback and ideas by <a href="mailto:help@blue.cc" class="text-brand-blue hover:underline">emailing us</a> or <a href="https://ask.blue.cc" target="_blank" rel="noopener noreferrer" class="text-brand-blue hover:underline">join our community forum</a>.
        </p>
      </div>
      
      <!-- Search and Toggle row -->
      <div class="flex justify-between items-center mt-4 mb-6">
        <!-- Keyword search input -->
        <div class="relative w-64">
          <input
            v-model="searchKeyword"
            type="text"
            placeholder="Search features..."
            class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-brand-blue focus:border-brand-blue dark:bg-gray-700 dark:border-gray-600 dark:text-white"
          />
          <span class="absolute inset-y-0 right-0 flex items-center pr-3">
            <Icon name="heroicons:magnifying-glass" class="w-5 h-5 text-gray-400" />
          </span>
        </div>

        <!-- Toggle -->
        <div class="flex items-center">
          <span class="text-sm font-medium text-gray-900 dark:text-white mr-3">Simple</span>
          <button
            @click="showFullDetails = !showFullDetails"
            type="button"
            class="relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none"
            :class="showFullDetails ? 'bg-brand-blue' : 'bg-gray-200'"
          >
            <span
              class="pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"
              :class="showFullDetails ? 'translate-x-5' : 'translate-x-0'"
            ></span>
          </button>
          <span class="text-sm font-medium text-gray-900 dark:text-white ml-3">Detailed</span>
        </div>
      </div>

      <section aria-labelledby="products-heading" class="pb-24 pt-6">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
          <div v-for="(column, index) in filteredColumns" :key="index" class="bg-white dark:bg-gray-800 rounded-lg shadow p-4 border border-gray-200 dark:border-gray-700">
            <h2 class="text-lg font-semibold mb-4 text-gray-900 dark:text-white">{{ column.title }}</h2>
            <div class="space-y-3">
              <div v-for="(card, cardIndex) in column.cards" :key="cardIndex" 
                   class="bg-gray-50 dark:bg-gray-700 rounded-lg p-4 border border-gray-200 dark:border-gray-600 cursor-pointer"
                   @click="openCardModal(card)">
                <div>
                  <h3 class="font-medium text-gray-900 dark:text-white">{{ card.name }}</h3>
                  <p class="text-sm text-gray-600 dark:text-gray-300 mt-1">{{ card.shortDescription }}</p>
                  <div v-if="showFullDetails" class="flex items-center mt-2">
                    <div :class="['w-2 h-2 rounded-full mr-2', getPriorityColor(card.priority)]"></div>
                    <span class="text-sm text-gray-500">{{ card.priority }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Add this modal component -->
      <div v-if="selectedCard" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full flex items-center justify-center">
        <div class="bg-white dark:bg-gray-800 p-8 rounded-lg shadow-xl max-w-md w-full">
          <div class="flex items-center mb-2">
            <div :class="['w-3 h-3 rounded-full mr-2', getPriorityColor(selectedCard.priority)]"></div>
            <span class="text-sm font-medium text-gray-600 dark:text-gray-300">Priority: {{ selectedCard.priority }}</span>
          </div>
          <h2 class="text-2xl font-bold mb-4">{{ selectedCard.name }}</h2>
          <p class="text-gray-600 dark:text-gray-300 mb-4">{{ selectedCard.description }}</p>
          <button @click="closeCardModal" class="bg-brand-blue text-white px-4 py-2 rounded hover:bg-brand-blue transition-transform duration-300 hover:-translate-y-1">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'

const showFullDetails = ref(false)
const searchKeyword = ref('')

const columns = ref([
  {
    title: 'Considering',
    description: 'Features we\'re evaluating for potential development. These ideas are under review but not yet committed to our roadmap.',
    cards: [
      { name: '🎙️ Voice notes with transcriptions', shortDescription: 'Add voice notes with transcriptions in comment areas', description: 'Implement a feature to allow users to record voice notes in comment areas, with automatic transcription for easy reference and searchability.', priority: 'Medium' },
      { name: '🤖 AI Project Assistant', shortDescription: 'Intelligent assistant for project management', description: 'Develop an AI-powered project assistant that can answer questions about project status, generate reports, provide task prioritization suggestions, offer resource allocation recommendations, and identify potential risks and bottlenecks.', priority: 'Medium' },
      { name: '📧 AI Email Automations', shortDescription: 'Enhance email automations with AI', description: 'Implement AI-powered content generation for email automations, using liquid tags for dynamic data, generating personalized email bodies, and allowing fine-tuning to match company voice and style.', priority: 'High' },
      { name: '🔌 REST API', shortDescription: 'Add a REST API on top of existing GraphQL API', description: 'Implement a REST API to complement our existing GraphQL API, providing developers with more flexibility in how they interact with our platform.', priority: 'Medium' },
    ]
  },
  {
    title: 'Planned',
    description: 'Features that have been approved for development and are scheduled to be worked on in the near future.',
    cards: [
      { name: '🌎 Data Residency Options', shortDescription: 'Choose data storage location in US/EU/APAC', description: 'Implement the ability for users to select their preferred data storage location among US, EU, or APAC regions, ensuring compliance with local data regulations.', priority: 'High' },
      { name: '⏱️ Time Tracking', shortDescription: 'Track time and generate downloadable time sheets', description: 'Develop a comprehensive time tracking feature with the ability to generate and download detailed timesheets for project management and billing purposes.', priority: 'High' },
      { name: '🔍 Saved Filtered Views', shortDescription: 'Create and save custom filtered project views', description: 'Allow users to create, save, and quickly access custom filtered views of their projects, enhancing productivity and organization.', priority: 'Medium' },
      { name: '📑 Customizable Project Tabs', shortDescription: 'Personalize project interface with custom tabs', description: 'Enable users to create and customize project tabs, allowing for a more tailored and efficient project management experience.', priority: 'Low' },
      { name: '🌐 Public Views', shortDescription: 'Share project views as public view-only links', description: 'Implement a feature that allows users to share specific project views as public, view-only links, enabling easy collaboration with external stakeholders or clients without requiring them to have an account.', priority: 'Medium' },
      { name: '👥 Multiple Company Owners', shortDescription: 'Support for multiple company owners', description: 'Implement functionality to allow multiple users to have owner-level permissions for a single company, enabling shared administrative control and improved collaboration for larger organizations.', priority: 'High' },
      { name: '🃏 Customizable Cards', shortDescription: 'Choose fields to display on card front', description: 'Implement the ability to choose which custom and default fields to show on the front of the cards on a per project basis, allowing for more flexible and tailored project views.', priority: 'Medium' },
      { name: '🔐 Enhanced Login Options', shortDescription: 'More login methods and security features', description: 'Implement additional login methods including Login with Google, Login with SSO (Single Sign-On), traditional Email & Password, and Multi-Factor Authentication (MFA) for improved security and user convenience.', priority: 'Medium' },
      { name: ' Project Level Dashboard', shortDescription: 'Project-specific dashboard', description: 'Develop a project-specific dashboard that mirrors the functionality of the global dashboard but focuses on individual project metrics and insights.', priority: 'Low' },
      { name: '🏷️ Tag-based Role Permissions', shortDescription: 'Show tagged records for custom roles', description: 'Implement a feature allowing administrators to restrict custom user roles to view only records with specific tags, enhancing data privacy and role-based access control.', priority: 'Medium' },
      { name: '🏪 Reseller Platform', shortDescription: 'Dedicated platform for resellers', description: 'Develop a separate platform where resellers can spin up licenses, set white label options, and bill customers, providing a comprehensive solution for managing reseller operations.', priority: 'High' },
      { name: '💬 Threaded Comments', shortDescription: 'Allow replies and threads in comments', description: 'Implement a threaded comment system that allows users to reply directly to specific comments, creating organized discussion threads within project tasks and improving communication clarity.', priority: 'Medium' },
      { name: '📈 Dashboard Tables', shortDescription: 'Create customizable tables in dashboards', description: 'Implement the ability to create tables in dashboards with user-defined columns, allowing for more detailed and structured data presentation within project dashboards.', priority: 'High' },
      { name: '🔌 Full Zapier.com Integration', shortDescription: 'Comprehensive integration with Zapier', description: 'Implement a full-featured integration with Zapier.com, enabling users to create powerful automations and connect our platform with thousands of other apps and services.', priority: 'High' },
      { name: '📁 Share File Folders', shortDescription: 'Create public sharing links for folders', description: 'Implement the ability to create public sharing links for entire folders, not just individual files. This feature will enhance collaboration by allowing users to easily share multiple files at once and streamline document sharing processes.', priority: 'Medium' },
    ]
  },
  {
    title: 'In Progress',
    description: 'Features currently being actively developed by our team.',
    cards: [
      { name: '🔗 Make.com Integration', shortDescription: 'Community integration with Make.com', description: 'Develop a community integration with Make.com, allowing users to connect and automate workflows between our platform and other services supported by Make.com.', priority: 'Medium' },
      { name: '💶 Currency Conversion Field', shortDescription: 'A custom field to convert currencies', description: 'A custom field that can convert currencies from a currency custom field and based on a date in a date field. ', priority: 'Medium' },
      { name: '🔄 System Upgrade', shortDescription: 'Vue2 to Vue3 Upgrade and new caching engine', description: 'Upgrading our system from Vue2 to Vue3 and implementing a new caching engine to improve performance and developer experience.', priority: 'High' },
      { name: '🎨 New Design System', shortDescription: 'Vuetify2 to Vuetify3 Upgrade', description: 'Transitioning our design system from Vuetify2 to Vuetify3 to enhance UI consistency and leverage new features.', priority: 'High' },
      { name: '📱 Mobile App Speed Improvements', shortDescription: 'iOS & Android performance enhancements', description: 'Optimizing the performance of our iOS and Android mobile apps to improve speed, responsiveness, and overall user experience.', priority: 'High' },
      { name: '📋 Copy Automation', shortDescription: 'Ability to copy automation within a project', description: 'Implementing a feature that allows users to easily copy and reuse automation workflows within the same project, enhancing productivity and consistency in task management.', priority: 'Medium' },
      { name: '🔀 Conditional Automations', shortDescription: 'Add And/Or logic to automation triggers', description: 'Implement conditional automations that allow users to create complex trigger conditions using And/Or logic, enabling more sophisticated and flexible automated workflows.', priority: 'High' },
      
    ]
  },
  {
    title: 'Testing',
    description: 'Features in the final testing phase, available for early access and feedback before full release.',
    cards: [
      { name: '👤 Assignee Custom Field', shortDescription: 'Add custom assignee field to tasks', description: 'Implement a custom field for task assignees, allowing users to add multiple assignees or custom roles to tasks.', priority: 'Low' },
      { name: '🏷️ Tag-based Role Permissions', shortDescription: 'Show tagged records for custom roles', description: 'Implement a feature allowing administrators to restrict custom user roles to view only records with specific tags, enhancing data privacy and role-based access control.', priority: 'Medium' },
      { name: '💰 Quickbooks OAuth2.0 Integration', shortDescription: 'Integration with Quickbooks accounting software', description: 'Implementing OAuth2.0 integration with Quickbooks to enable seamless accounting data synchronization, invoice management, and financial reporting capabilities.', priority: 'High' }
    ]
  }
])

const selectedCard = ref(null)

const openCardModal = (card) => {
  selectedCard.value = card
}

const closeCardModal = () => {
  selectedCard.value = null
}

const getPriorityColor = (priority) => {
  if (!priority) return 'bg-gray-500'
  
  switch (priority.toLowerCase()) {
    case 'high':
      return 'bg-red-500'
    case 'medium':
      return 'bg-yellow-500'
    case 'low':
      return 'bg-green-500'
    default:
      return 'bg-gray-500'
  }
}

const activeTooltip = ref(null)

const showTooltip = (index) => {
  activeTooltip.value = index
}

const hideTooltip = () => {
  activeTooltip.value = null
}

const filteredColumns = computed(() => {
  if (!searchKeyword.value) return columns.value

  return columns.value.map(column => ({
    ...column,
    cards: column.cards.filter(card => 
      card.name.toLowerCase().includes(searchKeyword.value.toLowerCase()) ||
      card.shortDescription?.toLowerCase().includes(searchKeyword.value.toLowerCase()) ||
      card.description?.toLowerCase().includes(searchKeyword.value.toLowerCase())
    )
  }))
})

useSeoMeta({
  title: 'Our Roadmap for the future of Blue',
  description: 'Discover the comprehensive roadmap of Blue\'s platform, outlining future developments and enhancements to elevate your productivity.'
});
</script>

