<template>
  <div class="relative isolate overflow-hidden bg-gray-900">
    <svg class="absolute inset-0 -z-10 h-full w-full stroke-white/10 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="983e3e4c-de6d-4c3f-8d64-b9761d1534cc" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-800/20">
        <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
      </svg>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#983e3e4c-de6d-4c3f-8d64-b9761d1534cc)" />
    </svg>
    <div class="absolute left-[calc(50%-4rem)] top-10 -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]" aria-hidden="true">
      <div class="aspect-[1108/632] w-[69.25rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)" />
    </div>
    <div class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-40">
      <div class="mx-auto max-w-2xl flex-shrink-0 lg:mx-0 lg:max-w-xl lg:pt-8">
      <h1 class="mt-10 text-4xl font-bold tracking-tight text-white sm:text-6xl">Blue is designed from the ground up for security and scale.</h1>
      <p class="mt-6 text-lg leading-8 text-gray-300">Blue delivers enterprise-grade security and seamless scalability for your critical processes. Designed for high availability and trusted by 15,000+ teams in 120+ countries, Blue powers your global operations with confidence.</p>
      </div>
      <div class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32">
        <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
          <img src="/product/dark-cta-screenshot.png" alt="App screenshot" width="2432" height="1442" class="w-[76rem] rounded-md bg-white/5 shadow-2xl ring-1 ring-white/10" />
          <div class="relative" aria-hidden="true">
            <div class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-gray-900 pt-[30%]" />
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="bg-gray-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">Secure & Scalable Platform.</h2>
      <p class="mt-6 text-lg leading-8 text-gray-300">Blue ensures the highest level of security and scalability for your project management needs. Our enterprise-grade measures protect your data and enable you to grow without limits.</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div v-for="feature in features" :key="feature.name" class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-white">
            <component :is="feature.icon" class="h-5 w-5 flex-none text-white" aria-hidden="true" />
            {{ feature.name }}
          </dt>
          <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-300">
            <p class="flex-auto">{{ feature.description }}</p>
            <p class="mt-6">
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
</template>

<script setup>
import { ChevronRightIcon } from '@heroicons/vue/20/solid'
import { FingerPrintIcon, LockClosedIcon, ShieldCheckIcon } from '@heroicons/vue/20/solid'

const features = [
  {
    name: 'Enterprise-Level Encryption',
    description:
      'Blue utilizes AWS enterprise-level encryption to protect your sensitive data both at rest and in transit.',
    href: '#',
    icon: LockClosedIcon,
  },
  {
    name: 'Advanced Monitoring and Redundancy',
    description:
      'Our advanced monitoring and alert systems, combined with multiple redundant systems, ensure high availability and minimize downtime.',
    href: '#',
    icon: ShieldCheckIcon,
  },
  {
    name: 'Secure Backend Systems',
    description:
      'All backend systems are secured by multi-factor authentication (MFA) to prevent unauthorized access to customer data.',
    href: '#',
    icon: FingerPrintIcon,
  },
  {
    name: 'Regular Security Audits',
    description:
      'Blue undergoes regular security audits by third parties to identify and address any potential vulnerabilities.',
    href: '#',
    icon: ShieldCheckIcon,
  },
  {
    name: 'Daily Data Backups',
    description:
      'Your data is backed up daily to ensure data integrity and enable quick disaster recovery if needed.',
    href: '#',
    icon: LockClosedIcon,
  },
  {
    name: 'External Security Researchers',
    description:
      'Blue works with external security researchers to identify and resolve any vulnerabilities proactively.',
    href: '#',
    icon: FingerPrintIcon,
  },
]
useSeoMeta({
  title: 'Security',
  description: 'Discover how Blue ensures top-notch security and scalability for your data. Learn about our backup policies, encryption standards, and global availability.'
});

</script>


