<template>
  <div class="relative isolate h-screen bg-brand-blue dark:bg-gray-900 overflow-hidden">
    <!-- Background pattern -->
    <div class="absolute inset-0 flex flex-col gap-8 opacity-10 dark:opacity-5 -skew-y-12 scale-150">
      <!-- Generate 10 rows -->
      <div 
        v-for="i in 10" 
        :key="i" 
        class="flex gap-8" 
        :class="`animate-slide-${i % 5 + 1}`"
        :style="{
          transform: `translateX(${i % 2 === 0 ? '-16rem' : '0'})`
        }"
      >
        <!-- Generate more rectangles to ensure smooth infinite scroll -->
        <template v-for="j in 16" :key="j">
          <div 
            class="h-16 rounded-lg shrink-0" 
            :class="[
              Math.random() > 0.7 
                ? 'w-64 bg-white/40' 
                : Math.random() > 0.7 
                  ? 'w-48 bg-white/100'
                  : 'w-32 bg-white/50'
            ]"
          ></div>
        </template>
      </div>
    </div>

    <!-- Hero content -->
    <div class="relative mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:flex lg:items-center lg:gap-x-10 lg:px-8 lg:py-40 h-full">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
        <h1 class="mt-10 max-w-lg text-4xl font-bold tracking-tight text-white dark:text-white sm:text-6xl">
          Visualize Your Project Timeline
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-100 dark:text-gray-200">
          Transform your project management with interactive Gantt charts. Track progress, manage dependencies, and keep your team aligned - all in one place.
        </p>
        <div class="mt-10 flex items-center gap-x-6">
          <a href="https://app.blue.cc" class="rounded-md bg-white dark:bg-gray-200 px-3.5 py-2.5 text-sm font-semibold text-brand-blue dark:text-gray-900 shadow-sm hover:bg-gray-100 dark:hover:bg-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">
            Get started
          </a>
        </div>
      </div>
    </div>
  </div>

  <TitleParagraph
    title="Gantt Charts are the best way to report project status to stakeholders. "
    description="Easily show what's been done, what's up next — and how you'll get it done."
    />
    

  <FeatureRight
    title="Visualize and Manage Dependencies."
    description="In complex projects, tasks often depend on each other. Gantt Charts make it simple to establish and track dependencies, ensuring your project stays on track and avoiding potential roadblocks."
    :features="[
          {
            name: 'Critical Paths.',
            description: 'Visualize the sequence of dependent tasks to identify the critical path of your project.',
            icon: 'heroicons:cursor-arrow-rays-solid',
          },
          {
            name: 'Avoid Bottlenecks.',
            description: 'Spot potential issues early and adjust your plan to keep your project moving forward.',
            icon: 'heroicons:funnel-solid',
          },
          {
            name: 'Stay on Track.',
            description: 'Ensure dependent tasks are completed in the right order to meet your project deadlines.',
            icon: 'heroicons:face-smile-solid',
          },
        ]"
    :image="{
      src: '/product/timeline.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <FeatureLeft
  title="Flexible Gantt Charts to suit your use case."
  description="It doesn't matter if you're organizing an event, managing a complex project, or tracking a product launch – Blue's Gantt Charts adapt to your needs."
    :features="[
          {
            name: 'Lists.',
            description: 'Organize tasks by project-specific lists for a clear overview of workstreams.',
            icon: 'heroicons:queue-list-solid',
          },
          {
            name: 'Assignees.',
            description: 'Visualize team member workloads and optimize resource allocation.',
            icon: 'heroicons:user-group-solid',
          },
          {
            name: 'Tags.',
            description: 'Categorize tasks using custom tags to adapt to your unique workflow.',
            icon: 'heroicons:tag-solid',
          },
        ]"
        
    :image="{
      src: '/product/timeline2.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  
  
  
  <FeatureRight
        title="Effortlessly Manage Your Project Timeline."
        description="Blue's interactive Gantt charts make it a breeze to plan, schedule, and adjust your project timeline. Say goodbye to clunky, Excel Gantt Charts and hello to a dynamic way of managing your projects."
        :features="[
              {
                name: 'Drag & Drop.',
                description: 'Update task dates and durations with simple drag-and-drop actions.',
                icon: 'heroicons:cursor-arrow-rays-solid',
              },
              {
                name: 'Infinite Scroll.',
                description: 'Plan projects of any size or duration with an infinitely scrollable timeline.',
                icon: 'heroicons:chevron-double-down',
              },
              {
                name: 'Zoom.',
                description: 'Switch between high-level and granular views with just a click.',
                icon: 'heroicons:magnifying-glass-plus-solid',
              },
            ]"
            
        :image="{
          src: '/product/timeline3.png',
          alt: 'Product screenshot',
          width: '2432',
          height: '1442',
        }"
  />

  <CtaDark
    title="Visualize your workflow with Gantt Charts."
    description="Visualize tasks, streamline workflows, and boost productivity with Blue's intuitive Gantt Charts."
    buttonText="Try it Free"
    buttonLink="https://app.blue.cc"
    imageSrc="/product/timelinedark.png"
  />
  
  <FaqAccordion :faqs="pageFaqs" />
  
  
  
  
  
  
  
  
</template >

<script setup>

const pageFaqs = [
  {
    question: "What is the Timeline View?",
    answer: "The Timeline View provides a visual overview of your records displayed chronologically across a horizontal timeline. This Gantt chart-style view helps in tracking schedules, deadlines, and temporal relationships across your records, making it easier to manage and visualize project timelines."
  },
  {
    question: "How can I use the Timeline View?",
    answer: "The Timeline View is commonly used for visualizing schedules, milestones, and deadlines for projects. It also helps in tracking the progress of tasks and deliverables, identifying dependencies and scheduling conflicts across records, planning resource allocation based on task timeframes, and analyzing the flow and duration of key workflows and processes."
  },
  {
    question: "How does Drag & Drop Scheduling work?",
    answer: "With Drag & Drop Scheduling, you can easily reschedule records by dragging them to different dates or time slots on the timeline. To adjust the duration of a task, simply drag the edges to lengthen or shorten it, making scheduling adjustments intuitive and straightforward."
  },
  {
    question: "What is Infinite Scroll in the Timeline View?",
    answer: "The Timeline View features infinite scroll, which allows you to schedule tasks and deadlines as far into the future as needed without any limitations. Additionally, you can use the zoom controls to switch between higher-level and more granular views, providing flexibility in how you view and manage your timeline."
  },
  {
    question: "Can I filter the Timeline View?",
    answer: "Yes, the Timeline View incorporates all of Blue's sophisticated filtering capabilities. This enables you to focus on particular lists, assignees, tags, time ranges, and other criteria. These filter settings persist when switching views, ensuring that you can maintain a focused perspective on your project data."
  },
  {
    question: "What does the Today Button do?",
    answer: "The Today button allows you to instantly jump to the current date on the timeline. This feature is particularly useful for orienting yourself within the timeline and focusing on imminent deadlines, helping you stay on track with your project schedules."
  },
  {
    question: "How are Dependencies displayed in the Timeline View?",
    answer: "Dependencies are visually displayed in the Timeline View, showing how tasks relate to and may impact other items. This visual representation helps you understand the interconnections between different records and manage them more effectively."
  },
  {
    question: "How do I set up a dependency?",
    answer: "To set up a dependency, go to the record that should be completed first, then click on Dependencies below the Tags section. Choose 'Blocking' to make this record block another one, select the record you want this one to block from the dropdown, and then click Add. This process allows you to clearly define and manage task dependencies."
  },
  {
    question: "What are the key benefits of using the Timeline View?",
    answer: "The Timeline View provides an intuitive, at-a-glance overview of temporal relationships, enabling optimized planning, scheduling, and workload balancing. It helps identify dependencies that could impact delivery timelines and supports strategic decision-making based on task durations and progress tracking. Additionally, it promotes collaboration by increasing visibility into team member workloads and record statuses, and helps ensure timely completion of deliverables based on a comprehensive schedule overview."
  },
  {
    question: "How does the Timeline View help in project management?",
    answer: "By transforming task data into visual timelines and schedules, the Timeline View delivers clarity and optimizes planning for project success. It provides an overview of tasks, deadlines, dependencies, and workloads, ensuring efficient and effective project management and helping to keep all team members aligned and on track."
  }
];
useSeoMeta({
  title: 'Timeline & Gantt Charts',
  description: 'Beautiful Gantt Charts have never been easier to create. Easily see project dependencies, and what needs to get done by when.'
});


</script>

<style>
/* Create 5 different speed variations */
@keyframes slide-1 {
  from { transform: translateX(-50%); }
  to { transform: translateX(0%); }
}

@keyframes slide-2 {
  from { transform: translateX(-50%); }
  to { transform: translateX(0%); }
}

@keyframes slide-3 {
  from { transform: translateX(-50%); }
  to { transform: translateX(0%); }
}

@keyframes slide-4 {
  from { transform: translateX(-50%); }
  to { transform: translateX(0%); }
}

@keyframes slide-5 {
  from { transform: translateX(-50%); }
  to { transform: translateX(0%); }
}

.animate-slide-1 {
  animation: slide-1 15s linear infinite;
  width: 200%;
}

.animate-slide-2 {
  animation: slide-2 35s linear infinite;
  width: 200%;
}

.animate-slide-3 {
  animation: slide-3 25s linear infinite;
  width: 200%;
}

.animate-slide-4 {
  animation: slide-4 55s linear infinite;
  width: 200%;
}

.animate-slide-5 {
  animation: slide-5 45s linear infinite;
  width: 200%;
}
</style>