<template>
<div class="relative min-h-screen">
  <!-- Badge (if you want to keep it) -->
  <div 
    :class="[
      'hidden md:block left-1/2 -translate-x-1/2 z-10 transition-opacity duration-300',
      isBeforePricing ? 'fixed top-[20%] opacity-100' : 'fixed top-[20%] opacity-0 pointer-events-none'
    ]"
    ref="badgeRef"
  >
    <div class="inline-block relative group">
      <!-- Animated gradient border -->
      <div class="absolute -inset-[2px] bg-gradient-to-r from-brand-blue-400 via-white/50 to-brand-blue-400 rounded-full blur-sm opacity-50 group-hover:opacity-70 transition duration-500 animate-gradient"></div>
      
      <!-- Badge content -->
      <div class="relative bg-gray-500/50 backdrop-blur-md px-4 py-2 rounded-full border border-white/30 shadow-lg text-center">
        <h1 class="text-white text-xl font-medium drop-shadow-sm group-hover:text-blue-50 transition-colors">Advanced Permissions</h1>
      </div>
    </div>
  </div>

  <!-- Left side - Blue background -->
  <div class="absolute top-0 left-0 w-full md:w-1/2 h-1/2 md:h-full flex items-center justify-center bg-brand-blue">
    <div class="text-center w-full max-w-2xl mx-auto px-8">
      <h2 class="text-4xl font-bold tracking-tight sm:text-6xl text-white">
        Advanced User Permissions
      </h2>
      <p class="mt-6 text-lg text-white/90 max-w-xl mx-auto">
        Take control — decide who can see what, when.<br> With columns and row-level access control.
      </p>
    </div>
  </div>

  <!-- Right side - Video background -->
  <div class="absolute top-1/2 md:top-0 right-0 w-full md:w-1/2 h-1/2 md:h-full overflow-hidden">
    <div class="absolute inset-0 bg-gray-900/5"></div>
    <video 
      class="w-full h-full object-cover"
      autoplay 
      loop 
      muted 
      playsinline
    >
      <source src="/product/user-roles.mp4" type="video/mp4">
    </video>
  </div>
</div>

<div class="w-1/2 mx-auto">
</div>
    
<FeatureList
  title="Define roles, empower teams."
  subtitle="User Roles"
  :features="[
    {
      name: 'Project Admin',
      description: 'Manages all aspects of the project, including settings, permissions, and data oversight.',
      icon: 'heroicons:device-phone-mobile-solid',
    },
    {
      name: 'Team Member',
      description: 'Can create, edit, and delete project content within assigned permissions to actively drive project progress.',
      icon: 'heroicons:moon-solid',
    },
    {
      name: 'Client',
      description: 'Can create new items and monitor project progress, can\'t delete or modify the project\'s structure.',
      icon: 'heroicons:document-text-solid',
    },
    {
      name: 'Vendor',
      description: 'Can create new items and monitor project progress, can\'t delete or modify the project\'s structure.',
      icon: 'heroicons:archive-box-solid',
    },
    {
      name: 'Comment-Only',
      description: 'Can create new items and monitor project progress, can\'t delete or modify the project\'s structure.',
      icon: 'heroicons:magnifying-glass-circle-solid',
    },
    {
      name: 'View-Only',
      description: 'Provides access to observe project information and status updates without any editing privileges.',
      icon: 'heroicons:arrow-path-solid',
    },
  ]"
/>
<TitleParagraph
    title="Revolutionize team collaboration with unparalleled access control."
    description="Blue allows you to create custom user roles to fit your precise data control and privacy needs so you know exactly who can see what."
    />

    <!-- New section -->
<div class="relative w-full flex flex-col md:flex-row min-h-[600px]">
  <!-- Blue section (now first on mobile) -->
  <div class="w-full md:w-1/2 bg-brand-blue p-8 flex items-center order-1 md:order-2">
    <div class="max-w-xl mx-auto">
      <h2 class="text-3xl font-bold text-white">Custom Role Management</h2>
      <p class="mt-4 text-lg text-white/90">
        Define precise access levels and permissions for your team members. Create roles that align perfectly with your organizational structure and security requirements.
      </p>
    </div>
  </div>
  
  <!-- White section (now second on mobile) -->
  <div class="w-full md:w-1/2 bg-white p-8 flex items-center order-2 md:order-1">
    <div class="w-full max-w-xl mx-auto min-h-[500px] flex flex-col justify-center">
      <!-- Role creation form -->
      <div class="w-full">
        <div class="bg-gray-50 dark:bg-gray-800 rounded-xl p-6 shadow-lg ring-1 ring-gray-900/5 dark:ring-white/5">
          <h3 class="text-lg font-medium text-gray-900 dark:text-white mb-4">Create new role</h3>
          <p class="text-gray-600 mb-4">Give this new role a descriptive name.</p>
          
          <div class="relative">
            <input 
              v-model="newRole.name"
              type="text" 
              placeholder="Name" 
              class="w-full rounded-md border border-gray-200 dark:border-gray-700 px-3 py-2 text-gray-900 dark:text-white bg-white dark:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-brand-blue/20 peer"
            />
          </div>
          <textarea 
            v-model="newRole.description"
            placeholder="Description (optional)" 
            class="mt-4 w-full rounded-md border border-gray-200 dark:border-gray-700 px-3 py-2 text-gray-900 dark:text-white bg-white dark:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-brand-blue/20 peer"
            rows="3"
          ></textarea>
          <button 
            @click="createRole"
            class="mt-4 px-6 py-2 bg-brand-blue text-white rounded-lg hover:bg-brand-blue-600 transition-colors float-right"
          >
            CREATE ROLE
          </button>
          <div class="clear-both"></div>
        </div>

        <!-- Role tags -->
        <div class="mt-4" v-if="roles.length">
          <div class="flex flex-wrap gap-2">
            <div 
              v-for="(role, index) in roles" 
              :key="index"
              class="inline-flex items-center bg-gray-100 rounded-full px-4 py-2 text-sm text-gray-700"
            >
              {{ role.name }}
              <button 
                @click="removeRole(index)" 
                class="ml-2 text-gray-500 hover:text-gray-700"
              >×</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- List Permissions Section -->
<div class="relative w-full flex flex-col md:flex-row min-h-[600px]">
  <!-- Left side - White background -->
  <div class="w-full md:w-1/2 bg-white p-8 flex items-center">
    <div class="w-full max-w-xl mx-auto min-h-[500px] flex flex-col justify-center">
      <div class="w-full">
        <div class="bg-gray-50 dark:bg-gray-800 rounded-xl p-6 shadow-lg ring-1 ring-gray-900/5 dark:ring-white/5">
          <h3 class="text-lg font-medium text-gray-900 dark:text-white mb-4">Set access to individual lists</h3>
          
          <!-- Search input -->
          <div class="relative mb-6">
            <input 
              type="text" 
              placeholder="Search lists..." 
              class="w-full rounded-md border border-gray-200 dark:border-gray-700 px-3 py-2 pl-10 text-gray-900 dark:text-white bg-white dark:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-brand-blue/20 peer"
            />
            <div class="absolute left-3 top-2.5 text-gray-400">
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
            </div>
          </div>

          <!-- Table Header -->
          <div class="grid grid-cols-4 gap-4 mb-4 px-4 text-sm font-medium text-gray-500">
            <div>List</div>
            <div class="text-center">View</div>
            <div class="text-center">Edit</div>
            <div class="text-center">Delete</div>
          </div>

          <!-- Table Rows -->
          <div class="space-y-3">
            <div v-for="list in ['Potential', 'Listing', 'In Progress', 'Negotiation', 'Revise', 'Sold']" 
                 :key="list" 
                 class="grid grid-cols-4 gap-4 px-4 py-2 items-center hover:bg-gray-100 dark:hover:bg-gray-700/50 rounded-lg transition-colors">
              <div class="text-gray-900 dark:text-white">{{ list }}</div>
              <div class="flex justify-center">
                <input type="checkbox" class="w-5 h-5 rounded border-gray-300 accent-brand-blue focus:ring-brand-blue/20">
              </div>
              <div class="flex justify-center">
                <input type="checkbox" class="w-5 h-5 rounded border-gray-300 accent-brand-blue focus:ring-brand-blue/20">
              </div>
              <div class="flex justify-center">
                <input type="checkbox" class="w-5 h-5 rounded border-gray-300 accent-brand-blue focus:ring-brand-blue/20">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Right side - Blue background -->
  <div class="w-full md:w-1/2 bg-brand-blue p-8 flex items-center">
    <div class="max-w-xl mx-auto">
      <h2 class="text-3xl font-bold text-white">Set access to individual lists</h2>
      <p class="mt-4 text-lg text-white/90">
        Assign permissions to view, edit, or delete specific lists within projects. This level of detail allows roles to be precisely managed according to the unique needs of each project phase.
      </p>
    </div>
  </div>
</div>

<!-- Custom Fields Permissions Section -->
<div class="relative w-full flex flex-col md:flex-row min-h-[600px]">
  <!-- White section (first on mobile and left on desktop) -->
  <div class="w-full md:w-1/2 bg-white p-8 flex items-center order-2 md:order-1">
    <div class="w-full max-w-3xl mx-auto min-h-[500px] flex flex-col justify-center">
      <div class="w-full">
        <div class="bg-gray-50 dark:bg-gray-800 rounded-xl p-6 shadow-lg ring-1 ring-gray-900/5 dark:ring-white/5">
          <div class="mb-4">
            <h3 class="text-lg font-medium text-gray-900 dark:text-white">Custom Fields</h3>
            <p class="text-gray-600 mb-4">Select whether this role can view or edit specific custom fields.</p>
          </div>
          
          <!-- Search input -->
          <div class="relative mb-6">
            <input 
              type="text" 
              placeholder="Search fields..." 
              class="w-full rounded-md border border-gray-200 dark:border-gray-700 px-3 py-2 pl-10 text-gray-900 dark:text-white bg-white dark:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-brand-blue/20"
            />
            <div class="absolute left-3 top-2.5 text-gray-400">
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
            </div>
          </div>

          <!-- Table Header -->
          <div class="grid grid-cols-4 gap-4 mb-4 px-4 text-sm font-medium text-gray-500">
            <div>Field</div>
            <div>Type</div>
            <div class="text-center">View</div>
            <div class="text-center">Edit</div>
          </div>

          <!-- Table Rows -->
          <div class="space-y-3">
            <template v-for="field in [
              { name: 'Listing Price', type: 'Currency', canView: true, canEdit: false },
              { name: 'Profit Percentage', type: 'Percent', canView: true, canEdit: true },
              { name: 'Profit Earning', type: 'Formula', canView: true, canEdit: false },
              { name: 'Parking Spaces', type: 'Single line text', canView: true, canEdit: false },
              { name: 'Status', type: 'Single select', canView: false, canEdit: false },
              { name: 'Property Type', type: 'Single select', canView: true, canEdit: true },
              { name: 'Sales Contact', type: 'Single line text', canView: true, canEdit: true },
              { name: 'Location City', type: 'Single line text', canView: false, canEdit: false },
              { name: 'Location County', type: 'Single line text', canView: false, canEdit: false }
            ]" :key="field.name">
              <div class="grid grid-cols-4 gap-4 px-4 py-2 items-center hover:bg-gray-100 dark:hover:bg-gray-700/50 rounded-lg transition-colors">
                <div class="text-gray-900 dark:text-white">{{ field.name }}</div>
                <div class="text-gray-500 text-sm">
                  <span class="px-2 py-1 rounded-full bg-gray-100 dark:bg-gray-700">{{ field.type }}</span>
                </div>
                <div class="flex justify-center">
                  <input type="checkbox" :checked="field.canView" class="w-5 h-5 rounded border-gray-300 accent-brand-blue focus:ring-brand-blue/20">
                </div>
                <div class="flex justify-center">
                  <input type="checkbox" :checked="field.canEdit" class="w-5 h-5 rounded border-gray-300 accent-brand-blue focxus:ring-brand-blue/20">
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Blue section (second on mobile and right on desktop) -->
  <div class="w-full md:w-1/2 bg-brand-blue p-8 flex items-center order-1 md:order-2">
    <div class="max-w-xl mx-auto">
      <h2 class="text-3xl font-bold text-white">Custom Field Permissions</h2>
      <p class="mt-4 text-lg text-white/90">
        Control access to sensitive data by managing view and edit permissions for each custom field. Perfect for protecting confidential information like financial data or personal details.
      </p>
    </div>
  </div>
</div>

<!-- Record Visibility Section -->
<div class="relative w-full flex flex-col md:flex-row min-h-[600px]">
  <!-- White section (first on mobile and left on desktop) -->
  <div class="w-full md:w-1/2 bg-white p-8 flex items-center order-2 md:order-1">
    <div class="w-full max-w-xl mx-auto min-h-[500px] flex flex-col justify-center">
      <div class="w-full">
        <div class="bg-gray-50 dark:bg-gray-800 rounded-xl p-6 shadow-lg ring-1 ring-gray-900/5 dark:ring-white/5">
          <!-- Toggle Card -->
          <div class="flex items-start justify-between p-4 hover:bg-gray-100 dark:hover:bg-gray-700/50 rounded-lg transition-colors">
            <div class="flex-1">
              <h3 class="text-lg font-medium text-gray-900 dark:text-white">Assigned Leads Only</h3>
              <p class="text-gray-600 dark:text-gray-400 text-sm mt-1">
                Allow this role to view only assigned Leads inside this project.
              </p>
            </div>
            <div class="ml-4 flex-shrink-0">
              <label class="relative inline-flex items-center cursor-pointer">
                <input 
                  type="checkbox" 
                  v-model="assignedLeadsOnly" 
                  class="sr-only peer"
                >
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-brand-blue/20 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-brand-blue"></div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Blue section (second on mobile and right on desktop) -->
  <div class="w-full md:w-1/2 bg-brand-blue p-8 flex items-center order-1 md:order-2">
    <div class="max-w-xl mx-auto">
      <h2 class="text-3xl font-bold text-white">Record-Level Visibility</h2>
      <p class="mt-4 text-lg text-white/90">
        Enhance focus and productivity by limiting users to only see records assigned to them. Perfect for sales teams managing their own leads or support staff handling their specific cases.
      </p>
    </div>
  </div>
</div>


<CtaDark />
  <FaqAccordion :faqs="pageFaqs" />
  
  
  
  
  
  
  
  
  
  
  
  
</template >

<script setup>

const pageFaqs = [
  {
    question: "What are the different user roles in Blue?",
    answer: `
      - **Organization Administrator**: Full control over the entire organization including settings, user management, billing, and support.
      - **Project Administrator**: Complete control within a project, including editing settings, managing members, assigning roles, importing/exporting data, and setting automations.
      - **Team Member**: Can add other team members, create new projects, manage tasks, and create project templates but cannot delete projects or access admin settings.
      - **Client User**: Can provide feedback and view project details without the ability to create or delete tasks. Ideal for clients and vendors.
      - **Comment-Only User**: Can read project details and add comments, but cannot create or edit tasks or records. Ideal for external collaborators providing feedback.
    `
  },
  {
    question: "What permissions does an Organization Administrator have?",
    answer: `
      - Edit core organization settings (name, URL, icon, color, map settings, and deleting the company).
      - Manage user access, including removing users.
      - Handle billing and subscriptions, including updating payment details and subscription plans.
      - Request invoices to be sent to the finance or admin team.
      - Access additional support by contacting help@blue.cc.
    `
  },
  {
    question: "What can a Project Administrator do?",
    answer: `
      - Edit all project settings.
      - Add/remove project members and assign user roles.
      - Import and export project data.
      - Delete projects.
      - Create custom fields and custom roles.
      - Set up automations.
    `
  },
  {
    question: "What are the capabilities and restrictions of a Team Member?",
    answer: `
      - Capabilities: Add other team members, create new projects, make project templates, manage personal tasks, and add/edit/complete/delete most items in a project.
      - Restrictions: Cannot delete projects, access admin/billing settings, upgrade account plans, access other user's personal projects, or delete other user's items.
    `
  },
  {
    question: "What can a Client User do in Blue?",
    answer: `
      - Permissions: Add comments, read all comments and project details, invite other clients or users with equal or lower access.
      - Limitations: Cannot delete tasks, alter project settings, or add/modify records.
      - Ideal Use Cases: Client feedback, external collaboration, review, and approval processes.
    `
  },
  {
    question: "What are the roles and limitations of a Comment-Only User?",
    answer: `
      - Permissions: Add comments and read project details.
      - Limitations: Cannot create or edit records or tasks, and access is confined to viewing and commenting.
      - Ideal Use Cases: Client feedback, external collaboration, review, and approval processes.
    `
  },
  {
    question: "How do I assign a user role in Blue?",
    answer: `
      - Go to the 'People' tab in the project settings.
      - Add the individual as a user.
      - Assign them the appropriate role (e.g., Team Member, Client User, Comment-Only User).
    `
  },
  {
    question: "Can user roles be changed after they are assigned?",
    answer: `
      - Yes, Project Administrators can change user roles at any time. Simply go to the 'People' tab, find the user, and update their role.
    `
  },
  {
    question: "What happens when a user is removed from a project?",
    answer: `
      - When a user is removed from a project, their access to the project's data is revoked. However, their comments and contributions will remain visible within the project.
    `
  },
  {
    question: "Can I have different roles in different projects?",
    answer: `
      - Yes, user roles are assigned at the project level. This means you can have different roles in different projects. For example, you could be a Project Administrator in one project and a Team Member in another.
    `
  },
  {
    question: "What are custom user roles in Blue?",
    answer: `
      - Custom user roles allow you to define specific permissions for users beyond the default roles. You can set granular access controls, such as view/edit permissions for custom fields and lists, and other project-specific settings.
    `
  },
  {
    question: "How do I create a custom user role?",
    answer: `
      - Go to the project settings and navigate to the 'Roles' section.
      - Create a new role and specify the permissions for that role.
      - Assign the custom role to users as needed.
    `
  },
  {
    question: "What are the benefits of using custom user roles?",
    answer: `
      - Custom user roles provide flexibility and control over who can access and modify specific parts of a project. This helps in maintaining security and ensuring that users have the appropriate level of access based on their responsibilities.
    `
  },
  {
    question: "Can users be assigned multiple roles in the same project?",
    answer: `
      - No, a user can only have one role per project. However, you can use custom roles to combine permissions if needed.
    `
  },
  {
    question: "What is the 'People' tab in Blue?",
    answer: `
      - The 'People' tab is where you can see all the participants in a project along with their roles. Project Administrators, Team Members, and Clients can invite new people to the project from this tab, based on their permissions.
    `
  },
  {
    question: "Who can invite new users to a project?",
    answer: `
      - Project Administrators, Team Members, and Clients can invite new users to a project. However, they can only invite users up to their own level of permissions.
    `
  },
  {
    question: "Who can remove users from a project?",
    answer: `
      - Only Project Administrators and team members have the authority to remove users from a project.
    `
  },
];
useSeoMeta({
  title: 'User Permissions',
  description: 'Create row-level permissions with Blue. You\'re fully in control of who can do what in any project with customizable user roles.'
});

const newRole = ref({
  name: '',
  description: ''
});
const roles = ref([]);

const createRole = () => {
  if (!newRole.value.name) return; // Don't create empty roles
  
  roles.value.push({
    name: newRole.value.name,
    description: newRole.value.description
  });
  
  // Reset the form
  newRole.value = {
    name: '',
    description: ''
  };
};

const removeRole = (index) => {
  roles.value.splice(index, 1);
};

// Add this with your other refs/reactive state
const assignedLeadsOnly = ref(false);

</script>