<template>
  <div>
    <!-- Split hero section -->
    <div class="relative min-h-screen">
      <!-- Badge -->
      <div 
        :class="[
          'hidden md:block left-1/2 -translate-x-1/2 z-10 transition-opacity duration-300',
          isBeforePricing ? 'fixed top-[20%] opacity-100' : 'fixed top-[20%] opacity-0 pointer-events-none'
        ]"
        ref="badgeRef"
      >
        <div class="inline-block relative group">
          <!-- Animated gradient border -->
          <div class="absolute -inset-[2px] bg-gradient-to-r from-brand-blue-400 via-white/50 to-brand-blue-400 rounded-full blur-sm opacity-50 group-hover:opacity-70 transition duration-500 animate-gradient"></div>
          
          <!-- Badge content -->
          <div class="relative bg-gray-500/50 backdrop-blur-md px-4 py-2 rounded-full border border-white/30 shadow-lg">
            <h1 class="text-white text-xl font-medium drop-shadow-sm group-hover:text-blue-50 transition-colors">Introducing White-label</h1>
          </div>
        </div>
      </div>
      <!-- Left side - Blue background -->
      <div class="absolute top-0 left-0 w-full md:w-1/2 h-1/2 md:h-full flex items-center justify-center transition-colors duration-300" :style="{ backgroundColor: selectedColor }">
        <div class="text-center">
          <h2 class="text-4xl font-bold tracking-tight sm:text-6xl text-white">
            Our Technology.
          </h2>
          <p class="mt-4 text-lg text-white/90 max-w-md">
            Leverage our powerful platform without worrying about technology, maintenance, or uptime.
          </p>
        </div>
      </div>
      <!-- Right side - White background -->
      <div class="absolute top-1/2 md:top-0 right-0 w-full md:w-1/2 h-1/2 md:h-full bg-white dark:bg-gray-900 flex items-center justify-center">
        <div class="text-center">
          <!-- Add wrapper for relative positioning -->
          <div class="relative inline-block">
            <!-- Animated blob background -->
            <div class="animated-blob"></div>
            <h2 class="text-4xl font-bold tracking-tight sm:text-6xl text-gray-900 dark:text-white relative z-10">
              Your Brand.
            </h2>
          </div>
          <p class="mt-4 text-lg text-gray-600 dark:text-gray-400 max-w-md">
            Customize colors, logos, emails, and domains to create a seamless experience for your customers.
          </p>
        </div>
      </div>
    </div>

    
   
    <!-- Split login section -->
    <div class="relative flex flex-col md:flex-row min-h-screen">
      <!-- Left side - Blue background -->
      <div class="w-full md:w-1/2 min-h-[50vh] md:min-h-screen relative" :style="{ backgroundColor: selectedColor }">
        <!-- Title A -->
        <div class="text-center pt-6">
          <h2 class="text-3xl font-bold tracking-tight sm:text-5xl text-white">
           Our Web & Desktop Apps.
          </h2>
        </div>
        <!-- Login Form Container -->
        <div class="flex justify-center mt-12 md:mt-24 px-4 md:px-0">
          <!-- Login Form -->
          <div class="w-full max-w-md rounded-2xl bg-white p-8 shadow-lg ring-1 ring-gray-200">
            <!-- Login Form Logo -->
            <div class="mb-8 flex justify-center">
              <img 
                :src="logoPreview || '/logo.svg'" 
                alt="Company Logo" 
                class="h-12 w-auto"
              />
            </div>

            <!-- Email Input -->
            <div class="mb-6 relative">
              <div class="relative">
                <input 
                  type="email" 
                  placeholder="yourname@company.com" 
                  class="w-full rounded-md border border-gray-200 px-3 py-2 text-gray-500 focus:outline-none focus:ring-2 focus:ring-brand-blue/20 pt-4 peer"
                >
                <label 
                  class="absolute text-xs bg-white px-1 left-2 -top-2 text-brand-blue peer-focus:text-brand-blue text-gray-500"
                >
                  Email
                </label>
              </div>
            </div>

            <!-- Continue Button -->
            <button 
              class="w-full rounded-md py-2.5 text-white font-medium transition duration-200"
              :style="{ backgroundColor: selectedColor, '--tw-hover-opacity': 0.9 }"
              :class="{ 'hover:bg-opacity-90': true }"
            >
              CONTINUE
            </button>

         
          </div>
        </div>

        <!-- Mac Dock Mockup -->
        <div class="hidden md:flex justify-center mt-12 pb-12">
          <div class="bg-gray-900/20 backdrop-blur-lg px-6 py-3 rounded-2xl flex items-center gap-4 shadow-xl">
            <!-- Finder -->
            <div class="w-12 h-12 rounded-lg bg-blue-500 flex items-center justify-center hover:scale-110 transition-transform">
              <svg class="w-8 h-8 text-white" viewBox="0 0 24 24" fill="currentColor">
                <path d="M2 5a2 2 0 012-2h16a2 2 0 012 2v14a2 2 0 01-2 2H4a2 2 0 01-2-2V5z"/>
              </svg>
            </div>
            <!-- Chrome -->
            <div class="w-12 h-12 rounded-lg bg-white flex items-center justify-center hover:scale-110 transition-transform">
              <svg class="w-8 h-8" viewBox="0 0 24 24">
                <circle cx="12" cy="12" r="10" fill="#EA4335"/>
                <circle cx="12" cy="12" r="4" fill="white"/>
              </svg>
            </div>
            <!-- Blue App Icon -->
            <div class="w-12 h-12 rounded-lg overflow-hidden hover:scale-110 transition-transform shadow-lg animate-pulse">
              <div class="w-full h-full flex items-center justify-center bg-white">
                <div class="w-8 h-8 flex items-center justify-center">
                  <img 
                    :src="logoPreview || '/logo.svg'" 
                    alt="App Icon" 
                    class="w-full h-full object-contain"
                  />
                </div>
              </div>
            </div>
            <!-- Slack -->
            <div class="w-12 h-12 rounded-lg bg-purple-500 flex items-center justify-center hover:scale-110 transition-transform">
              <svg class="w-8 h-8 text-white" viewBox="0 0 24 24" fill="currentColor">
                <path d="M6 15a2 2 0 100-4 2 2 0 000 4zm0-8a2 2 0 100-4 2 2 0 000 4zm8 0a2 2 0 100-4 2 2 0 000 4zm8 0a2 2 0 100-4 2 2 0 000 4zm-8 8a2 2 0 100-4 2 2 0 000 4zm8 0a2 2 0 100-4 2 2 0 000 4z"/>
              </svg>
            </div>
            <!-- VS Code -->
            <div class="w-12 h-12 rounded-lg bg-blue-600 flex items-center justify-center hover:scale-110 transition-transform">
              <svg class="w-8 h-8 text-white" viewBox="0 0 24 24" fill="currentColor">
                <path d="M23 12l-7.071-7.071-1.414 1.414L20.172 12l-5.657 5.657 1.414 1.414L23 12zM3.828 12l5.657-5.657-1.414-1.414L1 12l7.071 7.071 1.414-1.414L3.828 12z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <!-- Right side - White background -->
      <div class="w-full md:w-1/2 min-h-[50vh] md:min-h-screen bg-white dark:bg-gray-900">
        <!-- Title B -->
        <div class="text-center pt-6">
          <h2 class="text-3xl font-bold tracking-tight sm:text-5xl text-gray-900 dark:text-white">
            Your Logo & Colours.
          </h2>
        </div>
        <!-- Logo Upload Area -->
        <div class="text-center p-4 md:p-8 mt-4 md:mt-8 pb-12">
          <div 
            class="border-2 border-dashed border-gray-300 dark:border-gray-700 rounded-lg p-4 md:p-6 hover:border-gray-400 dark:hover:border-gray-600 transition-colors cursor-pointer max-w-md mx-auto"
            @dragover.prevent
            @drop.prevent="handleDrop"
            @click="$refs.fileInput.click()"
          >
            <input 
              type="file" 
              ref="fileInput" 
              class="hidden" 
              accept="image/*"
              @change="handleFileSelect"
            >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mx-auto mb-4 text-gray-400 dark:text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
            </svg>
            <p class="text-lg font-medium mb-2 text-gray-900 dark:text-white">Upload Your Logo</p>
            <p class="text-sm text-gray-500 dark:text-gray-400">Drag and drop or click to select</p>
          </div>

          <!-- Color Picker -->
          <div class="mt-8 md:mt-12">
            <div class="bg-gray-50 dark:bg-gray-800 rounded-xl p-4 md:p-6 max-w-md mx-auto shadow-lg ring-1 ring-gray-900/5 dark:ring-white/5">
              <div class="grid grid-cols-6 md:grid-cols-8 gap-3">
                <button
                  v-for="color in brandColors"
                  :key="color"
                  class="w-8 h-8 rounded-full ring-2 ring-offset-2 ring-offset-gray-50 dark:ring-offset-gray-800 transition-transform hover:scale-110"
                  :class="{ 'ring-gray-900 dark:ring-white': selectedColor === color, 'ring-transparent': selectedColor !== color }"
                  :style="{ backgroundColor: color }"
                  @click="selectedColor = color"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Split section 3 -->
    <div class="relative flex flex-col md:flex-row min-h-screen">
      <!-- Left side - Blue background -->
      <div class="w-full md:w-1/2 min-h-[50vh] md:min-h-screen" :style="{ backgroundColor: selectedColor }">
        <!-- Title A -->
        <div class="pt-6 text-center">
          <h2 class="text-3xl font-bold tracking-tight sm:text-5xl text-white">
            Our Servers.
          </h2>
        </div>
        
        <!-- Browser Mockup -->
        <div class="mt-12 md:mt-24 mx-auto max-w-2xl px-6 pb-12">
          <div class="w-full rounded-2xl bg-white shadow-lg overflow-hidden">
            <!-- Browser Chrome -->
            <div class="bg-gray-100 px-4 py-3 border-b flex items-center space-x-2 rounded-t-2xl">
              <!-- Traffic lights -->
              <div class="flex space-x-2">
                <div class="w-3 h-3 rounded-full bg-red-500"></div>
                <div class="w-3 h-3 rounded-full bg-yellow-500"></div>
                <div class="w-3 h-3 rounded-full bg-green-500"></div>
              </div>
              <!-- URL Bar -->
              <div class="flex-1 ml-4">
                <div class="bg-white rounded px-3 py-1 text-sm text-gray-600 flex items-center">
                  <!-- Updated favicon wrapper -->
                  <div class="h-4 w-4 mr-2 relative bg-white rounded-sm overflow-hidden flex items-center justify-center">
                    <img 
                      :src="logoPreview || '/logo.svg'" 
                      alt="Favicon"
                      class="h-full w-full object-contain"
                    />
                  </div>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4" />
                  </svg>
                  <span class="transition-opacity duration-300">{{ displayedDomain }}</span>
                </div>
              </div>
            </div>
            <!-- Browser Content -->
            <div class="h-[600px] bg-gray-50 flex flex-col rounded-b-2xl">
              <!-- Added flex-shrink-0 to prevent the top bar from shrinking -->
              <div 
                class="h-12 w-full flex-shrink-0 transition-colors duration-300 flex items-center justify-between px-4"
                :style="{ backgroundColor: selectedColor }"
              >
                <!-- Left side with burger and logo -->
                <div class="flex items-center">
                  <!-- Burger Menu -->
                  <button class="mr-3 text-white hover:text-white/80">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                  </button>
                  
                  <!-- Logo and Dashboard text -->
                  <div class="flex items-center">
                    <!-- Logo with white circular background -->
                    <div class="w-6 h-6 bg-white rounded-full flex items-center justify-center mr-2 overflow-hidden">
                      <img 
                        :src="logoPreview || '/logo.svg'" 
                        alt="Logo"
                        class="h-4 w-4 object-contain"
                        :style="{ color: selectedColor }"
                      />
                    </div>
                    <span class="text-white font-medium">Dashboard</span>
                  </div>
                </div>

                <!-- Right side with notification bell -->
                <button class="text-white hover:text-white/80 flex items-center">
                  <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                  </svg>
                  <!-- Added Profile Image -->
                  <div class="w-8 h-8 rounded-full bg-white/10 flex items-center justify-center overflow-hidden">
                    <img 
                      src="https://api.dicebear.com/9.x/avataaars-neutral/svg?seed=Jessica" 
                      alt="Profile"
                      class="w-full h-full object-cover"
                    />
                  </div>
                </button>
              </div>

              <!-- Added flex-grow to allow the content area to expand -->
              <div class="p-6 w-full flex-grow">
                <!-- Stats Row -->
                <div class="grid grid-cols-3 gap-4 mb-8">
                  <div v-for="i in 3" :key="'stat-'+i" class="h-24 bg-gray-200 dark:bg-gray-700 rounded-lg animate-pulse"></div>
                </div>

                <!-- Chart Row -->
                <div class="grid grid-cols-2 gap-6 mb-8">
                  <!-- Area Chart -->
                  <div class="h-64 bg-gray-200 dark:bg-gray-700 rounded-lg animate-pulse">
                    <div class="h-4 w-1/4 bg-gray-300 dark:bg-gray-600 rounded m-4"></div>
                    <div class="flex items-end justify-between h-40 px-4 mt-4">
                      <div class="w-1 h-[30%] bg-gray-300 dark:bg-gray-600 rounded"></div>
                      <div class="w-1 h-[80%] bg-gray-300 dark:bg-gray-600 rounded"></div>
                      <div class="w-1 h-[45%] bg-gray-300 dark:bg-gray-600 rounded"></div>
                      <div class="w-1 h-[60%] bg-gray-300 dark:bg-gray-600 rounded"></div>
                      <div class="w-1 h-[90%] bg-gray-300 dark:bg-gray-600 rounded"></div>
                      <div class="w-1 h-[50%] bg-gray-300 dark:bg-gray-600 rounded"></div>
                      <div class="w-1 h-[70%] bg-gray-300 dark:bg-gray-600 rounded"></div>
                    </div>
                  </div>
                  
                  <!-- Donut Chart -->
                  <div class="h-64 bg-gray-200 dark:bg-gray-700 rounded-lg animate-pulse">
                    <div class="h-4 w-1/4 bg-gray-300 dark:bg-gray-600 rounded m-4"></div>
                    <div class="flex justify-center items-center h-40 mt-4">
                      <div class="w-32 h-32 rounded-full border-8 border-gray-300 dark:border-gray-600"></div>
                    </div>
                  </div>
                </div>

                <!-- Table -->
                <div class="bg-gray-200 dark:bg-gray-700 rounded-lg animate-pulse">
                  <!-- Table Header -->
                  <div class="grid grid-cols-4 gap-4 p-4 border-b border-gray-300 dark:border-gray-600">
                    <div class="h-4 bg-gray-300 dark:bg-gray-600 rounded"></div>
                    <div class="h-4 bg-gray-300 dark:bg-gray-600 rounded"></div>
                    <div class="h-4 bg-gray-300 dark:bg-gray-600 rounded"></div>
                    <div class="h-4 bg-gray-300 dark:bg-gray-600 rounded"></div>
                  </div>
                  <!-- Table Rows -->
                  <div v-for="i in 5" :key="'row-'+i" class="grid grid-cols-4 gap-4 p-4 border-b border-gray-300 dark:border-gray-600">
                    <div class="h-4 bg-gray-300 dark:bg-gray-600 rounded"></div>
                    <div class="h-4 bg-gray-300 dark:bg-gray-600 rounded"></div>
                    <div class="h-4 bg-gray-300 dark:bg-gray-600 rounded"></div>
                    <div class="h-4 bg-gray-300 dark:bg-gray-600 rounded"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right side - White background -->
      <div class="w-full md:w-1/2 min-h-[50vh] md:min-h-screen bg-white dark:bg-gray-900">
        <!-- Title B -->
        <div class="pt-6 text-center">
          <h2 class="text-3xl font-bold tracking-tight sm:text-5xl text-gray-900 dark:text-white">
            Your Domain.
          </h2>
        </div>

        <!-- Domain Input Area -->
        <div class="mt-12 md:mt-48 mx-auto max-w-md px-6 pb-12">
          <!-- Domain card -->
          <div class="bg-gray-50 dark:bg-gray-800 rounded-xl p-6 max-w-md mx-auto shadow-lg ring-1 ring-gray-900/5 dark:ring-white/5">
            <div class="relative">
              <input 
                v-model="customDomain"
                type="text" 
                placeholder="app.yourcompany.com" 
                class="w-full rounded-md border border-gray-200 dark:border-gray-700 px-3 py-2 text-gray-900 dark:text-white bg-white dark:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-brand-blue/20 pt-4 peer"
                :class="{ 'border-red-500': domainError }"
                @keyup.enter="handleDomainSubmit"
              >
            </div>
            <p v-if="domainError" class="mt-2 text-sm text-red-500">
              {{ domainError }}
            </p>
            <p v-else class="mt-2 text-sm text-gray-500 dark:text-gray-400">
              Enter your subdomain where you want to run Blue.
            </p>
             
            <!-- Add Domain Button -->
            <button 
              @click="handleDomainSubmit"
              class="mt-4 w-full flex items-center justify-center rounded-md py-2.5 text-white font-medium transition duration-200"
              :class="{
                'bg-gray-400': domainStatus === 'loading',
                'bg-green-500': domainStatus === 'success',
                'bg-red-500': domainError
              }"
              :style="domainStatus === 'initial' && !domainError ? { 
                backgroundColor: selectedColor,
                '--tw-hover-opacity': 0.9
              } : {}"
              :disabled="domainStatus === 'loading'"
            >
              <template v-if="domainStatus === 'initial'">
                Add Domain
              </template>
              <template v-else-if="domainStatus === 'loading'">
                <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                Verifying...
              </template>
              <template v-else-if="domainStatus === 'success'">
                <svg class="h-5 w-5 text-white mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
                Confirmed
              </template>
            </button>
          </div>
          <!-- Added feature text -->
          <div class="text-center mt-4">
              <p class="text-sm text-gray-500 dark:text-gray-400">
                Custom domains also work for public forms and file sharing links. Custom domains for documentation coming soon.<br>
              </p>
            </div>
        </div>
      </div>
    </div>

   <!-- Spacer -->
<!-- <div class="h-48 flex">
  <div class="w-1/2 transition-colors duration-300" :style="{ backgroundColor: selectedColor }"></div>
  <div class="w-1/2 bg-white dark:bg-gray-900"></div>
</div> -->

    <!-- Split section 4 -->
    <div class="relative flex flex-col md:flex-row min-h-screen">
      <!-- Left side - Blue background -->
      <div class="w-full md:w-1/2 min-h-[50vh] md:min-h-screen relative" :style="{ backgroundColor: selectedColor }">
        <!-- Title A -->
        <div class="text-center pt-6">
          <h2 class="text-3xl font-bold tracking-tight sm:text-5xl text-white">
            Our Notifications.
          </h2>
        </div>

        <!-- Email Mockup -->
        <div class="mt-8 md:mt-24 mx-auto max-w-2xl px-4 md:px-6 pb-12">
          <div class="bg-white rounded-2xl shadow-xl overflow-hidden">
            <!-- Email Header -->
            <div class="p-4 md:p-6">
              <!-- From Line -->
              <div class="flex items-center mb-4">
                <div class="w-8 h-8 flex items-center justify-center overflow-hidden mr-3">
                  <img 
                    :src="logoPreview || '/logo.svg'" 
                    alt="Blue Logo" 
                    class="w-full h-full object-contain"
                  />
                </div>
                <div>
                  <div class="text-gray-900 font-medium">{{ senderName }}</div>
                  <div class="text-gray-500 text-sm">{{ senderEmail }}</div>
                </div>
              </div>
              
              <!-- To Line -->
              <div class="mb-4">
                <div class="text-gray-500 text-sm">To: John Smith &lt;jsmith@yourcompany.com&gt;</div>
              </div>

              <!-- Subject Line -->
              <div class="mb-4">
                <h3 class="text-xl font-medium text-gray-900">{{ previewSubject }}</h3>
              </div>

              <!-- Added Horizontal Rule -->
              <hr class="border-gray-200 mb-6" />

              <!-- Email Body -->
              <div class="text-gray-700 space-y-4">
                <div v-for="(paragraph, index) in previewBody.split('\n\n')" :key="index">
                  <p v-if="paragraph.trim()">{{ paragraph }}</p>
                </div>
                
                <!-- CTA Button -->
                <div class="pt-4">
                  <button 
                    class="px-6 py-3 rounded-md text-white font-medium transition duration-200"
                    :style="{ backgroundColor: selectedColor }"
                  >
                    {{ previewButtonText }}
                  </button>
                </div>

                <p class="text-sm text-gray-500 pt-4">
                  If you didn't request this invitation, you can safely ignore this email.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right side - White background -->
      <div class="w-full md:w-1/2 min-h-[50vh] md:min-h-screen bg-white dark:bg-gray-900">
        <!-- Title B -->
        <div class="text-center pt-6">
          <h2 class="text-3xl font-bold tracking-tight sm:text-5xl text-gray-900 dark:text-white">
            Your Email & Content.
          </h2>
        </div>

        <!-- SMTP Settings -->
        <div class="mt-8 md:mt-24 mx-auto max-w-2xl px-4 md:px-6 pb-12">
          <!-- First card - SMTP settings -->
          <div class="bg-gray-50 dark:bg-gray-800 rounded-xl p-4 md:p-6 shadow-lg ring-1 ring-gray-900/5 dark:ring-white/5 mb-4 md:mb-6">
            <h3 class="text-lg font-medium text-gray-900 dark:text-white mb-4">SMTP Settings</h3>

            <!-- Row 1: Server and Port -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
              <!-- SMTP Server -->
              <div>
                <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">
                  SMTP Server
                </label>
                <input 
                  type="text" 
                  value="smtp.yourcompany.com" 
                  disabled
                  class="w-full rounded-md border border-gray-200 dark:border-gray-700 px-3 py-2 bg-gray-100 dark:bg-gray-700 text-gray-500 dark:text-gray-400"
                >
              </div>

              <!-- SMTP Port -->
              <div>
                <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">
                  SMTP Port
                </label>
                <input 
                  type="text" 
                  value="465" 
                  disabled
                  class="w-full rounded-md border border-gray-200 dark:border-gray-700 px-3 py-2 bg-gray-100 dark:bg-gray-700 text-gray-500 dark:text-gray-400"
                >
              </div>
            </div>

            <!-- Row 2: Username and Password -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
              <!-- Username -->
              <div>
                <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">
                  Username
                </label>
                <input 
                  type="text" 
                  value="emailusername" 
                  disabled
                  class="w-full rounded-md border border-gray-200 dark:border-gray-700 px-3 py-2 bg-gray-100 dark:bg-gray-700 text-gray-500 dark:text-gray-400"
                >
              </div>

              <!-- Password -->
              <div>
                <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">
                  Password (encrypted)
                </label>
                <input 
                  type="password" 
                  value="••••••••••••" 
                  disabled
                  class="w-full rounded-md border border-gray-200 dark:border-gray-700 px-3 py-2 bg-gray-100 dark:bg-gray-700 text-gray-500 dark:text-gray-400"
                >
              </div>
            </div>

            <!-- Row 3: Sender Name and Email -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <!-- Sender Name -->
              <div>
                <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">
                  Sender Name
                </label>
                <input 
                  v-model="senderName" 
                  type="text" 
                  placeholder="Blue"
                  class="w-full rounded-md border border-gray-200 dark:border-gray-700 px-3 py-2 bg-white dark:bg-gray-800 text-gray-900 dark:text-white focus:outline-none focus:ring-2 focus:ring-brand-blue/20"
                >
              </div>

              <!-- Sender Email -->
              <div>
                <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">
                  Sender Email Address
                </label>
                <input 
                  v-model="senderEmail" 
                  type="email" 
                  placeholder="notifications@messages.blue.cc"
                  class="w-full rounded-md border border-gray-200 dark:border-gray-700 px-3 py-2 bg-white dark:bg-gray-800 text-gray-900 dark:text-white focus:outline-none focus:ring-2 focus:ring-brand-blue/20"
                >
              </div>
            </div>
          </div>

          <!-- Second card - Email Template -->
          <div class="bg-gray-50 dark:bg-gray-800 rounded-xl p-4 md:p-6 shadow-lg ring-1 ring-gray-900/5 dark:ring-white/5">
            <h3 class="text-lg font-medium text-gray-900 dark:text-white mb-4">Email Template</h3>
            
            <!-- Subject Line -->
            <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">
                Subject Line
              </label>
              <input 
                v-model="emailSubject" 
                type="text" 
                placeholder="Invitation to {projectname}"
                class="w-full rounded-md border border-gray-200 dark:border-gray-700 px-3 py-2 bg-white dark:bg-gray-800 text-gray-900 dark:text-white focus:outline-none focus:ring-2 focus:ring-brand-blue/20"
              >
            </div>

            <!-- Email Body -->
            <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">
                Email Body
              </label>
              <textarea 
                v-model="emailBody" 
                rows="6"
                :placeholder="emailPlaceholder"
                class="w-full rounded-md border border-gray-200 dark:border-gray-700 px-3 py-2 bg-white dark:bg-gray-800 text-gray-900 dark:text-white focus:outline-none focus:ring-2 focus:ring-brand-blue/20"
              ></textarea>
            </div>

            <!-- Button Text -->
            <div>
              <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">
                Button Text
              </label>
              <input 
                v-model="buttonText" 
                type="text" 
                placeholder="Join {projectname}"
                class="w-full rounded-md border border-gray-200 dark:border-gray-700 px-3 py-2 bg-white dark:bg-gray-800 text-gray-900 dark:text-white focus:outline-none focus:ring-2 focus:ring-brand-blue/20"
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- New Split Price section -->
    <div class="relative min-h-[50vh]">
      <!-- Left side - Blue background -->
      <div class="absolute top-0 left-0 w-full md:w-1/2 h-1/2 md:h-full transition-colors duration-300" :style="{ backgroundColor: selectedColor }">
        <div class="text-center pt-12 md:pt-24">
          <h2 class="text-3xl font-bold tracking-tight sm:text-5xl text-white">
            Our Pricing.
          </h2>
          <!-- Pricing display only -->
          <div class="mt-8 md:mt-12">
            <div class="mt-4 md:mt-8">
              <div class="flex items-center justify-center text-5xl md:text-6xl font-bold tracking-tight text-white">
                ${{ isYearlyWL ? '200' : '20' }}
                <span class="ml-2 text-xl md:text-2xl font-semibold tracking-wide text-white/80">/company</span>
              </div>
              <div class="h-6 mt-1">
                <p v-if="isYearlyWL" class="text-sm text-white/80">(Save $40 per year)</p>
              </div>
              <!-- Added bulk discount text -->
              <p class="mt-4 text-sm text-white/70 px-4 md:px-0">
                Bulk company discounts available in January 2025
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Right side - White background -->
      <div class="absolute top-1/2 md:top-0 right-0 w-full md:w-1/2 h-1/2 md:h-full bg-white dark:bg-gray-900">
        <div class="text-center pt-12 md:pt-24">
          <h2 class="text-3xl font-bold tracking-tight sm:text-5xl text-gray-900 dark:text-white">
            Your Plan.
          </h2>

          <!-- Moved and enlarged toggle -->
          <div class="mt-8 md:mt-16">
            <div class="flex items-center justify-center space-x-4">
              <span class="text-base md:text-lg font-medium text-gray-900 dark:text-white">Monthly</span>
              <button
                @click="isYearlyWL = !isYearlyWL"
                type="button"
                class="relative inline-flex h-6 md:h-8 w-12 md:w-16 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none"
                :class="isYearlyWL ? 'bg-brand-blue' : 'bg-gray-200'"
              >
                <span
                  class="pointer-events-none inline-block h-5 md:h-7 w-5 md:w-7 rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"
                  :class="isYearlyWL ? 'translate-x-6 md:translate-x-8' : 'translate-x-0'"
                ></span>
              </button>
              <span class="text-base md:text-lg font-medium text-gray-900 dark:text-white">Yearly</span>
            </div>
              <!-- Added instructions -->
          <p class="mt-4 text-gray-600 dark:text-gray-400 max-w-md mx-auto">
            You can find white label settings under <br>Company Settings → White Label tab once subscribed.
          </p>
          </div>
        </div>
      </div>
    </div>

    <!-- <WhitelabelPricing id="pricing" ref="pricingRef"/> -->
  </div>
</template>

<script setup lang="ts">
import { CloudArrowUpIcon, CakeIcon, CurrencyDollarIcon, AcademicCapIcon, RocketLaunchIcon, LockClosedIcon, ChartBarIcon } from '@heroicons/vue/20/solid'
import TestimonialGroup from '~/components/TestimonialGroup.vue';
import { Icon } from '#components'
useSeoMeta({
  title: 'White Label Project & Process Management Software',
  description: '100% white label business software to manage any process or project.',
})

const logoPreview = ref(null)
const selectedColor = ref('#00a0d2') // Default to brand-blue

const brandColors = [
  '#00A0D2', // Brand Blue
  '#2563EB', // Blue
  '#7C3AED', // Purple
  '#DB2777', // Pink
  '#DC2626', // Red
  '#EA580C', // Orange
  '#65A30D', // Green
  '#0D9488', // Teal
  '#0284C7', // Light Blue
  '#6366F1', // Indigo
  '#8B5CF6', // Violet
  '#EC4899', // Pink
  '#EF4444', // Red
  '#F97316', // Orange
  '#84CC16', // Lime
  '#14B8A6', // Teal
]

const handleFileSelect = (event) => {
  const file = event.target.files[0]
  if (file) {
    const reader = new FileReader()
    reader.onload = (e) => {
      logoPreview.value = e.target.result
    }
    reader.readAsDataURL(file)
  }
}

const handleDrop = (event) => {
  const file = event.dataTransfer.files[0]
  if (file && file.type.startsWith('image/')) {
    const reader = new FileReader()
    reader.onload = (e) => {
      logoPreview.value = e.target.result
    }
    reader.readAsDataURL(file)
  }
}

const customDomain = ref('')
const domainError = ref('')
const domainStatus = ref('initial')
const displayedDomain = ref('app.blue.cc')

const validateDomain = (domain: string): boolean => {
  // Remove https:// or http:// if present
  const cleanDomain = domain.replace(/^https?:\/\//, '').trim()
  
  // Regex for subdomain format only
  // Matches: app.company.com, sub.domain.company.co.uk
  // Does not match: company.com, domain.com, test
  const subdomainRegex = /^[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?\.([a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,}$/

  if (!cleanDomain) {
    domainError.value = 'Domain is required'
    return false
  }

  if (!subdomainRegex.test(cleanDomain)) {
    domainError.value = 'Please enter a valid subdomain (e.g., app.company.com)'
    return false
  }

  // Check that it's not just a main domain with www
  if (cleanDomain.startsWith('www.')) {
    domainError.value = 'Please enter a subdomain, not a www domain'
    return false
  }

  domainError.value = ''
  return true
}

const handleDomainSubmit = async () => {
  // Clear any previous error
  domainError.value = ''
  
  // Validate domain first
  if (!validateDomain(customDomain.value)) {
    return
  }
  
  domainStatus.value = 'loading'
  
  // Simulate API call
  await new Promise(resolve => setTimeout(resolve, 1500))
  
  domainStatus.value = 'success'
  // Remove https:// or http:// for display
  displayedDomain.value = customDomain.value.replace(/^https?:\/\//, '')
}

// Add these new refs
const senderName = ref('Blue')
const senderEmail = ref('notifications@blue.cc')
const emailSubject = ref('Invitation to {projectname}')
const emailBody = ref(`Hi {firstname},

You've been invited to join the "{projectname}" project on Blue.

Blue helps teams stay organized and get more done. Join your team to start collaborating on projects, tasks, and files.`)
const buttonText = ref('Join {projectname}')

// Move placeholder to computed property
const emailPlaceholder = computed(() => {
  return `Hi {firstname},

You've been invited to join the "{projectname}" project on Blue.

Blue helps teams stay organized and get more done. Join your team to start collaborating on projects, tasks, and files.`
})

// Add computed properties for the preview
const previewSubject = computed(() => {
  return emailSubject.value
    .replace('{projectname}', 'Q4 Marketing Campaign')
})

const previewBody = computed(() => {
  return emailBody.value
    .replace('{firstname}', 'John')
    .replace('{projectname}', 'Q4 Marketing Campaign')
})

const previewButtonText = computed(() => {
  return buttonText.value
    .replace('{projectname}', 'Q4 Marketing Campaign')
})

const badgeRef = ref(null)
const pricingRef = ref(null)
const isBeforePricing = ref(true)

onMounted(() => {
  const checkPosition = () => {
    if (!pricingRef.value?.$el) return
    
    // Get the pricing section's position
    const pricingRect = pricingRef.value.$el.getBoundingClientRect()
    // Calculate 20% of viewport height
    const targetPosition = window.innerHeight * 0.2
    
    // Update visibility based on pricing section position
    isBeforePricing.value = pricingRect.top > targetPosition
  }

  // Initial check
  checkPosition()
  
  // Add scroll listener
  window.addEventListener('scroll', checkPosition, { passive: true })
  
  // Cleanup
  onUnmounted(() => {
    window.removeEventListener('scroll', checkPosition)
  })
})

const isYearlyWL = ref(false)

</script>


<style scoped>
@media (max-width: 640px) {
  table {
    font-size: 0.75rem;
  }
  
  th, td {
    padding: 0.5rem 0.25rem;
  }
}
</style>
 
 <style scoped>
@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.wavy-emoji {
  display: inline-block;
  animation: wave 2.5s infinite;
  transform-origin: 70% 70%;
}

.animated-blob {
  position: absolute;
  width: 225px;
  height: 225px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  filter: blur(40px);
  animation: blob-movement 8s infinite ease-in-out, blob-colors 24s infinite linear;
  opacity: 0.7;
  z-index: 1;
}

@keyframes blob-movement {
  0%, 100% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-80%, -60%);  /* Changed from -60% to -70% */
  }
  50% {
    transform: translate(-50%, -40%);
  }
  75% {
    transform: translate(-20%, -60%);  /* Changed from -40% to -30% */
  }

}
@keyframes blob-colors {
  0%, 100% { background-color: #00A0D2; }  /* Brand Blue */
  12.5% { background-color: #7C3AED; }     /* Purple */
  25% { background-color: #DB2777; }       /* Pink */
  37.5% { background-color: #DC2626; }     /* Red */
  50% { background-color: #EA580C; }       /* Orange */
  62.5% { background-color: #65A30D; }     /* Green */
  75% { background-color: #0D9488; }       /* Teal */
  87.5% { background-color: #6366F1; }     /* Indigo */
}
</style>
