<template>
  <HeroRightLight 
  title="Leverage the power of knowledge with Wiki & Docs. "
  subtitle="Create, collaborate, and store all your essential documents and knowledge in one accessible, organized place."
    imageSrc="/product/wiki-hero.png"
    imageAlt="Wiki  screenshot"
  />
  <LogoGrid
      title="Documentation is what allows you to scale. If you need to do it more than once — write it down."
      subtitle=" That's why every Blue project comes with its own dedicated Wiki."
      :logos="[
        { url: '/clients/heineken.svg', alt: 'Heineken Logo' },
        { url: '/clients/deloitte.svg', alt: 'Deloitte Logo' },
        { url: '/clients/savethechildren.svg', alt: 'Save The Children Logo' },
        { url: '/clients/fedex.svg', alt: 'Fedex Logo' },
        { url: '/clients/ilo.png', alt: 'International Labour Organization Logo' }
      ]"
    />
  <FeatureRight
    title="Enhance Teamwork with Real-Time Collaboration."
    description="Experience seamless document editing with your team. Changes appear instantly, enhancing collaboration and project pace."
    :features="[
              {
                name: 'Multiple editors.',
                description: 'Multiple users can edit at once, speeding up workflows.',
                icon: 'heroicons:user-group-solid',
              },
              {
                name: 'Visibility.',
                description: 'See changes in real time, keeping everyone on the same page.',
                icon: 'heroicons:eye-solid',
              },
              {
                name: 'Accessibility.',
                description: 'Work together from any location, ensuring flexibility.',
                icon: 'heroicons:clipboard-document-check-solid',
              },
            ]"
            
    :image="{
      src: '/product/simple-screenshot-home.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  
  <FeatureLeft
      title="Create documents people will actually read with rich text formatting."
      description="Utilize advanced formatting to create clear and engaging documents that capture attention and communicate effectively."
      :features="[
                {
                  name: 'Variety of Tools.',
                  description: 'Use headers, lists, tables, and links to structure and enrich content.',
                  icon: 'heroicons:wrench-screwdriver-solid',
                },
                {
                  name: 'Clarity.',
                  description: 'Organize information clearly, enhancing reader comprehension.',
                  icon: 'heroicons:heart-solid',
                },
                {
                  name: 'Engaging.',
                  description: 'Make documents more interactive and visually appealing.',
                  icon: 'heroicons:sparkles-solid',
                },
              ]"
      :image="{
        src: '/product/docs-highlight.png',
        alt: 'Product screenshot',
        width: '2432',
        height: '1442',
      }"
  />
  <FeatureRight
      title="Automatic Table of Contents."
      description="Automatically generate a table of contents for easy navigation through documents, enhancing readability and user experience."
      :features="[
                {
                  name: 'Dynamic Navigation.',
                  description: 'Effortlessly jump to different sections with a click.',
                  icon: 'heroicons:bars-4-solid',
                },
                {
                  name: 'Auto-Organization.',
                  description: 'Content is automatically sorted into a structured outline.',
                  icon: 'heroicons:book-open-solid',
                },
                {
                  name: 'User Efficiency.',
                  description: 'Find information quickly, improving productivity and document interaction.',
                  icon: 'heroicons:bolt-solid',
                },
              ]"
      :image="{
        src: '/product/wiki-hero.png',
        alt: 'Table of contents wiki screenshot',
        width: '2432',
        height: '1442',
      }"
  />
  
  <CtaDark />
  
</template >

<script setup>
useSeoMeta({
  title: 'Wiki & Docs',
  description: 'Create, collaborate, and store all your essential documents and knowledge in one accessible, organized place that\'s instantly searchable.'
});

</script>