<template>
  <div>
    <div class="container mx-auto px-4 py-16 pt-32 max-w-7xl">
      <div class="group bg-brand-blue text-white dark:bg-brand-blue-light py-16 rounded-xl shadow-lg overflow-hidden transition-all duration-300 ease-in-out relative mb-12">
        <div class="absolute -top-2 right-6 w-12 h-16 bg-brand-blue-400 shadow-md transform rotate-6 transition-transform duration-300 ease-in-out group-hover:rotate-12"></div>
        <div class="absolute -top-2 right-6 w-12 h-16 bg-brand-blue-200 shadow-md transition-transform duration-300 ease-in-out group-hover:rotate-6"></div>
        <div class="p-8">
          <h1 class="text-4xl font-bold mb-4">Definition of {{ term.title }}</h1>
          <p class="text-xl opacity-90">{{ term.description }}</p>
        </div>
      </div>
      
      <div class="flex flex-col lg:flex-row lg:justify-between lg:space-x-8">
        <!-- Main Content -->
        <div class="prose dark:prose-invert pt-8 lg:w-2/3 max-w-none">
          <a href="/project-management-dictionary" class="text-brand-blue hover:underline mb-4 inline-block group">
            <span class="inline-block transition-transform duration-300 ease-in-out group-hover:-rotate-360">
              &larr;
            </span>
            <span class="ml-1">Back to Dictionary</span>
          </a>
          
          <ContentRenderer :value="term" />
        </div>

        <!-- Sidebar -->
    <div class="lg:w-1/3 mt-8 lg:mt-0">
      <div class="sticky top-24">
        <!-- Alphabetical Terms List -->
        <div class="bg-gray-100 dark:bg-gray-800 p-4 rounded-lg mb-8">
          <h2 class="text-2xl font-bold mb-4">All Project Management Terms</h2>
          <div class="max-h-[70vh] overflow-y-auto pr-2">
            <ul class="space-y-2">
              <li v-for="term in sortedTerms" :key="term.slug">
                <NuxtLink
                  :to="`/project-management-dictionary/${term.slug}`"
                  :class="[
                    'hover:underline font-bold',
                    term.slug === $route.params.slug
                      ? 'text-brand-blue'
                      : 'text-gray-500 hover:text-brand-blue'
                  ]"
                >
                  {{ term.title }}
                </NuxtLink>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    <ResourceList
      v-if="term.relatedResources && term.relatedResources.length > 0"
      title="Related Resources"
      :postSlugs="term.relatedResources"
    />
    <CtaDark />
  </div>
</template>

<script setup>
import { useRoute, useAsyncData } from '#app'
import { queryContent } from '#imports'
import { computed } from 'vue'

const route = useRoute()
const slug = route.params.slug

const { data: term } = await useAsyncData(`term-${slug}`, () =>
  queryContent('/project-management-dictionary').where({ slug }).findOne()
)

// Fetch all terms for the alphabetical list
const { data: allTerms } = await useAsyncData('all-terms', () =>
  queryContent('/project-management-dictionary').only(['title', 'slug']).find()
)

// Sort terms alphabetically
const sortedTerms = computed(() => {
  return allTerms.value.sort((a, b) => a.title.localeCompare(b.title))
})
</script>

<style scoped>
.group-hover\:-rotate-360 {
  transition: transform 0.3s ease-in-out;
}

.group:hover .group-hover\:-rotate-360 {
  transform: rotate(-360deg);
}

/* Custom scrollbar styles */
.max-h-\[70vh\]::-webkit-scrollbar {
  width: 8px;
}

.max-h-\[70vh\]::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.max-h-\[70vh\]::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.max-h-\[70vh\]::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>