<template>
  <div class="bg-white dark:bg-gray-900 py-12 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="relative isolate overflow-hidden bg-white dark:bg-gray-900 px-6 py-24 sm:pt-32 pb-16 lg:px-8">
        <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(150%_150%_at_top_left,white,transparent)]" aria-hidden="true">
          <defs>
            <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
              <path d="M.5 200V.5H200" fill="none" />
            </pattern>
          </defs>
          <rect width="100%" height="100%" stroke-width="0" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
        </svg>
        <div class="mx-auto max-w-2xl text-center">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl">Project Management Dictionary & Definitions</h1>
        </div>
      </div>

      <p class="mx-auto max-w-2xl text-center text-xl text-gray-700 mb-12 dark:text-white">Part of becoming a good project manager is understanding the industry terms. So we are collecting all the industry terms and explaining them in simple and clear language. Enjoy.</p>
      
      <div class="relative mb-8">
        <input 
          v-model="searchQuery" 
          type="text" 
          placeholder="Search terms..." 
          class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-brand-blue focus:border-brand-blue dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white"
        />
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div v-for="definition in filteredDefinitions" :key="definition.slug" class="group bg-brand-blue text-white dark:bg-brand-blue-light rounded-xl shadow-md overflow-hidden hover:shadow-lg transition-all duration-300 ease-in-out relative transform hover:-translate-y-2 hover:rotate-1">
          <div class="absolute -top-1 right-4 w-8 h-10 bg-brand-blue-400 shadow-md transform rotate-6 transition-transform duration-300 ease-in-out group-hover:rotate-12"></div>
          <div class="absolute -top-1 right-4 w-8 h-10 bg-brand-blue-200 shadow-md transition-transform duration-300 ease-in-out group-hover:rotate-6"></div>
          <a :href="`/project-management-dictionary/${definition.slug}`" class="block h-full p-6">
            <h2 class="text-xl font-semibold mb-3">{{ definition.title }}</h2>
            <p class="text-white text-sm line-clamp-3 opacity-90">{{ definition.description }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import { useAsyncData } from '#app'
import { queryContent } from '#imports'

// Fetch all definitions
const { data: definitions } = await useAsyncData('definitions', () =>
  queryContent('/project-management-dictionary').find()
)

// Search query ref
const searchQuery = ref('')

// Filtered and sorted definitions
const filteredDefinitions = computed(() => {
  return definitions.value
    .filter(definition => 
      definition.title.toLowerCase().includes(searchQuery.value.toLowerCase()) ||
      definition.description.toLowerCase().includes(searchQuery.value.toLowerCase())
    )
    .sort((a, b) => a.title.localeCompare(b.title))
})
</script>