/*
Font families defined by this CSS:
  - InterVariable  variable font for modern web browsers
  - Inter          static fonts for older web browsers (small optical size)
  - InterDisplay   static fonts for older web browsers (large optical size)

Usage example:
  :root { font-family: Inter, sans-serif; }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

*/
@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/font-files/InterVariable.woff2?v=4.0') format('woff2');
  }
  @font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/font-files/InterVariable-Italic.woff2?v=4.0') format('woff2');
  }
  /* legacy name "Inter var" (Oct 2023) */
  @font-face { font-family:'Inter var'; font-style:normal; font-weight:100 900; font-display:swap; src: url('/font-files/InterVariable.woff2?v=4.0') format('woff2'); }
  @font-face { font-family:'Inter var'; font-style:italic; font-weight:100 900; font-display:swap; src: url('/font-files/InterVariable-Italic.woff2?v=4.0') format('woff2'); }
  /* static fonts */
  @font-face { font-family:Inter; font-style:normal; font-weight:100; font-display:swap; src:url("/font-files/Inter-Thin.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:italic; font-weight:100; font-display:swap; src:url("/font-files/Inter-ThinItalic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:normal; font-weight:200; font-display:swap; src:url("/font-files/Inter-ExtraLight.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:italic; font-weight:200; font-display:swap; src:url("/font-files/Inter-ExtraLightItalic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:normal; font-weight:300; font-display:swap; src:url("/font-files/Inter-Light.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:italic; font-weight:300; font-display:swap; src:url("/font-files/Inter-LightItalic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:normal; font-weight:400; font-display:swap; src:url("/font-files/Inter-Regular.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:italic; font-weight:400; font-display:swap; src:url("/font-files/Inter-Italic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:normal; font-weight:500; font-display:swap; src:url("/font-files/Inter-Medium.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:italic; font-weight:500; font-display:swap; src:url("/font-files/Inter-MediumItalic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:normal; font-weight:600; font-display:swap; src:url("/font-files/Inter-SemiBold.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:italic; font-weight:600; font-display:swap; src:url("/font-files/Inter-SemiBoldItalic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:normal; font-weight:700; font-display:swap; src:url("/font-files/Inter-Bold.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:italic; font-weight:700; font-display:swap; src:url("/font-files/Inter-BoldItalic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:normal; font-weight:800; font-display:swap; src:url("/font-files/Inter-ExtraBold.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:italic; font-weight:800; font-display:swap; src:url("/font-files/Inter-ExtraBoldItalic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:normal; font-weight:900; font-display:swap; src:url("/font-files/Inter-Black.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:Inter; font-style:italic; font-weight:900; font-display:swap; src:url("/font-files/Inter-BlackItalic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:normal; font-weight:100; font-display:swap; src:url("/font-files/InterDisplay-Thin.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:italic; font-weight:100; font-display:swap; src:url("/font-files/InterDisplay-ThinItalic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:normal; font-weight:200; font-display:swap; src:url("/font-files/InterDisplay-ExtraLight.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:italic; font-weight:200; font-display:swap; src:url("/font-files/InterDisplay-ExtraLightItalic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:normal; font-weight:300; font-display:swap; src:url("/font-files/InterDisplay-Light.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:italic; font-weight:300; font-display:swap; src:url("/font-files/InterDisplay-LightItalic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:normal; font-weight:400; font-display:swap; src:url("/font-files/InterDisplay-Regular.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:italic; font-weight:400; font-display:swap; src:url("/font-files/InterDisplay-Italic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:normal; font-weight:500; font-display:swap; src:url("/font-files/InterDisplay-Medium.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:italic; font-weight:500; font-display:swap; src:url("/font-files/InterDisplay-MediumItalic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:normal; font-weight:600; font-display:swap; src:url("/font-files/InterDisplay-SemiBold.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:italic; font-weight:600; font-display:swap; src:url("/font-files/InterDisplay-SemiBoldItalic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:normal; font-weight:700; font-display:swap; src:url("/font-files/InterDisplay-Bold.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:italic; font-weight:700; font-display:swap; src:url("/font-files/InterDisplay-BoldItalic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:normal; font-weight:800; font-display:swap; src:url("/font-files/InterDisplay-ExtraBold.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:italic; font-weight:800; font-display:swap; src:url("/font-files/InterDisplay-ExtraBoldItalic.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:normal; font-weight:900; font-display:swap; src:url("/font-files/InterDisplay-Black.woff2?v=4.0") format("woff2"); }
  @font-face { font-family:InterDisplay; font-style:italic; font-weight:900; font-display:swap; src:url("/font-files/InterDisplay-BlackItalic.woff2?v=4.0") format("woff2"); }
  