<template>
  <UContainer>
    <UPage prose>
      <template #left>
        <UAside>
          <UNavigationTree :links="mapContentNavigation(legalNavigation)" default-open="false"/>
        </UAside>
      </template>

      <UPage class="relative top-16">
        <UPageHeader prose
          :title="page.title"
          :description="page.description"
          :links="page.links"
          :headline="headline"
        />

        <UPageBody prose>
          <ContentRenderer
            v-if="page.body"
            :value="page"
          />

          <hr v-if="surround?.length">

          <UContentSurround :surround="surround" />
        </UPageBody>

        <template
          v-if="page.toc !== false"
          #right
        >
          <UContentToc prose
            :title="toc?.title"
            :links="page.body?.toc?.links"
          >
            <template
              v-if="toc?.bottom"
              #bottom
            >
              <div
                class="hidden lg:block space-y-6"
                :class="{ '!mt-6': page.body?.toc?.links?.length }"
              >
                <UDivider
                  v-if="page.body?.toc?.links?.length"
                  type="dashed"
                />

                <UPageLinks
                  :title="toc.bottom.title"
                  :links="links"
                />

                <div class="p-6 bg-brand-blue text-white rounded-lg shadow-lg hover:shadow-xl">
                  <h3 class="text-sm font-bold mb-4">Join 15,000 other companies who trust Blue</h3>
                  <button @click="openSignUp" class="px-4 py-2 text-sm font-semibold rounded-md border border-transparent bg-white text-brand-blue hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue transition duration-150 ease-in-out flex items-center">
                    Start
                    <span class="ml-2 inline-flex items-center justify-center w-5 h-5 bg-brand-blue rounded text-xs font-bold text-white border border-white">↵</span>
                  </button>
                </div>
              </div>
            </template>
          </UContentToc>
        </template>
      </UPage>
    </UPage>
  </UContainer>
</template>

<script setup lang="ts">
import { withoutTrailingSlash } from 'ufo'
import type { NavItem } from '@nuxt/content'

const navigation = inject<Ref<NavItem[]>>('navigation')
const legalNavigation = computed(() => {
  const legalItem = navigation?.value.find(item => item._path === '/legal');
  return legalItem ? legalItem.children : [];
})

const route = useRoute()
const { toc, seo } = useAppConfig()

const { data: page } = await useAsyncData(route.path, () => queryContent(route.path).findOne())
if (!page.value) {
  throw createError({ statusCode: 404, statusMessage: 'Page not found', fatal: true })
}

const { data: surround } = await useAsyncData(`${route.path}-surround`, () => queryContent('legal')
  .where({ _extension: 'md', navigation: { $ne: false } })
  .only(['title', 'description', '_path'])
  .findSurround(withoutTrailingSlash(route.path))
)

useSeoMeta({
  title: page.value.title,
  ogTitle: `${page.value.title} - Blue`,
  description: page.value.description,
  ogDescription: page.value.description
})

defineOgImage({
  component: 'Legal',
  title: page.value.title,
  description: page.value.description
})

const openSignUp = () => {
  window.open('https://app.blue.cc', '_blank')
}

const headline = computed(() => findPageHeadline(page.value))

const links = computed(() => [toc?.bottom?.edit && {
  icon: 'i-heroicons-pencil-square',
  label: 'Edit this page',
  to: `${toc.bottom.edit}/${page?.value?._file}`,
  target: '_blank'
}, ...(toc?.bottom?.links || [])].filter(Boolean))
</script>

<style>
.text-primary {
  color: #00a0d2 !important
}
.bg-primary-500 {
  background-color: #00a0d2 !important;
}
</style>