<template>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-12">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-4 sm:mb-0">Calculate your upgrade</h2>
      <p class="text-lg leading-8 text-gray-600 max-w-xl">Choose your actions and current tier to see your potential upgrade.</p>
    </div>
    <div class="flex flex-col lg:flex-row gap-8">
      <!-- Left Box -->
      <div class="flex-1 rounded-xl p-8 ring-1 ring-gray-900/10 sm:p-10">
        <h3 class="text-xl font-semibold leading-8 tracking-tight text-grey-800 mb-6">What actions will you take?</h3>
        <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 gap-4 mb-8">
          <template v-for="action in actions" :key="action.id">
            <div class="relative group" @mouseenter="showTooltip(action.id)" @mouseleave="hideTooltip">
              <div v-if="tooltipVisible === action.id" class="absolute z-10 p-1.5 text-xs text-white bg-brand-blue rounded-md shadow-md bottom-full left-1/2 transform -translate-x-1/2 mb-2 whitespace-nowrap">
                {{ action.name }} (${{ action.reward }})
              </div>
              <button
                @click="toggleAction(action.id)"
                :class="[
                  'w-16 h-16 rounded-xl shadow-md transition duration-300 ease-in-out flex items-center justify-center relative',
                  selectedActions.includes(action.id) ? 'ring-2 ring-brand-blue' : 'ring-1 ring-gray-200 hover:ring-gray-300'
                ]"
              >
                <img :src="action.logo" :alt="action.name + ' Logo'" class="w-12 h-12" />
                <div v-if="selectedActions.includes(action.id)" class="absolute top-0 right-0 w-5 h-5 bg-brand-blue rounded-full flex items-center justify-center transform translate-x-1/3 -translate-y-1/3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-white" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                </div>
              </button>
            </div>
          </template>
        </div>
        
        <h3 class="text-xl font-semibold leading-8 tracking-tight text-grey-800 mb-4">What's your current tier?</h3>
        <input
          type="range"
          min="1"
          max="8"
          v-model.number="currentTier"
          class="w-full h-2 bg-brand-blue rounded-lg appearance-none cursor-pointer mb-4"
        />
        <div class="text-sm text-gray-600 mb-8">
          Current Tier: {{ currentTierDisplay }}
        </div>
      </div>

      <!-- Right Box -->
      <div class="flex-1 rounded-xl p-8 ring-1 ring-gray-900/10 sm:p-10 flex flex-col items-center justify-center">
        <img src="/logo.svg" alt="Blue Logo" class="h-12 mb-6" />
        <p v-if="totalRewards === 0" class="text-2xl font-semibold leading-8 tracking-tight text-center text-gray-900">
          Select actions to see your rewards
        </p>
        <template v-else>
          <p class="text-2xl font-semibold leading-8 tracking-tight text-center">
            You can earn <span class="text-brand-blue">${{ totalRewards }}</span> in credits
          </p>
          <p class="text-xl leading-8 tracking-tight text-center mt-4">
            Your upgrade: <span class="font-semibold text-brand-blue">{{ potentialUpgrade }}</span>
          </p>
        </template>
        <div class="h-[44px] mt-8">
          <a 
            v-if="totalRewards > 0"
            href="https://forms.blue.cc/f/clze9kgk1001bjs0u2y9rfour" 
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center px-4 py-2 text-sm font-semibold rounded-md border border-transparent bg-brand-blue text-white hover:bg-brand-blue/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue transition duration-150 ease-in-out"
          >
            Start Earning
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'

const actions = ref([
  { id: 1, name: 'Facebook Post', logo: '/resources/facebook-icon.svg', reward: 20, type: 'social' },
  { id: 2, name: 'X Tweet', logo: '/resources/x-icon.svg', reward: 20, type: 'social' },
  { id: 3, name: 'LinkedIn Post', logo: '/resources/linkedin-icon.svg', reward: 20, type: 'social' },
  { id: 4, name: 'Quora Answer', logo: '/resources/quora-icon.svg', reward: 20, type: 'social' },
  { id: 5, name: 'Reddit Post', logo: '/resources/reddit-icon.svg', reward: 20, type: 'social' },
  { id: 6, name: 'G2 Review', logo: '/softwaresites/g2.webp', reward: 40, type: 'review' },
  { id: 7, name: 'ProductHunt Review', logo: '/softwaresites/producthunt.png', reward: 40, type: 'review' },
  { id: 8, name: 'Capterra Review', logo: '/softwaresites/capterra.png', reward: 40, type: 'review' },
  { id: 9, name: 'Trustpilot Review', logo: '/softwaresites/trustpilot.png', reward: 40, type: 'review' },
  { id: 10, name: 'AlternativeTo Review', logo: '/softwaresites/alternativeto.jpeg', reward: 40, type: 'review' },
  { id: 11, name: 'Publish Blog Post', logo: '/resources/pencil-icon.svg', reward: 50, type: 'blog' },
  { id: 12, name: 'Send us a Video Testimonial', logo: '/resources/video-icon.svg', reward: 150, type: 'video' },
  { id: 13, name: 'Publish a YouTube Review', logo: '/resources/youtube-icon.svg', reward: 250, type: 'youtube' },
])

const selectedActions = ref([])
const tooltipVisible = ref(null)
const currentTier = ref(1) // Default to Tier 1

const toggleAction = (id) => {
  const actionIndex = selectedActions.value.indexOf(id)
  if (actionIndex === -1) {
    selectedActions.value.push(id)
  } else {
    selectedActions.value.splice(actionIndex, 1)
  }
}

const showTooltip = (id) => {
  tooltipVisible.value = id
}

const hideTooltip = () => {
  tooltipVisible.value = null
}

const totalRewards = computed(() => {
  return selectedActions.value.reduce((total, id) => {
    const action = actions.value.find(a => a.id === id)
    return total + (action ? action.reward : 0)
  }, 0)
})

const currentTierDisplay = computed(() => {
  return `Tier ${currentTier.value}`
})

const tierThresholds = [0, 50, 100, 150, 200, 250, 400, 500, 600, 1000]

const potentialUpgrade = computed(() => {
  const totalCredits = tierThresholds[currentTier.value] + totalRewards.value
  let newTier = currentTier.value
  while (newTier < tierThresholds.length - 1 && totalCredits >= tierThresholds[newTier + 1]) {
    newTier++
  }
  if (newTier === currentTier.value) {
    return 'No upgrade available yet'
  } else if (newTier === tierThresholds.length - 1) {
    return `Tier 9`
  } else {
    return `Tier ${newTier}`
  }
})
</script>