<template>
  <div class="bg-white dark:bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
        <div class="mx-auto w-full max-w-xl lg:mx-0">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100">{{ title }}</h2>
          <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">{{ description }}</p>
        </div>
        <div class="mx-auto grid w-full max-w-xl grid-cols-3 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
          <img class="max-h-28 w-full object-contain object-left" src="/crozdesk-happiest-users.webp" alt="Tuple" width="105" height="48" />
          <img class="max-h-28 w-full object-contain object-left" src="/crozdesk-quality-choice.webp" alt="Reform" width="104" height="48" />
          <img class="max-h-28 w-full object-contain object-left" src="/crozdesk-trusted-vendor.webp" alt="SavvyCal" width="140" height="48" />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
defineProps({
  title: {
    type: String,
    required: true
  },
  description: {
    type: String,
    required: true
  }
});
</script>
