<template>
  <!-- The Back to Top button -->
  <Transition name="fade">
    <button
      v-show="showButton"
      @click="scrollToTop"
      class="fixed bottom-8 left-8 bg-brand-blue text-white p-2 rounded-full shadow-lg hover:bg-brand-blue hover:animate-pulse focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition-all duration-300"
      aria-label="Back to top"
    >
      <!-- Arrow icon -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
      </svg>
    </button>
  </Transition>
</template>

<script setup>
import { ref, onMounted, onUnmounted } from 'vue'

// Flag to control visibility of the button
const showButton = ref(false)

// Check the scroll position and update the flag
const checkScroll = () => {
  showButton.value = window.pageYOffset > 300
}

// Scroll to the top of the page
const scrollToTop = () => {
  window.scrollTo({
    top: 0,
    behavior: 'smooth'
  })
}

// Add event listener when component is mounted
onMounted(() => {
  window.addEventListener('scroll', checkScroll)
})

// Remove event listener when component is unmounted
onUnmounted(() => {
  window.removeEventListener('scroll', checkScroll)
})
</script>

<!-- Transitions for the button -->
<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
