<template>
  <div class="fixed bottom-4 right-4 z-50 hidden md:block">
    <button
      @click="toggleChat"
      class="w-14 h-14 bg-brand-blue rounded-full flex items-center justify-center text-white shadow-lg focus:outline-none ring-2 ring-offset-2 ring-brand-blue/50 hover:rotate-12 hover:scale-110 transition-all duration-200"
      :aria-expanded="isChatOpen"
      aria-haspopup="dialog"
      :aria-label="isChatOpen ? 'Close chat' : 'Open chat'"
    >
      <span class="sr-only">{{ isChatOpen ? 'Close chat' : 'Open chat' }}</span>
      <Icon v-if="!isChatOpen" name="heroicons:sparkles-solid" class="w-6 h-6 animate-pulse" />
      <Icon v-else name="heroicons:x-mark-20-solid" class="w-6 h-6" />
    </button>

    <Transition name="chat-fade-slide">
      <div
        v-if="isChatOpen"
        class="absolute bottom-20 right-10"
      >
        <Transition name="fade-resize" mode="out-in">
          <div
            :key="isExpanded"
            :class="[
              'bg-white rounded-lg shadow-xl overflow-hidden flex flex-col',
              isExpanded ? 'fixed inset-4 md:inset-x-1/4 md:inset-y-16' : 'w-96'
            ]"
            role="dialog"
            aria-modal="true"
            aria-labelledby="chat-title"
          >
            <div class="p-4 bg-brand-blue text-white font-bold flex justify-between items-center" id="chat-title">
              <Icon name="heroicons:sparkles-solid" class="text-white text-xl"/><span>Chat with Blue AI Helper</span>
              <button
                @click="toggleExpand"
                class="text-white hover:text-gray-200 focus:outline-none focus:opacity-80 transition-opacity duration-200"
                :aria-label="isExpanded ? 'Contract chat' : 'Expand chat'"
              >
                <Icon 
                  :name="isExpanded ? 'heroicons:arrows-pointing-in-solid' : 'heroicons:arrows-pointing-out-solid'" 
                  class="w-6 h-6 hover:scale-110 transition-all duration-200" 
                />
              </button>
            </div>
            <div ref="chatContainer" class="flex-grow overflow-y-auto p-4 space-y-4" :style="{ height: isExpanded ? 'calc(100% - 8rem)' : '24rem' }">
              <div v-for="(message, index) in messages" :key="index" :class="message.role === 'user' ? 'text-right' : 'text-left'">
                <div :class="message.role === 'user' ? 'bg-brand-blue/10 text-brand-blue inline-block rounded-lg p-2' : 'bg-gray-100 text-gray-600 inline-block rounded-lg p-2 w-full'">
                  <div v-if="message.role === 'assistant'" v-html="formatMessage(message.content)"></div>
                  <div v-else>{{ message.content }}</div>
                </div>
              </div>
              <div v-if="isTyping" class="text-left">
                <div class="bg-gray-100 text-gray-600 inline-block rounded-lg p-2">
                  Typing<span class="dots"><span>.</span><span>.</span><span>.</span></span>
                </div>
              </div>
            </div>
            <div class="p-4 border-t">
              <form @submit.prevent="sendMessage" class="flex mb-2">
                <input
                  ref="messageInput"
                  v-model="userInput"
                  type="text"
                  placeholder="Type your message..."
                  class="flex-grow px-3 py-2 border border-gray-300 rounded-l-lg focus:outline-none focus:ring-0 focus:border-brand-blue transition-colors duration-200"
                  @keydown="handleKeydown"
                />
                <button 
                  type="submit" 
                  class="bg-brand-blue text-white px-4 py-2 rounded-r-lg hover:bg-brand-blue/80 focus:outline-none focus:ring-2 focus:ring-brand-blue focus:ring-offset-2 transition-colors duration-200"
                >
                  Send
                </button>
              </form>
              <div class="flex justify-between text-sm">
                <a href="mailto:help@blue.cc" class="text-gray-500 hover:text-brand-blue transition-colors duration-200">
                  Email Support
                </a>
                <a href="https://documentation.blue.cc" target="_blank" rel="noopener noreferrer" class="text-gray-500 hover:text-brand-blue transition-colors duration-200">
                  Visit Documentation
                </a>
              </div>
            </div>
          </div>
        </Transition>
      </div>
    </Transition>
  </div>
</template>

<script setup>
// The script section remains unchanged
import { ref, watchEffect, nextTick, onMounted, onBeforeUnmount, watch } from 'vue'
import DOMPurify from 'dompurify'
import { marked } from 'marked'

const isChatOpen = ref(false)
const isExpanded = ref(false)
const userInput = ref('')
const messages = ref([
  {
    role: 'assistant',
    content: '👋 Welcome to Blue AI Helper! Feel free to ask about any of the features in Blue.'
  }
])
const threadId = ref(null)
const chatContainer = ref(null)
const isTyping = ref(false)
const messageInput = ref(null)

function toggleChat() {
  isChatOpen.value = !isChatOpen.value
  if (isChatOpen.value) {
    nextTick(() => {
      messageInput.value.focus()
    })
  }
}

function toggleExpand() {
  isExpanded.value = !isExpanded.value
  nextTick(() => {
    if (chatContainer.value) {
      chatContainer.value.scrollTop = chatContainer.value.scrollHeight
    }
  })
}

function formatMessage(content) {
  // Remove source citations
  content = content.replace(/【\d+:\d+†source】/g, '');
  
  // Configure marked options
  marked.setOptions({
    breaks: true,
    gfm: true
  });

  // Convert markdown to HTML
  let html = marked(content);
  
  // Sanitize HTML to prevent XSS attacks
  html = DOMPurify.sanitize(html, {
    ALLOWED_TAGS: ['p', 'br', 'strong', 'em', 'u', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'ul', 'ol', 'li', 'a'],
    ALLOWED_ATTR: ['href', 'target', 'rel', 'class']
  });
  
  // Add Tailwind classes and new tab attributes to links
  html = html.replace(/<a /g, '<a class="text-brand-blue underline hover:opacity-80 transition-opacity duration-200" target="_blank" rel="noopener noreferrer" ');
  
  return html;
}

function handleKeydown(event) {
  if ((event.metaKey || event.ctrlKey) && event.key === 'Enter') {
    sendMessage();
  } else if (event.key === 'Escape') {
    if (isExpanded.value) {
      toggleExpand();
    } else if (isChatOpen.value) {
      toggleChat();
    }
  }
}

async function sendMessage() {
  if (!userInput.value.trim()) return

  const messageContent = userInput.value
  userInput.value = ''

  messages.value.push({ role: 'user', content: messageContent })
  isTyping.value = true

  try {
    const { data } = await useFetch('/api/chat', {
      method: 'POST',
      body: {
        message: messageContent,
        threadId: threadId.value
      }
    })

    isTyping.value = false
    messages.value.push({ role: 'assistant', content: data.value.response })
    threadId.value = data.value.threadId
  } catch (error) {
    console.error('Error sending message:', error)
    messages.value.push({ role: 'error', content: 'Error sending message. Please try again.' })
    isTyping.value = false
  }
}

// Auto-scroll to the bottom of the chat when new messages are added
watchEffect(() => {
  if (messages.value.length && chatContainer.value) {
    nextTick(() => {
      chatContainer.value.scrollTop = chatContainer.value.scrollHeight
    })
  }
})

// Watch for changes in isChatOpen to add or remove the keydown event listener
watch(isChatOpen, (newValue) => {
  if (newValue) {
    document.addEventListener('keydown', handleKeydown)
  } else {
    document.removeEventListener('keydown', handleKeydown)
  }
})

// Cleanup event listener when component is unmounted
onBeforeUnmount(() => {
  document.removeEventListener('keydown', handleKeydown)
})

// Load expanded state from localStorage
onMounted(() => {
  const savedExpandedState = localStorage.getItem('chatExpandedState')
  if (savedExpandedState !== null) {
    isExpanded.value = JSON.parse(savedExpandedState)
  }
})

// Save expanded state to localStorage when it changes
watch(isExpanded, (newValue) => {
  localStorage.setItem('chatExpandedState', JSON.stringify(newValue))
})
</script>

<style scoped>
/* The style section remains unchanged */
.chat-fade-slide-enter-active,
.chat-fade-slide-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.chat-fade-slide-enter-from,
.chat-fade-slide-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.fade-resize-enter-active,
.fade-resize-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-resize-enter-from,
.fade-resize-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

/* Styles for formatted content */
:deep(h3) {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

:deep(p) {
  margin-bottom: 0.5em;
}

:deep(ul), :deep(ol) {
  padding-left: 1.5em;
  margin-bottom: 0.5em;
  list-style-position: outside;
}

:deep(ul) {
  list-style-type: disc;
}

:deep(ol) {
  list-style-type: decimal;
}

:deep(li) {
  margin-bottom: 0.25em;
  display: list-item;
}

:deep(strong) {
  font-weight: bold;
}

.dots span {
  opacity: 0;
  animation: dotFade 1.8s infinite;
}

.dots span:nth-child(1) {
  animation-delay: 0s;
}

.dots span:nth-child(2) {
  animation-delay: 0.3s;
}

.dots span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes dotFade {
  0%, 30% { opacity: 0; }
  40%, 80% { opacity: 1; }
  90%, 100% { opacity: 0; }
}
</style>