<template>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 dark:bg-gray-900">
    <!-- Header Section -->
    <div v-if="showHeader" class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-12 space-x-4 bg-white dark:bg-gray-900 p-6 rounded-lg shadow-sm">
      <h2 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl mb-4 sm:mb-0">{{ computedTitle }}</h2>
      <p class="text-lg leading-8 text-gray-600 dark:text-gray-300 max-w-xl">{{ computedDescription }}</p>
    </div>

    <!-- Software Selection Section -->
    <div v-if="showSoftwareSelection" class="mb-8 rounded-xl p-8 ring-1 ring-gray-900/10 dark:ring-gray-100/10 sm:p-10 relative dark:bg-gray-800">
      <!-- Subtle Download Button -->
      <a href="/resources/pmplatforms.csv" 
        class="absolute top-4 right-4 text-sm text-gray-300 hover:text-brand-blue dark:text-gray-400 dark:hover:text-brand-lighter-blue hover:underline"
      >
        Download Raw Data
      </a>

      <!-- Dynamic title showing selected plan count -->
      <h2 class="text-xl font-semibold leading-8 tracking-tight text-grey-800 dark:text-white mb-6">
        Select Plans to Compare ({{ selectedPlansCount }}/6)
      </h2>

      <!-- Grid of software cards -->
      <div ref="softwareGrid" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">
        <!-- Individual software card -->
        <div
          v-for="software in softwareOptions"
          :key="software.name"
          class="relative"
        >
          <!-- Card container with conditional styling -->
          <div
            class="rounded-xl shadow-md transition-all duration-300 ease-in-out relative dark:bg-gray-700"
            :class="[
              expandedSoftware === software.name ? 'ring-2 ring-brand-blue dark:ring-brand-lighter-blue' : 'ring-1 ring-gray-200 dark:ring-gray-600 hover:ring-gray-300 dark:hover:ring-gray-500',
              expandedSoftware === software.name ? 'z-10' : ''
            ]"
            @click.stop
          >
            <!-- Inner container for overflow handling -->
            <div class="overflow-hidden rounded-xl">
              <!-- Software logo and name button -->
              <button
                @click="toggleExpand(software.name, $event)"
                class="w-full p-4 flex flex-col items-center space-y-2"
                ref="planButton"
              >
                <img :src="getSoftwareLogo(software.name)" :alt="`${software.name} logo`" class="w-12 h-12" />
                <span class="font-medium text-center dark:text-white">{{ software.name }}</span>
              </button>

              <!-- Small popup with plan options -->
              <div 
                v-show="expandedSoftware === software.name"
                class="absolute p-4 bg-white dark:bg-gray-700 border-t border-gray-200 dark:border-gray-600 rounded-xl shadow-lg z-20"
                :class="{'dropdown-up': isDropdownUp}"
              >
                <!-- Individual plan checkbox -->
                <div v-for="plan in software.plans" :key="plan" class="mb-2">
                  <label class="flex items-center space-x-2 cursor-pointer">
                    <input
                      type="checkbox"
                      :value="plan"
                      v-model="selectedPlans[software.name]"
                      class="rounded border-gray-300 text-brand-blue focus:ring-brand-blue dark:border-gray-500 dark:bg-gray-600 dark:checked:bg-brand-blue"
                      @change="updateSelectedSoftware(software.name, plan)"
                    />
                    <span class="dark:text-white">{{ plan }}</span>
                  </label>
                </div>
              </div>
            </div>

            <!-- Selected plans count badge -->
            <div 
              v-if="getSelectedPlansCount(software.name) > 0"
              class="absolute top-0 right-0 w-6 h-6 bg-brand-blue dark:bg-brand-lighter-blue rounded-full flex items-center justify-center transform translate-x-1/3 -translate-y-1/3"
            >
              <span class="text-white text-xs font-bold">{{ getSelectedPlansCount(software.name) }}</span>
            </div>
          </div>
        </div>

        <!-- Request Comparison Card -->
        <div class="relative lg:col-span-2">
          <div class="rounded-xl shadow-md transition-all duration-300 ease-in-out relative ring-1 ring-gray-200 dark:ring-gray-600 hover:ring-gray-300 dark:hover:ring-gray-500 flex items-center justify-center p-4 dark:bg-gray-700">
            <a href="mailto:help@blue.cc" class="w-full flex flex-col items-center space-y-2">
              <Icon name="heroicons:envelope-solid" class="h-12 w-12 text-brand-blue dark:text-brand-lighter-blue" />
              <span class="font-medium text-center dark:text-white">Request comparison</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Comparison Table Section -->
    <div v-if="selectedSoftware.length >= 2" class="overflow-x-auto">
      <table class="w-full border-collapse">
        <!-- Table Header -->
        <thead class="z-10 bg-white dark:bg-gray-800">
          <tr class="bg-gray-100 dark:bg-gray-700">
            <!-- Feature column header -->
            <th class="p-2 border dark:border-gray-600 left-0 z-20 bg-gray-100 dark:bg-gray-700" :style="{ width: firstColumnWidth + '%' }">Feature</th>
            <!-- Dynamic headers for selected software -->
            <th
              v-for="software in selectedSoftware"
              :key="`${software.name}-${software.plan}`"
              class="p-2 border dark:border-gray-600"
              :style="{ width: remainingColumnWidth + '%' }"
            >
              <div class="flex flex-col items-center">
                <img :src="getSoftwareLogo(software.name)" :alt="`${software.name} logo`" class="w-8 h-8 mb-1" />
                <span class="text-xs font-bold dark:text-white">{{ software.name }}</span>
                <span class="text-xs text-gray-400 dark:text-gray-300">{{ software.plan }}</span>
              </div>
            </th>
          </tr>
        </thead>

        <!-- Table Body -->
        <tbody>
          <!-- Feature group section -->
          <template v-for="group in featureGroups" :key="group.name">
            <!-- Group header row -->
            <tr class="bg-gray-50 dark:bg-gray-700">
              <td :colspan="selectedSoftware.length + 1" class="p-2 border dark:border-gray-600">
                <button
                  @click="toggleGroup(group.name)"
                  class="w-full text-left font-semibold flex justify-between items-center dark:text-white"
                >
                  {{ group.name }}
                  <!-- Expand/collapse icons -->
                  <span v-if="expandedGroups.includes(group.name)">
                    <Icon name="heroicons:chevron-up-solid" class="h-5 w-5" />
                  </span>
                  <span v-else>
                    <Icon name="heroicons:chevron-down-solid" class="h-5 w-5" />
                  </span>
                </button>
              </td>
            </tr>
            <!-- Individual feature rows -->
            <template v-if="expandedGroups.includes(group.name)">
              <tr v-for="feature in group.features" :key="feature.name" class="dark:bg-gray-800">
                <!-- Feature name and description -->
                <td class="p-2 border dark:border-gray-600" :style="{ width: firstColumnWidth + '%' }">
                  <div class="flex items-center space-x-2">
                    <span class="text-xl">{{ feature.icon }}</span>
                    <div>
                      <div class="font-medium dark:text-white">{{ feature.name }}</div>
                      <div v-if="feature.description" class="text-sm text-gray-500 dark:text-gray-400">{{ feature.description }}</div>
                    </div>
                  </div>
                </td>
                <!-- Feature values for each selected software -->
                <td
                  v-for="software in selectedSoftware"
                  :key="`${software.name}-${software.plan}`"
                  class="p-2 border dark:border-gray-600 text-center"
                  :style="{ width: remainingColumnWidth + '%' }"
                >
                  <div class="flex flex-col items-center">
                    <!-- Check mark for positive values -->
                    <div v-if="getFeatureValue(software.name, software.plan, feature.name) === '✅'" class="text-green-500 dark:text-green-400">
                      <Icon name="heroicons:check-circle-solid" class="h-5 w-5 mx-auto" />
                    </div>
                    <!-- Cross mark for negative values -->
                    <div v-else-if="getFeatureValue(software.name, software.plan, feature.name) === '❌'" class="text-red-500 dark:text-red-400">
                      <Icon name="heroicons:x-circle-solid" class="h-5 w-5 mx-auto" />
                    </div>
                    <!-- Custom handling for ✅ with additional info -->
                    <div v-else-if="getFeatureValue(software.name, software.plan, feature.name).includes('✅ (')" class="text-green-500 dark:text-green-400">
                      <Icon name="heroicons:check-circle-solid" class="h-5 w-5 mx-auto" />
                      <div class="text-xs text-gray-400 dark:text-gray-300 mt-1">
                        {{ getFeatureValue(software.name, software.plan, feature.name).replace('✅', '').trim() }}
                      </div>
                    </div>
                    <!-- Text value for other cases -->
                    <div v-else>
                      <span class="text-gray-500 dark:text-gray-300">{{ getFeatureValue(software.name, software.plan, feature.name) }}</span>
                      <div v-if="getAdditionalInfo(software.name, software.plan, feature.name)" class="text-xs text-gray-400 dark:text-gray-300 mt-1">
                        {{ getAdditionalInfo(software.name, software.plan, feature.name) }}
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script setup>
import { ref, onMounted, onUnmounted, computed } from 'vue'

// Define props for title, description, and show/hide options
const props = defineProps({
  title: {
    type: String,
    default: ''
  },
  description: {
    type: String,
    default: ''
  },
  showHeader: {
    type: Boolean,
    default: true
  },
  showSoftwareSelection: {
    type: Boolean,
    default: true
  },
  preSelectedPlans: {
  type: Array,
  default: () => []
  },
  closeAllSectionsExceptFirst: {
    type: Boolean,
    default: false
  }
})


// Computed properties for title and description
const computedTitle = computed(() => 
  props.title || "Project Management Software Platform Comparison"
)

const computedDescription = computed(() => 
  props.description || "Compare any plan from the leading project management software providers to find the best project management software for your organization."
)


const selectedSoftware = ref([])
const softwareOptions = ref([])
const featureGroups = ref([])
const expandedGroups = ref([])
const getSoftwareLogo = ref((name) => '')
const expandedSoftware = ref(null)
const selectedPlans = ref({})
const isDropdownUp = ref(false)
const softwareGrid = ref(null)

const dropdownWidth = ref('auto')
const planButton = ref(null)

const measureWidth = () => {
  if (planButton.value) {
    dropdownWidth.value = `${planButton.value.offsetWidth}px`
  }
}

// Simple CSV parser function
const parseCSV = (csv) => {
  const lines = csv.split('\n')
  return lines.map(line => {
    // Handle cases where fields might contain commas
    const fields = []
    let field = ''
    let inQuotes = false
    for (let i = 0; i < line.length; i++) {
      if (line[i] === '"') {
        inQuotes = !inQuotes
      } else if (line[i] === ',' && !inQuotes) {
        fields.push(field.trim())
        field = ''
      } else {
        field += line[i]
      }
    }
    fields.push(field.trim())
    return fields
  }).filter(row => row.length > 1 || row[0] !== '') // Remove empty rows
}

// Initialize selected plans
const initializeSelectedPlans = () => {
  props.preSelectedPlans.forEach(plan => {
    const [softwareName, planName] = plan.split(' - ')
    if (!selectedPlans.value[softwareName]) {
      selectedPlans.value[softwareName] = []
    }
    if (!selectedPlans.value[softwareName].includes(planName)) {
      selectedPlans.value[softwareName].push(planName)
      selectedSoftware.value.push({ name: softwareName, plan: planName })
    }
  })
}

const fetchData = async () => {
  try {
    const response = await fetch('/resources/pmplatforms.csv')
    const csvData = await response.text()
    const data = parseCSV(csvData)
    
    // Process the CSV data
    const headers = data[0].filter((_, index) => index > 3) // Skip the first 4 columns
    const plans = data[1].filter((_, index) => index > 3) // Get plan names from the second row

    softwareOptions.value = headers.reduce((acc, header, index) => {
      const [name] = header.split(' - ')
      const existingSoftware = acc.find(s => s.name === name)
      if (existingSoftware) {
        existingSoftware.plans.push(plans[index])
      } else {
        acc.push({ 
          name: name,
          plans: [plans[index]]
        })
      }
      return acc
    }, [])

    // Initialize selectedPlans
    softwareOptions.value.forEach(software => {
      if (!selectedPlans.value[software.name]) {
        selectedPlans.value[software.name] = []
      }
    })

    // Initialize pre-selected plans
    initializeSelectedPlans()

    // Extract logos
    const logos = data[2].reduce((acc, value, index) => {
      if (index > 3) { // Skip the first 4 columns
        const [name] = headers[index - 4].split(' - ')
        acc[name] = value
      }
      return acc
    }, {})

    // Process feature rows
    const featureRows = data.slice(3) // Skip the first 3 rows
    const groupedFeatures = featureRows.reduce((acc, row) => {
      const category = row[0]
      if (!acc[category]) {
        acc[category] = []
      }
      acc[category].push({
        name: row[1],
        icon: row[2],
        description: row[3],
        values: headers.reduce((valAcc, header, index) => {
          const [name] = header.split(' - ')
          valAcc[`${name} - ${plans[index]}`] = row[index + 4]
          return valAcc
        }, {})
      })
      return acc
    }, {})

    featureGroups.value = Object.entries(groupedFeatures).map(([name, features]) => ({ name, features }))
    
    // Initialize expanded groups based on the prop
    initializeExpandedGroups()

    // Update getSoftwareLogo function
    getSoftwareLogo.value = (name) => logos[name] || ''

  } catch (error) {
    console.error('Error fetching or parsing CSV:', error)
  }
}

// Watch for changes in preSelectedPlans
watch(() => props.preSelectedPlans, (newPlans) => {
  // Clear existing selections
  selectedSoftware.value = []
  Object.keys(selectedPlans.value).forEach(key => {
    selectedPlans.value[key] = []
  })

  // Re-initialize with new plans
  initializeSelectedPlans()
}, { deep: true })

onMounted(() => {
  fetchData()
  measureWidth()
  window.addEventListener('resize', measureWidth)
  document.addEventListener('click', handleOutsideClick)
})

onUnmounted(() => {
  window.removeEventListener('resize', measureWidth)
  document.removeEventListener('click', handleOutsideClick)
})

const handleOutsideClick = (event) => {
  if (expandedSoftware.value !== null) {
    expandedSoftware.value = null
  }
}

const toggleExpand = (softwareName, event) => {
  event.stopPropagation()
  if (expandedSoftware.value === softwareName) {
    expandedSoftware.value = null
  } else {
    expandedSoftware.value = softwareName
    checkDropdownDirection(event.target)
  }
}

const checkDropdownDirection = (target) => {
  const cardRect = target.getBoundingClientRect()
  const gridRect = softwareGrid.value.getBoundingClientRect()
  const rowHeight = cardRect.height
  const gridHeight = gridRect.height
  const rows = Math.floor(gridHeight / rowHeight)
  const cardIndex = Array.from(softwareGrid.value.children).indexOf(target.parentElement)

  isDropdownUp.value = cardIndex >= (rows - 1) * 4
}

const getSelectedPlansCount = (softwareName) => {
  return selectedPlans.value[softwareName]?.length || 0
}

const updateSelectedSoftware = (softwareName, plan) => {
  const existingIndex = selectedSoftware.value.findIndex(s => s.name === softwareName && s.plan === plan)
  if (existingIndex !== -1) {
    selectedSoftware.value.splice(existingIndex, 1)
  } else if (selectedSoftware.value.length < 6) {
    selectedSoftware.value.push({ name: softwareName, plan: plan })
  } else {
    // Remove the checkbox selection if we're at the limit
    const index = selectedPlans.value[softwareName].indexOf(plan)
    if (index !== -1) {
      selectedPlans.value[softwareName].splice(index, 1)
    }
    alert('You can only select up to 6 plans for comparison.')
  }
}

// Initialize expanded groups
const initializeExpandedGroups = () => {
  if (props.closeAllSectionsExceptFirst) {
    expandedGroups.value = featureGroups.value.length > 0 ? [featureGroups.value[0].name] : []
  } else {
    expandedGroups.value = featureGroups.value.map(group => group.name)
  }
}
const toggleGroup = (groupName) => {
  const index = expandedGroups.value.indexOf(groupName)
  if (index !== -1) {
    expandedGroups.value.splice(index, 1)
  } else {
    expandedGroups.value.push(groupName)
  }
}

const getFeatureValue = (softwareName, plan, featureName) => {
  const feature = featureGroups.value
    .flatMap(group => group.features)
    .find(f => f.name === featureName)
  if (!feature) return 'N/A'
  
  const value = feature.values[`${softwareName} - ${plan}`].trim()  // Trim the value
  console.log(`Value for ${softwareName} - ${plan} - ${featureName}: ${value}`)
  if (value === '✅') return '✅'  // Check for exact match after trimming
  if (value === '❌') return '❌'  // Check for exact match after trimming
  return value
}

const getAdditionalInfo = (softwareName, plan, featureName) => {
  const feature = featureGroups.value
    .flatMap(group => group.features)
    .find(f => f.name === featureName)
  if (!feature) return null
  
  const value = feature.values[`${softwareName} - ${plan}`]
  if (value.includes('✅')) {
    const match = value.match(/\((.+)\)/)
    return match ? match[1] : null
  }
  return null
}

// Computed properties to calculate column widths
const firstColumnWidth = 50
const remainingColumnWidth = computed(() => {
  const remainingWidth = 50
  return selectedSoftware.value.length ? remainingWidth / selectedSoftware.value.length : remainingWidth
})

const selectedPlansCount = computed(() => {
  return Object.values(selectedPlans.value).reduce((total, plans) => total + plans.length, 0)
})
</script>



<!-- 
// Example usage
<ComparePlatform
      title="Pre-selected Comparison"     
      description="Compare our pre-selected plans."
      :showHeader="false"
      :showSoftwareSelection="false"
      :preSelectedPlans="['Blue - Standard', 'Basecamp - Standard', 'Basecamp - Pro']"
    />

    -->
