<template>
  <div class="bg-white dark:bg-gray-900">
    <div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
      <div 
        class="card-hover-effect relative isolate overflow-hidden bg-gray-900 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0 dark:border-white dark:border-[10px]"
        @mousemove="handleMouseMove"
        @mouseleave="handleMouseLeave"
      >
        <svg viewBox="0 0 1024 1024" class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0" aria-hidden="true">
          <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
          <defs>
            <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
              <stop stop-color="#00a0d2" />
              <stop offset="1" stop-color="#00a0d2" />
            </radialGradient>
          </defs>
        </svg>
        <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
          <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">{{ title }}</h2>
          <p class="mt-6 text-lg leading-8 text-gray-300">{{ description }}</p>
          <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
            <NuxtLink :href="buttonLink" target="blank" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white transition duration-300 ease-in-out hover:-translate-y-1">
              {{ buttonText }} <span aria-hidden="true">→</span>
            </NuxtLink>
          </div>
        </div>
        <div class="relative mt-16 h-80 lg:mt-8">
          <nuxt-img
            class="absolute left-0 top-0 w-[57rem] max-w-none rounded-md bg-white/5 ring-1 ring-white/10"
            :src="imageSrc"
            :alt="imageAlt"
            sizes="xs:100vw sm:75vw md:50vw lg:35vw xl:35vw xxl:30vw 2xl:30vw"
            format="webp"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Boost your productivity. Start using Blue today.'
    },
    description: {
      type: String,
      default: 'Blue organizes work, ensuring teams know what to do, how to do it — and why it matters.'
    },
    buttonText: {
      type: String,
      default: 'Get started'
    },
    buttonLink: {
      type: String,
      default: 'https://app.blue.cc'
    },
    imageSrc: {
      type: String,
      default: '/product/dark-cta-screenshot.png'
    },
    imageAlt: {
      type: String,
      default: 'App screenshot'
    }
  },
  
  methods: {
    handleMouseMove(e) {
      const card = e.currentTarget;
      const rect = card.getBoundingClientRect();
      const x = e.clientX - rect.left;
      const y = e.clientY - rect.top;
      
      card.style.setProperty('--mouse-x', `${x}px`);
      card.style.setProperty('--mouse-y', `${y}px`);
    },
    
    handleMouseLeave(e) {
      const card = e.currentTarget;
      card.style.setProperty('--mouse-x', '0px');
      card.style.setProperty('--mouse-y', '0px');
    }
  }
}
</script>

<style scoped>
.card-hover-effect {
  position: relative;
  overflow: hidden;
}

.card-hover-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.07),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 0;
}

.card-hover-effect:hover::before {
  opacity: 1;
}
</style>

/*
Example usage:

<CtaDark
  title="Manage Your Real Estate Projects with Ease"
  description="Our software helps you streamline property management, improve team collaboration, and accelerate project completion."
  buttonText="Try it Now"
  buttonLink="https://app.blue.cc"
  imageSrc="/product/dark-cta-screenshot.png"
  imageAlt="Real estate management screenshot"
/>
*/

