<template>
  <div class="bg-white dark:bg-gray-900 relative isolate overflow-hidden">
    <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(150%_150%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
    </svg>    
    <div class="px-6 py-12 sm:px-6 sm:py-16 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl">Boost your productivity.<br />Start using Blue today.</h2>
        <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-600 dark:text-gray-300">Blue organizes work so teams know what to do, <br>how to do it — and why it matters.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="https://app.blue.cc" target="blank" class="rounded-md bg-brand-blue px-3.5 py-2.5 text font-semibold text-white shadow-sm hover:bg-brand-blue focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-blue transition duration-300 ease-in-out hover:-translate-y-1">Get started <span aria-hidden="true">→</span></a>
        </div>
      </div>
    </div>
  </div>
</template>
