<template>
  <div class="bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl sm:text-center">
        <p class="text-base font-semibold leading-7 text-white">{{ titleNumber }}</p>
        <h2 class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">{{ titleText }}</h2>
        <p class="mt-6 text-lg leading-8 text-gray-300">{{ descriptionText }}</p>
      </div>
    </div>
    <div class="relative overflow-hidden pt-16">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <NuxtImg format="webp" :src="screenshotSrc" loading="lazy" alt="App screenshot" class="mb-[-12%] rounded-xl shadow-2xl ring-1 ring-white/10" width="2432" height="1442" />
        <div class="relative" aria-hidden="true">
          <div class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-gray-900 pt-[30%]" />
        </div>
      </div>
    </div>
    <div class="mx-auto mt-16 max-w-7xl px-6 sm:mt-20 md:mt-24 lg:px-8">
      <dl class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 text-base leading-7 text-gray-300 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
        <div v-for="feature in features" :key="feature.name" class="relative pl-9">
          <dt class="inline font-semibold text-white">
            <Icon :name="feature.icon" class="absolute left-1 top-1 h-5 w-5 text-white" aria-hidden="true" />
            {{ feature.name }}
          </dt>
          {{ ' ' }}
          <dd>{{ feature.description }}</dd>
        </div>
      </dl>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  titleNumber: {
    type: String,
    default: '#3'
  },
  titleText: {
    type: String,
    default: 'Blue is flexible.'
  },
  descriptionText: {
    type: String,
    default: 'Your work platform should adapt to your work processes, not the other way around. Forget "best practices" — you\'re free to work the way that works for you.'
  },
  screenshotSrc: {
    type: String,
    default: '/product/dark-cta-screenshot.png'
  },
  features: {
    type: Array,
    default: () => [
      {
        name: 'Stay Different.',
        description: 'Your processes are what make you unique. With Blue, you can keep everything in place.',
        icon: 'heroicons:finger-print-solid',
      },
      {
        name: 'Start in a snap.',
        description: 'Get started in minutes, without any complex reengineering of how you work.',
        icon: 'heroicons:rocket-launch-solid',
      },
      {
        name: 'Land and expand.',
        description: 'Start with one small use case and watch your teams grow from there.',
        icon: 'heroicons:arrow-path-solid',
      }
    ]
  }
})
</script>

<!--
<LazyFeatureCenterDark
  titleNumber="#3"
  titleText="Discover a New Way to Work"
  descriptionText="Our platform makes teamwork seamless and more efficient."
  screenshotSrc="/product/dark-cta-screenshot.png"
  :features="[
    { name: 'Custom Feature 1', description: 'Custom description 1', icon: 'heroicons:finger-print-solid' },
    { name: 'Custom Feature 2', description: 'Custom description 2', icon: 'heroicons:finger-print-solid' },
    { name: 'Custom Feature 3', description: 'Custom description 3', icon: 'heroicons:finger-print-solid' }
  ]"
/>
-->
