<template>
  <div class="bg-white dark:bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl sm:text-center">
        <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl">{{ title }}</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">{{ description }}</p>
      </div>
    </div>
    <div class="relative overflow-hidden pt-16">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="-m-2 rounded-xl bg-gray-900/5 dark:bg-gray-800/5 p-2 ring-1 ring-inset ring-gray-900/10 dark:ring-white lg:-m-4 lg:rounded-2xl lg:p-4">
          <NuxtImg 
            :format="'webp'" 
            :loading="'lazy'" 
            :src="imageSrc" 
            :alt="imageAlt" 
            class="w-[76rem] rounded-md shadow-2xl ring-1 ring-gray-900/10 dark:ring-gray-800" 
            :width="imageWidth" 
            :height="imageHeight" 
          />
        </div>
        <div class="relative" aria-hidden="true">
          <div class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-white dark:from-gray-900 pt-[15%]" />
        </div>
      </div>
    </div>
    <div class="mx-auto mt-2 max-w-7xl px-6 sm:mt-20 md:mt-24 lg:px-8">
      <dl class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 text-base leading-7 text-gray-600 dark:text-gray-300 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
        <div v-for="feature in features" :key="feature.name" class="relative pl-9">
          <dt class="inline font-semibold text-gray-900 dark:text-gray-100">
            <Icon :name="feature.icon" class="absolute left-1 top-1 h-5 w-5 text-brand-blue dark:text-white" aria-hidden="true" />
            {{ feature.name }}
          </dt>
          {{ ' ' }}
          <dd>{{ feature.description }}</dd>
        </div>
      </dl>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  title: {
    type: String,
    required: true
  },
  description: {
    type: String,
    required: true
  },
  imageSrc: {
    type: String,
    required: true
  },
  imageAlt: {
    type: String,
    required: true
  },
  imageWidth: {
    type: Number,
    required: true
  },
  imageHeight: {
    type: Number,
    required: true
  },
  features: {
    type: Array,
    required: true
  }
});
</script>
