<template>
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <a v-for="post in posts" :key="post.id" :href="post.href" class="flex flex-col items-start justify-between group">
          <article class="w-full">
            <div class="relative w-full">
              <img :src="post.imageUrl" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]" />
              <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10" />
            </div>
            <div class="max-w-xl">
              <div class="relative">
                <h3 class="mt-3 text-lg text-center font-semibold leading-6 text-gray-900 group-hover:text-brand-blue group-hover:underline">
                  {{ post.title }}
                </h3>
                <p class="mt-5 line-clamp-3 text-center leading-6 text-gray-600">{{ post.description }}</p>
              </div>
            </div>
          </article>
        </a>
      </div>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  posts: {
    type: Array,
    required: true
  }
});
</script>

/*

<FeatureGrid :posts="[
{
  id: 1,
  title: 'Keep everything organized and private with Workspaces.',
  href: '#',
  description: 'Every workspace contains all the tools you need to move work forwards and get things done.',
  imageUrl: 'https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3603&q=80',
},
{
  id: 2,
  title: 'Unlimited.',
  href: '#',
  description: 'You can create as many workspaces as you need, without any limits.',
  imageUrl: 'https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3603&q=80',
},
{
  id: 3,
  title: 'Private.',
  href: '#',
  description: 'Granular permissions ensure each person sees what they should.',
  imageUrl: 'https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3603&q=80',
},
{
  id: 4,
  title: 'Organized.',
  href: '#',
  description: 'One place for all your work. No more searching for lost items.',
  imageUrl: 'https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3603&q=80',
}
]" />

*/