<template>
  <div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <p class="text-base font-semibold leading-7 text-brand-blue">{{ subtitle }}</p>
            <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ title }}</h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">{{ description }}</p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              <div v-for="feature in features" :key="feature.name" class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <Icon :name="feature.icon" class="absolute left-1 top-1 h-5 w-5 text-brand-blue" aria-hidden="true" />
                  {{ feature.name }}
                </dt>
                {{ ' ' }}
                <dd>{{ feature.description }}</dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 w-[48rem] max-w-none sm:w-[57rem] md:-ml-4 lg:-ml-0 shadow-xl">
          <video autoplay loop muted playsinline class="w-full rounded-md shadow-2xl ring-1 ring-gray-900/10">
            <source :src="videoSrc" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  subtitle: String,
  title: String,
  description: String,
  features: Array,
  videoSrc: String,
})
</script>

/*

Example usage

<FeatureRightVideo
subtitle="#1"
title="Blue is simple to use."
description="'Simplicity is the ultimate sophistication' — all of our product decisions are made to create a platform that's simple, yet powerful."
:features="[
  {
    name: 'Faster onboarding.',
    description: 'Get your team up and running in hours, not weeks or months.',
    icon: 'heroicons:rocket-launch-solid',
  },
  {
    name: 'Less training.',
    description: 'Spend less time training and more time doing the work that counts.',
    icon: 'heroicons:academic-cap-solid',
  },
  {
    name: 'Higher adoption.',
    description: 'The right platform is half the battle. The other half is getting teams to use it.',
    icon: 'heroicons:chart-bar-solid',
  },
]"
videoSrc="/resources/search-demo.mp4"
/>

*/