<template>
  <div class="overflow-hidden bg-white dark:bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:ml-auto lg:pl-4 lg:pt-4">
          <div class="lg:max-w-lg">
            <p class="text-base font-semibold leading-7 text-brand-blue dark:text-white">{{ subtitle }}</p>
            <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl">{{ title }}</h2>
            <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">{{ description }}</p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 dark:text-gray-400 lg:max-w-none">
              <div v-for="feature in features" :key="feature.name" class="relative pl-9">
                <dt class="inline font-semibold text-gray-900 dark:text-gray-100">
                  <Icon :name="feature.icon" class="absolute left-1 top-1 h-5 w-5 text-brand-blue dark:text-white" aria-hidden="true" />
                  {{ feature.name }}
                </dt>
                {{ ' ' }}
                <dd>{{ feature.description }}</dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="flex items-start justify-end lg:order-first">
          <NuxtImg
              loading="lazy"
              :src="image.src"
              :alt="image.alt"
              class="-m-2 rounded-xl bg-gray-900/5 dark:bg-gray-800/5 p-2 ring-1 ring-inset ring-gray-900/10 dark:ring-white w-[48rem] max-w-none sm:w-[57rem] md:-ml-4 lg:-ml-0 shadow-xl"
              sizes="xs:100vw sm:75vw md:50vw lg:33vw xl:25vw xxl:20vw 2xl:50vw"
              :quality="isMobile ? 40 : 80"
            />
        </div>
      </div>
    </div>
  </div>
</template>


<script setup>
const props = defineProps({
  subtitle: String,
  title: String,
  description: String,
  features: Array,
  image: Object,
})
import { ref, computed } from 'vue'
import { useMediaQuery } from '@vueuse/core'

// Detect if the screen width is less than or equal to 640px (mobile devices)
const isMobile = useMediaQuery('(max-width: 640px)')
</script>