<template>
  <footer class="bg-brand-blue dark:bg-gray-900" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 xl:grid-cols-4">
        <div class="space-y-8">
          <NuxtLink to="/">
            <NuxtImg
              class="h-7"
              src="/logo-white.svg"
              alt="Logo"
            />
          </NuxtLink>
          <p class="text-base leading-6 text-white/90">
            Our mission is to organize the world's work by building the best project and process management platform on the planet—simple, powerful, flexible, and affordable for all.
          </p>
          <p class="text-xs text-white/70">
            Designed with <span class="text-red-500 animate-pulse">&#10084;</span> across the 🌏
          </p>
          <div class="flex space-x-6">
            <a v-for="item in navigation.social" :key="item.name" :href="item.href" class="text-white/70 hover:text-white group" target="_blank">
              <span class="sr-only">{{ item.name }}</span>
              <component :is="item.icon" class="h-6 w-6" aria-hidden="true" />
              <span v-if="item.newTab" class="inline-block group-hover:-rotate-360 transition-transform duration-300 ease-in-out">
                <ArrowUpRightIcon class="h-3 w-3 ml-1 text-brand-blue align-super text-xs" />
              </span>
            </a>
          </div>
        </div>
        <div>
          <h3 class="text-sm font-semibold leading-6 text-white">Company</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li v-for="item in navigation.company" :key="item.name">
              <NuxtLink v-if="!item.newTab" :to="item.href" class="text-sm leading-6 text-white/80 hover:text-white">
                {{ item.name }}
              </NuxtLink>
              <a v-else :href="item.href" class="text-sm leading-6 text-white/80 hover:text-white group" target="_blank">
                {{ item.name }}
                <span class="inline-block group-hover:-rotate-360 transition-transform duration-300 ease-in-out">
                  <ArrowUpRightIcon class="h-3 w-3 ml-1 text-brand-blue align-super text-xs" />
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-sm font-semibold leading-6 text-white">Platform</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li v-for="item in navigation.platform" :key="item.name">
              <NuxtLink v-if="!item.newTab" :to="item.href" class="text-sm leading-6 text-white/80 hover:text-white">
                {{ item.name }}
              </NuxtLink>
              <a v-else :href="item.href" class="text-sm leading-6 text-white/80 hover:text-white group" target="_blank">
                {{ item.name }}
                <span class="inline-block group-hover:-rotate-360 transition-transform duration-300 ease-in-out">
                  <ArrowUpRightIcon class="h-3 w-3 ml-1 text-brand-blue align-super text-xs" />
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-sm font-semibold leading-6 text-white">Get Blue</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li v-for="item in navigation.getBlue" :key="item.name">
              <a :href="item.href" class="text-sm leading-6 text-white/80 hover:text-white group" target="_blank">
                {{ item.name }}
                <span class="inline-block group-hover:-rotate-360 transition-transform duration-300 ease-in-out">
                  <ArrowUpRightIcon class="h-3 w-3 ml-1 text-brand-blue align-super text-xs" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- This is the second section of the footer-->
      <div class="mt-16 grid grid-cols-2 gap-8 md:grid-cols-2 lg:grid-cols-4 xl:col-span-2 xl:mt-16">
        <div class="col-span-1">
          <h3 class="text-sm font-semibold leading-6 text-white">Features</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li v-for="item in navigation.feature" :key="item.name">
              <NuxtLink v-if="!item.newTab" :to="item.href" class="text-sm leading-6 text-white/80 hover:text-white">
                {{ item.name }}
              </NuxtLink>
              <a v-else :href="item.href" class="text-sm leading-6 text-white/80 hover:text-white group" target="_blank">
                {{ item.name }}
                <span class="inline-block group-hover:-rotate-360 transition-transform duration-300 ease-in-out">
                  <ArrowUpRightIcon class="h-3 w-3 ml-1 text-brand-blue align-super text-xs" />
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-span-1">
          <h3 class="text-sm font-semibold leading-6 text-white">Views</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li v-for="item in navigation.views" :key="item.name">
              <NuxtLink v-if="!item.newTab" :to="item.href" class="text-sm leading-6 text-white/80 hover:text-white">
                {{ item.name }}
              </NuxtLink>
              <a v-else :href="item.href" class="text-sm leading-6 text-white/80 hover:text-white group" target="_blank">
                {{ item.name }}
                <span class="inline-block group-hover:-rotate-360 transition-transform duration-300 ease-in-out">
                  <ArrowUpRightIcon class="h-3 w-3 ml-1 text-brand-blue align-super text-xs" />
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-span-1">
          <h3 class="text-sm font-semibold leading-6 text-white">Resources</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li v-for="item in navigation.resources" :key="item.name">
              <NuxtLink v-if="!item.newTab" :to="item.href" class="text-sm leading-6 text-white/80 hover:text-white">
                {{ item.name }}
              </NuxtLink>
              <a v-else :href="item.href" class="text-sm leading-6 text-white/80 hover:text-white group" target="_blank">
                {{ item.name }}
                <span class="inline-block group-hover:-rotate-360 transition-transform duration-300 ease-in-out">
                  <ArrowUpRightIcon class="h-3 w-3 ml-1 text-brand-blue align-super text-xs" />
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-span-1">
          <h3 class="text-sm font-semibold leading-6 text-white">Help</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li v-for="item in navigation.help" :key="item.name">
              <NuxtLink v-if="!item.newTab" :to="item.href" class="text-sm leading-6 text-white/80 hover:text-white">
                {{ item.name }}
              </NuxtLink>
              <a v-else :href="item.href" class="text-sm leading-6 text-white/80 hover:text-white group" target="_blank">
                {{ item.name }}
                <span class="inline-block group-hover:-rotate-360 transition-transform duration-300 ease-in-out">
                  <ArrowUpRightIcon class="h-3 w-3 ml-1 text-brand-blue align-super text-xs" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Footer bottom-->
      <div class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24">
        <div class="flex flex-col sm:flex-row justify-between items-center space-y-4 sm:space-y-0">
          <p class="text-sm leading-6 text-white/80 sm:leading-5">&copy; 2025 Blue — 
            <NuxtLink to="https://www.youtube.com/watch?v=dQw4w9WgXcQ&t=43s" target="_blank" rel="noopener noreferrer" class="hover:text-white">
              Teamwork, Made Simple.™
            </NuxtLink>
          </p>
          <div class="flex justify-center flex-grow relative">
            <a href="https://status.blue.cc" target="blank" class="text-sm leading-6 text-white/80 hover:text-white flex items-center sm:leading-5">
              <span class="relative flex h-3 w-3 mr-2">
                <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-white opacity-75"></span>
                <span class="relative inline-flex rounded-full h-3 w-3 bg-white"></span>
              </span>
              System Status
            </a>
          </div>
          <div class="flex space-x-4">
            <NuxtLink to="/legal/terms" class="text-sm leading-6 text-white/80 hover:text-white sm:leading-5">Terms</NuxtLink>
            <NuxtLink to="/legal/privacy" class="text-sm leading-6 text-white/80 hover:text-white sm:leading-5">Privacy</NuxtLink>
            <NuxtLink to="/platform/security" class="text-sm leading-6 text-white/80 hover:text-white sm:leading-5">Security</NuxtLink>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>



<script setup>
import { defineComponent, h } from 'vue'
import { ArrowUpRightIcon } from '@heroicons/vue/20/solid'

const navigation = {
  company: [
    { name: 'About Us', href: '/about', newTab: false },
    { name: 'Company News', href:'/resources/news' },
    { name: 'Pricing', href: '/pricing', newTab: false },
    { name: 'Partner Program', href: '/partners', newTab: false },
  ],
  platform: [
    { name: 'Overview', href: '/platform/', newTab: false },
    { name: 'Changelog', href: '/platform/changelog', newTab: false },
    { name: 'Roadmap', href: '/platform/roadmap', newTab: false },
    { name: 'Integrations', href: '/platform/integrations', newTab: false },
  ],
  help: [
    { name: 'Support Center', href: '/support', newTab: false },
    { name: 'Documentation', href: '/docs', newTab: false },
    { name: 'API Documentation', href: '/docs/integrations/api', newTab: false },
    { name: 'Community', href: 'https://ask.blue.cc', newTab: true },
    { name: 'Webinars', href: 'https://www.youtube.com/playlist?list=PLZaOXoUgVUBC1dy0aTRYkkvor7RGoe2dd', newTab: true },
    { name: 'Videos', href: 'https://www.youtube.com/@HeyBlueTeam', newTab: true },
    { name: 'Email Support', href: 'mailto:help@blue.cc', newTab: true },
    
  ],
  getBlue: [
    { name: 'Desktop App', href: 'https://documentation.blue.cc/start-guide/download-apps#desktop-app', newTab: true },
    { name: 'iOS', href: 'https://apps.apple.com/us/app/blue-teamwork/id6443870775', newTab: true },
    { name: 'Android', href: 'https://play.google.com/store/apps/details?id=io.bloo.android&pli=1', newTab: true },
    { name: 'PWA', href: 'https://documentation.blue.cc/start-guide/download-apps#progressive-web-application-pwa', newTab: true },
  ],
  feature: [
    { name: 'Records', href: '/platform/records' },
    { name: 'Custom Fields', href: '/platform/custom-fields' },
    { name: 'Automations', href: '/platform/project-management-automation' },
    { name: 'Files', href: '/platform/file-management' },
    { name: 'Chat', href: '/platform/chat' },
    { name: 'Wiki & Docs', href: '/platform/wiki-docs' },
    { name: 'User Permissions', href: '/platform/user-permissions' },
    { name: 'Forms', href: '/platform/forms' },
    { name: 'Artificial Intelligence', href: '/platform/ai' },
  ],
  views: [
    { name: 'Kanban Boards', href: '/platform/kanban-boards' },
    { name: 'Calendars', href: '/platform/calendar' },
    { name: 'Databases', href: '/platform/database' },
    { name: 'Maps', href: '/platform/map' },
    { name: 'Timelines', href: '/platform/timeline-gantt-charts' },
    { name: 'Lists', href: '/platform/list' },
    { name: 'Dashboards', href: '/platform/dashboards' },
    { name: 'Audit Trails', href: '/platform/activity-audit-trails' },
  ],
  resources: [
  { name: 'Resource Center', href: '/resources' },  
  { name: 'Insights', href: '/resources/insights' },
  { name: 'Tips & Tricks', href: '/resources/tips-tricks' },
  { name: 'Product Updates', href: '/resources/product-updates' },
  { name: 'Project Management', href: '/resources/project-management' },
  { name: 'Modern Work Practices', href: '/resources/modern-work-practices' },
  { name: 'Basecamp Alternative', href: '/alternatives/basecamp-alternative' },
  { name: 'Trello Alternative', href: '/alternatives/trello-alternative' },
  { name: 'Asana Alternative', href: '/alternatives/asana-alternative' },
  { name: 'ClickUp Alternative', href: '/alternatives/clickup-alternative' },
  ],
}
</script>

<style scoped>
/* Rotate animation on hover */
.group-hover\:-rotate-360 {
  transition: transform 0.3s ease-in-out;
}

.group:hover .group-hover\:-rotate-360 {
  transform: rotate(-360deg);
}
</style>
