<template>
  <div class="relative isolate overflow-hidden bg-white dark:bg-gray-900">
    <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
    </svg>
    <div class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-40">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:pt-8">
        <div class="mb-2 hidden sm:block">
          <div class="inline-block relative group">
           
            <div class="absolute -inset-[2px] bg-gradient-to-r from-brand-blue-400 via-white/50 to-brand-blue-400 rounded-full blur-sm opacity-50 group-hover:opacity-70 transition duration-500 animate-gradient"></div>
            
          
            <div class="relative inline-block bg-gray-500/30 backdrop-blur-md px-4 py-2 rounded-full border border-white/20 shadow-lg">
              <a href="/platform/white-label" class="text-white text-sm font-medium drop-shadow-sm group-hover:text-blue-50 transition-colors">
                White Label Coming Soon
              </a>
            </div>
          </div>
        </div>
        <h1 class="mt-8 text-4xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-6xl">
  <!-- This span will be visible on medium screens and above -->
  <span class="hidden md:inline-block">
    A better way to manage 
    <vue-typewriter-effect
      :strings="['projects', 'processes', 'customers', 'leads', 'records', 'tasks', 'teams', 'workflows', 'operations', 'marketing', 'milestones', 'deliverables', 'expectations', 'deadlines', 'work']"
      :options="{
        autoStart: true,
        loop: false,
        delay: 100,
        deleteSpeed: 50,
        pauseFor: 1500,
      }"
    />
  </span>
  <!-- This span will be visible on small screens only (below md) -->
  <span class="inline-block md:hidden">
    A better way to manage projects
  </span>
</h1>



        <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">{{ descriptionText }}</p>
        <div class="mt-10 flex flex-col items-start gap-x-6">
          <a :href="buttonLink" class="rounded-md bg-brand-blue px-3.5 py-2.5 text font-semibold text-white shadow-sm hover:bg-blue-brand focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition duration-300 ease-in-out hover:-translate-y-1">{{ buttonText }} <span aria-hidden="true">→</span></a>
          <p class="mt-2 text-xs text-gray-400 dark:text-gray-500">{{ platformText }} <span class="text-red-500 animate-pulse">{{ heartEmoji }}</span></p>
        </div>
        <div class="sm:mt-32 md:mt-24 flex items-center flex-col">
          <div class="flex items-center">
            <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 mr-1 hover:animate-spin" />
            <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 mr-1 hover:animate-spin" />
            <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 mr-1 hover:animate-spin" />
            <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 mr-1 hover:animate-spin" />
            <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 mr-1 hover:animate-spin" />
          </div>
          <span class="text-sm text-gray-400 dark:text-gray-500 mt-2">{{ ratingText }}</span>
          
          <!-- Added G2 Badges -->
          <div class="flex items-center gap-8 mt-6">
            <NuxtImg 
              src="/high-performer-g2.svg" 
              alt="G2 High Performer Badge" 
              class="h-32 w-auto hover:scale-105 transition-transform duration-300"
            />
            <NuxtImg 
              src="/momentum-leader-g2.svg" 
              alt="G2 Momentum Leader Badge" 
              class="h-32 w-auto hover:scale-105 transition-transform duration-300"
            />
          </div>
        </div>
      </div>
      <div class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32">
        <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
          <div class="-m-2 rounded-xl bg-gray-900/5 dark:bg-gray-800/5 p-2 ring-1 ring-inset ring-gray-900/10 dark:ring-white dark:bg-white lg:-m-4 lg:rounded-2xl lg:p-4">
            <NuxtImg
              :src="screenshotSrc"
              alt="App screenshot"
              class="w-[76rem] rounded-md shadow-2xl ring-1 ring-gray-900/10 dark:ring-gray-800"
              sizes="xs:100vw sm:75vw md:50vw lg:35vw xl:35vw xxl:50vw 2xl:75vw"
              :quality="isMobile ? 40 : 100"
              format="webp"
              preload
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import { useMediaQuery } from '@vueuse/core'
import VueTypewriterEffect from 'vue-typewriter-effect'

const props = defineProps({
  headingText: {
    type: String,
    default: 'A better way to manage projects.'
  },
  descriptionText: {
    type: String,
    default: 'The project management system designed to be simple for any team, powerful for any challenge, and flexible for any industry.'
  },
  buttonText: {
    type: String,
    default: 'Try Blue for Free'
  },
  buttonLink: {
    type: String,
    default: 'https://app.blue.cc'
  },
  platformText: {
    type: String,
    default: 'The platform your team will'
  },
  heartEmoji: {
    type: String,
    default: '❤️'
  },
  ratingText: {
    type: String,
    default: 'Average Rating on AlternativeTo'
  },
  screenshotSrc: {
    type: String,
    default: '/product/project-management-full-interface.png'
  }
})

//Detect emoji and change it to a red colour
const processedHeadingText = computed(() => {
  return props.headingText.replace('❤️', '<span class="text-red-500 animate-pulse">❤️</span>');
});

// Detect if the screen width is less than or equal to 640px (mobile devices)
const isMobile = useMediaQuery('(max-width: 640px)')
</script>
<style>
/* Custom styles for the typewriter text and cursor */
.vue-typewriter-effect .typewriter-effect .typewriter-text,
.vue-typewriter-effect .typewriter-effect .typewriter-cursor {
  color: inherit !important;
}

/* Ensure text remains visible during typing */
.vue-typewriter-effect .typewriter-effect .typewriter-text {
  opacity: 1 !important;
}

/* Specific styling for the Typewriter cursor */
.Typewriter__cursor {
  color: #00a0d2 !important;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient-shift 3s ease infinite;
  background-size: 200% 200%;
}
</style>
