<template>
  <div class="bg-white dark:bg-gray-900">
    <div class="relative isolate pt-14">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#00a0d2] to-[#00a0d2] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" />
      </div>
      <div class="py-24 sm:py-32 lg:pb-40">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl">{{ title }}</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">{{ subtitle }}</p>
          </div>
          <div class="mt-16 flow-root sm:mt-24">
            <div class="-m-2 rounded-xl bg-gray-900/5 dark:bg-gray-800/5 p-2 ring-1 ring-inset ring-gray-900/10 dark:ring-white lg:-m-4 lg:rounded-2xl lg:p-4">
              <nuxt-img 
                :src="image.src" 
                :alt="image.alt" 
                class="rounded-md shadow-2xl ring-1 ring-gray-900/10 dark:ring-gray-800"
                sizes="xs:100vw sm:75vw md:50vw lg:35vw xl:35vw xxl:50vw 2xl:50vw"
                :quality="isMobile ? 40 : 80"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#00a0d2] to-[#00a0d2] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DynamicComponent',
  props: {
    title: {
      type: String,
      default: 'Data to enrich your online business'
    },
    subtitle: {
      type: String,
      default: 'Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.'
    },
    primaryButton: {
      type: Object,
      default: () => ({
        text: 'Get started',
        link: '#'
      })
    },
    secondaryButton: {
      type: Object,
      default: () => ({
        text: 'Learn more',
        link: '#'
      })
    },
    image: {
      type: Object,
      default: () => ({
        src: 'https://tailwindui.com/img/component-images/project-app-screenshot.png',
        alt: 'App screenshot'
      })
    }
  }
}
import { ref, computed } from 'vue'
import { useMediaQuery } from '@vueuse/core'

// Detect if the screen width is less than or equal to 640px (mobile devices)
const isMobile = useMediaQuery('(max-width: 640px)')
</script>
