<template>
  <div class="relative isolate overflow-hidden bg-white dark:bg-gray-900">
    <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
    </svg>
    <div class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-40">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:pt-8">
        <h1 class="mt-10 text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl">{{ title }}</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">{{ subtitle }}</p>
        <div v-if="buttonText && buttonLink" class="mt-10 flex flex-col items-start gap-x-6">
          <a :href="buttonLink" class="rounded-md bg-brand-blue px-3.5 py-2.5 text font-semibold text-white shadow-sm hover:bg-blue-brand focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition duration-300 ease-in-out hover:-translate-y-1">{{ buttonText }} <span aria-hidden="true">→</span></a>
        </div>
      </div>
      <div class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32">
        <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
          <div class="-m-2 rounded-xl bg-gray-900/5 dark:bg-gray-800/5 p-2 ring-1 ring-inset ring-gray-900/10 dark:ring-white lg:-m-4 lg:rounded-2xl lg:p-4">
            <video autoplay loop muted playsinline class="w-[76rem] rounded-md shadow-2xl ring-1 ring-gray-900/10 dark:ring-gray-800">
              <source :src="videoSrc" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
defineProps({
  title: {
    type: String,
    required: true
  },
  subtitle: {
    type: String,
    required: true
  },
  buttonText: {
    type: String,
    required: false
  },
  buttonLink: {
    type: String,
    required: false
  },
  videoSrc: {
    type: String,
    required: true
  }
});
</script>
