<template>
  <div class="bg-white dark:bg-gray-900 py-12 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <p class="text-center text-xl leading-8 text-gray-500 dark:text-gray-300">{{ title }}</p>
      <p class="text-center text-xl font-semibold leading-8 text-gray-500 dark:text-gray-300">{{ subtitle }}</p>
      <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
        <template v-for="(logo, index) in logos" :key="index">
          <div :class="['col-span-2 lg:col-span-1', { 'dark-mode-logo': isDarkMode }]">
            <NuxtImg 
              loading="lazy" 
              class="max-h-12 w-full object-contain" 
              :src="logo.url" 
              :alt="logo.alt" 
              width="158" 
              height="48" 
            />
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script setup>
const colorMode = useColorMode()

const props = defineProps({
  title: {
    type: String,
    required: true,
  },
  subtitle: {
    type: String,
    required: true,
  },
  logos: {
    type: Array,
    required: true,
  },
})

const isDarkMode = computed(() => colorMode.value === 'dark')
</script>

<style scoped>
.dark-mode-logo img {
  filter: brightness(0) invert(1);
}
</style>