<template>
  <header
    class="fixed w-full z-30 shadow-sm bg-white dark:bg-gray-700/80 backdrop-filter backdrop-blur-lg bg-opacity-70 dark:bg-opacity-30 border-gray-200 dark:border-gray-700"
  >
    <!-- Announcement Bar 
   <div class="w-full bg-brand-blue text-white text-sm py-2 text-center font-semibold">
      <a 
        href="/compare" 
        class="inline-flex items-center justify-center w-full text-white group"
      >
        <span>🎉 Just released: Project management software benchmarking data  🎉 </span>
        <span class="ml-2 group-hover:translate-x-1 transition-transform duration-300">→</span>
      </a>
    </div> -->
    <!-- Scroll Indicator -->
    <div class="fixed top-0 left-0 w-full h-1 z-30">
      <div
        class="h-1 bg-gradient-to-r from-blue-100 to-brand-blue"
        :style="{ width: scrollWidth + '%' }"
      ></div>
    </div>
    <nav
      class="header-container mx-auto flex max-w-8xl items-center justify-between p-3 px-4 sm:px-6 md:px-8 lg:pl-24 lg:pr-0 xl:px-16 2xl:px-32"
      aria-label="Global"
    >
      <div class="flex lg:flex-1">
        <NuxtLink to="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Blue</span>
          <img :src="logoSrc" class="h-8 w-auto" :alt="logoAlt" />
        </NuxtLink>
        &nbsp;
        <UBadge
          v-if="route.path.startsWith('/docs')"
          label="Docs"
          variant="subtle"
          class="mb-0.5"
        />
        <UBadge
          v-if="route.path.startsWith('/api-docs')"
          label="API Docs"
          variant="subtle"
          class="mb-0.5 ml-2"
        />
      </div>
      <!-- Mobile Menu Button -->
      <div class="flex lg:hidden">
        <button
          type="button"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 dark:text-gray-300"
          @click="mobileMenuOpen = !mobileMenuOpen"
        >
          <span class="sr-only">Open main menu</span>
          <Bars3Icon class="h-6 w-6" aria-hidden="true" />
        </button>
      </div>
      <!-- Desktop Menu -->
      <div class="hidden lg:flex lg:gap-x-8">
        <!-- Desktop Platform Dropdown -->
        <div
          class="relative"
          @mouseover="openDropdown('platform')"
          @mouseleave="scheduleCloseDropdown('platform')"
        >
          <button
            class="inline-flex items-center gap-x-1 text font-semibold leading-6 focus:outline-none dark:text-white"
            :class="
              route.path.startsWith('/platform')
                ? 'text-brand-blue'
                : 'text-gray-900 hover:text-brand-blue'
            "
          >
            <span>Platform</span>
            <ChevronDownIcon
              class="h-5 w-5 transition-transform duration-200 ease-in-out"
              :class="{ 'rotate-180': isOpen('platform') }"
              aria-hidden="true"
            />
          </button>

          <transition
            enter-active-class="transition ease-out duration-200"
            enter-from-class="opacity-0 translate-y-1"
            enter-to-class="opacity-100 translate-y-0"
            leave-active-class="transition ease-in duration-150"
            leave-from-class="opacity-100 translate-y-0"
            leave-to-class="opacity-0 translate-y-1"
          >
            <div
              v-if="isOpen('platform')"
              class="absolute left-1/2 z-10 mt-5 flex w-[85vw] max-w-3xl -translate-x-1/2 px-4"
              @mouseover="keepOpen('platform')"
              @mouseleave="scheduleCloseDropdown('platform')"
            >
              <div
                class="w-full shrink rounded-xl bg-white dark:bg-gray-800 p-4 text font-semibold leading-6 text-gray-900 dark:text-gray-100 shadow-lg ring-1 ring-gray-900/5 dark:ring-gray-700"
              >
                <div class="flex">
                  <!-- Key Concepts Column -->
                  <div class="w-1/2 mx-8">
                    <h3
                      class="text font-bold p-2 mb-2 text-brand-blue dark:text-white"
                    >
                      Key Concepts
                    </h3>
                    <div
                      v-for="item in platformDropdown.keyConcepts"
                      :key="item.link"
                    >
                      <NuxtLink
                        :to="item.link"
                        :class="[
                          'flex items-center p-2',
                          route.path === item.link
                            ? 'text-brand-blue'
                            : 'text-gray-900 hover:text-brand-blue dark:text-white dark:hover:text-brand-blue',
                        ]"
                        @click="closeDropdown('platform')"
                      >
                        <Icon
                          :name="item.icon"
                          class="text-brand-blue dark:text-white mr-2"
                        />
                        <span>{{ item.name }}</span>
                      </NuxtLink>
                    </div>
                  </div>

                  <!-- Views Column -->
                  <div class="w-2/5 mx-8">
                    <h3
                      class="text font-bold p-2 mb-2 text-brand-blue dark:text-white"
                    >
                      Views
                    </h3>
                    <div
                      v-for="item in platformDropdown.views"
                      :key="item.link"
                    >
                      <NuxtLink
                        :to="item.link"
                        :class="[
                          'flex items-center p-2',
                          route.path === item.link
                            ? 'text-brand-blue'
                            : 'text-gray-900 hover:text-brand-blue dark:text-white dark:hover:text-brand-blue',
                        ]"
                        @click="closeDropdown('platform')"
                      >
                        <Icon
                          :name="item.icon"
                          class="text-brand-blue dark:text-white mr-2"
                        />
                        <span>{{ item.name }}</span>
                      </NuxtLink>
                    </div>
                  </div>

                  <!-- Info Column -->
                  <div class="w-2/5 mx-8">
                    <h3
                      class="text font-bold p-2 mb-2 text-brand-blue dark:text-white"
                    >
                      Info
                    </h3>
                    <div v-for="item in platformDropdown.info" :key="item.link">
                      <NuxtLink
                        :to="item.link"
                        :class="[
                          'flex items-center p-2',
                          route.path === item.link
                            ? 'text-brand-blue'
                            : 'text-gray-900 hover:text-brand-blue dark:text-white dark:hover:text-brand-blue',
                        ]"
                        @click="closeDropdown('platform')"
                      >
                        <Icon
                          :name="item.icon"
                          class="text-brand-blue dark:text-white mr-2"
                        />
                        <span>{{ item.name }}</span>
                      </NuxtLink>
                    </div>

                    <!-- AI Callout Box -->
                    <div class="mt-6">
                      <NuxtLink
                        to="/platform/ai"
                        class="w-full"
                        @click="closeDropdown('platform')"
                      >
                        <div
                          class="rounded-lg bg-brand-blue text-white p-4 transition-all duration-300 transform hover:bg-brand-darker-blue hover:shadow-lg hover:-translate-y-1"
                        >
                          <h3 class="text-lg font-bold mb-2">
                            <Icon
                              name="heroicons:sparkles-solid"
                              class="text-white text-xl mr-1 animate-pulse"
                            />AI
                          </h3>
                          <p class="text-sm">
                            Learn how Blue leverages AI to make you more
                            efficient
                          </p>
                        </div>
                      </NuxtLink>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </transition>
        </div>
        <!-- Desktop Solutions Dropdown -->
        <div
          class="relative"
          @mouseover="openDropdown('solutions')"
          @mouseleave="scheduleCloseDropdown('solutions')"
        >
          <button
            class="inline-flex items-center gap-x-1 text font-semibold leading-6 focus:outline-none dark:text-white"
            :class="
              route.path.startsWith('/solutions')
                ? 'text-brand-blue'
                : 'text-gray-900 hover:text-brand-blue'
            "
          >
            <span>Solutions</span>
            <ChevronDownIcon
              class="h-5 w-5 transition-transform duration-200 ease-in-out"
              :class="{ 'rotate-180': isOpen('solutions') }"
              aria-hidden="true"
            />
          </button>
          <transition
            enter-active-class="transition ease-out duration-200"
            enter-from-class="opacity-0 translate-y-1"
            enter-to-class="opacity-100 translate-y-0"
            leave-active-class="transition ease-in duration-150"
            leave-from-class="opacity-100 translate-y-0"
            leave-to-class="opacity-0 translate-y-1"
          >
            <div
              v-if="isOpen('solutions')"
              class="absolute left-1/2 z-10 mt-5 flex w-[85vw] max-w-xl -translate-x-1/2 px-4"
              @mouseover="keepOpen('solutions')"
              @mouseleave="scheduleCloseDropdown('solutions')"
            >
              <div
                class="w-full shrink rounded-xl bg-white dark:bg-gray-800 p-4 text font-semibold leading-6 text-gray-900 dark:text-gray-100 shadow-lg ring-1 ring-gray-900/5 dark:ring-gray-700"
              >
                <div class="flex">
                  <div class="w-1/2 mx-8">
                    <h3
                      class="text font-bold p-2 mb-2 text-brand-blue dark:text-white"
                    >
                      Use Cases
                    </h3>
                    <div
                      v-for="item in solutionsDropdown.useCases"
                      :key="item.link"
                    >
                      <NuxtLink
                        :to="item.link"
                        :class="[
                          'flex items-center p-2',
                          route.path === item.link
                            ? 'text-brand-blue'
                            : 'text-gray-900 hover:text-brand-blue dark:text-white dark:hover:text-brand-blue',
                        ]"
                        @click="closeDropdown('solutions')"
                      >
                        <Icon
                          :name="item.icon"
                          class="text-brand-blue dark:text-white mr-2"
                        />
                        <span>{{ item.name }}</span>
                      </NuxtLink>
                    </div>
                  </div>
                  <div class="w-2/5 mx-8">
                    <h3
                      class="text font-bold p-2 mb-2 text-brand-blue dark:text-white"
                    >
                      Industries
                    </h3>
                    <div
                      v-for="item in solutionsDropdown.industries"
                      :key="item.link"
                    >
                      <NuxtLink
                        :to="item.link"
                        :class="[
                          'flex items-center p-2',
                          route.path === item.link
                            ? 'text-brand-blue'
                            : 'text-gray-900 hover:text-brand-blue dark:text-white dark:hover:text-brand-blue',
                        ]"
                        @click="closeDropdown('solutions')"
                      >
                        <Icon
                          :name="item.icon"
                          class="text-brand-blue dark:text-white mr-2"
                        />
                        <span>{{ item.name }}</span>
                      </NuxtLink>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </transition>
        </div>
        <!-- Desktop Resources Dropdown -->
        <div
          class="relative"
          @mouseover="openDropdown('resources')"
          @mouseleave="scheduleCloseDropdown('resources')"
        >
          <button
            class="inline-flex items-center gap-x-1 text font-semibold leading-6 focus:outline-none dark:text-white"
            :class="
              route.path.startsWith('/resources')
                ? 'text-brand-blue'
                : 'text-gray-900 hover:text-brand-blue dark:text-white dark:hover:text-brand-blue'
            "
          >
            <span>Resources</span>
            <ChevronDownIcon
              class="h-5 w-5 transition-transform duration-200 ease-in-out"
              :class="{ 'rotate-180': isOpen('resources') }"
              aria-hidden="true"
            />
          </button>
          <transition
            enter-active-class="transition ease-out duration-200"
            enter-from-class="opacity-0 translate-y-1"
            enter-to-class="opacity-100 translate-y-0"
            leave-active-class="transition ease-in duration-150"
            leave-from-class="opacity-100 translate-y-0"
            leave-to-class="opacity-0 translate-y-1"
          >
            <div
              v-if="isOpen('resources')"
              class="absolute left-1/2 z-10 mt-5 flex w-[90vw] max-w-6xl -translate-x-1/2 px-4"
              @mouseover="keepOpen('resources')"
              @mouseleave="scheduleCloseDropdown('resources')"
            >
              <div
                class="w-full shrink rounded-xl bg-white dark:bg-gray-800 p-4 text font-semibold leading-6 text-gray-900 dark:text-gray-100 shadow-lg ring-1 ring-gray-900/5 dark:ring-gray-700"
              >
                <div class="flex">
                  <!-- Key Resources Column -->
                  <div class="w-1/4 mx-4">
                    <h3
                      class="text font-bold p-2 mb-2 text-brand-blue dark:text-white"
                    >
                      Key Resources
                    </h3>
                    <div
                      v-for="item in resourcesDropdown.keyResources"
                      :key="item.link"
                    >
                      <NuxtLink
                        :to="item.external ? undefined : item.link"
                        :href="item.external ? item.link : undefined"
                        :target="item.external ? '_blank' : undefined"
                        :rel="item.external ? 'noopener noreferrer' : undefined"
                        :class="[
                          'flex items-center p-2',
                          route.path === item.link
                            ? 'text-brand-blue'
                            : 'text-gray-900 hover:text-brand-blue dark:text-white dark:hover:text-brand-blue',
                          item.external ? 'group' : '',
                        ]"
                        @click="closeDropdown('resources')"
                      >
                        <Icon
                          :name="item.icon"
                          class="text-brand-blue dark:text-white mr-2"
                        />
                        <span>{{ item.name }}</span>
                        <ArrowUpRightIcon
                          v-if="item.external"
                          class="h-3 w-3 ml-1 text-brand-blue dark:text-white align-super text-xs group-hover:-rotate-360 transition-transform duration-300 ease-in-out"
                        />
                      </NuxtLink>
                    </div>
                  </div>

                  <!-- By Topic Column -->
                  <div class="w-1/3 mx-4">
                    <h3
                      class="text font-bold p-2 mb-2 text-brand-blue dark:text-white"
                    >
                      Topics
                    </h3>
                    <div
                      v-for="item in resourcesDropdown.topics"
                      :key="item.link"
                    >
                      <NuxtLink
                        :to="item.link"
                        :class="[
                          'flex items-center p-2',
                          route.path === item.link
                            ? 'text-brand-blue'
                            : 'text-gray-900 hover:text-brand-blue dark:text-white dark:hover:text-brand-blue',
                        ]"
                        @click="closeDropdown('resources')"
                      >
                        <Icon
                          :name="item.icon"
                          class="text-brand-blue dark:text-white mr-2"
                        />
                        <span>{{ item.name }}</span>
                      </NuxtLink>
                    </div>
                  </div>

                  <!-- Company Column -->
                  <div class="w-1/4 mx-4">
                    <h3
                      class="text font-bold p-2 mb-2 text-brand-blue dark:text-white"
                    >
                      Company
                    </h3>
                    <div
                      v-for="item in resourcesDropdown.company"
                      :key="item.link"
                    >
                      <NuxtLink
                        :to="item.external ? undefined : item.link"
                        :href="item.external ? item.link : undefined"
                        :target="item.external ? '_blank' : undefined"
                        :rel="item.external ? 'noopener noreferrer' : undefined"
                        :class="[
                          'flex items-center p-2',
                          route.path === item.link
                            ? 'text-brand-blue'
                            : 'text-gray-900 hover:text-brand-blue dark:text-white dark:hover:text-brand-blue',
                          item.external ? 'group' : '',
                        ]"
                        @click="closeDropdown('resources')"
                      >
                        <Icon
                          :name="item.icon"
                          class="text-brand-blue dark:text-white mr-2"
                        />
                        <span>{{ item.name }}</span>
                        <ArrowUpRightIcon
                          v-if="item.external"
                          class="h-3 w-3 ml-1 text-brand-blue dark:text-white align-super text-xs group-hover:-rotate-360 transition-transform duration-300 ease-in-out"
                        />
                      </NuxtLink>
                    </div>
                  </div>

                  <!-- View All Resources Column -->
                  <div class="w-1/4 mx-4 flex items-center justify-center">
                    <NuxtLink
                      to="/resources"
                      class="w-full"
                      @click="closeDropdown('resources')"
                    >
                      <div
                        class="rounded-lg bg-brand-blue text-white p-4 transition-all duration-300 transform hover:bg-brand-darker-blue hover:shadow-lg hover:-translate-y-1"
                      >
                        <h3 class="text-lg font-bold mb-2">
                          View All Resources
                        </h3>
                        <p class="text-sm mb-4">
                          Visit our resource center for a comprehensive review
                          of all of our resources.
                        </p>
                        <span
                          class="inline-block py-2 px-4 text-center text-white bg-brand-dark-blue rounded-md"
                        >
                          Explore
                          <span aria-hidden="true" class="animate-pulse"
                            >&rarr;</span
                          >
                        </span>
                      </div>
                    </NuxtLink>
                  </div>
                </div>
              </div>
            </div>
          </transition>
        </div>

        <!-- Pricing Link -->
        <NuxtLink
          to="/pricing"
          class="text font-semibold leading-6 dark:text-white"
          :class="
            route.path === '/pricing'
              ? 'text-brand-blue dark:text-brand-blue'
              : 'text-gray-900 hover:text-brand-blue'
          "
          >Pricing</NuxtLink
        >
      

           <!-- Resellers Link 
           <NuxtLink
          to="/resellers"
          class="text font-semibold leading-6 dark:text-white"
          :class="
            route.path === '/resellers'
              ? 'text-brand-blue dark:text-brand-blue'
              : 'text-gray-900 hover:text-brand-blue'
          "
          >Resellers</NuxtLink> -->
      </div>

      <!-- Desktop CTAs -->
      <div
        class="hidden lg:flex lg:flex-1 lg:justify-end lg:items-center lg:space-x-4"
      >
        <button
          @click="openLogin"
          class="px-4 py-2 text-sm font-semibold rounded-md border border-gray-300 bg-white text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue transition duration-150 ease-in-out flex items-center"
        >
          Log In
          <span
            class="ml-2 inline-flex items-center justify-center w-5 h-5 bg-gray-200 rounded text-xs font-bold text-gray-700 border border-gray-300"
            >L</span
          >
        </button>
        <button
          @click="openSignUp"
          class="px-4 py-2 text-sm font-semibold rounded-md border border-transparent bg-brand-blue text-white hover:bg-brand-blue/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue transition duration-150 ease-in-out flex items-center"
        >
          Sign Up
          <span
            class="ml-2 inline-flex items-center justify-center w-5 h-5 bg-white rounded text-xs font-bold text-brand-blue border border-brand-blue"
            >↵</span
          >
        </button>
        <!-- Search Icon with Hover Dropdown -->
        <div class="relative group">
          <button
            @click="$emit('toggle-search')"
            class="p-1 rounded-md text-gray-700 hover:bg-gray-100 dark:hover:bg-transparent focus:outline-none transition duration-150 ease-in-out flex items-center"
          >
            <Icon
              name="heroicons:magnifying-glass-16-solid"
              class="w-6 h-6 text-gray-600 group-hover:text-brand-blue dark:text-white dark:group-hover:text-white"
            />
          </button>

          <!-- Search Dropdown -->
          <div
            class="absolute left-1/2 transform -translate-x-1/2 mt-2 w-40 bg-white border border-gray-200 rounded-md shadow-lg opacity-0 group-hover:opacity-100 group-hover:translate-y-0 translate-y-2 transition-all duration-300 ease-in-out z-10"
          >
            <div
              class="p-2 text-gray-800 text-xs flex items-center justify-between"
            >
              <span class="flex items-center space-x-0.5">
                <kbd
                  class="px-1 py-0.5 bg-gray-100 border border-gray-300 rounded"
                  >Ctrl</kbd
                >
                <kbd
                  class="px-2 py-0.5 bg-gray-100 border border-gray-300 rounded"
                  >K</kbd
                >
              </span>
              <span class="px-2">/</span>
              <span class="flex items-center space-x-0.5">
                <kbd
                  class="px-2 py-0.5 bg-gray-100 border border-gray-300 rounded"
                  >⌘</kbd
                >
                <kbd
                  class="px-2 py-0.5 bg-gray-100 border border-gray-300 rounded"
                  >K</kbd
                >
              </span>
            </div>
          </div>
        </div>

        <ClientOnly>
          <UButton
            :icon="
              isDark ? 'i-heroicons-moon-20-solid' : 'i-heroicons-sun-20-solid'
            "
            color="gray"
            variant="ghost"
            aria-label="Theme"
            @click="isDark = !isDark"
          />
          <template #fallback>
            <div class="w-8 h-8" />
          </template>
        </ClientOnly>
      </div>
    </nav>
    <!-- Mobile Menu -->
    <Dialog
      class="lg:hidden"
      @close="mobileMenuOpen = false"
      :open="mobileMenuOpen"
    >
      <div class="fixed inset-0 z-10" />
      <DialogPanel
        class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
      >
        <div class="flex items-center justify-between">
          <NuxtLink to="/" class="-m-1.5 p-1.5">
            <span class="sr-only">Blue</span>
            <img class="h-8 w-auto" src="/logo.svg" alt="" />
          </NuxtLink>
          <button
            type="button"
            class="-m-2.5 rounded-md p-2.5 text-gray-700"
            @click="mobileMenuOpen = false"
          >
            <span class="sr-only">Close menu</span>
            <XMarkIcon class="h-6 w-6" aria-hidden="true" />
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <!-- Mobile Platform Dropdown -->
              <Popover class="relative" v-slot="{ open, close }">
                <PopoverButton
                  class="-mx-3 flex items-center justify-between rounded-lg px-3 py-2 text-base font-semibold leading-7 focus:outline-none"
                  :class="
                    route.path.startsWith('/platform')
                      ? 'text-brand-blue'
                      : 'text-gray-900 hover:bg-gray-50'
                  "
                >
                  <span>Platform</span>
                  <ChevronDownIcon
                    class="h-5 w-5 transition-transform duration-200 ease-in-out"
                    :class="{ 'rotate-180': open }"
                    aria-hidden="true"
                  />
                </PopoverButton>
                <transition
                  enter-active-class="transition ease-out duration-200"
                  enter-from-class="opacity-0 translate-y-1"
                  enter-to-class="opacity-100 translate-y-0"
                  leave-active-class="transition ease-in duration-150"
                  leave-from-class="opacity-100 translate-y-0"
                  leave-to-class="opacity-0 translate-y-1"
                >
                  <PopoverPanel class="mt-2 space-y-2">
                    <template
                      v-for="(items, category) in platformDropdown"
                      :key="category"
                    >
                      <NuxtLink
                        v-for="item in items"
                        :key="item.link"
                        :to="item.link"
                        class="-mx-3 block rounded-lg px-3 py-2 text leading-7 hover:bg-gray-50 pl-6 font-semibold"
                        :class="
                          route.path === item.link
                            ? 'text-brand-blue'
                            : 'text-gray-900'
                        "
                        @click="
                          mobileMenuOpen = false;
                          close();
                        "
                      >
                        {{ item.name }}
                      </NuxtLink>
                    </template>
                  </PopoverPanel>
                </transition>
              </Popover>

              <!-- Mobile Solutions Dropdown -->
              <Popover class="relative" v-slot="{ open, close }">
                <PopoverButton
                  class="-mx-3 flex items-center justify-between rounded-lg px-3 py-2 text-base font-semibold leading-7 focus:outline-none"
                  :class="
                    route.path.startsWith('/solutions')
                      ? 'text-brand-blue'
                      : 'text-gray-900 hover:bg-gray-50'
                  "
                >
                  <span>Solutions</span>
                  <ChevronDownIcon
                    class="h-5 w-5 transition-transform duration-200 ease-in-out"
                    :class="{ 'rotate-180': open }"
                    aria-hidden="true"
                  />
                </PopoverButton>
                <transition
                  enter-active-class="transition ease-out duration-200"
                  enter-from-class="opacity-0 translate-y-1"
                  enter-to-class="opacity-100 translate-y-0"
                  leave-active-class="transition ease-in duration-150"
                  leave-from-class="opacity-100 translate-y-0"
                  leave-to-class="opacity-0 translate-y-1"
                >
                  <PopoverPanel class="mt-2 space-y-2">
                    <template
                      v-for="(items, category) in solutionsDropdown"
                      :key="category"
                    >
                      <NuxtLink
                        v-for="item in items"
                        :key="item.link"
                        :to="item.link"
                        class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 hover:bg-gray-50 pl-6"
                        :class="
                          route.path === item.link
                            ? 'text-brand-blue'
                            : 'text-gray-900'
                        "
                        @click="
                          mobileMenuOpen = false;
                          close();
                        "
                      >
                        {{ item.name }}
                      </NuxtLink>
                    </template>
                  </PopoverPanel>
                </transition>
              </Popover>

              <!-- Mobile Resources Dropdown -->
              <Popover class="relative" v-slot="{ open, close }">
                <PopoverButton
                  class="-mx-3 flex items-center justify-between rounded-lg px-3 py-2 text-base font-semibold leading-7 focus:outline-none"
                  :class="
                    route.path.startsWith('/resources')
                      ? 'text-brand-blue'
                      : 'text-gray-900 hover:bg-gray-50'
                  "
                >
                  <span>Resources</span>
                  <ChevronDownIcon
                    class="h-5 w-5 transition-transform duration-200 ease-in-out"
                    :class="{ 'rotate-180': open }"
                    aria-hidden="true"
                  />
                </PopoverButton>
                <transition
                  enter-active-class="transition ease-out duration-200"
                  enter-from-class="opacity-0 translate-y-1"
                  enter-to-class="opacity-100 translate-y-0"
                  leave-active-class="transition ease-in duration-150"
                  leave-from-class="opacity-100 translate-y-0"
                  leave-to-class="opacity-0 translate-y-1"
                >
                  <PopoverPanel class="mt-2 space-y-2">
                    <template
                      v-for="(items, category) in resourcesDropdown"
                      :key="category"
                    >
                      <template v-for="item in items" :key="item.link">
                        <NuxtLink
                          v-if="!item.external"
                          :to="item.link"
                          class="-mx-3 block rounded-lg px-3 py-2 text font-semibold leading-7 hover:bg-gray-50 pl-6"
                          :class="
                            route.path === item.link
                              ? 'text-brand-blue'
                              : 'text-gray-900'
                          "
                          @click="
                            mobileMenuOpen = false;
                            close();
                          "
                        >
                          {{ item.name }}
                        </NuxtLink>
                        <a
                          v-else
                          :href="item.link"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="-mx-3 block rounded-lg px-3 py-2 text font-semibold leading-7 text-gray-900 hover:bg-gray-50 pl-6"
                          @click="
                            mobileMenuOpen = false;
                            close();
                          "
                        >
                          {{ item.name }}
                          <ArrowUpRightIcon
                            class="inline h-3 w-3 ml-1 text-brand-blue align-super text-xs"
                          />
                        </a>
                      </template>
                    </template>
                    <NuxtLink
                      to="/resources"
                      class="-mx-3 block rounded-lg px-3 py-2 text font-semibold leading-7 hover:bg-gray-50 pl-6"
                      @click="
                        mobileMenuOpen = false;
                        close();
                      "
                      >View All Resources</NuxtLink
                    >
                  </PopoverPanel>
                </transition>
              </Popover>

              <NuxtLink
                to="/pricing"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7"
                :class="
                  route.path === '/pricing'
                    ? 'text-brand-blue'
                    : 'text-gray-900 hover:bg-gray-50'
                "
                @click="mobileMenuOpen = false"
                >Pricing</NuxtLink
              >
            </div>
            <div class="py-6">
              <a
                href="https://app.blue.cc"
                target="blank"
                class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Log in</a
              >
              <a
                href="https://app.blue.cc"
                target="blank"
                class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-brand-blue hover:bg-gray-50"
                >Sign Up <span aria-hidden="true">&rarr;</span></a
              >
            </div>
          </div>
        </div>
      </DialogPanel>
    </Dialog>
  </header>
</template>
<script setup>
import { ref, onMounted, onUnmounted } from "vue";
import { useRoute } from "vue-router";
import {
  Dialog,
  DialogPanel,
  Popover,
  PopoverButton,
  PopoverPanel,
} from "@headlessui/vue";
import {
  Bars3Icon,
  XMarkIcon,
  ChevronDownIcon,
} from "@heroicons/vue/24/outline";
import { ArrowUpRightIcon } from "@heroicons/vue/20/solid";

const mobileMenuOpen = ref(false);
const route = useRoute();

const scrollWidth = ref(0);

const platformDropdown = ref({
  keyConcepts: [
    {
      name: "Overview",
      link: "/platform",
      icon: "heroicons:squares-2x2-solid",
    },
    {
      name: "Records",
      link: "/platform/records",
      icon: "heroicons:clipboard-document-check-solid",
    },
    {
      name: "Custom Fields",
      link: "/platform/custom-fields",
      icon: "heroicons:square-3-stack-3d-solid",
    },
    {
      name: "Automations",
      link: "/platform/project-management-automation",
      icon: "heroicons:wrench-screwdriver-solid",
    },
    {
      name: "Files",
      link: "/platform/file-management",
      icon: "heroicons:document-solid",
    },
    {
      name: "Chat",
      link: "/platform/chat",
      icon: "heroicons:chat-bubble-bottom-center-text-solid",
    },
    {
      name: "Wiki & Docs",
      link: "/platform/wiki-docs",
      icon: "heroicons:book-open-solid",
    },
    {
      name: "User Permissions",
      link: "/platform/user-permissions",
      icon: "heroicons:user-group-solid",
    },
    {
      name: "Forms",
      link: "/platform/forms",
      icon: "heroicons:inbox-stack-solid",
    },
  ],
  views: [
    {
      name: "Boards",
      link: "/platform/kanban-boards",
      icon: "heroicons:view-columns-solid",
    },
    {
      name: "Calendars",
      link: "/platform/calendar",
      icon: "heroicons:calendar-days-solid",
    },
    {
      name: "Databases",
      link: "/platform/database",
      icon: "heroicons:circle-stack-solid",
    },
    { name: "Maps", link: "/platform/map", icon: "heroicons:map-solid" },
    {
      name: "Timelines",
      link: "/platform/timeline-gantt-charts",
      icon: "heroicons:arrows-right-left-16-solid",
    },
    {
      name: "Lists",
      link: "/platform/list",
      icon: "heroicons:queue-list-solid",
    },
    {
      name: "Dashboards",
      link: "/platform/dashboards",
      icon: "heroicons:chart-pie-solid",
    },
    {
      name: "Audit Trails",
      link: "/platform/activity-audit-trails",
      icon: "heroicons:finger-print-solid",
    },
  ],
  info: [
    {
      name: "Roadmap",
      link: "/platform/roadmap",
      icon: "heroicons:rocket-launch-solid",
    },
    {
      name: "Changelog",
      link: "/platform/changelog",
      icon: "heroicons:check-badge-solid",
    },
    {
      name: "API",
      link: "/platform/api",
      icon: "heroicons:code-bracket-square-solid",
    },
    {
      name: "Integrations",
      link: "/platform/integrations",
      icon: "heroicons:globe-alt-solid",
    },
    {
      name: "Security",
      link: "/platform/security",
      icon: "heroicons:shield-check-solid",
    },
  ],
});

const solutionsDropdown = ref({
  useCases: [
    {
      name: "Project Management",
      link: "/solutions/project-management",
      icon: "heroicons:check-circle-solid",
    },
    {
      name: "Sales CRM",
      link: "/solutions/sales-crm",
      icon: "heroicons:currency-dollar-solid",
    },
    {
      name: "Service Tickets",
      link: "/solutions/service-tickets",
      icon: "heroicons:tag-solid",
    },
    {
      name: "Content Calendar",
      link: "/solutions/content-calendar",
      icon: "heroicons:calendar-days-solid",
    },
    {
      name: "Asset Management",
      link: "/solutions/asset-management",
      icon: "heroicons:tv-16-solid",
    },
    {
      name: "See All Use Cases",
      link: "/solutions",
      icon: "heroicons:rocket-launch-solid",
    },
  ],
  industries: [
    {
      name: "Agencies",
      link: "/solutions/agencies",
      icon: "heroicons:face-smile-solid",
    },
    { name: "IT", link: "/solutions/it", icon: "heroicons:cog-8-tooth-solid" },
    {
      name: "Non-Profits",
      link: "/solutions/non-profits",
      icon: "heroicons:heart-solid",
    },
    {
      name: "Real Estate",
      link: "/solutions/real-estate-project-management-software",
      icon: "heroicons:building-office-solid",
    },
    {
      name: "Solopreneurs",
      link: "/solutions/solopreneurs",
      icon: "heroicons:user-solid",
    },
  ],
});

const resourcesDropdown = ref({
  keyResources: [
    {
      name: "Support Center",
      link: "/support",
      icon: "heroicons:lifebuoy-solid",
    },
    {
      name: "Documentation",
      link: "/docs",
      icon: "heroicons:book-open-solid",
      external: false,
    },
    {
      name: "API Docs",
      link: "/api-docs",
      icon: "heroicons:key-solid",
      external: false,
    },
    {
      name: "How-to Videos",
      link: "/resources/videos",
      icon: "heroicons:video-camera-solid",
      external: false,
    },
    {
      name: "Hire an Expert",
      link: "/resources/experts",
      icon: "heroicons:user-group-solid",
      external: false,
    },
    {
      name: "Compare Platforms",
      link: "/compare",
      icon: "heroicons:adjustments-vertical-solid",
      external: false,
    },
    {
      name: "AI Tools",
      link: "/resources/tools",
      icon: "heroicons:sparkles-solid",
      external: false,
    },
  ],
  topics: [
    {
      name: "Insights",
      link: "/resources/insights",
      icon: "heroicons:newspaper-solid",
      external: false,
    },
    {
      name: "Project Management",
      link: "/resources/project-management",
      icon: "heroicons:clipboard-solid",
    },
    {
      name: "Modern Work Practices",
      link: "/resources/modern-work-practices",
      icon: "heroicons:briefcase-solid",
    },
    {
      name: "Agency Success Playbook",
      link: "/resources/agency-success-playbook",
      icon: "heroicons:book-open-solid",
    },
    {
      name: "FAQs",
      link: "/resources/faqs",
      icon: "heroicons:question-mark-circle-solid",
    },
    {
      name: "Tips & Tricks",
      link: "/resources/tips-tricks",
      icon: "heroicons:check-badge-solid",
    },
    {
      name: "Definitions",
      link: "/project-management-dictionary",
      icon: "heroicons:bookmark-square-solid",
      external: false,
    },
  ],
  company: [
    { name: "About", link: "/about", icon: "heroicons:rectangle-stack-solid" },
    {
      name: "Community",
      link: "https://ask.blue.cc",
      icon: "heroicons:chat-bubble-left-right-solid",
      external: true,
    },
    {
      name: "Company News",
      link: "/resources/news",
      icon: "heroicons:megaphone-solid",
    },
    {
      name: "Product Updates",
      link: "/resources/product-updates",
      icon: "heroicons:squares-plus-solid",
    },
    {
      name: "Engineering Blog",
      link: "/resources/engineering-blog",
      icon: "heroicons:wrench-screwdriver-solid",
    },
    {
      name: "Partner Program",
      link: "/partners",
      icon: "heroicons:currency-dollar-solid",
    },
  ],
});

const toggleSearch = () => {
  isSearchOpen.value = !isSearchOpen.value;
};

const updateScrollWidth = () => {
  const scrollTop =
    window.pageYOffset ||
    document.documentElement.scrollTop ||
    document.body.scrollTop ||
    0;
  const scrollHeight =
    document.documentElement.scrollHeight -
    document.documentElement.clientHeight;
  scrollWidth.value = (scrollTop / scrollHeight) * 100;
};

onMounted(() => {
  window.addEventListener("scroll", updateScrollWidth);
  updateScrollWidth();
  document.addEventListener("keydown", handleKeyPress);
});

onUnmounted(() => {
  window.removeEventListener("scroll", updateScrollWidth);
  document.removeEventListener("keydown", handleKeyPress);
});

// Dropdown state management
const dropdowns = ref({
  platform: false,
  solutions: false,
  resources: false,
});

let closeTimer = null;

const openDropdown = (dropdown) => {
  clearTimeout(closeTimer);
  for (const key in dropdowns.value) {
    if (key !== dropdown) dropdowns.value[key] = false;
  }
  dropdowns.value[dropdown] = true;
};

const scheduleCloseDropdown = (dropdown) => {
  clearTimeout(closeTimer);
  closeTimer = setTimeout(() => {
    dropdowns.value[dropdown] = false;
  }, 300); // Adjust the delay as needed
};

const keepOpen = (dropdown) => {
  clearTimeout(closeTimer);
};

const isOpen = (dropdown) => {
  return dropdowns.value[dropdown];
};

const closeDropdown = (dropdown) => {
  dropdowns.value[dropdown] = false;
};

// Keyboard shortcuts
const openLogin = () => {
  window.open("https://app.blue.cc", "_blank");
};

const openSignUp = () => {
  window.open("https://app.blue.cc", "_blank");
};

const handleKeyPress = (event) => {
  // Check if the active element is an input, textarea, or any element within a form
  const activeElement = document.activeElement;
  const isFormElement =
    activeElement.tagName === "INPUT" ||
    activeElement.tagName === "TEXTAREA" ||
    activeElement.tagName === "SELECT" ||
    activeElement.isContentEditable ||
    activeElement.closest("form") !== null;

  // Only proceed if not interacting with a form element
  if (!isFormElement) {
    if (event.key.toLowerCase() === "l") {
      event.preventDefault();
      openLogin();
    } else if (event.key === "Enter") {
      event.preventDefault();
      openSignUp();
    }
  }
};

const colorMode = useColorMode();
const isDark = computed({
  get() {
    return colorMode.value === "dark";
  },
  set() {
    colorMode.preference = colorMode.value === "dark" ? "light" : "dark";
  },
});

const logoSrc = computed(() => {
  return colorMode.value === "dark" ? "/logo-white.svg" : "/logo.svg";
});

const logoAlt = "Blue Logo";
</script>
<style scoped>
/* Rotate animation on hover */
.group-hover\:-rotate-360 {
  transition: transform 0.3s ease-in-out;
}

.group:hover .group-hover\:-rotate-360 {
  transform: rotate(-360deg);
}
</style>
