<template>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 dark:bg-gray-900">
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-12">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl mb-4 sm:mb-0">Calculate your savings with Blue</h2>
      <p class="text-lg leading-8 text-gray-600 dark:text-gray-300 max-w-xl">Choose your current apps and team size to see your potential annual savings.</p>
    </div>
    <div class="flex flex-col lg:flex-row gap-8">
      <!-- Left Box -->
      <div class="flex-1 rounded-xl p-8 ring-1 ring-gray-900/10 dark:ring-gray-100/10 sm:p-10 dark:bg-gray-800">
        <h3 class="text-xl font-semibold leading-8 tracking-tight text-grey-800 dark:text-white mb-6">What apps do you use?</h3>
        <div class="grid grid-cols-5 gap-4 mb-8">
          <template v-for="competitor in competitors" :key="competitor.id">
            <div class="relative group" @mouseenter="showTooltip(competitor.id)" @mouseleave="hideTooltip">
              <div v-if="tooltipVisible === competitor.id" class="absolute z-10 p-1.5 text-xs text-white bg-brand-blue rounded-md shadow-md bottom-full left-1/2 transform -translate-x-1/2 mb-2 whitespace-nowrap">
                {{ competitor.name }} @ ${{ competitor.cost }}/month/user
              </div>
              <button
                @click="toggleApp(competitor.id)"
                :class="[
                  'w-16 h-16 rounded-xl shadow-md transition duration-300 ease-in-out flex items-center justify-center relative',
                  selectedApps.includes(competitor.id) ? 'ring-2 ring-brand-blue dark:ring-brand-lighter-blue' : 'ring-1 ring-gray-200 dark:ring-gray-600 hover:ring-gray-300 dark:hover:ring-gray-500'
                ]"
              >
                <img :src="competitor.logo" :alt="competitor.name + ' Logo'" class="w-12 h-12" />
                <div v-if="selectedApps.includes(competitor.id)" class="absolute top-0 right-0 w-5 h-5 bg-brand-blue dark:bg-brand-lighter-blue rounded-full flex items-center justify-center transform translate-x-1/3 -translate-y-1/3">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-white" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                </div>
              </button>
            </div>
          </template>
        </div>
        <h3 class="text-xl font-semibold leading-8 tracking-tight text-grey-800 dark:text-white mb-4">How many people work at your company?</h3>
        <input
          type="range"
          min="1"
          max="250"
          v-model.number="companySize"
          class="w-full h-2 bg-brand-blue rounded-lg appearance-none cursor-pointer"
        />
        <div class="text-sm text-gray-600 dark:text-gray-400 mt-2">
          Company size: {{ companySize }} {{ companySize === 1 ? 'person' : 'people' }}
        </div>
      </div>

      <!-- Right Box -->
      <div class="flex-1 rounded-xl p-8 ring-1 ring-gray-900/10 dark:ring-gray-100/10 sm:p-10 flex flex-col items-center justify-center dark:bg-gray-800">
        <img src="/logo.svg" alt="Blue Logo" class="h-12 mb-6" />
        <p v-if="selectedApps.length === 0" class="text-2xl font-semibold leading-8 tracking-tight text-center text-gray-900 dark:text-white">
          Select an app to see your savings
        </p>
        <p v-else class="text-2xl font-semibold leading-8 tracking-tight text-center dark:text-white">
          You can save <span class="text-brand-blue dark:text-brand-lighter-blue">${{ formattedSavings }}/year</span> with Blue
        </p>
        <div class="h-[44px] mt-8">
          <a 
            v-if="selectedApps.length > 0"
            href="https://app.blue.cc" 
            class="inline-flex items-center px-4 py-2 text-sm font-semibold rounded-md border border-transparent bg-brand-blue text-white hover:bg-brand-blue/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue transition duration-150 ease-in-out dark:bg-brand-lighter-blue dark:text-gray-900 dark:hover:bg-brand-lighter-blue/90 dark:focus:ring-brand-lighter-blue"
          >
            Get Started
            <span class="ml-2 inline-flex items-center justify-center w-5 h-5 bg-white rounded text-xs font-bold text-brand-blue border border-brand-blue dark:bg-gray-900 dark:text-brand-lighter-blue dark:border-brand-lighter-blue">↵</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'

const competitors = ref([
  { id: 1, name: 'Trello', logo: '/resources/trello-icon.svg', cost: 12.50 },
  { id: 2, name: 'Basecamp', logo: '/resources/basecamp-icon.svg', cost: 15 },
  { id: 3, name: 'Asana', logo: '/resources/asana-icon.svg', cost: 30.49 },
  { id: 4, name: 'Monday', logo: '/resources/monday-icon.svg', cost: 24 },
  { id: 5, name: 'Clickup', logo: '/resources/clickup-icon.svg', cost: 19 },
  { id: 6, name: 'Notion', logo: '/resources/notion-icon.svg', cost: 18 },
  { id: 7, name: 'Airtable', logo: '/resources/airtable-icon.svg', cost: 54 },
  { id: 8, name: 'Slack', logo: '/resources/slack-icon.svg', cost: 15 },
  { id: 9, name: 'Salesforce', logo: '/resources/salesforce-icon.svg', cost: 25 },
  { id: 10, name: 'Sharepoint', logo: '/resources/sharepoint-icon.svg', cost: 14 },
])

const selectedApps = ref([])
const companySize = ref(1)
const blueCostPerUser = 7 // Blue's cost per user per month
const tooltipVisible = ref(null)

const toggleApp = (id) => {
  const appIndex = selectedApps.value.indexOf(id)
  if (appIndex === -1) {
    selectedApps.value.push(id)
  } else {
    selectedApps.value.splice(appIndex, 1)
  }
}

const showTooltip = (id) => {
  tooltipVisible.value = id
}

const hideTooltip = () => {
  tooltipVisible.value = null
}

const annualSavings = computed(() => {
  const competitorsCost = selectedApps.value.reduce((total, id) => {
    const competitor = competitors.value.find(c => c.id === id)
    return total + (competitor ? competitor.cost : 0)
  }, 0)
  
  const totalCompetitorsCost = competitorsCost * companySize.value * 12
  const totalBlueCost = blueCostPerUser * companySize.value * 12
  
  return totalCompetitorsCost - totalBlueCost
})

const formattedSavings = computed(() => {
  return Math.max(0, annualSavings.value).toLocaleString()
})
</script>