<template>
  <div class="isolate overflow-hidden bg-brand-blue dark:bg-gray-900">
    <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8">
      <div class="mx-auto max-w-4xl text-center">
        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl">Get organized — finally.</h1>
        <p class="mt-6 text-lg leading-8 text-white">
          Try the entire platform free for 7 days, without a credit card.
        </p>
      </div>

      <div class="mt-16 bg-white dark:bg-gray-800 rounded-2xl shadow-xl overflow-hidden">
        <div class="flex flex-col lg:flex-row">
          <!-- Pricing details -->
          <div class="p-8 sm:p-10 lg:w-1/3 flex flex-col">
            <div class="flex flex-col items-center mb-4">
              <!-- Pricing toggle -->
              <div class="mb-8">
                <div class="flex items-center space-x-3">
                  <span class="text-sm font-medium text-gray-900 dark:text-white">Monthly</span>
                  <button
                    @click="isYearly = !isYearly"
                    type="button"
                    class="relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none"
                    :class="isYearly ? 'bg-brand-blue' : 'bg-gray-200'"
                  >
                    <span
                      class="pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"
                      :class="isYearly ? 'translate-x-5' : 'translate-x-0'"
                    ></span>
                  </button>
                  <span class="text-sm font-medium text-gray-900 dark:text-white">Yearly</span>
                </div>
              </div>
            </div>

            <div class="flex-grow flex items-center justify-center">
              <div class="text-center">
                <div class="flex items-center justify-center text-6xl font-bold tracking-tight text-gray-900 dark:text-white">
                  ${{ isYearly ? '70' : '7' }}
                  <span class="ml-2 text-2xl font-semibold tracking-wide text-gray-600 dark:text-gray-300">/user</span>
                </div>
                <div class="h-6 mt-1">
                  <p v-if="isYearly" class="text-sm text-gray-500 dark:text-gray-400">(Save $14 per year)</p>
                </div>
              </div>
            </div>

            <div class="mt-8">
    <a
      href="https://app.blue.cc"
      target="_blank"
      rel="noopener noreferrer"
      class="block w-full rounded-md bg-brand-blue px-3.5 py-2 text-center text-sm font-semibold leading-6 text-white shadow-sm hover:bg-brand-blue-dark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-blue transition duration-300 ease-in-out hover:-translate-y-1"
    >
      Start 7-day Free Trial Now <span aria-hidden="true">&rarr;</span>
    </a>
    <p class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">No credit card required</p>
  </div>
          </div>

          <!-- Feature list -->
<div class="lg:w-2/3 bg-gray-50 dark:bg-gray-700">
  <div class="p-8 sm:p-10">
    <h4 class="text-xl font-semibold leading-6 text-gray-900 dark:text-white">Core Subscription</h4>
    <ul role="list" class="mt-8 grid grid-cols-1 gap-4 text-m font-semibold leading-6 text-gray-500 dark:text-gray-300 sm:grid-cols-2 sm:gap-6">
      <li class="flex gap-x-3">
        <Icon name="heroicons:briefcase-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
        Unlimited Projects
      </li>
      <li class="flex gap-x-3">
        <Icon name="heroicons:user-group-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
        FREE for clients & vendors
      </li>
      <li class="flex gap-x-3">
        <Icon name="heroicons:squares-2x2-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
        All Features
      </li>
      <li class="flex gap-x-3">
        <Icon name="heroicons:wrench-screwdriver-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
        Unlimited Automations
      </li>
      <li class="flex gap-x-3">
        <Icon name="heroicons:document-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
        Unlimited Storage
      </li>
      <li class="flex gap-x-3">
        <Icon name="heroicons:globe-alt-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
        API Access
      </li>
      <li class="flex gap-x-3">
        <Icon name="heroicons:device-phone-mobile-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
        Mobile Apps
      </li>
      <li class="flex gap-x-3">
        <Icon name="heroicons:computer-desktop-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
        Desktop App
      </li>
      <li class="flex gap-x-3">
        <Icon name="heroicons:lifebuoy-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
        Email Support
      </li>
      <li class="flex gap-x-3">
        <Icon name="heroicons:hand-thumb-up-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
        Paid Onboarding Options Available
      </li>
    </ul>
  </div>
</div>
</div>
      </div>

      <!-- White Label Add-on Pricing Card -->
      <div class="mt-8 bg-white dark:bg-gray-800 rounded-2xl shadow-xl overflow-hidden relative">
        <div class="flex flex-col lg:flex-row">
          <!-- Pricing details -->
          <div class="p-8 sm:p-10 lg:w-1/3 flex flex-col">
            <div class="flex flex-col items-center mb-4">
              <!-- Pricing toggle -->
              <div class="mb-8">
                <div class="flex items-center space-x-3">
                  <span class="text-sm font-medium text-gray-900 dark:text-white">Monthly</span>
                  <button
                    @click="isYearlyWL = !isYearlyWL"
                    type="button"
                    class="relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none"
                    :class="isYearlyWL ? 'bg-brand-blue' : 'bg-gray-200'"
                  >
                    <span
                      class="pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"
                      :class="isYearlyWL ? 'translate-x-5' : 'translate-x-0'"
                    ></span>
                  </button>
                  <span class="text-sm font-medium text-gray-900 dark:text-white">Yearly</span>
                </div>
              </div>
            </div>

            <div class="flex-grow flex items-center justify-center">
              <div class="text-center">
                <div class="flex items-center justify-center text-6xl font-bold tracking-tight text-gray-900 dark:text-white">
                  ${{ isYearlyWL ? '200' : '20' }}
                  <span class="ml-2 text-2xl font-semibold tracking-wide text-gray-600 dark:text-gray-300">/company</span>
                </div>
                <div class="h-6 mt-1">
                  <p v-if="isYearlyWL" class="text-sm text-gray-500 dark:text-gray-400">(Save $40 per year)</p>
                </div>
              </div>
            </div>

            <div class="mt-8">
              <NuxtLink
                to="/platform/white-label"
                class="block w-full rounded-md bg-brand-blue px-3.5 py-2 text-center text-sm font-semibold leading-6 text-white shadow-sm hover:bg-brand-blue-dark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-blue transition duration-300 ease-in-out hover:-translate-y-1"
              >
                Learn More <span aria-hidden="true">&rarr;</span>
              </NuxtLink>
            </div>
          </div>

          <!-- Feature list -->
          <div class="lg:w-2/3 bg-gray-50 dark:bg-gray-700">
            <div class="p-8 sm:p-10">
              <div class="flex items-center gap-3">
                <h4 class="text-xl font-semibold leading-6 text-gray-900 dark:text-white">Optional White-Label Add-On</h4>
                <div class="bg-brand-blue text-white px-3 py-0.5 text-sm rounded-full shadow-sm">
                  New!
                </div>
              </div>
              <ul role="list" class="mt-8 grid grid-cols-1 gap-4 text-m font-semibold leading-6 text-gray-500 dark:text-gray-300 sm:grid-cols-2 sm:gap-6">
                <li class="flex gap-x-3">
                  <Icon name="heroicons:briefcase-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
                  Remove Blue Branding
                </li>
                <li class="flex gap-x-3">
                  <Icon name="heroicons:check-circle-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
                  Custom Onboarding Emails
                </li>
                <li class="flex gap-x-3">
                  <Icon name="heroicons:squares-2x2-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
                  Branded Desktop App
                </li>
                <li class="flex gap-x-3">
                  <Icon name="heroicons:wrench-screwdriver-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
                  Custom Logo & Colors
                </li>
                <li class="flex gap-x-3">
                  <Icon name="heroicons:envelope-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
                  Emails from your domain
                </li>
                <li class="flex gap-x-3">
                  <Icon name="heroicons:document-text-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
                  White Label Documentation
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Enterprise and Discounted Licenses Container -->
      <div class="mt-8 grid grid-cols-1 lg:grid-cols-2 gap-8">
        <!-- Enterprise Licenses -->
        <div class="flex flex-col items-start gap-y-6 rounded-xl bg-white dark:bg-gray-800 p-8 ring-1 ring-gray-900/10 dark:ring-gray-100/10 sm:p-10">
          <div class="lg:min-w-0 flex-1">
            <h3 class="text-xl font-semibold leading-8 tracking-tight text-brand-blue dark:text-brand-lighter-blue">Enterprise Licenses</h3>
            <p class="mt-1 text-base leading-7 text-gray-600 dark:text-gray-300">For larger organizations needing custom solutions and dedicated support.</p>
          </div>
          <a
            href="mailto:enterprise@blue.cc?subject=Inquiry%20for%20Enterprise%20License"
            class="w-full rounded-md px-3.5 py-2 text-center text-sm font-semibold leading-6 text-brand-blue dark:text-brand-lighter-blue ring-1 ring-inset ring-brand-blue dark:ring-brand-lighter-blue hover:ring-brand-blue focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition duration-300 ease-in-out hover:-translate-y-1"
          >
            Contact for Enterprise <span aria-hidden="true">&rarr;</span>
          </a>
        </div>

        <!-- Discounted Licenses -->
        <div class="flex flex-col items-start gap-y-6 rounded-xl bg-white dark:bg-gray-800 p-8 ring-1 ring-gray-900/10 dark:ring-gray-100/10 sm:p-10">
          <div class="lg:min-w-0 flex-1">
            <h3 class="text-xl font-semibold leading-8 tracking-tight text-brand-blue dark:text-brand-lighter-blue">Discounted Licenses</h3>
            <p class="mt-1 text-base leading-7 text-gray-600 dark:text-gray-300">We offer 50% off for non-profits, educational institutions, students, teachers, and open-source projects.</p>
          </div>
          <a
            href="mailto:help@blue.cc?subject=Application%20for%20Discounted%20Blue%20License"
            class="w-full rounded-md px-3.5 py-2 text-center text-sm font-semibold leading-6 text-brand-blue dark:text-brand-lighter-blue ring-1 ring-inset ring-brand-blue dark:ring-brand-lighter-blue hover:ring-brand-blue focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition duration-300 ease-in-out hover:-translate-y-1"
          >
            Apply for Discount <span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import { CheckIcon } from '@heroicons/vue/20/solid'

const isYearly = ref(false)
const isYearlyWL = ref(false)
</script>