<template>
  <div class="bg-white dark:bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl mb-4 sm:mb-0">{{ title }}</h2>
        <p class="text-lg leading-8 text-gray-600 dark:text-gray-300 max-w-xl">{{ description }}</p>
      </div>
      <div v-if="articles && articles.length">
        <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
          <article v-for="article in sortedArticles(articles)" :key="article._path" class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 dark:bg-gray-800 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80 transition-all duration-500 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-gray-900/50 dark:hover:shadow-gray-800/50">
            <img :src="getImageForArticle(article)" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover" />
            <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-600 via-gray-600/40 dark:from-gray-800 dark:via-gray-800/40" />
            <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10 dark:ring-white/10" />
            <h3 class="mt-3 text-lg font-semibold leading-6 text-white dark:text-gray-100">
              <a :href="`/resources/${article.slug}`">
                <span class="absolute inset-0" />
                {{ article.title }}
              </a>
            </h3>
          </article>
        </div>
      </div>
      <div v-else>
        <p class="text-gray-900 dark:text-gray-100">No articles found matching the provided slugs.</p>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useAsyncData } from '#app';

const props = defineProps({
  title: {
    type: String,
    required: true
  },
  description: {
    type: String,
    required: true
  },
  postSlugs: {
    type: Array,
    required: true
  }
});

// Fetch articles based on provided slugs
const { data: articles } = await useAsyncData(`articles-${props.postSlugs.join('-')}`, () =>
  queryContent()
    .where({ slug: { $in: props.postSlugs } })
    .find()
);

// Sort articles by date
const sortedArticles = (articlesData) => {
  return articlesData.slice().sort((a, b) => {
    if (!a.date || !b.date) return 0;
    const [dayA, monthA, yearA] = a.date.split('/');
    const [dayB, monthB, yearB] = b.date.split('/');
    const dateA = new Date(yearA, monthA - 1, dayA);
    const dateB = new Date(yearB, monthB - 1, dayB);
    return dateB - dateA;
  });
};

// Get image for article
function getImageForArticle(article) {
  return article.image || '/patterns/squarescircle1.png';
}

// Format date
function formatDate(dateString) {
  if (!dateString) return '';
  const [day, month, year] = dateString.split('/');
  const date = new Date(year, month - 1, day);
  return date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });
}
</script>
