<template>
  <div class="bg-white dark:bg-gray-900 py-12">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <!-- Search Bar -->
      <div class="mb-12 max-w-2xl mx-auto">
        <input
          v-model="searchQuery"
          type="text"
          placeholder="Search video titles, topics, or keywords..."
          class="w-full px-4 py-3 rounded-lg border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
        />
      </div>

      <!-- Video Grid -->
      <div v-if="filteredVideos.length > 0" :class="gridClasses">
        <div 
          v-for="(video, index) in filteredVideos" 
          :key="index" 
          :class="videoWrapperClasses"
        >
          <div class="relative pt-[56.25%] rounded-md shadow-2xl ring-1 ring-gray-900/10 dark:ring-gray-700/50 overflow-hidden">
            <iframe
              class="absolute inset-0 w-full h-full"
              :src="getEmbedUrl(video.url)"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="mt-4 px-2">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-100">{{ video.title }}</h3>
          </div>
        </div>
      </div>
      <div v-else class="text-center py-12 text-gray-600 dark:text-gray-400">
        No videos found matching your search criteria.
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, ref } from 'vue';

const props = defineProps({
  videos: {
    type: Array,
    required: true,
    validator: (value) => value.every(item => 
      typeof item === 'object' && 
      item.url && 
      item.title && 
      item.description &&
      Array.isArray(item.tags)
    )
  }
});

const searchQuery = ref('');

const filteredVideos = computed(() => {
  if (!searchQuery.value) return props.videos;
  const query = searchQuery.value.toLowerCase();
  return props.videos.filter(video => {
    const titleMatch = video.title.toLowerCase().includes(query);
    const descMatch = video.description.toLowerCase().includes(query);
    const tagMatch = video.tags.some(tag => tag.toLowerCase().includes(query));
    return titleMatch || descMatch || tagMatch;
  });
});

const gridClasses = computed(() => {
  const baseClasses = "gap-8 ";
  const count = filteredVideos.value.length;
  
  if (count === 1) return baseClasses + "flex justify-center";
  if (count === 2) return baseClasses + "grid grid-cols-1 sm:grid-cols-2";
  return baseClasses + "grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3";
});

const videoWrapperClasses = computed(() => 
  "rounded-xl bg-gray-900/5 dark:bg-white p-2 ring-1 ring-inset ring-gray-900/10 dark:ring-white lg:rounded-2xl lg:p-4"
);

const getEmbedUrl = (url) => {
  const videoId = url.split('v=')[1];
  const ampersandPosition = videoId.indexOf('&');
  if (ampersandPosition !== -1) {
    return `https://www.youtube.com/embed/${videoId.substring(0, ampersandPosition)}?modestbranding=1&rel=0`;
  }
  return `https://www.youtube.com/embed/${videoId}?modestbranding=1&rel=0`;
};
</script> 