<template>
  <div class="relative isolate overflow-hidden bg-white dark:bg-gray-900 py-24 sm:py-32">
    <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:linear-gradient(to_bottom,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
    </svg>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto mt-16 flex max-w-2xl flex-col gap-8 lg:mx-0 lg:mt-20 lg:max-w-none lg:flex-row lg:items-end">
        <div 
          class="card-hover-effect flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gradient-to-r from-gray-100 to-gray-300 dark:from-gray-700 dark:to-gray-600 p-8 sm:w-3/4 sm:max-w-md sm:flex-row-reverse sm:items-end lg:w-72 lg:max-w-none lg:flex-none lg:flex-col lg:items-start"
          @mousemove="handleMouseMove"
          @mouseleave="handleMouseLeave"
          ref="card1"
        >
          <p class="flex-none text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100">{{ card1Number }}</p>
          <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
            <p class="text-lg font-semibold tracking-tight text-gray-900 dark:text-gray-100">{{ card1Title }}</p>
            <p class="mt-2 text-base leading-7 text-gray-600 dark:text-gray-300">{{ card1Description }}</p>
          </div>
        </div>
        <div 
          class="card-hover-effect flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gradient-to-r from-gray-900 to-gray-700 p-8 sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-sm lg:flex-auto lg:flex-col lg:items-start lg:gap-y-44"
          @mousemove="handleMouseMove"
          @mouseleave="handleMouseLeave"
          ref="card2"
        >
          <p class="flex-none text-3xl font-bold tracking-tight text-white">{{ card2Number }}</p>
          <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
            <p class="text-lg font-semibold tracking-tight text-white">{{ card2Title }}</p>
            <p class="mt-2 text-base leading-7 text-white">{{ card2Description }}</p>
          </div>
        </div>
        <div 
          class="card-hover-effect flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gradient-to-r from-brand-blue to-blue-700 p-8 sm:w-11/12 sm:max-w-xl sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-none lg:flex-auto lg:flex-col lg:items-start lg:gap-y-28"
          @mousemove="handleMouseMove"
          @mouseleave="handleMouseLeave"
          ref="card3"
        >
          <p class="flex-none text-3xl font-bold tracking-tight text-white">{{ card3Number }}</p>
          <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
            <p class="text-lg font-semibold tracking-tight text-white">{{ card3Title }}</p>
            <p class="mt-2 text-base leading-7 text-white">{{ card3Description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    card1Number: {
      type: String,
      required: true
    },
    card1Title: {
      type: String,
      required: true
    },
    card1Description: {
      type: String,
      required: true
    },
    card2Number: {
      type: String,
      required: true
    },
    card2Title: {
      type: String,
      required: true
    },
    card2Description: {
      type: String,
      required: true
    },
    card3Number: {
      type: String,
      required: true
    },
    card3Title: {
      type: String,
      required: true
    },
    card3Description: {
      type: String,
      required: true
    }
  },
  
  methods: {
    handleMouseMove(e) {
      const card = e.currentTarget;
      const rect = card.getBoundingClientRect();
      const x = e.clientX - rect.left;
      const y = e.clientY - rect.top;
      
      card.style.setProperty('--mouse-x', `${x}px`);
      card.style.setProperty('--mouse-y', `${y}px`);
    },
    
    handleMouseLeave(e) {
      const card = e.currentTarget;
      card.style.setProperty('--mouse-x', '0px');
      card.style.setProperty('--mouse-y', '0px');
    }
  }
}
</script>

<style scoped>
.bg-brand-blue {
  background-color: #1e40af;
}

.card-hover-effect {
  position: relative;
  overflow: hidden;
}

.card-hover-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.1),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.card-hover-effect:hover::before {
  opacity: 1;
}
</style>
