<template>
  <div class="relative isolate bg-white dark:bg-gray-900 pb-0 pt-24 pb-24 sm:pt-32">
    <div class="absolute inset-x-0 top-1/2 -z-10 -translate-y-1/2 transform-gpu overflow-hidden opacity-30 blur-3xl" aria-hidden="true">
      <div class="ml-[max(50%,38rem)] aspect-[1313/771] w-[82.0625rem] bg-gradient-to-tr from-[#00a0d2] to-[#00a0d2]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" />
    </div>
    <div class="absolute inset-x-0 top-0 -z-10 flex transform-gpu overflow-hidden pt-32 opacity-25 blur-3xl sm:pt-40 xl:justify-end" aria-hidden="true">
      <div class="ml-[-22rem] aspect-[1313/771] w-[82.0625rem] flex-none origin-top-right rotate-[30deg] bg-gradient-to-tr from-[#00a0d2] to-[#00a0d2] xl:ml-0 xl:mr-[calc(50%-12rem)]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" />
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-xl text-center">
        <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl">Hear it directly from our customers.</h2>
      </div>
      <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-sm leading-6 text-gray-900 dark:text-gray-100 sm:mt-20 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4">
        <figure class="rounded-2xl bg-white dark:bg-gray-800 shadow-lg ring-1 ring-gray-900/5 dark:ring-gray-700 border-2 border-gray-200 dark:border-white sm:col-span-2 xl:col-start-2 xl:row-end-1">
          <blockquote class="p-6 text-lg font-semibold leading-7 tracking-tight text-gray-900 dark:text-gray-100 sm:p-12 sm:text-xl sm:leading-8">
            <p>{{ `“${featuredTestimonial.body}”` }}</p>
          </blockquote>
          <figcaption class="flex flex-wrap items-center gap-x-4 gap-y-4 border-t border-gray-900/10 dark:border-gray-700 px-6 py-4 sm:flex-nowrap">
            <img class="h-10 w-10 flex-none rounded-full bg-gray-50 dark:bg-gray-800" :src="featuredTestimonial.author.imageUrl" alt="" />
            <div class="flex-auto">
              <div class="font-semibold text-gray-900 dark:text-gray-100">{{ featuredTestimonial.author.name }}</div>
              <div class="flex items-center">
                <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 hover:animate-spin" />
                <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 hover:animate-spin" />
                <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 hover:animate-spin" />
                <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 hover:animate-spin" />
                <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 hover:animate-spin" />
              </div>
            </div>
          </figcaption>
        </figure>
        <div v-for="(columnGroup, columnGroupIdx) in testimonials" :key="columnGroupIdx" class="space-y-8 xl:contents xl:space-y-0">
          <div v-for="(column, columnIdx) in columnGroup" :key="columnIdx" :class="[(columnGroupIdx === 0 && columnIdx === 0) || (columnGroupIdx === testimonials.length - 1 && columnIdx === columnGroup.length - 1) ? 'xl:row-span-2' : 'xl:row-start-1', 'space-y-8']">
            <figure v-for="testimonial in column" :key="testimonial.author.handle" class="rounded-2xl bg-white dark:bg-gray-800 p-6 shadow-lg ring-1 ring-gray-900/5 dark:ring-gray-700 border-2 border-gray-200 dark:border-white">
              <blockquote class="text-gray-900 dark:text-gray-100">
                <p>{{ `“${testimonial.body}”` }}</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img class="h-10 w-10 rounded-full bg-gray-50 dark:bg-gray-800" :src="testimonial.author.imageUrl" alt="" />
                <div>
                  <div class="font-semibold text-gray-900 dark:text-gray-100">{{ testimonial.author.name }}</div>
                  <div class="flex items-center">
                    <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 hover:animate-spin" />
                    <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 hover:animate-spin" />
                    <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 hover:animate-spin" />
                    <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 hover:animate-spin" />
                    <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 hover:animate-spin" />
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script setup>


const featuredTestimonial = {
  body: 'Should you buy it? HECK YES!!! . This is the easiest, fastest and nicest UI interface and project management software. I love how simple it is to use and set up. I found this better and easier than Trello or any of the other programs — Best money ever. ',
  author: {
    name: 'The Writer',
    imageUrl:
      '/customer-photos/thewriter.webp',
  },
}
const testimonials = [
  [
    [
      {
        body: 'The team at Blue gets it. They came out swinging with a great product and a deal that is impossible to decline. No penny pinching, customer centric, making sure they succeed at a long term relationship from the start.',
        author: {
          name: 'SaaSFirst',
          imageUrl:
            'https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80',
        },
      },
      {
        body: 'PERFECT!!! Been using this for one day and I am already in love! So glad that I found this productivity tool. Beats all other ones out of the water!!! It\'s everything you need without unnecessary bells and whistles.',
        author: {
          name: 'AppleSauce',
          imageUrl:
            '/customer-photos/applesauce.png',
        },
      },
      {
        body: 'A MUST HAVE PRODUCTIVITY TOOL!',
        author: {
          name: 'gizmologi.id',
          imageUrl:
            '/customer-photos/gizmologi.webp',
        },
      },
      // More testimonials...
    ],
    [
      {
        body: 'HIGHLY RECOMMENDED! Blue\'s team communication and genuine interest in constantly bringing new features and improvements to the platform was what attracted me the most. I feel that they care more about the users than the money. ',
        author: {
          name: 'viniriego',
          imageUrl:
            '/customer-photos/viniriego.webp',
        },
      },
      {
        body: 'So Simple. So Clean. Must have if you want your business to be highly organized and digitally transformed even if you have a low-tech setting.',
        author: {
          name: 'Valor28625',
          imageUrl:
            '/customer-photos/valor.webp',
        },
      },
      
      // More testimonials...
    ],
  ],
  [
    [
      {
        body: 'Easy Client Management Portal! I\'ve used different apps that are similar to Blue, but I found that they are lacking some things or they complicated to use — Blue is perfect for me ',
        author: {
          name: 'Niru',
          imageUrl:
            '/customer-photos/niru.webp',
        },
      },
      {
        body: 'So easy that my High School students are using it! I fell in love with this product. Absolutely beautiful, simple and does NOT overwhelm at all. It actually inspires me to use it. This is a product I support 10000000%',
        author: {
          name: 'CodeQueen',
          imageUrl:
            '/customer-photos/codequeen.webp',
        },
      },
      // More testimonials...
    ],
    [
      {
        body: 'I LOVE THIS APP!! They knew what we wanted and gave it to us. This is what a deal should look like, These creators care about our user experience and it shows. Great job Blue! ',
        author: {
          name: 'digitalstemcell',
          imageUrl:
            '/customer-photos/digitalstemcell.webp',
        },
        
      },
      {
        body: 'Blue is the result you\'d get if Maree Condo fixed PM tools. Simple and sublime. Blue has solved a need I had for a tool I could use with staff ranging in ages from 18 to 75.',
        author: {
          name: 'Oziboomer',
          imageUrl:
            '/customer-photos/oziboomer.webp',
        },
        
      },
      {
        body: 'Works great! Blue is very intuitive and actually a joy to use. The user interface is beautifully designed which is important to me for a tool that I use every day.',
        author: {
          name: 'Maesk',
          imageUrl:
            '/customer-photos/maesk.jpeg',
        },
        
      },
      
      // More testimonials...
    ],
  ],
]
</script>