<template>
  <div class="relative w-full max-w-4xl mx-auto z-20 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:rounded-2xl lg:p-4 ">
    <video
      ref="video"
      class="w-full"
      :src="videoSrc"
      :controls="showControls"
      :autoplay="autoplay"
      :loop="loop"
      :muted="muted"
      :poster="poster"
      :preload="preload"
      @play="onPlay"
      @pause="onPause"
      @ended="onEnded"
      @click="togglePlay"
    />
    <div v-if="!isPlaying" class="absolute inset-0 flex items-center justify-center">
      <button @click="togglePlay" class="p-4 bg-brand-blue rounded-full">
        <svg class="w-12 h-12 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-5.197-3.018A1 1 0 008 9v6a1 1 0 001.555.832l5.197-3.018a1 1 0 000-1.664z" />
        </svg>
      </button>
    </div>
  </div>
  <!-- <div v-if="isPlaying" class="fixed inset-0 bg-black bg-opacity-75 z-10" @click="togglePlay"></div> -->
</template>

<script setup lang="ts">
import { ref } from 'vue';

const props = defineProps({
  videoSrc: { type: String, required: true },
  showControls: { type: Boolean, default: false },
  autoplay: { type: Boolean, default: false },
  loop: { type: Boolean, default: false },
  muted: { type: Boolean, default: false },
  poster: { type: String, default: '' },
  preload: { type: String, default: 'auto' },
});

const emit = defineEmits(['play', 'pause', 'ended']);

const isPlaying = ref(false);
const video = ref<HTMLVideoElement | null>(null);

const togglePlay = () => {
  if (video.value) {
    if (video.value.paused) {
      video.value.play();
      isPlaying.value = true;
    } else {
      video.value.pause();
      isPlaying.value = false;
    }
  }
};

const onPlay = () => {
  isPlaying.value = true;
  emit('play');
};

const onPause = () => {
  isPlaying.value = false;
  emit('pause');
};

const onEnded = () => {
  isPlaying.value = false;
  emit('ended');
};
</script>
