<template>
    <div class="isolate overflow-hidden bg-brand-blue dark:bg-gray-900">
      <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-4xl text-center">
          <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl">Add-On White Label Pricing.</h1>
          <p class="mt-6 text-lg leading-8 text-white">
            The White Label feature is an add-on to your core subscription.<br>
          </p>
        </div>
  
       
  
        <!-- White Label Add-on Pricing Card -->
        <div class="mt-8 bg-white dark:bg-gray-800 rounded-2xl shadow-xl overflow-hidden relative">
          <div class="flex flex-col lg:flex-row">
            <!-- Pricing details -->
            <div class="p-8 sm:p-10 lg:w-1/3 flex flex-col">
              <div class="flex flex-col items-center mb-4">
                <!-- Pricing toggle -->
                <div class="mb-8">
                  <div class="flex items-center space-x-3">
                    <span class="text-sm font-medium text-gray-900 dark:text-white">Monthly</span>
                    <button
                      @click="isYearlyWL = !isYearlyWL"
                      type="button"
                      class="relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none"
                      :class="isYearlyWL ? 'bg-brand-blue' : 'bg-gray-200'"
                    >
                      <span
                        class="pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"
                        :class="isYearlyWL ? 'translate-x-5' : 'translate-x-0'"
                      ></span>
                    </button>
                    <span class="text-sm font-medium text-gray-900 dark:text-white">Yearly</span>
                  </div>
                </div>
              </div>
  
              <div class="flex-grow flex items-center justify-center">
                <div class="text-center">
                  <div class="flex items-center justify-center text-6xl font-bold tracking-tight text-gray-900 dark:text-white">
                    ${{ isYearlyWL ? '200' : '20' }}
                    <span class="ml-2 text-2xl font-semibold tracking-wide text-gray-600 dark:text-gray-300">/company</span>
                  </div>
                  <div class="h-6 mt-1">
                    <p v-if="isYearlyWL" class="text-sm text-gray-500 dark:text-gray-400">(Save $40 per year)</p>
                  </div>
                </div>
              </div>
  
              <!-- <div class="mt-8">
                <a
                  href="https://app.blue.cc"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="block w-full rounded-md bg-brand-blue px-3.5 py-2 text-center text-sm font-semibold leading-6 text-white shadow-sm hover:bg-brand-blue-dark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-blue transition duration-300 ease-in-out hover:-translate-y-1"
                >
                  Add White Label Now <span aria-hidden="true">&rarr;</span>
                </a>
              </div> -->
            </div>
  
            <!-- Feature list -->
            <div class="lg:w-2/3 bg-gray-50 dark:bg-gray-700">
              <div class="p-8 sm:p-10">
                <div class="flex items-center gap-3">
                  <h4 class="text-xl font-semibold leading-6 text-gray-900 dark:text-white">White-Label Add-On</h4>
                </div>
                <ul role="list" class="mt-8 grid grid-cols-1 gap-4 text-m font-semibold leading-6 text-gray-500 dark:text-gray-300 sm:grid-cols-2 sm:gap-6">
                  <li class="flex gap-x-3">
                    <Icon name="heroicons:briefcase-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
                    Remove Blue Branding
                  </li>
                  <li class="flex gap-x-3">
                    <Icon name="heroicons:check-circle-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
                    Custom Onboarding Emails
                  </li>
                  <li class="flex gap-x-3">
                    <Icon name="heroicons:squares-2x2-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
                    Branded Desktop App
                  </li>
                  <li class="flex gap-x-3">
                    <Icon name="heroicons:wrench-screwdriver-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
                    Custom Logo & Colors
                  </li>
                  <li class="flex gap-x-3">
                    <Icon name="heroicons:envelope-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
                    Emails from your domain
                  </li>
                  <li class="flex gap-x-3">
                    <Icon name="heroicons:document-text-solid" class="h-6 w-5 flex-none text-brand-blue dark:text-white" />
                    White Label Documentation
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  
    
  
      </div>
    </div>
  </template>
  
  <script setup>
  import { ref } from 'vue'
  import { CheckIcon } from '@heroicons/vue/20/solid'
  
  const isYearly = ref(false)
  const isYearlyWL = ref(false)
  </script>