<template>
  <div class="bg-white dark:bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl sm:text-center">
        <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl">{{ title }}</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">{{ description }}</p>
      </div>
      <div :class="gridClasses">
        <div 
          v-for="(video, index) in videos" 
          :key="index" 
          :class="videoWrapperClasses"
        >
          <div class="relative pt-[56.25%] rounded-md shadow-2xl ring-1 ring-gray-900/10 dark:ring-gray-700/50 overflow-hidden">
            <iframe
              class="absolute inset-0 w-full h-full"
              :src="getEmbedUrl(video)"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script setup>
import { computed } from 'vue';

const props = defineProps({
  title: {
    type: String,
    required: true
  },
  description: {
    type: String,
    required: true
  },
  videos: {
    type: Array,
    required: true,
    validator: (value) => value.every(item => typeof item === 'string' && item.trim() !== '')
  }
});

const gridClasses = computed(() => {
  const baseClasses = "mt-16 gap-8 ";
  switch (props.videos.length) {
    case 1:
      return baseClasses + "flex justify-center";
    case 2:
      return baseClasses + "grid grid-cols-1 sm:grid-cols-2";
    case 3:
      return baseClasses + "grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3";
    default:
      return baseClasses + "grid grid-cols-1 sm:grid-cols-2";
  }
});

const videoWrapperClasses = computed(() => {
  const baseClasses = "rounded-xl bg-gray-900/5 dark:bg-white p-2 ring-1 ring-inset ring-gray-900/10 dark:ring-white lg:rounded-2xl lg:p-4 ";
  return props.videos.length === 1 ? baseClasses + "w-full sm:w-3/5" : baseClasses;
});


const getEmbedUrl = (url) => {
  const videoId = url.split('v=')[1];
  const ampersandPosition = videoId.indexOf('&');
  if (ampersandPosition !== -1) {
    return `https://www.youtube.com/embed/${videoId.substring(0, ampersandPosition)}?modestbranding=1&rel=0`;
  }
  return `https://www.youtube.com/embed/${videoId}?modestbranding=1&rel=0`;
};
</script>