<template>
  <div class="relative pt-[56.25%] rounded-md shadow-2xl ring-1 ring-gray-900/10 dark:ring-gray-700/50 overflow-hidden">
    <iframe
      class="absolute inset-0 w-full h-full"
      :src="embedUrl"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</template>

<script setup>
import { computed } from 'vue';

const props = defineProps({
  url: {
    type: String,
    required: true
  }
});

const embedUrl = computed(() => {
  const videoId = props.url.split('v=')[1];
  const ampersandPosition = videoId.indexOf('&');
  if (ampersandPosition !== -1) {
    return `https://www.youtube.com/embed/${videoId.substring(0, ampersandPosition)}?modestbranding=1&rel=0`;
  }
  return `https://www.youtube.com/embed/${videoId}?modestbranding=1&rel=0`;
});
</script>