<template>
  <HeroRightLight 
  title="Join the Blue Partner Program."
    subtitle="Become a Blue Partner to earn 42% lifetime revenue share when a new customer uses your link to sign up to Blue."
    buttonText="Join Now"
    buttonLink="https://partners.blue.cc"
    imageSrc="/partners.png"
    imageAlt="Partners dashboard screenshot"
  />
  <StatsBlue :stats="[
        { id: 1, name: 'Get attribution up to 180 days after the first link click.', value: '180 Day Cookie' },
        { id: 2, name: 'Unlike other programs, Blue pays out for the lifetime of the customer.', value: 'Lifetime' },
        { id: 3, name: 'Spin up multiple links to track different campaigns.', value: 'Multiple Links' },
        { id: 4, name: 'Get a real-time analytics dashboard to see clicks, visitors, and conversions.', value: 'Analytics' },
        { id: 5, name: 'Get a custom landing page on the Blue website to send your traffic.', value: 'Landing Page' },
        { id: 6, name: 'Get expert marketing support from the Blue team.', value: 'Support' }
      ]" />
  <FeatureRight
    title="How it works"
    description="The Blue Partner Program is straight-forward to get started and scale. "
    :features="[
      {
        name: '1. Sign Up',
        description: 'Sign up and get your links for sharing with your audience',
        icon: 'heroicons:rocket-launch-solid',
      },
      {
        name: '2. Pitch Blue',
        description: 'Talk about Blue on your online platforms and invite users to try Blue via your affiliate link.',
        icon: 'heroicons:academic-cap-solid',
      },
      {
        name: '3. Get Rewarded.',
        description: 'We track the sign-ups and you get 42% lifetime revenue share.',
        icon: 'heroicons:chart-bar-solid',
      },
    ]"
    :image="{
      src: '/product/simple-screenshot-home.png',
      alt: 'Product screenshot',
      width: '2432',
      height: '1442',
    }"
  />
  <CtaDark
        title="Start Earning Today"
        description="Join the Blue partner Program to scale your earnings like never before. "
        buttonText="Join Now"
        buttonLink="https://partners.blue.cc"
      />
</template>

<script setup lang="ts">
useSeoMeta({
  title: 'Partners',
  description: 'Join Blue\'s partner program to grow your business with a 42% lifetime revenue share on customer referrals. Let\'s build success together!'
});
</script>
