<template>
  <div class="bg-white dark:bg-gray-900">
    <div class="relative">
      <div class="mx-auto max-w-7xl">
        <div class="relative z-10 pt-14 lg:w-full lg:max-w-2xl">
          <svg class="absolute inset-y-0 right-8 hidden h-full w-80 translate-x-1/2 transform fill-white dark:fill-gray-900 lg:block" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
            <polygon points="0,0 90,0 50,100 0,100" />
          </svg>
          
          <div class="relative px-6 py-32 sm:py-40 lg:px-8 lg:py-56 lg:pr-0">
            <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
              <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-6xl">Our mission to organise the world's work.</h1>
              <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">We're an independent company with a passion for helping teams work better, together. We're building the best project and process management platform on the planet—simple, powerful, flexible, and affordable for all.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 dark:bg-gray-800 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <NuxtImg class="aspect-[3/2] object-cover lg:aspect-auto lg:h-full lg:w-full" src="/blueteam.jpeg" alt="" />
      </div>
    </div>
  </div>
  <div class="bg-brand-blue dark:bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
        <div v-for="stat in stats" :key="stat.id" class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base leading-7 text-white">{{ stat.name }}</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">{{ stat.value }}</dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="bg-brand-blue  dark:bg-gray-900 pb-32">
    <div class="max-w-3xl mx-auto bg-white dark:bg-gray-800 p-8 shadow-lg relative">
      <div class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <img src="/manny.jpeg" alt="CEO Profile" class="w-36 h-36 rounded-full border-4 border-white dark:border-gray-800">
      </div>
      
      <h2 class="text-4xl font-bold mb-6 mt-12 text-gray-900 dark:text-gray-100">Message from the CEO.</h2>
      <h3 class="text-3xl font-semibold mb-8 text-gray-900 dark:text-gray-100">We built this for you.</h3>
      <div class="mb-8 text-lg leading-relaxed text-gray-600 dark:text-gray-300">
        <p class="mb-6">Hey there,</p>
        <p class="mb-6">I'm Manny, the founder and CEO of Blue. I created Blue to address the challenges I faced while scaling my consultancy. Turns out — many people struggle to stay organized and streamline their business processes.</p>
        <p class="mb-6">The central idea is that Blue is easy to use, so your team <span class="font-semibold">actually</span> use it. We have all wasted money on software platforms that promised much but failed to deliver: <span class="font-semibold">they are rigid, awkward, and take forever to understand.</span></p>
        <p class="mb-6">Blue is different — It's super easy to use, incredibly flexible, and yet powerful enough for <span class="font-semibold">serious</span> work. And the great thing is that you <span class="font-semibold">don't</span> have to change your processes! Blue adapts to your existing processes — giving you visibility, automations, and peace of mind. You'll sleep well at night knowing that nothing slips through the cracks.</p>
        <p class="mb-6">So that's why I built Blue — because there is no company with a simple solution for scaling operations, without all the fluff.</p>
        <p class="mb-6">Thanks for reading, and I hope you enjoy using Blue!</p>
        
        <p class="mb-6"><em>I know that we enjoy building it!</em></p>
        
        <p class="mb-6">Stay productive,</p>
        <img src="/efsig.png" alt="Emanuele Faja Signature" class="h-20 w-auto">
        <p class="flex items-center text-gray-900 dark:text-gray-100">
          <span>
            <strong>Emanuele "Manny" Faja</strong><br>Founder &amp; CEO of Blue.
          </span>
        </p>
        <a href="https://www.linkedin.com/in/efaja/" target="_blank" rel="noopener noreferrer">
            <img src="/resources/linkedin-icon.svg" alt="LinkedIn" class="w-5 h-5">
          </a>
      </div>
    </div>
  </div>
  <div class="bg-white dark:bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <div>
          <h2 class="text-base font-semibold leading-7 text-brand-blue dark:text-white">Our Values</h2>
          <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl">Nothing meaningful was ever accomplished in the short term.</p>
        </div>
        
        <dl class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-gray-600 dark:text-gray-300 sm:grid-cols-2 lg:gap-y-16">
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900 dark:text-gray-100">
              <Icon name="heroicons:light-bulb-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue dark:text-white" aria-hidden="true" />
              Simplicity.
            </dt>
            <dd class="mt-2">Anyone can make things complex. We strive to make things as simple as they should be, but no simpler.</dd>
          </div>
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900 dark:text-gray-100">
              <Icon name="heroicons:clock-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue dark:text-white" aria-hidden="true" />
              Long Term Thinking.
            </dt>
            <dd class="mt-2">We make decisions based on the long term — even if that means hard work or difficult choices.</dd>
          </div>
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900 dark:text-gray-100">
              <Icon name="heroicons:eye-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue dark:text-white" aria-hidden="true" />
              Clarity.
            </dt>
            <dd class="mt-2">We prioritize ideas that are easy to understand and convey to anyone.</dd>
          </div>
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900 dark:text-gray-100">
              <Icon name="heroicons:sparkles-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue dark:text-white" aria-hidden="true" />
              Attention to Detail.
            </dt>
            <dd class="mt-2">The small things are the big things. We take pride in our attention to detail.</dd>
          </div>
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900 dark:text-gray-100">
              <Icon name="heroicons:heart-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue dark:text-white" aria-hidden="true" />
              Customer Obsession.
            </dt>
            <dd class="mt-2">We don't have investors, so we must have an incredible focus on our customers.</dd>
          </div>
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900 dark:text-gray-100">
              <Icon name="heroicons:book-open-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue dark:text-white" aria-hidden="true" />
              Deep Work.
            </dt>
            <dd class="mt-2">We value collaboration, but we know that quality requires time working alone, deeply.</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  <ResourceList
    title="Learn more about Blue." 
    description=" "
    :postSlugs="[
      'value-proposition-blue',
      'why-i-started-blue',
      '2023-annual-letter'
    ]"
  />
  <LazyCtaDark />
</template>

<script lang="ts" setup>
useSeoMeta({
  title: 'About',
  description: 'Our mission is to organize the world\'s work by building the best project management platform on the planet—simple, powerful, flexible, and affordable for all.',
})
const stats = [
  { id: 1, name: 'Thousands of organizations trust Blue for mission-critical work.', value: '15k companies' },
  { id: 2, name: 'Blue is used in every continent across the world.', value: '125 countries' },
  { id: 3, name: 'We power a variety of processes and projects.', value: '571k projects' },
  { id: 4, name: 'We store, track, sort, and tag millions of records.', value: '6.8M records' },
  { id: 5, name: 'Customers rely on us to safeguard their data.', value: '42TB data' },
  { id: 6, name: 'We\'ve been doing this for years, and we\'re just getting started.', value: '7+ years' },
]
</script>
