<template>
   <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-24 py-12">
      <div class="flex flex-col sm:flex-row justify-center items-center mb-12 space-x-4">
  <h2 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-4 sm:mb-0">
    Blue CEO message to 
    <span class="bg-brand-blue bg-opacity-20 px-1 rounded underline decoration-brand-blue decoration-2 underline-offset-4">
  AppSumo Plus Members
</span>    who recently purchased. 🎉
  </h2>
</div>

    </div>
    <VideoCenter
      videoSrc="/resources/appsumoplusmessage.mp4"
      :showControls="true"
      :autoplay="false"
      :loop="false"
      :muted="false"
      poster="/resources/appsumothankyoumessagescreenshot.png"
      preload="auto"
    />
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 text-center text-gray-500">
      Drop a review on AppSumo here -> <a href="https://appsumo.com/products/blue/#reviews" target="_blank" class="text-brand-blue font-bold hover:underline">AppSumo Blue Reviews</a>
    </div>

    
 </template>
 <script setup lang="ts">
import { ref, computed } from 'vue'
import { useMediaQuery } from '@vueuse/core'
 useSeoMeta({
   title: 'Thank you AppSumo Plus Members',
   description: 'A brief thank you video for all AppSumo Plus members that purchased Blue in the last few days.',
 })
 </script>