<template>
   <div>
    <div class="relative isolate overflow-hidden bg-white dark:bg-gray-900">
    <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
    </svg>
    <div class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-40">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:pt-8">
        <h1 class="mt-32 text-4xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-6xl">
          Say <span class="wavy-emoji">👋</span> to the best AppSumo deal you'll pick up in 2025.
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">
          Blue is the last project management and team collaboration platform that you will ever need to buy.
        </p>
        <div class="mt-10 flex flex-col items-start gap-x-6">
          <a href="https://app.blue.cc" class="rounded-md bg-brand-blue px-3.5 py-2.5 text font-semibold text-white shadow-sm hover:bg-blue-brand focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition duration-300 ease-in-out hover:-translate-y-1">
            Start a FREE TRIAL <span aria-hidden="true">→</span>
          </a>
          <p class="mt-2 text-xs text-gray-400 dark:text-gray-500">Top Rated Deal <span class="text-red-500 animate-pulse">🌮🌮🌮🌮🌮</span></p>
        </div>
        <div class="sm:mt-32 md:mt-24 flex items-center flex-col">
          <div class="flex items-center">
            <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 mr-1 hover:animate-spin" />
            <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 mr-1 hover:animate-spin" />
            <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 mr-1 hover:animate-spin" />
            <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 mr-1 hover:animate-spin" />
            <NuxtImg src="/star.svg" alt="Star icon" class="h-5 w-5 mr-1 hover:animate-spin" />
          </div>
          <span class="text-sm text-gray-400 dark:text-gray-500 mt-2">Average Rating on AlternativeTo</span>
        </div>
      </div>
      <div class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32">
        <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
          <div class="-m-2 rounded-xl bg-gray-900/5 dark:bg-gray-800/5 p-2 ring-1 ring-inset ring-gray-900/10 dark:ring-white dark:bg-white lg:-m-4 lg:rounded-2xl lg:p-4">
            <NuxtImg
              src="/product/project-management-full-interface.png"
              alt="App screenshot"
              class="w-[76rem] rounded-md shadow-2xl ring-1 ring-gray-900/10 dark:ring-gray-800"
              sizes="xs:100vw sm:75vw md:50vw lg:35vw xl:35vw xxl:50vw 2xl:75vw"
              :quality="isMobile ? 40 : 100"
              format="webp"
              preload
            />
          </div>
        </div>
      </div>
    </div>
  </div>

 <LogoGrid
          title="Powering the world's best project managers."
          subtitle="From startups → enterprise"
          :logos="[
             { url: '/clients/heineken.svg', alt: 'Heineken Logo' },
             { url: '/clients/deloitte.svg', alt: 'Deloitte Logo' },
             { url: '/clients/savethechildren.svg', alt: 'Save The Children Logo' },
             { url: '/clients/fedex.svg', alt: 'Fedex Logo' },
             { url: '/clients/ilo.png', alt: 'International Labour Organization Logo' }
          ]"
       />

<AppSumoTestimonialGroup />


<LazyFeatureLeft
          title="Save at least $5,000"
          description="A great deal — the AppSumo way. We're here for the long haul. Join us, get a great deal, and share your feedback to improve our platform. Then help us spread the word."
          :features="[
             {
                name: 'Save money',
                description: 'Save tens of thousands per year for a mid-sized company.',
                icon: 'heroicons:currency-dollar-solid',
             },
             {
                name: 'No surprises.',
                description: 'No extra sneaky charges, and you get access to ALL features.',
                icon: 'heroicons:cake-solid',
             },
             {
                name: 'Generously free.',
                description: 'Customers, vendors, and comment/view only roles are free and unlimited.',
                icon: 'heroicons:lock-closed-solid',
             },
          ]"
          :image="{
             src: '/product/recruitment.png',
             alt: 'Product screenshot',
             width: '2432',
             height: '1442',
          }"
    />

    <LazyFeatureRight
       title="On a ridiculously good platform"
       description="We designed Blue to scratch our own itch. We got fed up with clunky, expensive software and wanted something that was simple, powerful, and flexible."
       :features="[
          {
             name: 'Faster onboarding.',
             description: 'Get your team up and running in hours, not weeks or months.',
             icon: 'heroicons:rocket-launch-solid',
          },
          {
             name: 'Less training.',
             description: 'Spend less time training and more time doing the work that counts.',
             icon: 'heroicons:academic-cap-solid',
          },
          {
             name: 'Higher adoption.',
             description: 'The right platform is half the battle. The other half is getting teams to use it.',
             icon: 'heroicons:chart-bar-solid',
          },
       ]"
       :image="{
          src: '/product/simple-screenshot-home.png',
          alt: 'Product screenshot',
          width: '2432',
          height: '1442',
       }"
    />
    
    <LazyFeatureCenterDark
    titleNumber=""
   titleText="That's here to stay."
   descriptionText="We've been working on Blue for 7 years, and we're just getting started. We've supported previous AppSumo customers for over four years."
   screenshotSrc="/product/dark-cta-screenshot.png"
   :features="[
     { name: 'Profitable', description: 'Rest assured that we are staying in business for decades to come.', icon: 'heroicons:currency-dollar-solid' },
     { name: 'Boostrapped', description: 'We own our own company. Not something every software company can say.', icon: 'heroicons:heart-solid' },
     { name: 'Monthly Releases', description: 'We have released features every month like clockwork since the first line of code.', icon: 'heroicons:calendar-solid' }
   ]"
 />

<!-- 
 <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col sm:flex-row justify-center items-center mb-12 space-x-4">
    <h2 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-4 sm:mb-0">
      That's right, Blue is back in Appsumo for the first time since 2021 
      <span class="sm:block">
        with an even better deal than before! 🎉 🚀
      </span>
      <div class="sm:block mt-4">
        <br>
      </div>
      <span class="bg-brand-blue bg-opacity-20 px-1 rounded underline decoration-brand-blue decoration-2 underline-offset-4">
        Multiple companies on Tier 2 and above.
      </span> 
    </h2>
  </div>
</div> -->



<!-- 
<div class="container mx-auto px-4 py-12">
    <div class="max-w-full lg:max-w-[70%] mx-auto">
      <div class="overflow-x-auto shadow-xl rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-brand-blue">
            <tr>
              <th v-for="header in headers" :key="header" class="px-6 py-4 text-center text-xs font-bold text-white uppercase tracking-wider">
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr v-for="(tier, index) in pricingData" :key="tier.tier" :class="{'bg-brand-blue/10': index % 2 === 0}">
              <td v-for="(value, key) in tier" :key="key" class="px-6 py-4 whitespace-nowrap text-center text-sm">
                <span :class="{'font-semibold text-brand-blue': key === 'tier', 'font-medium text-gray-600': key !== 'tier'}">
                  {{ value }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
 

       <LazyFeatureCenter
       title="The modern way to manage projects."
       description="Blue is your one source of truth—making work easier, faster, and better. You get access to all features, with no limits on AI or file storage—for real."
       :imageSrc="'/product/project-management-full-interface.png'"
       :imageAlt="'App screenshot'"
       :imageWidth="2432"
       :imageHeight="1442"
       :features="[
          {
             name: 'View work your way',
             description: 'Kanban, Database, Calendar, Gantt Charts, Lists, and Maps.',
             icon: 'heroicons:view-columns-solid',
          },
          {
             name: 'Tailored to you',
             description: 'Pick from dozens of field types to match your data structure.',
             icon: 'heroicons:list-bullet-solid',
          },
          {
             name: 'Get rid of admin work',
             description: 'Streamline workflows with powerful if-this-then-that automations.',
             icon: 'heroicons:wrench-solid',
          },
          {
             name: 'Work from anywhere',
             description: 'Mac, Windows, iOS (iPhone & iPad), Android, and PWA.',
             icon: 'heroicons:computer-desktop-solid',
          },
          {
             name: 'Private & secure',
             description: 'Define granular access permissions for different team roles.',
             icon: 'heroicons:users-solid',
          },
          {
             name: 'Make informed decisions',
             description: 'Create real-time customizable dashboards, combining data across projects.',
             icon: 'heroicons:chart-pie-solid',
          },
       ]"
    />  
   
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-24 py-12">
      <div class="flex flex-col sm:flex-row justify-center items-center mb-12 space-x-4">
  <h2 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-4 sm:mb-0">
    Hear it from Lorenzo, 
    <span class="bg-brand-blue bg-opacity-20 px-1 rounded underline decoration-brand-blue decoration-2 underline-offset-4">
  one of our very first Sumo-lings
</span>    from back in 2020! 🎉
  </h2>
</div>

    </div>
    <VideoCenter
      videoSrc="/resources/lorenzoappsumotestimonial.mp4"
      :showControls="true"
      :autoplay="false"
      :loop="false"
      :muted="false"
      poster="/resources/lorenzoappsumovideoplaceholder.png"
      preload="auto"
    />
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 text-center text-gray-500">
      Check out Lorenzo's templates & travel platform -> <a href="https://elevatetravelx.vip/blue" target="_blank" class="text-brand-blue font-bold hover:underline">Learn more</a>
    </div>
  <LazyCtaDark />

     
<LazyYouTube
    title="But don't take our word for it."
    description="We asked some experts to take a look."
    :videos="[
      'https://www.youtube.com/watch?v=MYARjhQy5tc',
      'https://www.youtube.com/watch?v=9l_hDAdCRPM',
      'https://www.youtube.com/watch?v=2yqktWcdAK4', 
      'https://www.youtube.com/watch?v=WVLSqoU_dug',   
    ]"
  />



    
  <LazyStatsCards
       card1Number="120+ Countries"
       card1Title="Global Reach"
       card1Description="Blue is used in every continent across the world."
       card2Number="15,000+ Organizations"
       card2Title="Mission Critical"
       card2Description="Thousands of organizations trust Blue for mission-critical work."
       card3Number="350,000+ Projects"
       card3Title="Flexible Processes"
       card3Description="Run sales, marketing, recruitment, operations — anything!"
     />
   
    
    <LazyCtaLight />

    

 <LazyAwards
       title="The award-winning platform you can trust."
       description="Blue has been internationally recognized as the platform to trust for mission-critical work. "
    />
    

     <ComparePlatform
      title="Compare us to the competition"     
      description="Not only do you get a lifetime deal, but you get a platform that competes with the top project management software providers." 
      :showHeader="true"
      :showSoftwareSelection="true"
    />

    <LazyYouTube
    title="Blue CEO Interview"
    description="Get a behind the scenes look at how Blue works."
    :videos="[
      'https://www.youtube.com/watch?v=yqTs_mC-HOo',    
    ]"
  />

     <!-- Hero section -->
<div class="relative isolate overflow-hidden bg-white dark:bg-gray-900 px-6 pt-16 pb-24 sm:pt-24 sm:pb-32 lg:px-8">
  <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
    <defs>
      <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
        <path d="M.5 200V.5H200" fill="none" />
      </pattern>
    </defs>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
  </svg>
  
  <div class="mx-auto max-w-7xl">
    <div class="grid grid-cols-1 gap-y-12 gap-x-8 lg:grid-cols-2 lg:items-start">
      <div class="lg:pr-8">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-6xl mb-8">Run an Agency? <br>We wrote the book!</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">
          Written by Blue's CEO, this guide distills a decade of agency leadership experience to help you grow your agency. Learn to master cash-flow, project management, client relationships, proposal writing — and more.
        </p>
        <div class="mt-10 flex items-center gap-x-6">
          <a 
            href="/resources/agency-success-playbook" 
            target="_blank" 
            class="rounded-md bg-brand-blue px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 transition duration-300 ease-in-out hover:-translate-y-0.5 flex items-center"
          >
            <Icon name="heroicons:book-open-solid" class="w-5 h-5 mr-2" />
            Read eBook
          </a>                
        </div>
      </div>
      <div class="lg:pl-8 flex justify-center lg:justify-end">
        <div class="w-[90%] lg:w-full max-w-md">
          <div class="aspect-w-3 aspect-h-4 overflow-hidden rounded-lg shadow-2xl bg-gray-100 dark:bg-gray-800 ring-1 ring-gray-900/10 dark:ring-gray-700">
            <img src="/resources/agency-success-cover.png" alt="Agency Success Guide Book Cover" class="object-cover object-center w-full h-full" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

     
    
    
 
<LazyCtaDark />

     <FaqAccordion :faqs="pageFaqs" />

     
   </div>
 </template>
 <script setup lang="ts">
import { ref, computed } from 'vue'
import { useMediaQuery } from '@vueuse/core'
 useSeoMeta({
   title: 'Blue AppSumo Deal',
   description: 'Blue is best AppSumo deal of 2025. Learn more and get the best lifetime deal for project management software for your business.',
 })
 
 // Detect if the screen width is less than or equal to 640px (mobile devices)
const isMobile = useMediaQuery('(max-width: 640px)')
 
 const pageFaqs = [
   {
     "question": "Do AppSumo users get all the features in Blue?",
     "answer": "Yes, that's right. In the AppSumo plan there are all the features available of the entire platform. In the future, if we launch multiple plans, this will be the same as our standard business plan."
   },
   {
     "question": "How many projects can I have in one company?",
     "answer": "All AppSumo tiers support unlimited projects in one company."
   },
   {
     "question": "How do the user limits work?",
     "answer": "Admins, Team members, and Custom User Roles count against your user limits. You can invite an unlimited amount of clients, comment-only and view-only users and it will not count against your limits."
   },
   {
     "question": "Unlimited Storage? Is this for real?",
     "answer": "Yes — that's right! There is unlimited storage, with a maximum file size of 5GB per file. We also offered this in our AppSumo deal in 2020/21 and it is sustainable. This is because most files are access a lot early in the project lifecycle, and then less so later. This allows us to intelligently move files to cheaper storage (but with slightly longer access times). However, there is some fine print. We offer unlimited storage for projects reasons, not for bulk upload of backups, videos, photo libraries, and so on. We monitor overall file storage usage by customer, and we reach out proactively if we see large usage and have a discussion on the use case. If it's valid project-work, then that's fine! "
   },
   {
     "question": "Is Blue going to be sticking around for the long term?",
     "answer": "Yes, we've been around since 2018! We're constantly improving the platform, and we are profitable and have no investors pressuring us for higher returns."
   },
   {
     "question": "Can I create project templates that I can reuse again and again?",
     "answer": "Absolutely! Blue comes with a bunch of well-researched templates, but you can also take any project and turn it into a template that you can re-use again and again."
   },
   {
     "question": "Does the AppSumo deal include a custom domain name  / CNAME option?",
     "answer": "Yes — we offer free custom domains to all customers. Visit this link for more details and setup instructions: https://documentation.blue.cc/start-guide/custom-domains"
   },
   {
     "question": "Can I access Custom Fields through an API?",
     "answer": "Absolutely. Custom Fields are instantly accessible via our API as soon as they're created. Our dynamic API documentation updates according to your custom data structure, facilitating seamless data exchange with external systems."
   },
   {
     "question": "I have more questions, how do I get in touch?",
     "answer": "Sure thing, you can email us at help@blue.cc or drop a questions directly on the AppSumo deal page. We're always happy to help!"
   }
 ];


const headers = ref(['Tier', 'Price', 'Users', 'Companies', 'Price per Company']);

const pricingData = computed(() => [
  { tier: 'Tier 1', price: '$49', users: '30', companies: '1', pricePerCompany: '$49' },
  { tier: 'Tier 2', price: '$98', users: '75', companies: '2', pricePerCompany: '$49' },
  { tier: 'Tier 3', price: '$147', users: '150', companies: '3', pricePerCompany: '$49' },
  { tier: 'Tier 4', price: '$196', users: '300', companies: '4', pricePerCompany: '$49' },
  { tier: 'Tier 5', price: '$245', users: 'Unlimited', companies: '5', pricePerCompany: '$49' },
  { tier: 'Tier 6', price: '$399', users: 'Unlimited', companies: '10', pricePerCompany: '~$40' },
  { tier: 'Tier 7', price: '$499', users: 'Unlimited', companies: '15', pricePerCompany: '~$33' },
  { tier: 'Tier 8', price: '$599', users: 'Unlimited', companies: '25', pricePerCompany: '~$24' },
  { tier: 'Tier 9', price: '$999', users: 'Unlimited', companies: '100', pricePerCompany: '~$10' },
]);
</script>


<style scoped>
@media (max-width: 640px) {
  table {
    font-size: 0.75rem;
  }
  
  th, td {
    padding: 0.5rem 0.25rem;
  }
}
</style>
 
 <style scoped>
@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.wavy-emoji {
  display: inline-block;
  animation: wave 2.5s infinite;
  transform-origin: 70% 70%;
}
</style>