<template>
   <div>
   <HeroHome
   headingText="Share the ❤️ & get FREE tier upgrades"
   descriptionText="Post, review, or create content about Blue and earn credits towards higher tiers. It's that simple!"
   buttonText="Learn More"
   buttonLink="#intro"
   platformText="Earn credits towards higher tiers"
   heartEmoji="🤑"
   ratingText="Average Rating on AlternativeTo"
   screenshotSrc="/product/project-management-full-interface.png"
 />


 <AppSumoRewardsCalculator />
 <div id="intro"class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col sm:flex-row justify-center items-center mb-12 space-x-4">
    <h2 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-4 sm:mb-0">
       
      <span class="sm:block">
        Learn how to earn 💰 to spend on tier upgrades 🚀
      </span>
      <div class="sm:block mt-4">
        <br>
      </div>
        These are the available tiers: 
    </h2>
  </div>
</div>



<!--AppSumo Tier Table-->
<div class="container mx-auto px-4 py-12">
    <div class="max-w-full lg:max-w-[70%] mx-auto">
      <div class="overflow-x-auto shadow-xl rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-brand-blue">
            <tr>
              <th v-for="header in headers" :key="header" class="px-6 py-4 text-center text-xs font-bold text-white uppercase tracking-wider">
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr v-for="(tier, index) in pricingData" :key="tier.tier" :class="{'bg-brand-blue/10': index % 2 === 0}">
              <td v-for="(value, key) in tier" :key="key" class="px-6 py-4 whitespace-nowrap text-center text-sm">
                <span :class="{'font-semibold text-brand-blue': key === 'tier', 'font-medium text-gray-600': key !== 'tier'}">
                  {{ value }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- Credit Table-->
  <div class="bg-brand-blue py-32">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-white text-center mb-12">
      And here's how much you can earn for each type of action.
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <div class="text-5xl font-bold text-brand-blue mb-4">$20</div>
        <p class="text-gray-600">Share your Blue experience on social media (Facebook, Twitter, LinkedIn, Quora, Reddit)</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <div class="text-5xl font-bold text-brand-blue mb-4">$40</div>
        <p class="text-gray-600">Write an honest review on platforms like G2, Capterra, Trustpilot, or AlternativeTo</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <div class="text-5xl font-bold text-brand-blue mb-4">$50</div>
        <p class="text-gray-600">Create a blog post about your Blue experience with a do-follow link to our homepage</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <div class="text-5xl font-bold text-brand-blue mb-4">$150</div>
        <p class="text-gray-600">Record a short video testimonial sharing how Blue has improved your workflow</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <div class="text-5xl font-bold text-brand-blue mb-4">$250</div>
        <p class="text-gray-600">Create an in-depth YouTube review showcasing Blue's features and benefits</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <div class="text-4xl font-bold text-brand-blue mb-4">More Ideas?</div>
        <p class="text-gray-600">Have a creative way to spread the word? <a href="mailto:help@blue.cc" class="text-brand-blue hover:underline">Email us</a> to discuss how you can earn more credits!</p>
      </div>
    </div>
  </div>
</div>

<CtaDark 
title="Submit your content"
  description="Submit your content to get credit for upgrading your account."
  buttonText="Submit Now"
  buttonLink="https://forms.blue.cc/f/clze9kgk1001bjs0u2y9rfour"
/>

<LazyFeatureRight
      subtitle=""
      title="How it works"
      description="Build up credits to upgrade tiers and get access to more users and companies."
      :features="[
         {
            name: 'Create your content.',
            description: 'Post on socials, write reviews, or make a video. ',
            icon: 'heroicons:pencil-solid',
         },
         {
            name: 'Submit a request.',
            description: 'Make a separate request for each piece of content you make',
            icon: 'heroicons:cursor-arrow-rays-16-solid',
         },
         {
            name: 'Get credit',
            description: 'The Blue team will review, and you will be notified automatically and receive credit for your upgrade.',
            icon: 'heroicons:currency-dollar-solid',
         },
      ]"
      :image="{
         src: '/product/simple-screenshot-home.png',
         alt: 'Product screenshot',
         width: '2432',
         height: '1442',
      }"
   />  
   
   <div class="bg-brand-blue py-24">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-white text-center mb-12">
      $40 to Share Your Experience on These Platforms
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- G2 -->
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <img src="/softwaresites/g2.webp" alt="G2 Logo" class="h-16 mx-auto mb-4">
        <h3 class="text-xl font-semibold mb-4">G2</h3>
        <a href="https://www.g2.com/products/blue-2024-03-25/reviews" target="_blank" rel="noopener noreferrer" class="inline-block bg-brand-blue text-white font-bold py-2 px-4 rounded shadow transition duration-300 ease-in-out hover:shadow-lg hover:-translate-y-0.5">
          Write a Review
        </a>
      </div>
      
      <!-- Capterra -->
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <img src="/softwaresites/capterra.png" alt="Capterra Logo" class="h-16 mx-auto mb-4">
        <h3 class="text-xl font-semibold mb-4">Capterra</h3>
        <a href="https://www.capterra.com/p/186397/Blue/" target="_blank" rel="noopener noreferrer" class="inline-block bg-brand-blue text-white font-bold py-2 px-4 rounded shadow transition duration-300 ease-in-out hover:shadow-lg hover:-translate-y-0.5">
          Write a Review
        </a>
      </div>
      
      <!-- AlternativeTo -->
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <img src="/softwaresites/alternativeto.jpeg" alt="AlternativeTo Logo" class="h-16 mx-auto mb-4">
        <h3 class="text-xl font-semibold mb-4">AlternativeTo</h3>
        <a href="https://alternativeto.net/software/bloo-teamwork/about/" target="_blank" rel="noopener noreferrer" class="inline-block bg-brand-blue text-white font-bold py-2 px-4 rounded shadow transition duration-300 ease-in-out hover:shadow-lg hover:-translate-y-0.5">
          Write a Review
        </a>
      </div>
      
      <!-- Software Advice -->
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <img src="/softwaresites/softwareadvice.png" alt="Software Advice Logo" class="h-16 mx-auto mb-4">
        <h3 class="text-xl font-semibold mb-4">Software Advice</h3>
        <a href="https://www.softwareadvice.com.sg/software/298025/blue" target="_blank" rel="noopener noreferrer" class="inline-block bg-brand-blue text-white font-bold py-2 px-4 rounded shadow transition duration-300 ease-in-out hover:shadow-lg hover:-translate-y-0.5">
          Write a Review
        </a>
      </div>
      
      <!-- Product Hunt -->
      <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <img src="/softwaresites/producthunt.png" alt="Product Hunt Logo" class="h-16 mx-auto mb-4">
        <h3 class="text-xl font-semibold mb-4">Product Hunt</h3>
        <a href="https://www.producthunt.com/products/blue-teamwork" target="_blank" rel="noopener noreferrer" class="inline-block bg-brand-blue text-white font-bold py-2 px-4 rounded shadow transition duration-300 ease-in-out hover:shadow-lg hover:-translate-y-0.5">
          Write a Review
        </a>
      </div>
    </div>
  </div>
</div>


<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-24 py-12">
      <div class="flex flex-col sm:flex-row justify-center items-center mb-12 space-x-4">
  <h2 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-4 sm:mb-0">
    We will give you 
    <span class="bg-brand-blue bg-opacity-20 px-1 rounded underline decoration-brand-blue decoration-2 underline-offset-4">
  $150 for your honest opinion
</span>    on video
  </h2>
</div>

    </div>
    <VideoCenter
      videoSrc="/resources/lorenzoappsumotestimonial.mp4"
      :showControls="true"
      :autoplay="false"
      :loop="false"
      :muted="false"
      poster="/resources/lorenzoappsumovideoplaceholder.png"
      preload="auto"
    />
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 text-center text-gray-500">
      Here's an example of a testimonial from a happy AppSumo customer! We're not looking for anything fancy, just an honest review!
    </div>


<LazyYouTube
    title="$250 Credit for a YouTube Review"
    description="It's simple — take a look at some previous examples!"
    :videos="[
      'https://www.youtube.com/watch?v=MYARjhQy5tc',
      'https://www.youtube.com/watch?v=9l_hDAdCRPM',
      'https://www.youtube.com/watch?v=2yqktWcdAK4', 
      'https://www.youtube.com/watch?v=2yqktWcdAK4',    
    ]"
  />
    
  
  
 
<LazyCtaDark 
title="Submit your content"
  description="Submit your content to get credit for upgrading your account."
  buttonText="Submit Now"
  buttonLink="https://forms.blue.cc/f/clze9kgk1001bjs0u2y9rfour"
/>

     <FaqAccordion :faqs="pageFaqs" />

     
   </div>
 </template>
 <script setup lang="ts">
 useSeoMeta({
   title: 'Blue AppSumo Rewards Programme',
   description: 'Blue is best AppSumo deal of 2024. Learn more and get the best lifetime deal for project management software for your business.',
 })
 
 const pageFaqs = [
  {
    "question": "How do I participate in the Blue AppSumo Rewards Program?",
    "answer": "You need to have purchased an AppSumo deal. You can find the deal at https://appsumo.com/products/blue"
  },
  {
    "question": "What types of actions qualify for rewards?",
    "answer": "Reviews, social media posts, and YouTube reviews."
  },
  {
    "question": "How many credits do I need to upgrade to the next tier?",
    "answer": "It depends on the Tier! To upgrade between tiers 1 to 5, you only need $50 of actions (i.e. two reviews, or 1 review and 3 social posts)."
  },
  {
    "question": "Will my tier be automatically upgraded?",
    "answer": "No, we will give you credits after you submit each action and then you can use those credits to upgrade to the next tier. You can check your credits on our billing portal: https://billing.blue.cc/p/login/14k7w17SddUW0yk288"
  },
  {
    "question": "Can I earn multiple rewards for the same type of action?",
    "answer": "Yes for social posts!"
  },
  {
    "question": "How long does it take for my rewards to be credited after I complete an action?",
    "answer": "After you submit the form, we will typically credit your account within 48 hours, and the credits will be available on checkout when you decide to upgrade."
  },
  {
    "question": "Are there any restrictions on the content I can post to earn rewards?",
    "answer": "We do not offer credits for AppSumo.com reviews as this is against their terms and conditions — but you are of course welcome to write a great review there if you are enjoying using Blue!"
  },
  {
    "question": "Do my earned credits expire?",
    "answer": "They will expire after 12 months if you do not upgrade."
  },
  {
    "question": "How do you verify that I've completed the actions I claim?",
    "answer": "You submit a form with links to all the actions, and our team will verify. You will receive a set of automatic emails (using Blue automations!) to inform you when the actions have been approved."
  },
  {
    "question": "Can I transfer my earned credits to another user?",
    "answer": "No, credits are NOT transferrable."
  },
  {
    "question": "What are the quality expectations for posts and reviews?",
    "answer": "We value authentic and thoughtful content that genuinely reflects your experience with Blue. A simple 'Checkout Blue: www.blue.cc' post probably won't meet our quality standards. While we don't have strict, hard-and-fast rules, we do expect posts and reviews to provide some meaningful insights or experiences. If your submission isn't approved, we'll let you know why and provide guidance on how to improve it. Our goal is to encourage genuine, helpful content that benefits both Blue and potential users."
  },
  {
    "question": "What counts as a valid blog post or YouTube video for earning rewards?",
    "answer": "The blog post or YouTube video needs to be of high quality (this does not mean you have to be a professional writer or YouTuber). It needs to be an honest review, and not overly critical or negative of Blue. For video testimonials, these should be at least 2 minutes. For YouTube reviews, these shoud be at least 7 minutes."
  },
  {
    "question": "Is there a limit to how many credits I can earn in total?",
    "answer": "No, you can earn as many credits as you like, but note that credits are not transferrable."
  },
  {
    "question": "Do I need to notify Blue after I've completed an action to claim my reward?",
    "answer": "Yes, you need to submit the form linked on this page."
  },
  {
    "question": "Can I participate in this program if I purchased Blue through a platform other than AppSumo?",
    "answer": "No, this rewards programme is ONLY for AppSumo users. We will be launching a rewards programme for other customers in the future."
  },
  {
    "question": "What happens if I earn more credits than I need for my next tier upgrade?",
    "answer": "You can use those credits to upgrade multiple tiers, or complete even more actions to get enough credit to upgrade even more tiers!"
  }
];

import { ref } from 'vue';

const headers = ref(['Tier', 'Price', 'Users', 'Companies', 'Price per Company']);

const pricingData = computed(() => [
  { tier: 'Tier 1', price: '$49', users: '30', companies: '1', pricePerCompany: '$49' },
  { tier: 'Tier 2', price: '$98', users: '75', companies: '2', pricePerCompany: '$49' },
  { tier: 'Tier 3', price: '$147', users: '150', companies: '3', pricePerCompany: '$49' },
  { tier: 'Tier 4', price: '$196', users: '300', companies: '4', pricePerCompany: '$49' },
  { tier: 'Tier 5', price: '$245', users: 'Unlimited', companies: '5', pricePerCompany: '$49' },
  { tier: 'Tier 6', price: '$399', users: 'Unlimited', companies: '10', pricePerCompany: '~$40' },
  { tier: 'Tier 7', price: '$499', users: 'Unlimited', companies: '15', pricePerCompany: '~$33' },
  { tier: 'Tier 8', price: '$599', users: 'Unlimited', companies: '25', pricePerCompany: '~$24' },
  { tier: 'Tier 9', price: '$999', users: 'Unlimited', companies: '100', pricePerCompany: '~$10' },
]);
</script>


<style scoped>
@media (max-width: 640px) {
  table {
    font-size: 0.75rem;
  }
  
  th, td {
    padding: 0.5rem 0.25rem;
  }
}
</style>
 