<template>
  <div class="bg-white dark:bg-gray-900">
    <div>
      <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex items-baseline justify-between border-b border-gray-200 dark:border-gray-700 pb-6 pt-24">
          <div>
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white">Project Management Software Platform Comparison</h1>
            <p class="mt-2 text-lg text-gray-600 dark:text-gray-300">
              Compare any plan from the leading project management software providers to find the best project management software for your organization.
            </p>
          </div>
          <div class="flex items-center">
            <button type="button" class="-m-2 ml-4 p-2 text-gray-400 hover:text-gray-500 dark:text-gray-300 dark:hover:text-white sm:ml-6 lg:hidden" @click="mobileFiltersOpen = true">
              <span class="sr-only">Filters</span>
              <FunnelIcon class="h-5 w-5" aria-hidden="true" />
            </button>
          </div>
        </div>

        <!-- Rest of your content -->
        <section aria-labelledby="products-heading" class="pb-24 pt-6">
          <h2 id="products-heading" class="sr-only">Comparison</h2>

          <!-- Dynamic Table -->
          <ComparePlatform
            :showSoftwareSelection="true"
            :showHeader="false"
          />
        </section>
      </main>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import { FunnelIcon } from '@heroicons/vue/20/solid'

const mobileFiltersOpen = ref(false)

useSeoMeta({
  title: 'Compare Project Management Software Platform',
  description: 'Use our tool to compare any plan from the leading project management software providers to find the best project management software for your organization.',
})
</script>