<template>
  <div>
    <div class="relative py-24 bg-white dark:bg-gray-900">
      <div class="max-w-7xl mx-auto px-6 mt-32">
        <h1 class="text-4xl md:text-6xl lg:text-6xl font-bold tracking-tight text-gray-900 dark:text-white">
          The modern way<br>
          to manage 
          <span class="lg:hidden">process</span>
          <vue-typewriter-effect
            class="hidden lg:inline"
            :strings="['process', 'projects', 'customers', 'leads', 'records', 'purchase orders', 'tasks', 'teams', 'workflows', 'operations', 'logistics', 'marketing', 'milestones', 'deliverables', 'expectations', 'deadlines', 'work']"
            :options="{
              autoStart: true,
              loop: true,
              delay: 100,
              deleteSpeed: 50,
              pauseFor: 1500,
              wrapperClassName: 'typewriter-wrapper',
              cursorClassName: 'typewriter-cursor'
            }"
          />
        </h1>
        
        <!-- Hero Image-->
        <div class="mt-32 max-w-7xl mx-auto relative group">
          <div class="-m-2 rounded-xl bg-gray-900/5 dark:bg-gray-800/5 p-2 ring-1 ring-inset ring-gray-900/10 dark:ring-white dark:bg-white lg:-m-4 lg:rounded-2xl lg:p-4">
            <div class="relative">
              <NuxtImg
                src="/product/simple-screenshot-home.png"
                alt="App screenshot"
                class="w-full rounded-md shadow-2xl ring-1 ring-gray-900/10 dark:ring-gray-800 transition-opacity duration-300 md:group-hover:opacity-80"
                format="webp"
                preload
              />
              <!-- Hover overlay -->
              <div class="absolute inset-0 hidden md:flex flex-col items-center justify-center bg-black/50 opacity-0 md:group-hover:opacity-100 transition-opacity duration-300 rounded-md">
                <h3 class="text-2xl font-bold text-white mb-6">Video Overview</h3>
                <div class="flex gap-4">
                  <button 
                    @click="openVideo('https://www.youtube.com/watch?v=so2lgCsCrmE')"
                    class="flex items-center gap-2 px-6 py-3 bg-white/20 backdrop-blur-sm text-white rounded-lg hover:bg-white/30 transition-colors"
                  >
                    ⚡ Quick Tour
                  </button>
                  <!-- <button
                    @click="openVideo('https://www.youtube.com/watch?v=2yqktWcdAK4')"
                    class="flex items-center gap-2 px-6 py-3 bg-white/20 backdrop-blur-sm text-white rounded-lg hover:bg-white/30 transition-colors"
                  >
                    👀 5 Minutes
                  </button> -->
                  <button
                    @click="openVideo('https://www.youtube.com/watch?v=MpWVZoio7Wc&t=212s')"
                    class="flex items-center gap-2 px-6 py-3 bg-white/20 backdrop-blur-sm text-white rounded-lg hover:bg-white/30 transition-colors"
                  >
                    🧠 Deep Dive
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- New Brand Blue Section -->
    <div class="bg-brand-blue py-32">
      <div class="max-w-7xl mx-auto px-6">
        <div class="flex flex-col md:flex-row items-center gap-8">
          <h2 class="w-full md:w-[75%] text-2xl md:text-5xl font-bold text-white tracking-tight">
            Blue is a powerful platform to create, manage, and scale processes. 
          </h2>
          <div class="w-full md:w-[25%] flex flex-row items-center justify-center gap-8 shrink-0">
            <NuxtImg 
              src="/high-performer-g2.svg" 
              alt="G2 High Performer Badge" 
              class="h-32 md:h-40 w-auto hover:scale-105 transition-transform duration-300"
            />
            <NuxtImg 
              src="/momentum-leader-g2.svg" 
              alt="G2 Momentum Leader Badge" 
              class="h-32 md:h-40 w-auto hover:scale-105 transition-transform duration-300"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- <HeroHome/> -->
   <LogoGrid
         title="Powering the world's best managers."
         subtitle="From startups → enterprise"
         :logos="[
            { url: '/clients/heineken.svg', alt: 'Heineken Logo' },
            { url: '/clients/deloitte.svg', alt: 'Deloitte Logo' },
            { url: '/clients/savethechildren.svg', alt: 'Save The Children Logo' },
            { url: '/clients/fedex.svg', alt: 'Fedex Logo' },
            { url: '/clients/ilo.png', alt: 'International Labour Organization Logo' }
         ]"
      />
   
    <LazyStatsCards
      card1Number="120+ Countries"
      card1Title="Global Reach"
      card1Description="Blue is used in every continent across the world."
      card2Number="15,000+ Organizations"
      card2Title="Mission Critical"
      card2Description="Thousands of organizations trust Blue for mission-critical work."
      card3Number="350,000+ Projects"
      card3Title="Flexible Processes"
      card3Description="Run sales, marketing, recruitment, operations — anything!"
    />
   <LazyFeatureCenter
      title="The modern way to manage projects."
      description="Blue is your one source of truth—making work easier, faster, and better."
      :imageSrc="'/product/home-page-modern.png'"
      :imageAlt="'App screenshot'"
      :imageWidth="2432"
      :imageHeight="1442"
      :features="[
         {
            name: 'View work your way',
            description: 'Kanban, Database, Calendar, Gantt Charts, Lists, and Maps.',
            icon: 'heroicons:view-columns-solid',
         },
         {
            name: 'Tailored to you',
            description: 'Pick from dozens of field types to match your data structure.',
            icon: 'heroicons:list-bullet-solid',
         },
         {
            name: 'Get rid of admin work',
            description: 'Streamline workflows with powerful if-this-then-that automations.',
            icon: 'heroicons:wrench-solid',
         },
         {
            name: 'Work from anywhere',
            description: 'Mac, Windows, iOS (iPhone & iPad), Android, and PWA.',
            icon: 'heroicons:computer-desktop-solid',
         },
         {
            name: 'Private & secure',
            description: 'Define granular access permissions for different team roles.',
            icon: 'heroicons:users-solid',
         },
         {
            name: 'Make informed decisions',
            description: 'Create real-time customizable dashboards, combining data across projects.',
            icon: 'heroicons:chart-pie-solid',
         },
      ]"
   />  
    <LazyCtaDark />
    <TestimonialGroup />
    <LazyTitleParagraph
          title="3 Reasons Why 15,000+ Customers Choose Blue for their Projects."
          description="Over the years, we've spoken to thousands of customers and heard real-life stories of how Blue makes work easier, faster, and better."
        />
   <LazyFeatureRight
      subtitle="#1"
      title="Blue is simple to use."
      description="'Simplicity is the ultimate sophistication' — all of our product decisions are made to create a platform that's simple, yet powerful."
      :features="[
         {
            name: 'Faster onboarding.',
            description: 'Get your team up and running in hours, not weeks or months.',
            icon: 'heroicons:rocket-launch-solid',
         },
         {
            name: 'Less training.',
            description: 'Spend less time training and more time doing the work that counts.',
            icon: 'heroicons:academic-cap-solid',
         },
         {
            name: 'Higher adoption.',
            description: 'The right platform is half the battle. The other half is getting teams to use it.',
            icon: 'heroicons:chart-bar-solid',
         },
      ]"
      :image="{
         src: '/product/simple-screenshot-home.png',
         alt: 'Product screenshot',
         width: '2432',
         height: '1442',
      }"
   />
   <LazyFeatureLeft
         subtitle="#2"
         title="Blue is priced to win."
         description="Stop spending crazy money on venture-funded platforms. Blue gives you the same feature set for 20% of the cost."
         :features="[
            {
               name: 'Save Money.',
               description: 'Save tens of thousands per year for a mid-sized company.',
               icon: 'heroicons:currency-dollar-solid',
            },
            {
               name: 'No surprises.',
               description: 'One plan with all features, so there\'s no penalty for growth.',
               icon: 'heroicons:cake-solid',
            },
            {
               name: 'Generously free.',
               description: 'Customers, vendors, and comment/view only roles are free and unlimited.',
               icon: 'heroicons:lock-closed-solid',
            },
         ]"
         :image="{
            src: '/product/recruitment.png',
            alt: 'Product screenshot',
            width: '2432',
            height: '1442',
         }"
   />
   <LazyFeatureCenterDark />
   <LazyYouTube
    title="Don't take our word for it."
    description="We asked some experts to take a look."
    :videos="[
      'https://www.youtube.com/watch?v=MYARjhQy5tc',
      'https://www.youtube.com/watch?v=2yqktWcdAK4', 
      'https://www.youtube.com/watch?v=tDTKhsgY0jI'    
    ]"
  />
   
   
   <LazyAwards
      title="The award-winning platform you can trust."
      description="Blue has been internationally recognized as the platform to trust for mission-critical work. "
   />

    <LazyCtaLight />
    
  </div>

  <!-- Modal -->
  <div v-if="selectedVideo" class="fixed inset-0 z-50 flex items-center justify-center p-4">
    <div class="fixed inset-0 bg-black/70" @click="closeVideo"></div>
    <div class="relative w-full h-[80vh] max-w-[90vw]">
      <button 
        @click="closeVideo"
        class="absolute -top-8 right-0 text-white hover:text-gray-200 transition-colors"
      >
        <XMarkIcon class="h-8 w-8" />
      </button>
      <iframe 
        :src="embedUrl"
        class="w-full h-full rounded-xl shadow-2xl"
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
      ></iframe>
    </div>
  </div>
</template>

<script setup lang="ts">
import { CloudArrowUpIcon, CakeIcon, CurrencyDollarIcon, AcademicCapIcon, RocketLaunchIcon, LockClosedIcon, ChartBarIcon, XMarkIcon } from '@heroicons/vue/20/solid'
import TestimonialGroup from '~/components/TestimonialGroup.vue';
import VueTypewriterEffect from 'vue-typewriter-effect'
import { ref, computed } from 'vue'

const selectedVideo = ref<string | null>(null)

const embedUrl = computed(() => {
  if (!selectedVideo.value) return ''
  const url = new URL(selectedVideo.value)
  const videoId = url.searchParams.get('v')
  const startTime = url.searchParams.get('t')?.replace('s', '') || ''
  
  return `https://www.youtube.com/embed/${videoId}?autoplay=1${
    startTime ? `&start=${startTime}` : ''
  }`
})

function openVideo(url: string) {
  selectedVideo.value = url
}

function closeVideo() {
  selectedVideo.value = null
}

useSeoMeta({
  title: 'A better way to manage projects.',
  description: 'Blue is the project management system your team will love. Streamline tasks, collaborate effortlessly, and boost productivity.',
})
</script>

<style>
.animated-background {
  position: relative;
  overflow: hidden;
  animation: background-colors 96s infinite linear;
}

/* Only animate background on mobile */
@media (max-width: 767px) {
  @keyframes background-colors {
    0%, 100% { background-color: #00A0D2; }  /* Brand Blue */
    12.5% { background-color: #7C3AED; }     /* Purple */
    25% { background-color: #DB2777; }       /* Pink */
    37.5% { background-color: #DC2626; }     /* Red */
    50% { background-color: #EA580C; }       /* Orange */
    62.5% { background-color: #65A30D; }     /* Green */
    75% { background-color: #0D9488; }       /* Teal */
    87.5% { background-color: #6366F1; }     /* Indigo */
  }
}

/* Hide blob on mobile, show on tablet and up */
.animated-blob {
  display: none;
  position: absolute;
  width: 600px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  filter: blur(120px);
  animation: blob-movement 12s infinite ease-in-out, blob-colors 96s infinite linear;
  opacity: 0.7;
  z-index: 1;
}

@media (min-width: 768px) {
  .animated-blob {
    display: block;
  }
  
  .animated-background {
    animation: none; /* Disable background animation on tablet and up */
  }
}

/* Full size blob for desktop */
@media (min-width: 1024px) {
  .animated-blob {
    width: 1012px;
    height: 675px;
  }
}

@keyframes blob-movement {
  0%, 100% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-80%, -60%);
  }
  50% {
    transform: translate(-50%, -40%);
  }
  75% {
    transform: translate(-20%, -60%);
  }
}

@keyframes blob-colors {
  0%, 100% { background-color: #00A0D2; }  /* Brand Blue */
  12.5% { background-color: #7C3AED; }     /* Purple */
  25% { background-color: #DB2777; }       /* Pink */
  37.5% { background-color: #DC2626; }     /* Red */
  50% { background-color: #EA580C; }       /* Orange */
  62.5% { background-color: #65A30D; }     /* Green */
  75% { background-color: #0D9488; }       /* Teal */
  87.5% { background-color: #6366F1; }     /* Indigo */
}

.vue-typewriter-effect .typewriter-effect .typewriter-text,
.vue-typewriter-effect .typewriter-effect .typewriter-cursor {
  color: inherit !important;
}

.vue-typewriter-effect .typewriter-effect .typewriter-text {
  opacity: 1 !important;
}

.Typewriter__cursor {
  color: #00a0d2 !important;
}

.typewriter-wrapper {
  color: inherit;
}

.typewriter-cursor {
  color: #00a0d2 !important;
}
</style>




