<template>
  <div>
    <PricingArea />
    <PricingCalculator />
    <LogoGrid
        title="Powering the world's best project managers."
        subtitle="From startups → enterprise"
        :logos="[
          { url: '/clients/heineken.svg', alt: 'Heineken Logo' },
          { url: '/clients/deloitte.svg', alt: 'Deloitte Logo' },
          { url: '/clients/savethechildren.svg', alt: 'Save The Children Logo' },
          { url: '/clients/fedex.svg', alt: 'Fedex Logo' },
          { url: '/clients/ilo.png', alt: 'International Labour Organization Logo' }
        ]"
      />
      <TestimonialGroup />
    <StatsCards
      card1Number="120+ Countries"
      card1Title="Countries"
      card1Description="Blue is used in every continent across the world."
      card2Number="15,000+ Organizations"
      card2Title="Organizations"
      card2Description="Thousands of organizations trust Blue for mission-critical work."
      card3Number="350,000+ Projects"
      card3Title="Projects"
      card3Description="Run sales, marketing, recruitment, operations — anything!"
    />
    <CtaDark />
    <TestimonialOverlap
      name="Lorenzo Hickey"
      title="CEO of Shapeshift World"
      testimonial="After 30 years in project management I have discovered Blue —and it is blowing me away. The user interface is fantastic, simple to use and so easy to understand."
      picture="/customer-photos/lorenzohickey.jpeg"
    />
    <FaqAccordion :faqs="pageFaqs" />
    <CtaLight />
  </div>
</template>

<script setup>
import PricingCalculator from '~/components/PricingCalculator.vue';


const pageFaqs = [
  {
    question: "Why should I use Blue?",
    answer: "If you're looking for a platform that's easy to use yet powerful, with a team that is hyper-focussed on customers instead of investors, you're in the right place."
  },
  {
    question: "Does Blue have a free trial?",
    answer: "Yes there is! You can use Blue free for 7 days without any limitations. After the 7 days are up, you'll need to add a valid credit/debit card and start paying to continue using Blue."
  },
  {
    question: "Do you have monthly and yearly plans?",
    answer: "Yes, you can pay yearly and you'll get two month's off."
  },
  {
    question: "What payment methods do you support?",
    answer: "We take payments exclusively via debit/credit card. All billing is handled by Stripe, our payment processing partner. We never directly handle your sensitive payment data."
  },
  {
    question: "What is your refund policy?",
    answer: "We offer a 30-day refund policy for the first payment. Simply email us at help@blue.cc and we'll issue you a refund."
  },
  {
    question: "Who owns the data uploaded to Blue?",
    answer: "The account owner retains full ownership of all data associated with their account. At Blue, we respect your privacy and do not claim any ownership over the data you add."
  },
  {
    question: "Where is Blue based?",
    answer: "We're registered in Delaware, USA as \"Bloo, Inc.\" and we have team members distributed around the world."
  },
  {
    question: "What are you building next?",
    answer: "Head over to our Roadmap page to find out what new features are coming, and feel free to join our Community Forum if you'd like to suggest new features."
  }
]

useSeoMeta({
  title: 'Pricing',
  description: 'Blue has a simple and affordable pricing plan. Manage projects efficiently with unlimited users, storage, and features. Start a free 7-day trial today.',
})
</script>