<template>
  <div>
   <HeroRightDark
      title="Blue Support Center."
      description="Our goal is to have customers for life. This means providing exceptional customer service."
      primary-cta="Get Help"
      primary-cta-link="#support"
      secondary-cta="Read Documentation"
      secondary-cta-link="https://documentation.blue.cc"
      image-url="/support.png"
      image-alt="App screenshot"
   />
   <div id="support" class="bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
         <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            <div>
               <h2 class="text-base font-semibold leading-7 text-brand-blue">Support Options</h2>
               <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Blue Support Center</p>
               <p class="mt-6 text-base leading-7 text-gray-600">Our goal is to have customers for life. This means providing exceptional customer service.</p>
            </div>
            
            <dl class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-gray-600 sm:grid-cols-2 lg:gap-y-16">
               <div class="relative pl-9">
                  <dt class="font-semibold text-gray-900">
                     <Icon name="heroicons:document-text-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue" aria-hidden="true" />
                     Documentation
                  </dt>
                  <dd class="mt-2">
                     Read our <a href="https://documentation.blue.cc" target="_blank" class="text-brand-blue">AI Powered documentation</a> to find your answers.
                  </dd>
               </div>
               <div class="relative pl-9">
                  <dt class="font-semibold text-gray-900">
                     <Icon name="heroicons:video-camera-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue" aria-hidden="true" />
                     Videos
                  </dt>
                  <dd class="mt-2">
                     Watch our <a href="https://www.youtube.com/@HeyBlueTeam" target="_blank" class="text-brand-blue">videos</a> on every feature in Blue to understand the platform.
                  </dd>
               </div>
               <div class="relative pl-9">
                  <dt class="font-semibold text-gray-900">
                     <Icon name="heroicons:chat-bubble-left-right-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue" aria-hidden="true" />
                     Forum
                  </dt>
                  <dd class="mt-2">
                     Post on our <a href="https://ask.blue.cc" target="_blank" class="text-brand-blue">community forums</a> to get your questions answered.
                  </dd>
               </div>
               <div class="relative pl-9">
                  <dt class="font-semibold text-gray-900">
                     <Icon name="heroicons:envelope-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue" aria-hidden="true" />
                     Email
                  </dt>
                  <dd class="mt-2">
                     Send us an <a href="mailto:help@blue.cc" class="text-brand-blue">email</a> to get answers the same business day.
                  </dd>
               </div>
               <div class="relative pl-9">
                  <dt class="font-semibold text-gray-900">
                     <Icon name="heroicons:phone-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue" aria-hidden="true" />
                     Call
                  </dt>
                  <dd class="mt-2">
                    Email us at <a href="mailto:help@blue.cc" class="text-brand-blue">help@blue.cc</a> to schedule a call.
                  </dd>
               </div>
               <div class="relative pl-9">
                  <dt class="font-semibold text-gray-900">
                     <Icon name="heroicons:currency-dollar-solid" class="absolute left-0 top-1 h-5 w-5 text-brand-blue" aria-hidden="true" />
                     Paid Support
                  </dt>
                  <dd class="mt-2">
                      <a href="mailto:help@blue.cc?subject=Paid%20Support%20Enquiry%20for%20Blue" target="_blank" class="text-brand-blue">Inquire about </a> done-for-you services and custom feature development.
                  </dd>
               </div>
            </dl>
         </div>
      </div>
   </div>
   <LogoGrid
         title="Powering the world's best project managers."
         subtitle="From startups → enterprise"
         :logos="[
            { url: '/clients/heineken.svg', alt: 'Heineken Logo' },
            { url: '/clients/deloitte.svg', alt: 'Deloitte Logo' },
            { url: '/clients/savethechildren.svg', alt: 'Save The Children Logo' },
            { url: '/clients/fedex.svg', alt: 'Fedex Logo' },
            { url: '/clients/ilo.png', alt: 'International Labour Organization Logo' }
         ]"
      />
    <StatsCards
      card1Number="120+ Countries"
      card1Title="Global Reach"
      card1Description="Blue is used in every continent across the world."
      card2Number="15,000+ Organizations"
      card2Title="Mission Critical"
      card2Description="Thousands of organizations trust Blue for mission-critical work."
      card3Number="350,000+ Projects"
      card3Title="Flexible Processes"
      card3Description="Run sales, marketing, recruitment, operations — anything!"
    />
  </div>
</template>

<script setup lang="ts">
useSeoMeta({
  title: 'Support Center',
  description: 'Get exceptional support for Blue. Access our AI-powered documentation, videos, community forums, email support.',
})
</script>
