<template>
  <!-- Updated Hero Section -->
  <div class="bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-700">
    <div class="container mx-auto px-4 py-16">
      <div class="flex flex-col md:flex-row gap-12 items-center">
        <!-- Image Container -->
        <div class="w-full md:w-1/2 lg:w-2/5">
          <img 
            v-if="resource.image" 
            :src="resource.image" 
            :alt="resource.title"
            class="rounded-xl shadow-2xl object-cover w-full h-full max-h-96"
          />
        </div>

        <!-- Text Content -->
        <div class="w-full md:w-1/2 lg:w-3/5 space-y-6">
          <h1 class="text-4xl sm:text-5xl font-bold text-gray-900 dark:text-white leading-tight">
            {{ resource.title }}
          </h1>
          
          <div class="space-y-4">
            <p v-if="resource.description" class="text-xl text-gray-600 dark:text-gray-300">
              {{ resource.description }}
            </p>
            
            <div class="flex items-center space-x-4 text-gray-500 dark:text-gray-400">
              <span v-if="showFormattedDate" class="flex items-center">
                <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                </svg>
                {{ formattedDate }}
              </span>
            </div>

            <div v-if="resource.tags" class="flex flex-wrap gap-2">
              <a 
                v-for="tag in resource.tags" 
                :key="tag"
                :href="`/resources/${tag}`" 
                class="px-4 py-2 bg-brand-blue/10 text-brand-blue rounded-full hover:bg-brand-blue/20 transition-colors"
              >
                {{ capitalizeSlug(tag) }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Content Section -->
  <div class="flex flex-col md:flex-row justify-center mt-16">
    <!-- Left Sidebar for TOC -->
    <div class="w-full md:w-1/4 lg:w-1/5 md:sticky overflow-y-auto hidden md:block" style="top: 8rem; max-height: calc(100vh - 8rem);">
      <div v-if="showTableOfContents" class="p-4 border-l-4 border-solid border-brand-blue dark:border-brand-blue">
        <h3 class="font-bold mb-4 dark:text-white">Table of Contents</h3>
        <ul>
          <li v-for="heading in tableOfContents" :key="heading.id">
            <a 
              :href="`#${heading.id}`" 
              @click.prevent="scrollToHeading(heading.id)"
              :class="{
                'text-brand-blue font-bold leading-loose': activeHeading === heading.id,
                'hover:text-brand-blue transition-colors duration-200 text-gray-500 dark:text-gray-300 leading-loose': activeHeading !== heading.id
              }"
            >
              {{ heading.text }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Main Content -->
    <div class="w-full md:w-2/4 lg:w-3/5 max-w-3xl px-4">
      <div class="bg-white dark:bg-gray-900 py-8 mx-auto max-w-3xl text-base leading-7 text-gray-700 dark:text-gray-300">
        <div class="prose dark:prose-invert mx-auto">
          <ContentDoc :path="resource._path" />
        </div>
      </div>
    </div>

    <!-- Right Sidebar for CTA and Social Sharing -->
    <div class="w-1/4 lg:w-1/5 hidden lg:block">
      <div class="sticky" style="top: 8rem;">
        <!-- CTA Section -->
        <div class="p-6 bg-brand-blue text-white rounded-lg shadow-lg hover:shadow-xl">
          <h3 class="text-xl font-bold mb-4">{{ ctaHeader }}</h3>
          <p class="mb-4">{{ ctaText }}</p>
          <button @click="openSignUp" class="px-4 py-2 text-sm font-semibold rounded-md border border-transparent bg-white text-brand-blue hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue transition duration-150 ease-in-out flex items-center">
            {{ ctaButtonText }}
            <span class="ml-2 inline-flex items-center justify-center w-5 h-5 bg-brand-blue rounded text-xs font-bold text-white border border-white">↵</span>
          </button>
        </div>
        
        <!-- Social Sharing Icons -->
        <div class="mt-6 flex justify-center space-x-6">
          <button @click="shareOnLinkedIn" class="text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200 transition duration-150 ease-in-out">
            <svg class="w-6 h-6" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <title>LinkedIn</title>
              <path fill="currentColor" d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
            </svg>
          </button>
          <button @click="shareOnX" class="text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200 transition duration-150 ease-in-out">
            <svg class="w-6 h-6" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <title>X</title>
              <path fill="currentColor" d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"/>
            </svg>
          </button>
          <button @click="shareOnFacebook" class="text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200 transition duration-150 ease-in-out">
            <svg class="w-6 h-6" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <title>Facebook</title>
              <path fill="currentColor" d="M9.101 23.691v-7.98H6.627v-3.667h2.474v-1.58c0-4.085 1.848-5.978 5.858-5.978.401 0 .955.042 1.468.103a8.68 8.68 0 0 1 1.141.195v3.325a8.623 8.623 0 0 0-.653-.036 26.805 26.805 0 0 0-.733-.009c-.707 0-1.259.096-1.675.309a1.686 1.686 0 0 0-.679.622c-.258.42-.374.995-.374 1.752v1.297h3.919l-.386 2.103-.287 1.564h-3.246v8.245C19.396 23.238 24 18.179 24 12.044c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.628 3.874 10.35 9.101 11.647Z"/>
            </svg>
          </button>
          <button @click="shareViaEmail" class="text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200 transition duration-150 ease-in-out">
            <svg class="w-6 h-6" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <title>Email</title>
              <path fill="currentColor" d="M17.187 19.181L24 4.755 0 12.386l9.196 1.963.043 4.896 2.759-2.617-2.147-2.076 7.336 4.63z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal component -->
  <div ref="modal" class="fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center hidden">
    <img ref="modalImg" class="max-w-[90%] max-h-[90%] object-contain" src="" alt="Modal image" />
  </div>
</template>

<script setup>
import { ref, onMounted, computed, nextTick } from 'vue'
import { useRoute, useAsyncData } from '#app'
import { queryContent } from '#imports'

const route = useRoute()
const slug = computed(() => route.params.slug)

// Fetch data based on the slug
const { data: resource } = await useAsyncData(`resource-${slug.value}`, () =>
  queryContent()
    .where({ slug: slug.value })
    .where({ _path: { $not: /\/project-management-dictionary\// } }) // Exclude project management dictionary
    .where({ _path: { $not: /\/alternatives\// } }) // Exclude alternatives
    .findOne()
);



// Fetch all tags from the content
const { data: tags } = await useAsyncData('tags', () =>
  queryContent()
    .only(['tags'])
    .find()
)

// Compute the unique tags
const uniqueTags = computed(() => {
  if (!tags.value) return []
  const allTags = tags.value.flatMap(item => item.tags || [])
  return [...new Set(allTags)]
})

// Check if the current slug matches any unique tags
const matchingTag = computed(() => {
  if (!uniqueTags.value) return null
  return uniqueTags.value.find(tag => tag === slug.value)
})

// Function to capitalize the first letter of the tag
function capitalizeSlug(slug) {
  return slug
    .split('-')
    .map(word => word.charAt(0).toUpperCase() + word.slice(1))
    .join(' ')
}

// Computed property to format the date
const formattedDate = computed(() => {
  if (!resource.value || !resource.value.date) return null
  const [day, month, year] = resource.value.date.split('/')
  const date = new Date(year, month - 1, day)
  return date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })
})

// Computed property to determine if the date should be shown
const showFormattedDate = computed(() => {
  return resource.value && resource.value.showdate && resource.value.date
})

// Sharing Functionality

// Social sharing functions
const shareOnFacebook = () => {
  const url = encodeURIComponent(window.location.href)
  const title = encodeURIComponent(resource.value?.title || '')
  window.open(`https://www.facebook.com/sharer/sharer.php?u=${url}&t=${title}`, '_blank')
}

const shareOnX = () => {
  const url = encodeURIComponent(window.location.href)
  const text = encodeURIComponent(resource.value?.title || '')
  window.open(`https://twitter.com/intent/tweet?url=${url}&text=${text}`, '_blank')
}

const shareOnLinkedIn = () => {
  const url = encodeURIComponent(window.location.href)
  const title = encodeURIComponent(resource.value?.title || '')
  window.open(`https://www.linkedin.com/shareArticle?mini=true&url=${url}&title=${title}`, '_blank')
}

const shareViaEmail = () => {
  const subject = encodeURIComponent(resource.value?.title || 'Check out this page')
  const body = encodeURIComponent(`I thought you might be interested in this: ${window.location.href}`)
  window.location.href = `mailto:?subject=${subject}&body=${body}`
}

// Table of Contents logic
const tableOfContents = ref([])
const activeHeading = ref('')
const showTableOfContents = ref(false)

// Debounce function
function debounce(func, wait) {
  let timeout
  return function executedFunction(...args) {
    const later = () => {
      clearTimeout(timeout)
      func(...args)
    }
    clearTimeout(timeout)
    timeout = setTimeout(later, wait)
  }
}

// Function to update active heading
const updateActiveHeading = () => {
  const scrollPosition = window.scrollY
  let currentActiveHeading = null

  tableOfContents.value.forEach(heading => {
    const element = document.getElementById(heading.id)
    if (element) {
      const elementTop = element.offsetTop - 100
      if (scrollPosition >= elementTop) {
        currentActiveHeading = heading.id
      }
    }
  })

  if (currentActiveHeading) {
    activeHeading.value = currentActiveHeading
  }
}

// Debounced scroll handler
const debouncedScrollHandler = debounce(updateActiveHeading, 50)

// Function to scroll to heading
const scrollToHeading = (headingId) => {
  const element = document.getElementById(headingId)
  if (element) {
    const yOffset = -window.innerHeight * 0.15
    const y = element.getBoundingClientRect().top + window.pageYOffset + yOffset
    window.scrollTo({top: y, behavior: 'smooth'})
    activeHeading.value = headingId
  }
}

// Computed properties for dynamic CTA content
const ctaHeader = computed(() => resource.value?.CtaHeader || 'Boost your productivity')
const ctaText = computed(() => resource.value?.CtaText || 'Join 15,000+ teams that use Blue to know what to do, how to do it, and why it matters.')
const ctaButtonText = computed(() => resource.value?.CtaButton || 'Start Free')

// Function to handle sign up
const openSignUp = () => {
  window.open('https://app.blue.cc', '_blank')
}

// Modal refs and functions
const modal = ref(null)
const modalImg = ref(null)

const openModal = (src) => {
  if (modalImg.value) modalImg.value.src = src
  if (modal.value) modal.value.classList.remove('hidden')
  document.body.style.overflow = 'hidden'
}

const closeModal = () => {
  if (modal.value) modal.value.classList.add('hidden')
  document.body.style.overflow = ''
}

onMounted(() => {
  // Generate table of contents
  const generateTOC = () => {
    const content = document.querySelector('.prose')
    if (!content) return

    const headings = content.querySelectorAll('h2')
    tableOfContents.value = Array.from(headings).map(heading => ({
      id: heading.id,
      text: heading.textContent
    }))

    showTableOfContents.value = tableOfContents.value.length > 0

    if (showTableOfContents.value) {
      const observer = new IntersectionObserver((entries) => {
        const visibleHeadings = entries.filter(entry => entry.isIntersecting)
        if (visibleHeadings.length > 0) {
          const topHeading = visibleHeadings.reduce((top, current) => 
            current.boundingClientRect.top < top.boundingClientRect.top ? current : top
          )
          activeHeading.value = topHeading.target.id
        }
      }, {
        rootMargin: '-10% 0px -90% 0px',
        threshold: [0, 1]
      })

      headings.forEach(heading => observer.observe(heading))
      window.addEventListener('scroll', debouncedScrollHandler, { passive: true })
    }
  }

  setTimeout(generateTOC, 100)

  // Open links in prose in a new tab
  const proseLinks = document.querySelectorAll('.prose a')
  proseLinks.forEach(link => {
    link.setAttribute('target', '_blank')
    link.setAttribute('rel', 'noopener noreferrer')
  })

  nextTick(() => {
    const prose = document.querySelector('.prose')
    if (prose) {
      // Wrap images in image-wrapper div
      const images = prose.querySelectorAll('img')
      images.forEach(img => {
        if (!img.parentNode.classList.contains('image-wrapper')) {
          const wrapper = document.createElement('div')
          wrapper.className = 'image-wrapper'
          img.parentNode.insertBefore(wrapper, img)
          wrapper.appendChild(img)
        }
      })

      // Add click event to images
      prose.addEventListener('click', (e) => {
        if (e.target.tagName === 'IMG') {
          openModal(e.target.src)
        }
      })
    }

    // Close modal when clicking outside the image
    if (modal.value) {
      modal.value.addEventListener('click', (e) => {
        if (e.target !== modalImg.value) {
          closeModal()
        }
      })
    }

    // Close modal on escape key press
    document.addEventListener('keydown', (e) => {
      if (e.key === 'Escape') {
        closeModal()
      }
    })
  })
})
</script>

<style>
/* Remove old gradient styles */
.hero-gradient {
  /* Remove gradient background */
  background: transparent;
}

/* Add new image styles */
.rounded-xl {
  border-radius: 1rem;
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

/* Adjust scroll padding for new hero height */
html {
  scroll-padding-top: 6rem;
}

/* Sticky TOC styles */
.md\:sticky {
  position: -webkit-sticky;
  position: sticky;
}

/* Prose content adjustments */
.prose {
  max-width: 100%;
}

/* Smooth transition for TOC link highlighting */
.toc-link {
  transition: color 0.3s ease, font-weight 0.3s ease;
}

/* Image wrapper styles */
.prose .image-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
}

/* Image hover effects */
.prose .image-wrapper img {
  cursor: zoom-in;
  transition: transform 0.3s ease-in-out;
  max-width: 100%;
  height: auto;
}

.prose .image-wrapper:hover img {
  transform: translateY(-5px);
}

/* Modal image styles */
.modal-img {
  transition: transform 0.3s ease-in-out;
}

.modal-img:hover {
  transform: scale(1.05);
}
</style>