<template>
  <div class="bg-white dark:bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <!-- Hero section -->
      <div class="relative isolate overflow-hidden bg-white dark:bg-gray-900 px-6 pt-16 pb-24 sm:pt-24 sm:pb-32 lg:px-8">
        <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
          <defs>
            <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
              <path d="M.5 200V.5H200" fill="none" />
            </pattern>
          </defs>
          <rect width="100%" height="100%" stroke-width="0" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
        </svg>
        
        <div class="mx-auto max-w-7xl">
          <div class="grid grid-cols-1 gap-y-12 gap-x-8 lg:grid-cols-2 lg:items-start">
            <div class="lg:pr-8">
              <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl mb-8">The Agency Success Playbook</h1>
              <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-300">
                Written by Blue's CEO, this guide distills a decade of agency leadership experience to help you grow your agency. Learn to master cash-flow, project management, client relationships, proposal writing — and more.
              </p>
              <div class="mt-10 flex items-center gap-x-6">
                <a 
                  href="/resources/TheAgencySuccessPlaybook.pdf" 
                  target="_blank" 
                  class="rounded-md bg-brand-blue px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 transition duration-300 ease-in-out hover:-translate-y-0.5 flex items-center"
                >
                  <Icon name="heroicons:book-open-solid" class="w-5 h-5 mr-2" />
                  Download eBook
                </a>                
                <a href="#" @click.prevent="scrollToFirstArticle" class="text-sm font-semibold leading-6 text-gray-900 dark:text-gray-100 hover:text-brand-blue dark:hover:text-brand-blue">Read Online <span aria-hidden="true">↓</span></a>
              </div>
            </div>
            <div class="lg:pl-8 flex justify-center lg:justify-end">
              <div class="w-[90%] lg:w-full max-w-md">
                <div class="aspect-w-3 aspect-h-4 overflow-hidden rounded-lg shadow-2xl bg-gray-100 dark:bg-gray-800 ring-1 ring-gray-900/10 dark:ring-gray-100/10">
                  <img src="/resources/agency-success-cover.png" alt="Agency Success Guide Book Cover" class="object-cover object-center w-full h-full" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Articles -->
      <div v-if="articles && articles.length" class="mt-16">
        <div v-for="(article, index) in sortedArticles(articles)" :key="article._path" class="flex flex-col items-center">
          <article 
            v-scale-on-scroll 
            class="article-card relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-60 sm:pt-48 lg:pt-60 w-full max-w-2xl transition-all duration-500 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-gray-900/50 dark:hover:shadow-black/50"
            :ref="index === 0 ? setFirstArticleRef : undefined"
          >
            <img :src="getImageForArticle(article)" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover" />
            <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-600 via-gray-600/40 dark:from-gray-900 dark:via-gray-900/40" />
            <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10 dark:ring-gray-100/10" />
            <div class="mt-3 text-lg font-semibold leading-6 text-white">
              <a :href="`/resources/${article.slug}`">
                <span class="absolute inset-0" />
                {{ article.title }}
              </a>
            </div>
          </article>
          <div v-if="index < sortedArticles(articles).length - 1" class="arrow-container flex items-center justify-center my-8">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-16 h-16 text-brand-blue animate-pulse">
              <line x1="12" y1="5" x2="12" y2="19"></line>
              <polyline points="19 12 12 19 5 12"></polyline>
            </svg>
          </div>
        </div>
      </div>
      <div v-else>
        <p class="dark:text-gray-300">No articles found with the tag "agency-success-guide".</p>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, computed, onMounted, onUnmounted } from 'vue';
import { useAsyncData } from '#app';

const tag = 'agency-success-guide';

// Fetch articles with the 'agency-success-guide' tag
const { data: articles } = await useAsyncData(`articles-${tag}`, () =>
  queryContent()
    .where({ tags: { $contains: tag } })
    .find()
);

// Sort articles by date in chronological order
const sortedArticles = (articles) => {
  return articles.slice().sort((a, b) => {
    if (!a.date || !b.date) return 0;
    const [dayA, monthA, yearA] = a.date.split('/');
    const [dayB, monthB, yearB] = b.date.split('/');
    const dateA = new Date(yearA, monthA - 1, dayA);
    const dateB = new Date(yearB, monthB - 1, dayB);
    return dateA - dateB;
  });
};

// Get image for article
function getImageForArticle(article) {
  return article.image || '/patterns/squarescircle1.png';
}

// Custom directive for scroll-based scaling
const vScaleOnScroll = {
  mounted: (el) => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          const { boundingClientRect, rootBounds } = entry;
          const elementMiddle = boundingClientRect.top + boundingClientRect.height / 2;
          const viewportMiddle = rootBounds.top + rootBounds.height / 2;
          const distanceFromMiddle = Math.abs(elementMiddle - viewportMiddle);
          const maxDistance = rootBounds.height / 2;
          const scale = 1 + 0.2 * (1 - Math.min(distanceFromMiddle / maxDistance, 1));
          
          el.style.setProperty('--scale', scale);
        });
      },
      {
        threshold: Array(101).fill().map((_, i) => i / 100),
        rootMargin: "0px",
      }
    );

    observer.observe(el);
    el._observer = observer;
  },
  unmounted: (el) => {
    if (el._observer) {
      el._observer.disconnect();
    }
  },
};

// SEO
useSeoMeta({
  title: 'The Agency Success Playbook',
  description: 'Discover how to create a successful agency with our comprehensive guide. Find simple and efficient solutions to common agency challenges.',
});

// Ref for the first article
const firstArticleRef = ref(null);

// Function to set the ref for the first article
const setFirstArticleRef = (el) => {
  firstArticleRef.value = el;
};

// Function to scroll to the first article
const scrollToFirstArticle = () => {
  if (firstArticleRef.value) {
    firstArticleRef.value.scrollIntoView({ behavior: 'smooth' });
  }
};
</script>

<style scoped>
.article-card {
  transition: transform 0.3s ease-out;
  transform: scale(var(--scale, 1));
}

.arrow-container {
  height: 100px; /* Adjust this value to increase or decrease the space between cards */
}
</style>