<template>
  <div class="bg-white dark:bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="relative isolate overflow-hidden bg-white dark:bg-gray-900 px-6 py-24 sm:pt-32 pb-16 lg:px-8">
        <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(150%_150%_at_top_left,white,transparent)]" aria-hidden="true">
          <defs>
            <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
              <path d="M.5 200V.5H200" fill="none" />
            </pattern>
          </defs>
          <rect width="100%" height="100%" stroke-width="0" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
        </svg>
        <div class="mx-auto max-w-2xl text-center">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl">Engineering Blog</h1>
        </div>
      </div>
      
      <div v-if="articles && articles.length">
        <div class="mx-auto mt-16 space-y-12 lg:max-w-none">
          <article 
            v-for="article in sortedArticles(articles)" 
            :key="article._path"
            class="flex flex-col md:flex-row gap-8 group transition-all duration-300 hover:bg-gray-50 dark:hover:bg-gray-800 rounded-2xl p-6 relative"
          >
            <a 
              :href="`/resources/${article.slug}`" 
              class="absolute inset-0 z-20"
              aria-label="Read article: {{ article.title }}"
            ></a>
            
            <!-- Image Section -->
            <div class="md:w-48 lg:w-64 shrink-0 relative overflow-hidden rounded-xl z-10">
              <img 
                :src="getImageForArticle(article)" 
                alt=""
                class="w-full h-48 object-cover transform transition-all duration-500 group-hover:scale-105"
              />
            </div>
            
            <!-- Content Section -->
            <div class="flex-1 relative z-10">
              <div class="flex flex-col h-full justify-between pointer-events-none">
                <div>
                  <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4 pointer-events-auto">
                    {{ article.title }}
                  </h2>
                  <p v-if="article.description" class="text-gray-600 dark:text-gray-300 mb-4">
                    {{ article.description }}
                  </p>
                </div>
                <div class="flex items-center text-sm text-gray-500 dark:text-gray-400">
                  <time v-if="article.date">
                    {{ new Date(article.date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) }}
                  </time>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div v-else>
        <p class="dark:text-gray-300">No articles found with the tag "project-management".</p>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue';
import { useAsyncData } from '#app';

const tag = 'engineering-blog';

// Fetch articles with the 'project-management' tag
const { data: articles } = await useAsyncData(`articles-${tag}`, () =>
  queryContent()
    .where({ tags: { $contains: tag } })
    .find()
);

// Updated sort function to handle Date objects
const sortedArticles = (articles) => {
  return articles.slice().sort((a, b) => {
    if (!a.date || !b.date) return 0;
    return new Date(b.date) - new Date(a.date);
  });
};

// Get image for article
function getImageForArticle(article) {
  return article.image || '/patterns/squarescircle1.png';
}

// Capitalize slug
function capitalizeSlug(slug) {
  return slug
    .split('-')
    .map(word => word.charAt(0).toUpperCase() + word.slice(1))
    .join(' ');
}
//SEO
useSeoMeta({
  title: 'Engineering Blog',
  description: 'The official engineering blog of Blue. Learn how we design and develop the best proejct management platform on the planet.',
})
</script>