<template>
  <div class="bg-white dark:bg-gray-900">
    <div>

      <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex items-baseline justify-between border-b border-gray-200 dark:border-gray-700 pb-6 pt-24">
  <div>
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white">Certified Blue Experts</h1>
    <!-- Description added below the title -->
    <p class="mt-2 text-lg text-gray-600 dark:text-gray-300">
      Discover a curated list of certified experts at different price points, specializing in training, data imports, and business process design and implementation. 
    </p>
  </div>
  <div class="flex items-center">
    <button type="button" class="-m-2 ml-4 p-2 text-gray-400 hover:text-gray-500 dark:text-gray-300 dark:hover:text-white sm:ml-6 lg:hidden" @click="mobileFiltersOpen = true">
      <span class="sr-only">Filters</span>
      <FunnelIcon class="h-5 w-5" aria-hidden="true" />
    </button>
  </div>
</div>


        <section aria-labelledby="products-heading" class="pb-24 pt-6">
          <h2 id="products-heading" class="sr-only">Experts</h2>

          <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
            <!-- Filters -->
            <form class="hidden lg:block">
              <h3 class="sr-only">Categories</h3>

              <Disclosure v-for="section in filters" :key="section.id" as="div" class="border-b border-gray-200 dark:border-gray-700 py-6" v-slot="{ open }">
                <h3 class="-my-3 flow-root">
                  <DisclosureButton class="flex w-full items-center justify-between bg-white dark:bg-gray-900 py-3 text-sm text-gray-400 hover:text-gray-500 dark:text-gray-300 dark:hover:text-white">
                    <span class="font-medium text-gray-900 dark:text-gray-100">{{ section.name }}</span>
                    <span class="ml-6 flex items-center">
                      <PlusIcon v-if="!open" class="h-5 w-5" aria-hidden="true" />
                      <MinusIcon v-if="open" class="h-5 w-5" aria-hidden="true" />
                    </span>
                  </DisclosureButton>
                </h3>
                <DisclosurePanel class="pt-6">
                  <div class="space-y-4">
                    <div v-for="(option, optionIdx) in section.options" :key="option.value" class="flex items-center">
                      <input 
                        :id="`filter-${section.id}-${optionIdx}`" 
                        :name="`${section.id}[]`" 
                        :value="option.value" 
                        type="checkbox" 
                        :checked="selectedFilters[section.id].includes(option.value)"
                        @change="toggleFilter(section.id, option.value)"
                        class="h-4 w-4 rounded border-gray-300 text-brand-blue focus:ring-brand-blue dark:border-gray-600 dark:bg-gray-700 dark:focus:ring-brand-blue" 
                      />
                      <label :for="`filter-${section.id}-${optionIdx}`" class="ml-3 text-sm text-gray-600 dark:text-gray-300">{{ option.label }}</label>
                    </div>
                  </div>
                </DisclosurePanel>
              </Disclosure>
              <!-- CTA Section -->
<div class="p-6 mt-6 bg-brand-blue text-white rounded-lg shadow-lg hover:shadow-xl">
  <h3 class="text-xl font-bold mb-4">Become a Blue expert</h3>
  <p class="mb-4">Get certified to build your career helping over 15,000 Blue customers.</p>
  <a href="mailto:help@blue.cc?subject=Blue%20Expert%20Certification%20Enquiry" class="px-4 py-2 text-sm font-semibold rounded-md border border-transparent bg-white text-brand-blue hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue transition duration-150 ease-in-out inline-flex items-center">
    <Icon name="heroicons:envelope-solid" class="h-6 w-6 mr-1" aria-hidden="true" />
    Get Certified
  </a>
</div>
            </form>
            
            

            <!-- Expert grid -->
            <div class="lg:col-span-3">
              <!-- Featured Expert Card -->
              <div v-if="filteredExperts.find(e => e.id === 3)" 
                   class="mb-8 border-2 border-brand-blue rounded-lg overflow-hidden relative group cursor-pointer"
                   @click="openModal(filteredExperts.find(e => e.id === 3))">
                <!-- Featured Badge - moved to top right -->
                <div class="absolute top-4 right-4 bg-brand-blue text-white px-3 py-1 rounded-full text-sm font-medium">
                  Featured Expert
                </div>
                <div class="flex flex-col md:flex-row">
                  <div class="md:w-1/3">
                    <img 
                      :src="filteredExperts.find(e => e.id === 3).image" 
                      :alt="filteredExperts.find(e => e.id === 3).name" 
                      class="h-full w-full object-cover group-hover:opacity-90 transition-opacity"
                    />
                  </div>
                  <div class="p-6 md:w-2/3">
                    <div class="flex justify-between items-start">
                      <div>
                        <h3 class="text-xl font-bold text-gray-700 dark:text-gray-100">
                          {{ filteredExperts.find(e => e.id === 3).name }}
                          <span class="relative inline-block">
                            <span 
                              @mouseenter="showTooltip($event, filteredExperts.find(e => e.id === 3).flag)" 
                              @mouseleave="hideTooltip"
                              class="cursor-help"
                            >
                              {{ filteredExperts.find(e => e.id === 3).flag }}
                            </span>
                            <span 
                              v-if="tooltipVisible && tooltipFlag === filteredExperts.find(e => e.id === 3).flag" 
                              class="absolute top-full left-1/2 transform -translate-x-1/2 px-3 py-2 bg-brand-blue text-white text-sm rounded-md opacity-100 transition-opacity duration-300 ease-in-out mt-2 whitespace-nowrap min-w-[150px] text-center z-50"
                            >
                              {{ getCountryName(filteredExperts.find(e => e.id === 3).flag) }}
                              <span class="absolute bottom-full left-1/2 transform -translate-x-1/2 border-4 border-transparent border-b-brand-blue"></span>
                            </span>
                          </span>
                        </h3>
                        <p class="mt-2 text-brand-blue font-medium">{{ filteredExperts.find(e => e.id === 3).price }}</p>
                      </div>
                    </div>
                    <p class="mt-4 text-gray-600 dark:text-gray-300">{{ filteredExperts.find(e => e.id === 3).longDescription }}</p>
                  </div>
                </div>
              </div>

              <!-- Regular Expert Grid -->
              <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
                <div v-for="expert in filteredExperts.filter(e => e.id !== 3)" :key="expert.id" class="group relative">
                  <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 dark:bg-gray-700 lg:aspect-none group-hover:opacity-75 lg:h-80">
                    <img :src="expert.image" :alt="expert.name" class="h-full w-full object-cover object-center lg:h-full lg:w-full" />
                  </div>
                  <div class="mt-4 flex justify-between">
                    <div>
                      <h3 class="text font-bold text-gray-700 dark:text-gray-100">
                        <a href="#" @click.prevent="openModal(expert)">
                          <span aria-hidden="true" class="absolute inset-0" />
                          {{ expert.name }} 
                          <span class="relative inline-block">
                            <span 
                              @mouseenter="showTooltip($event, expert.flag)" 
                              @mouseleave="hideTooltip"
                              class="cursor-help"
                            >
                              {{ expert.flag }}
                            </span>
                            <span 
                              v-if="tooltipVisible && tooltipFlag === expert.flag" 
                              class="absolute bottom-full left-1/2 transform -translate-x-1/2 px-3 py-2 bg-brand-blue text-white text-sm rounded-md opacity-100 transition-opacity duration-300 ease-in-out mb-2 whitespace-nowrap min-w-[150px] text-center z-50"
                            >
                              {{ getCountryName(expert.flag) }}
                              <span class="absolute top-full left-1/2 transform -translate-x-1/2 border-4 border-transparent border-t-brand-blue"></span>
                            </span>
                          </span>
                        </a>
                      </h3>
                      <p class="text-sm font-medium text-brand-blue dark:text-brand-light">{{ expert.price }}</p>
                    </div>
                  </div>
                  <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">{{ expert.tagline }}</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

     <!-- Expert Modal -->
     <TransitionRoot as="template" :show="isModalOpen">
      <Dialog as="div" class="relative z-50" @close="closeModal">
        <!-- Modal backdrop -->
        <TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0" enter-to="opacity-100" leave="ease-in duration-200" leave-from="opacity-100" leave-to="opacity-0">
          <div class="fixed inset-0 bg-gray-500 bg-opacity-75 dark:bg-gray-900 dark:bg-opacity-90 transition-opacity" />
        </TransitionChild>

        <!-- Modal content -->
        <div class="fixed inset-0 z-10 overflow-y-auto">
          <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" enter-to="opacity-100 translate-y-0 sm:scale-100" leave="ease-in duration-200" leave-from="opacity-100 translate-y-0 sm:scale-100" leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
              <DialogPanel class="relative transform overflow-hidden rounded-lg bg-white dark:bg-gray-800 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-3xl">
                <!-- Close button -->
                <div class="absolute right-0 top-0 hidden pr-4 pt-4 sm:block">
                  <button type="button" class="rounded-md bg-white dark:bg-gray-700 text-gray-400 hover:text-gray-500 dark:text-gray-300 dark:hover:text-white focus:outline-none focus:ring-0" @click="closeModal">
                    <span class="sr-only">Close</span>
                    <XMarkIcon class="h-6 w-6" aria-hidden="true" />
                  </button>
                </div>

                <!-- Modal content -->
                <div v-if="selectedExpert" class="flex flex-col sm:flex-row">
                  <!-- Left column: Image and contact info -->
                  <div class="w-full sm:w-1/3 p-4 flex flex-col items-center sm:items-start">
                    <img :src="selectedExpert.image" :alt="selectedExpert.name" class="w-full max-w-[200px] sm:max-w-full object-cover rounded-lg mb-4" style="aspect-ratio: 1 / 1;">
                    <div class="flex flex-col items-center sm:items-start">
                      <a v-if="selectedExpert.email" :href="`mailto:${selectedExpert.email}`" class="text-brand-blue dark:text-brand-light text-sm hover:underline mb-2">
                        {{ selectedExpert.email }}
                      </a>
                      <a v-if="selectedExpert.phone" :href="`tel:${selectedExpert.phone}`" class="text-brand-blue dark:text-brand-light text-sm hover:underline mb-2">
                        {{ selectedExpert.phone }}
                      </a>
                      <a v-if="selectedExpert.linkedin" :href="selectedExpert.linkedin" target="_blank" class="text-blue-700 dark:text-blue-400 hover:text-blue-900 dark:hover:text-white transition-transform duration-300 ease-in-out hover:-translate-y-1">
                        <span class="sr-only">LinkedIn</span>
                        <img src="/resources/linkedin-icon.svg" alt="LinkedIn" class="w-5 h-5">
                      </a>
                    </div>
                  </div>

                  <!-- Right column: Expert details -->
                  <div class="w-full sm:w-2/3 p-6">
                    <h3 class="text-2xl font-semibold leading-6 text-gray-900 dark:text-white mb-2">{{ selectedExpert.name }} {{ selectedExpert.flag }}</h3>
                    <p class="text-gray-500 dark:text-gray-300 mb-6 sm:mb-16">{{ selectedExpert.longDescription }}</p>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
                      <div>
                        <h4 class="font-medium text-xs text-gray-900 dark:text-white">Location</h4>
                        <p>{{ selectedExpert.location }}</p>
                      </div>
                      <div>
                        <h4 class="font-medium text-xs text-gray-900 dark:text-white">Price</h4>
                        <p>{{ 
                          selectedExpert.price === '$' ? '$ (<$25+/hour)' : 
                          selectedExpert.price === '$$' ? '$$ ($25+/hour)' : 
                          selectedExpert.price === '$$$' ? '$$$ ($50+/hour)' : 
                          '$$$$ ($100+/hour)' 
                        }}</p>
                      </div>
                      <div>
                        <h4 class="font-medium text-xs text-gray-900 dark:text-white">Languages</h4>
                        <p>{{ selectedExpert.languages.join(', ') }}</p>
                      </div>
                      <div>
                        <h4 class="font-medium text-xs text-gray-900 dark:text-white">Experience with Blue</h4>
                        <p>{{ selectedExpert.experience }}</p>
                      </div>
                    </div>
                    <div class="flex space-x-4 items-center justify-center sm:justify-start">
                      <a v-if="selectedExpert.whatsapp" :href="selectedExpert.whatsapp" target="_blank" class="text-green-600 dark:text-green-400 hover:text-green-800 dark:hover:text-white">
                        <span class="sr-only">WhatsApp</span>
                        <i class="fab fa-whatsapp fa-2x"></i>
                      </a>
                      <a v-if="selectedExpert.telegram" :href="selectedExpert.telegram" target="_blank" class="text-blue-600 dark:text-blue-400 hover:text-blue-800 dark:hover:text-white">
                        <span class="sr-only">Telegram</span>
                        <i class="fab fa-telegram fa-2x"></i>
                      </a>
                      <a v-if="selectedExpert.facebook" :href="selectedExpert.facebook" target="_blank" class="text-blue-600 dark:text-blue-400 hover:text-blue-800 dark:hover:text-white">
                        <span class="sr-only">Facebook</span>
                        <i class="fab fa-facebook fa-2x"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import {
  Dialog,
  DialogPanel,
  Disclosure,
  DisclosureButton,
  DisclosurePanel,
  TransitionChild,
  TransitionRoot,
} from '@headlessui/vue'
import { XMarkIcon } from '@heroicons/vue/24/outline'
import { ChevronDownIcon, PlusIcon, MinusIcon } from '@heroicons/vue/20/solid'

const filters = [
  {
    id: 'price',
    name: 'Price',
    options: [
      { value: '$', label: '$ (<$25/hour)' },
      { value: '$$', label: '$$ ($25+/hour)' },
      { value: '$$$', label: '$$$ ($50+/hour)' },
      { value: '$$$$', label: '$$$$ ($100+/hour)' },
    ],
  },
  {
    id: 'location',
    name: 'Location',
    options: [
      { value: 'North America', label: 'North America' },
      { value: 'LATAM', label: 'LATAM' },
      { value: 'Europe', label: 'Europe' },
      { value: 'Africa', label: 'Africa' },
      { value: 'Asia', label: 'Asia' },
      { value: 'Oceania', label: 'Oceania' },
    ],
  },
  {
    id: 'languages',
    name: 'Languages',
    options: [
      { value: 'English', label: 'English' },
      { value: 'Spanish', label: 'Spanish' },
      { value: 'French', label: 'French' },
      { value: 'Italian', label: 'Italian' },
      { value: 'Vietnamese', label: 'Vietnamese' },
      { value: 'Khmer', label: 'Khmer' },
      { value: 'Tagalog', label: 'Tagalog' },
    ],
  },
  {
    id: 'experience',
    name: 'Years of Experience',
    options: [
      { value: '0-1 year', label: '0-1 year' },
      { value: '1-2 years', label: '1-2 years' },
      { value: '2-4 years', label: '2-4 years' },
      { value: '4+ years', label: '4+ years' },
      { value: '6+ years', label: '6+ years' },
    ],
  },
]

const mobileFiltersOpen = ref(false)
const isModalOpen = ref(false)
const selectedExpert = ref(null)

const experts = ref([
{
    id: 1,
    name: 'Angelique Delamere',
    image: '/resources/angeliquedelamere.jpeg',
    location: 'Asia',
    flag: '🇿🇦',
    price: '$$$',
    tagline: 'Blue consultant specializing in enhancing workflows for creative agencies.',
    languages: ['English'],
    experience: '4+ years',
    longDescription: 'Angelique is a skilled Blue consultant with extensive expertise in agile project management and design. With over four years of hands-on experience using Blue for her own design projects, she empowers creative agencies to enhance productivity and strengthen client relationships by optimizing their workflows on the platform.',
    email: 'angelique.delamere22@gmail.com ',
    linkedin: 'https://www.linkedin.com/in/angelique-delamere/'
  },
  {
    id: 2,
    name: 'Lorenzo Hickey',
    image: '/customer-photos/lorenzohickey.jpeg',
    location: 'North America',
    flag: '🇺🇸',
    price: '$$$',
    tagline: 'Early Blue adopter with 30+ years of experience in project management.',
    languages: ['English'],
    experience: '4+ years',
    longDescription: 'Lorenzo was one of the earliest users of Blue, and has successfully implemented over 50 clients businesses into Blue across numerous industries.',
    email: 'lorenzo@shapeshiftworld.com',
  },
  {
    id: 3,
    name: 'Ana Avendaño',
    image: '/resources/ana.jpeg',
    location: 'Europe',
    flag: '🇵🇦',
    price: '$',
    tagline: 'Industrial engineer with productivity and HR workflow experience.',
    languages: ['English', 'Spanish'],
    experience: '1-2 years',
    longDescription: 'Ana has worked with large multinational banks and customer-service companies on workflow optimization, service improvement, and project management. She is an expert in Blue, using it both at work and in her daily life, and has helped numerous customers on training, imports, and process setup.',
    email: 'ask@anaknowseverything.com',
    linkedin: 'https://www.linkedin.com/in/ana-gabriela-avendano/'
  },
  {
    id: 4,
    name: 'François Houte',
    image: '/resources/houte.jpg',
    location: 'Europe',
    flag: '🇫🇷',
    price: '$$$',
    tagline: 'Project manager and trainer in project management for businesses.',
    languages: ['French', 'English'],
    experience: '2-4 years',
    longDescription: 'François has been using Blue for almost 4 years for managing client projects such as virtual tours, SEO, and web marketing. He can help you structure your projects according to your needs and train your teams so that the integration of Blue is a true success for your business.',
    email: 'contact@visite360pro.com',
    phone: '+33 6 08 23 53 78',
  },

  {
    id: 5,
    name: 'Ousa Chea',
    image: '/resources/ousachea.jpg',
    location: 'Asia',
    flag: '🇰🇭',
    price: '$$',
    tagline: 'Specialist in implementing Blue for web-based projects.',
    languages: ['Khmer', 'English'],
    experience: '4+ years',
    longDescription: 'Ousa has been using Blue since the early days. He has a solid background in website project management and knows how to best leverage the Blue feature set to manage web-based projects.',
    email: 'ousauser@gmail.com',
    linkedin: 'https://www.linkedin.com/in/ousachea/'
  },

  {
    id: 6,
    name: 'Manny',
    image: '/manny.jpeg',
    location: 'North America',
    flag: '🇮🇹',
    price: '$$$$',
    tagline: 'The CEO & Founder of Blue.',
    languages: ['English', 'Italian'],
    experience: '6+ years',
    longDescription: 'Manny is the founder and CEO of Blue. He has over 12 years of experience in the field of project management. ',
    email: 'manny@blue.cc',
    linkedin: 'https://linkedin.com/in/efaja'
  },
  {
    id: 7,
    name: 'Don',
    image: '/don.jpg',
    location: 'Asia',
    flag: '🇻🇳',
    price: '$$$$',
    tagline: 'Co-founder of Blue.',
    languages: ['English', 'Vietnamese'],
    experience: '6+ years',
    longDescription: 'Don is the co-founder of Blue, and has previously worked as Chief Technology Officer for a 10-figure public company.',
    email: 'don@blue.cc',
    linkedin: 'https://www.linkedin.com/in/dongtruong/'
  },
  {
    id: 8,
    name: 'Eran Bucai',
    image: '/customer-photos/eranbucai.jpeg',
    location: 'Asia',
    flag: '🇦🇺',
    price: '$$',
    tagline: 'Blue consultant specializing in the solopreneurs sector and VA workflows.',
    languages: ['English'],
    experience: '4+ years',
    longDescription: 'Eran is the founder of DotComTruths and specializes in helping solopreneurs and startups to scale and automate their operations and get more customers. He has a team of VAs (Virtual Assistants) who can help you create your business processes in Blue.',
    email: 'contact@eranbucai.com',
    linkedin: 'https://www.linkedin.com/in/eranbucai/'
  },
  {
    id: 9,
    name: 'Jake Mark Perez',
    image: '/resources/jakemarkperez.jpg',
    location: 'Asia',
    flag: '🇵🇭',
    price: '$$',
    tagline: 'Blue consultant specializing in integrations with make.com',
    languages: ['English', 'Tagalog'],
    experience: '1-2 years',
    longDescription: 'Jake can help you integrate Blue with other automation tools such as make.com, zapier, and more to create efficient workflows across your business tools.',
    email: 'jakemarkperez@gmail.com',
    linkedin: 'https://www.linkedin.com/in/jake-mark-perez-8a9b42294/'
  }
])

const selectedFilters = ref({
  price: [],
  location: [],
  languages: [],
  experience: []
})

const filteredExperts = computed(() => {
  return experts.value.filter(expert => {
    return (selectedFilters.value.price.length === 0 || selectedFilters.value.price.includes(expert.price)) &&
           (selectedFilters.value.location.length === 0 || selectedFilters.value.location.includes(expert.location)) &&
           (selectedFilters.value.languages.length === 0 || expert.languages.some(lang => selectedFilters.value.languages.includes(lang))) &&
           (selectedFilters.value.experience.length === 0 || selectedFilters.value.experience.includes(expert.experience))
  })
})

const toggleFilter = (filterType, value) => {
  const index = selectedFilters.value[filterType].indexOf(value)
  if (index === -1) {
    selectedFilters.value[filterType].push(value)
  } else {
    selectedFilters.value[filterType].splice(index, 1)
  }
}

const openModal = (expert) => {
  selectedExpert.value = expert
  isModalOpen.value = true
}

const closeModal = () => {
  isModalOpen.value = false
}

const tooltipVisible = ref(false)
const tooltipFlag = ref('')

const showTooltip = (event, flag) => {
  tooltipVisible.value = true
  tooltipFlag.value = flag
}

const hideTooltip = () => {
  tooltipVisible.value = false
}

const getCountryName = (flag) => {
  const flagToCountry = {
    '🇿🇦': 'South Africa',
    '🇺🇸': 'United States',
    '🇵🇦': 'Panama',
    '🇫🇷': 'France',
    '🇰🇭': 'Cambodia',
    '🇮🇹': 'Italy',
    '🇬🇧': 'United Kingdom',
    '🇻🇳': 'Vietnam',
    '🇦🇺': 'Australia',
    '🇵🇭': 'Philippines',
  }
  return flagToCountry[flag] || 'Unknown'
}
useSeoMeta({
  title: 'Hire Certified Blue Experts',
  description: 'Need a hand getting started with Blue? Our experts are ready to help. Learn more about our expertise and get started today.',
})
</script>