<template>
  <div class="bg-white dark:bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="relative isolate overflow-hidden bg-white dark:bg-gray-900 px-6 py-24 sm:pt-32 pb-16 lg:px-8">
   <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(150%_150%_at_top_left,white,transparent)]" aria-hidden="true">
     <defs>
       <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
         <path d="M.5 200V.5H200" fill="none" />
       </pattern>
     </defs>
     <rect width="100%" height="100%" stroke-width="0" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
   </svg>
   <div class="mx-auto max-w-5xl text-left">
     <h1 class="text-5xl md:text-6xl lg:text-8xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-9xl">Resource Center.</h1>
     <p class="mt-6 text-2xl leading-8 text-gray-600 dark:text-gray-400 max-w-3xl">A library of resources to help you master project management, streamline processes, and build high-performing teams.</p>
   </div>
 </div>
      <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-4">
        <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-60 sm:pt-48 lg:pt-60 transition-all duration-500 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-gray-900/50">
          <img src="/patterns/pattern1.png" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover" />
          <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-600 via-gray-600/40" />
          <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10 dark:ring-gray-700/10" />
          <div class="mt-3 text-lg font-semibold leading-6 text-white">
            <a href="/resources/product-updates">
              <span class="absolute inset-0" />
              Product Updates
            </a>
          </div>
        </article>

        <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-40 sm:pt-48 lg:pt-40 transition-all duration-500 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-gray-900/50">
          <img src="/patterns/japanese2.png" alt="" class="absolute inset-0 -z-10 h-full w-full" />
          <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-600 via-gray-600/40" />
          <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10 dark:ring-gray-700/10" />
          <div class="mt-3 text-lg font-semibold leading-6 text-white">
            <a href="/resources/news">
              <span class="absolute inset-0" />
              Company News
            </a>
          </div>
        </article>

        <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-40 sm:pt-48 lg:pt-40 transition-all duration-500 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-gray-900/50">
          <img src="/patterns/squares6.png" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover" />
          <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-600 via-gray-600/40" />
          <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10 dark:ring-gray-700/10" />
          <div class="mt-3 text-lg font-semibold leading-6 text-white">
            <a href="/resources/insights">
              <span class="absolute inset-0" />
              Insights
            </a>
          </div>
        </article>

        <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-60 sm:pt-48 lg:pt-60 transition-all duration-500 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-gray-900/50">
          <img src="/patterns/squarescircle1.png" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover" />
          <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-600 via-gray-600/40" />
          <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10 dark:ring-gray-700/10" />
          <div class="mt-3 text-lg font-semibold leading-6 text-white">
            <a href="/resources/tips-&-tricks">
              <span class="absolute inset-0" />
              Tips & Tricks
            </a>
          </div>
        </article>

        <div class="flex flex-col items-start gap-x-8 gap-y-2 rounded-xl p-4 ring-1 ring-gray-900/10 dark:ring-gray-700/10 sm:gap-y-4 sm:p-4 lg:col-span-2 lg:flex-row lg:items-center">
        <div class="lg:min-w-0 lg:flex-1">
           <h3 class="text-xl font-semibold leading-8 tracking-tight text-brand-blue">Documentation</h3>
           <p class="mt-1 text leading-7 text-gray-600 dark:text-gray-300">Comprehensive documentation for all features.</p>
        </div>
        <a href="https://documentation.blue.cc" class="rounded-md px-3.5 py-2 text font-semibold leading-6 text-brand-blue ring-1 ring-inset ring-brand-blue hover:ring-brand-blue focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition duration-300 ease-in-out hover:-translate-y-1">Read the docs<span aria-hidden="true">&rarr;</span></a>
        </div>
        <div class="flex flex-col items-start gap-x-8 gap-y-2 rounded-xl p-4 ring-1 ring-gray-900/10 dark:ring-gray-700/10 sm:gap-y-4 sm:p-4 lg:col-span-2 lg:flex-row lg:items-center">
        <div class="lg:min-w-0 lg:flex-1">
           <h3 class="text-xl font-semibold leading-8 tracking-tight text-brand-blue">Support Center</h3>
           <p class="mt-1 text leading-7 text-gray-600 dark:text-gray-300">Learn how you can get help with Blue.</p>
        </div>
        <a href="/support" class="rounded-md px-3.5 py-2 text font-semibold leading-6 text-brand-blue ring-1 ring-inset ring-brand-blue hover:ring-brand-blue focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition duration-300 ease-in-out hover:-translate-y-1">Visit Support<span aria-hidden="true">&rarr;</span></a>
        </div>

     </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-3xl mt-20 font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl">Topics</h2>
        <p class="mt-2 text-lg leading-8 text-gray-600 dark:text-gray-300">Dive into the world of modern, effective work.</p>
      </div>
      <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80 transition-all duration-500 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-gray-900/50">
          <img src="/patterns/checkerboard.png" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover" />
          <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-600 via-gray-600/40" />
          <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10 dark:ring-gray-700/10" />
          <div class="mt-3 text-lg font-semibold leading-6 text-white">
            <a href="/resources/project-management">
              <span class="absolute inset-0" />
              Project Management
            </a>
          </div>
        </article>

        <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80 transition-all duration-500 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-gray-900/50">
          <img src="/patterns/herringbone5.png" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover" />
          <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-600 via-gray-600/40" />
          <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10 dark:ring-gray-700/10" />
          <div class="mt-3 text-lg font-semibold leading-6 text-white">
            <a href="/resources/modern-work-practices">
              <span class="absolute inset-0" />
              Modern Work Practices
            </a>
          </div>
        </article>

        <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80 transition-all duration-500 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-gray-900/50">
          <img src="/resources/madoffice1.jpeg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover" />
          <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-600 via-gray-600/40" />
          <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10 dark:ring-gray-700/10" />
          <div class="mt-3 text-lg font-semibold leading-6 text-white">
            <a href="/resources/agency-success-guide">
              <span class="absolute inset-0" />
              Agency Success Guide
            </a>
          </div>
        </article>

        <!-- Additional articles omitted for brevity -->
     </div>
    </div>
  </div>
  <CtaDark />
</template>

 
 <script setup>
 useSeoMeta({
   title: 'Resource Center',
   description: 'Discover our detailed guides, insights, and best practices on how to leverage Blue and project management to work better, together.',
 })
 </script>
 