<template>
  <div class="bg-white dark:bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="relative isolate overflow-hidden bg-white dark:bg-gray-900 px-6 py-24 sm:pt-32 pb-16 lg:px-8">
        <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 dark:stroke-gray-700 [mask-image:radial-gradient(150%_150%_at_top_left,white,transparent)]" aria-hidden="true">
          <defs>
            <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
              <path d="M.5 200V.5H200" fill="none" />
            </pattern>
          </defs>
          <rect width="100%" height="100%" stroke-width="0" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
        </svg>
        <div class="mx-auto max-w-2xl text-center">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl">Modern Work Practices</h1>
        </div>
      </div>
      
      <div v-if="articles && articles.length">
        <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-4">
          <article v-for="article in sortedArticles(articles)" :key="article._path" class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-60 sm:pt-48 lg:pt-60 transition-all duration-500 transform hover:-translate-y-2 hover:shadow-2xl hover:shadow-gray-900/50 dark:hover:shadow-black/50">
            <img :src="getImageForArticle(article)" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover" />
            <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-600 via-gray-600/40 dark:from-gray-900 dark:via-gray-900/40" />
            <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10 dark:ring-gray-100/10" />
            <div class="mt-3 text-lg font-semibold leading-6 text-white">
              <a :href="`/resources/${article.slug}`">
                <span class="absolute inset-0" />
                {{ article.title }}
              </a>
            </div>
          </article>
        </div>
      </div>
      <div v-else>
        <p class="dark:text-gray-300">No articles found with the tag "modern-work-practices".</p>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue';
import { useAsyncData } from '#app';

const tag = 'modern-work-practices';

// Fetch articles with the 'modern-work-practices' tag
const { data: articles } = await useAsyncData(`articles-${tag}`, () =>
  queryContent()
    .where({ tags: { $contains: tag } })
    .find()
);

// Sort articles by date
const sortedArticles = (articles) => {
  return articles.slice().sort((a, b) => {
    if (!a.date || !b.date) return 0;
    const [dayA, monthA, yearA] = a.date.split('/');
    const [dayB, monthB, yearB] = b.date.split('/');
    const dateA = new Date(yearA, monthA - 1, dayA);
    const dateB = new Date(yearB, monthB - 1, dayB);
    return dateB - dateA;
  });
};

// Get image for article
function getImageForArticle(article) {
  return article.image || '/patterns/squarescircle1.png';
}

// Capitalize slug
function capitalizeSlug(slug) {
  return slug
    .split('-')
    .map(word => word.charAt(0).toUpperCase() + word.slice(1))
    .join(' ');
}
//SEO
useSeoMeta({
  title: 'Modern Work Practices',
  description: 'Discover how to create modern work practices in your enterprise. Find simple and efficient solutions to common work challenges.',
})
</script>