<template>
  <div class="bg-white dark:bg-gray-900">
    <div>
      <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex items-baseline justify-between border-b border-gray-200 dark:border-gray-700 pb-6 pt-24">
          <div>
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white">How-to Videos</h1>
            <p class="mt-2 text-lg text-gray-600 dark:text-gray-300">
              Learn how to use Blue effectively with our collection of step-by-step video tutorials, covering everything from basic setup to advanced workflows.
            </p>
          </div>
        </div>

        <LazySearchableYouTube
          :videos="[
            { 
              url: 'https://www.youtube.com/watch?v=so2lgCsCrmE',
              title: 'Getting Started with Blue',
              description: 'Complete guide to initial setup and basic configuration of Blue project management platform',
              tags: ['onboarding', 'setup', 'configuration']
            },
            { 
              url: 'https://www.youtube.com/watch?v=Zc19y0eDn5A',
              title: 'Dashboard Overview',
              description: 'Learn how to use the Blue Dashboard to manage your projects',
              tags: ['dashboard', 'projects', 'workflows']
            },
            { 
              url: 'https://www.youtube.com/watch?v=X_6KIzsw-kA',
              title: 'Project Wiki Overview',
              description: 'Learn how to use the Project Wiki to manage your projects',
              tags: ['wiki', 'projects', 'workflows']
            },
            { 
              url: 'https://www.youtube.com/watch?v=cyzCmjmsxXI',
              title: 'Key Concept: Records',
              description: 'Learn what records are in Blue and how to use them',
              tags: ['records', 'projects', 'workflows']
            },
            { 
              url: 'https://www.youtube.com/watch?v=lbFvQ-0ENTY',
              title: 'Using Forms in Blue',
              description: 'Learn how to use forms in Blue project management platform',
              tags: ['forms', 'projects', 'workflows']
            },
            { 
              url: 'https://www.youtube.com/watch?v=mTzBUKLZDFk',
              title: 'How Reminders Work in Blue',
              description: 'Learn how reminders work in Blue project management platform',
              tags: ['reminders', 'projects', 'workflows']
            },
            { 
              url: 'https://www.youtube.com/watch?v=LjOH_tXXjCk',
              title: 'Files Overview',
              description: 'Learn how to use files in Blue project management platform',
              tags: ['files', 'projects', 'workflows']
            },
            { 
              url: 'https://www.youtube.com/watch?v=OUVy7MHRs1M',
              title: 'Repeating Records Overview',
              description: 'Learn how to use repeating records in Blue project management platform',
              tags: ['repeating records', 'projects', 'workflows']
            },
            { 
              url: 'https://www.youtube.com/watch?v=myRDMKzNWTg',
              title: 'Advanced Filters Overview',
              description: 'Learn how to use advanced filters in Blue project management platform',
              tags: ['filters', 'projects', 'workflows']
            },
            { 
              url: 'https://www.youtube.com/watch?v=KD6_bYzkjso',
              title: 'Custom Field Overview',
              description: 'Learn how to use custom fields in Blue project management platform',
              tags: ['custom fields', 'projects', 'workflows']
            },
            { 
              url: 'https://www.youtube.com/watch?v=IRNMB1gd3Uc',
              title: 'Board Overview',
              description: 'Learn how to use the Blue Board to manage your projects',
              tags: ['board', 'kanban', 'workflows']
            },
            { 
              url: 'https://www.youtube.com/watch?v=An1hEBvuQUg',
              title: 'How to send an email from a form submission in Blue',
              description: 'Learn how to send an email from a form submission in Blue project management platform',
              tags: ['forms', 'emails', 'automation']
            },
            { 
              url: 'https://www.youtube.com/watch?v=KU9GJyF_ylM',
              title: 'How to add an image to the front of a card in Blue',
              description: 'Learn how to add an image to the front of a card in Blue project management platform',
              tags: ['cards', 'images', 'board']
            },
            { 
              url: 'https://www.youtube.com/watch?v=asrpmaJOroY',
              title: 'What to do if you can\'t see your records in your Blue project',
              description: 'Learn what to do if you can\'t see your records in your Blue project',
              tags: ['cards', 'filters', 'kanban']
            },
            {
              url: 'https://www.youtube.com/watch?v=xV9fifrxtp4',
              title: 'How to bulk create records, lists, and checklists in Blue',
              description: 'Learn how to bulk create records, lists, and checklists in Blue project management platform',
              tags: ['bulk create', 'records', 'lists', 'checklists']
            },
            {
              url: 'https://www.youtube.com/watch?v=XTUPR8kjn7A&t=4s',
              title: 'A selection of useful project automations in Blue',
              description: 'Learn about a selection of useful project automations in Blue project management platform',
              tags: ['automations', 'projects', 'workflows']
            },
            {
              url: 'https://www.youtube.com/watch?v=k1kt671Cuuc',
              title: 'How to lock a list in Blue',
              description: 'Learn how to lock a list in Blue project management platform',
              tags: ['lists', 'locks', 'workflows']
            },
            {
              url: 'https://www.youtube.com/watch?v=UGoLiRX0nf0',
              title: 'How to trigger an automation from a form submission in Blue',
              description: 'Learn how to trigger an automation from a form submission in Blue project management platform',
              tags: ['automations', 'forms', 'workflows']
            },
            {
              url: 'https://www.youtube.com/watch?v=zLEvs6zqGTc',
              title: 'How to find your company ID and project ID in Blue',
              description: 'Learn how to find your company ID and project ID in Blue project management platform',
              tags: ['company ID', 'project ID', 'workflows']
            },
            {
              url: 'https://www.youtube.com/watch?v=aW8JH8pbfGM',
              title: 'How to create buttons in Blue to trigger automations',
              description: 'Learn how to create buttons in Blue to trigger automations',
              tags: ['buttons', 'automations', 'workflows']
            },
            {
              url: 'https://www.youtube.com/watch?v=qziabkn_Gu8',
              title: 'How to find List IDs via the Blue API',
              description: 'Learn how to find List IDs via the Blue API',
              tags: ['lists', 'API', 'workflows']
            },
            {
              url: 'https://www.youtube.com/watch?v=ZlmwEKLI3G0',
              title: 'How to measure the time between two events in a record in Blue',
              description: 'Learn how to use the time duration custom field to measure the time taken between two events that have happened to a record inside of Blue. This is perfect to measure how long tasks take and also to ensure compliance with service level agreements.',
              tags: ['time duration', 'custom fields', 'workflows']
            },
            {
              url: 'https://www.youtube.com/watch?v=uYVP1xAjv7A',
              title: 'How notifications work in Blue',
              description: 'Learn how notifications work in Blue',
              tags: ['notifications', 'workflows']
            },
            {
              url: 'https://www.youtube.com/watch?v=qmQB2pfPXa8',
              title: 'How to copy a project in Blue',
              description: 'Learn how to copy a project in Blue',
              tags: ['copy', 'projects', 'workflows']
            },
            {
              url: 'https://www.youtube.com/watch?v=C-q_AqdFUzE',
              title: 'How to generate an API Token in Blue',
              description: 'Learn how to generate an API Token in Blue',
              tags: ['API', 'tokens', 'workflows']
            }
          ]"
        />
      </main>
    </div>
  </div>
</template>

<script setup>
useSeoMeta({
  title: 'Blue How-to Videos',
  description: 'Learn how to use Blue effectively with our collection of step-by-step video tutorials, covering everything from basic setup to advanced workflows.',
})
</script>
